

<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="모발이식클리닉">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title>모발이식클리닉</title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/init.css">

</head>
<body>
    <div class="init-info">
        <div class="init-info__outer">
            <div class="init-info__inner">
                <h1 class="init-info__tit tit-r">홈페이지 이용 안내</h1>
                <h2 class="init-info__subtit txt-l">브라우저 업데이트가 필요합니다.</h2>
                <p class="init-info__txt txt-r">
                    바노바기 모발이식클리닉 홈페이지는 <strong class="color-black1">Internet Explorer 11 이상,<br>
                    Chrome, Whale, Firefox 최신 버전</strong>에서 쾌적하게 사용 가능합니다.<br>
                    브라우저 업데이트 또는 다운로드 후 이용해주세요.
                </p>
                <ul class="init-info__list">
                    <li class="init-info__item type-ie">
                        <a href="http://windows.microsoft.com/ko-kr/internet-explorer/download-ie" target="_blank" class="init-info__link txt-s">
                            <span class="init-info__wrap">
                                <span class="init-info__before">Internet Explorer</span>
                                <span class="init-info__after">업데이트</span>
                            </span>
                        </a>
                    </li>
                    <li class="init-info__item type-chrome">
                        <a href="https://www.google.co.kr/chrome/browser/desktop/index.html" target="_blank" class="init-info__link txt-s">
                            <span class="init-info__wrap">
                                <span class="init-info__before">Chrome</span>
                                <span class="init-info__after">다운로드</span>
                            </span>
                        </a>
                    </li>
                    <!-- <li class="init-info__item type-safari">
                        <a href="" target="_blank" class="init-info__link txt-s">
                            <span class="init-info__wrap">
                                <span class="init-info__before">Safari</span>
                                <span class="init-info__after">다운로드</span>
                            </span>
                        </a>
                    </li> -->
                    <li class="init-info__item type-whale">
                        <a href="https://whale.naver.com/ko/download" target="_blank" class="init-info__link txt-s">
                            <span class="init-info__wrap">
                                <span class="init-info__before">Whale</span>
                                <span class="init-info__after">다운로드</span>
                            </span>
                        </a>
                    </li>
                    <li class="init-info__item type-firefox">
                        <a href="http://www.firefox.com" target="_blank" class="init-info__link txt-s">
                            <span class="init-info__wrap">
                                <span class="init-info__before">Firefox</span>
                                <span class="init-info__after">다운로드</span>
                            </span>
                        </a>
                    </li>
                </ul>
                <p class="init-info__txt txt-r">
                    이용에 불편을 드리게 되어 대단히 죄송합니다.<br>
                    더욱 편리한 서비스를 위해 최선을 다하겠습니다. 감사합니다..
                </p>
            </div>
        </div>
    </div>
</body>
</html>
