<%
	type = "etc"
	page = "etc"
	scroll = "horizontal"
	attach = "etc"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">약관</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">개인정보 취급방침</a></li>
			</ul>
		</div>
	</div>
	<div class="lnb">
		<div class="lnb__wrap">
			<h3 class="content__subject tit-r type-event">개인정보 취급방침</h3>
			<p class="lnb__line js-lnb-line">line</p>
			<ul class="lnb__list">
				<li class="lnb__item is-active">
					<a href="etc1.html" class="lnb__link" lnb-page="page-special">개인정보취급방침</a>
				</li>
				<li class="lnb__item">
					<a href="etc2.html" class="lnb__link">개인정보 수집 및 이용동의</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section etc page-special">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="etc__wrap">
								<div class="flex-bottom">
									<div class="box-style1__box">
										<div class="box-style1__vertical">
											<h4 class="box-style1__tit tit-s">
												<span class="box-style1__icon type-etc">개인정보취급방침</span>
											</h4>
											<div class="etc__box">
												<p class="etc__txt">
													바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다. 이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호 정책을 만들어 이를 준수해 나가고 있습니다.<br><br>

													본 개인정보처리방침은 정부의 법률 및 지침 변경이나 병원의 내부방침 변경 등으로 인하여 수시로 변경될 수 있으며, 변경사항이 있을 경우 즉시 관련 내용을 홈페이지 초기 화면에 게시된 개인정보처리방침에 반영하고 있습니다. 본 개인정보처리방침을 통하여 이용자는 수집된 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 어떻게 안전하게 보호되고 있는지 이해하실 수 있을 것입니다.
												</p>
											</div>
											<div class="etc__box type-margin-t">
												<p class="etc__txt">
													이 개인정보처리방침의 순서는 다음과 같습니다.
												</p>
												<ol class="etc__list">
													<li class="etc__item" data-target="1"><a href="" class="etc__link"><span class="etc__num">01.</span> 수집하는 개인정보의 항목 및 수집방법</a></li>
													<li class="etc__item" data-target="2"><a href="" class="etc__link"><span class="etc__num">02.</span> 개인정보의 수집 및 이용목적</a></li>
													<li class="etc__item" data-target="3"><a href="" class="etc__link"><span class="etc__num">03.</span> 개인정보의 보유 및 이용기간</a></li>
													<li class="etc__item" data-target="4"><a href="" class="etc__link"><span class="etc__num">04.</span> 개인정보의 파기절차 및 그 방법</a></li>
													<li class="etc__item" data-target="5"><a href="" class="etc__link"><span class="etc__num">05.</span> 개인정보 제공 및 공유</a></li>
													<li class="etc__item" data-target="6"><a href="" class="etc__link"><span class="etc__num">06.</span> 이용자 및 법정대리인의 권리와 그 행사방법</a></li>
													<li class="etc__item" data-target="7"><a href="" class="etc__link"><span class="etc__num">07.</span> 동의철회 / 회원탈퇴 방법</a></li>
													<li class="etc__item" data-target="8"><a href="" class="etc__link"><span class="etc__num">08.</span> 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항</a></li>
													<li class="etc__item" data-target="9"><a href="" class="etc__link"><span class="etc__num">09.</span> 개인정보관리책임자</a></li>
													<li class="etc__item" data-target="10"><a href="" class="etc__link"><span class="etc__num">10.</span> 개인정보의 안전성 확보조치</a></li>
													<li class="etc__item" data-target="11"><a href="" class="etc__link"><span class="etc__num">11.</span> 정책 변경에 따른 공지의무</a></li>
												</ol>
											</div>
											<div class="etc__outer etc-section1">
												<h5 class="etc__tit"><i class="color-point2">01.</i> 수집하는 개인정보의 항목 및 수집방법</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">본원은 서비스 이용을 위해 필요한 최소한의 개인 정보만을 수집합니다.</p>
														<h6 class="etc__subject">[홈페이지 상담신청 시 수집항목]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">수집항목 : 이름, 연락처, 이메일</li>
															<li class="etc__item2">서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. : 서비스 이용기록, 접속로그, 쿠키, 접속 IP 정보</li>
														</ul>
														<h6 class="etc__subject">[홈페이지 회원가입 시 수집항목]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">필수정보 : 이름, 연락처, 관심부위, 상담시간</li>
															<li class="etc__item2">선택정보 : 나이, 성별, 지역</li>
														</ul>
													</div>
													<div class="etc__box">
														<ul class="etc__list2">
															<li class="etc__item2">서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. : 서비스 이용기록, 접속로그, 쿠키, 접속 IP 정보</li>
														</ul>
														<h6 class="etc__subject">[개인정보 수집방법]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">다음과 같은 방법으로 개인정보를 수집합니다. (홈페이지, 실시간상담, 카카오톡상담, 비용상담, 전화상담)</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section2">
												<h5 class="etc__tit"><i class="color-point2">02.</i> 개인정보의 수집 및 이용목적</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">본원은 수집한 개인정보를 다음의 목적을 위해 활용합니다. 이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.</p>
														<h6 class="etc__subject">[홈페이지 회원정보]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">필수정보 : 홈페이지를 통한 회원제 서비스 제공</li>
															<li class="etc__item2">선택정보 : MMS, SNS, SMS, 이메일을 통한 본원소식 및 고지사항 전달, 질병정보 안내, 설문조사, 불만처리 등을 위한 원활한 의사소통 경로의 확보 등</li>
														</ul>
														<h6 class="etc__subject">[홈페이지 상담신청정보]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">필수정보 : 전화나 문자, 카카오톡을 이용한 고객 진료 상담 및 안내 서비스 제공</li>
														</ul>
													</div>
													<div class="etc__box">
														<ul class="etc__list2">
															<li class="etc__item2">선택정보 : MMS, SNS, SMS, 이메일을 통한 본원소식 및  고지사항 전달, 질병정보 안내, 설문조사, 불만처리 등을 위한 원활한 의사소통 경로의 확보 등</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section3">
												<h5 class="etc__tit"><i class="color-point2">03.</i> 개인정보의 보유 및 이용기간</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다.</p>
														<h6 class="etc__subject">[홈페이지 회원정보]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">회원가입을 탈퇴하거나 회원에서 제명된 때. 다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다.</li>
															<li class="etc__item2">소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래 등에서의 소비자보호에 관한 법률)</li>
															<li class="etc__item2">방문에 관한 기록 : 3개월 (통신비밀보호법)</li>
														</ul>
													</div>
													<div class="etc__box type-margin-t">
														<h6 class="etc__subject type-margin-zero">[홈페이지 상담신청정보]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">상담 목적 달성시까지. 다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다.</li>
															<li class="etc__item2">소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래 등에서의 소비자보호에 관한 법률)</li>
															<li class="etc__item2">신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률)</li>
															<li class="etc__item2">방문에 관한 기록 : 3개월 (통신비밀보호법)</li>
															<li class="etc__item2">본인확인에 관한 기록 : 6개월(정보통신망 이용촉진 및 정보보호 등에 관한 법률)</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section4">
												<h5 class="etc__tit"><i class="color-point2">04.</i> 개인정보의 파기절차 및 그 방법</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">본원은 『개인정보의 수집 및 이용목적』이 달성된 후에는 즉시 파기합니다. 파기절차 및 방법은 다음과 같습니다.</p>
														<h6 class="etc__subject">[파기절차]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 파기방법에 의하여 즉시 파기합니다.</li>
														</ul>
														<h6 class="etc__subject">[파기방법]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section5">
												<h5 class="etc__tit"><i class="color-point2">05.</i> 개인정보 제공 및 공유</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">본원은 귀하의 동의가 있거나 관련법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 『개인정보의 수집 및 이용목적』에서 고지한 범위를 넘어 귀하의 개인정보를 이용하거나 타인 또는 타기업ㆍ기관에 제공하지 않습니다.</p>
														<ul class="etc__list2">
															<li class="etc__item2">국민건강보험법에 의해 건강보험심사평가원에 요양급여비용 청구를 위한 진료기록 제출</li>
															<li class="etc__item2">통계작성ㆍ학술연구를 위하여 필요한 경우 특정 개인을 알아볼 수 없는 형태로 가공하여 제공</li>
															<li class="etc__item2">법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우 제출 등</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section6">
												<h5 class="etc__tit"><i class="color-point2">06.</i> 이용자 및 법정대리인의 권리와 그 행사방법</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">
															만14세 미만 아동(이하 "아동"이라 함)의 회원가입은 아동이 이해하기 쉬운 평이한 표현으로 작성된 별도의 양식을 통해 이루어지고 있으며 개인정보 수집시 반드시 법정대리인의 동의를 구하고 있습니다. 본원은 법정대리인의 동의를 받기 위하여 아동으로부터 법정대리인의 성명과 연락처 등 최소한의 정보를 수집하고 있으며, 개인정보취급방침에서 규정하고 있는 방법에 따라 법정대리인의 동의를 받고 있습니다. 아동의 법정대리인은 아동의 개인정보에 대한 열람, 정정 및 삭제를 요청할 수 있습니다. 아동의 개인정보를 열람·정정, 삭제하고자 할 경우에는 회원정보수정을 클릭하여 법정대리인 확인 절차를 거치신 후 아동의 개인정보를 법정대리인이 직접 열람·정정, 삭제하거나, 개인정보보호책임자로 서면, 전화, 또는 Fax등으로 연락하시면 필요한 조치를 취합니다.
														</p>
													</div>
													<div class="etc__box">
														<p class="etc__txt">본원은 아동에 관한 정보를 제3자에게 제공하거나 공유하지 않으며, 아동으로부터 수집한 개인정보에 대하여 법정대리인이 오류의 정정을 요구하는 경우 그 오류를 정정할 때까지 해당 개인정보의 이용 및 제공을 금지합니다.</p>
														<p class="etc__noti">법에 의해 보관이 의무화된 개인정보는 요청이 있더라도 보관기간내에 수정·삭제할 수 없습니다.</p>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section7">
												<h5 class="etc__tit"><i class="color-point2">07.</i> 동의철회 / 회원탈퇴 방법</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">
															귀하는 회원가입 시 개인정보의 수집ㆍ이용 및 제공에 대해 동의하신 내용을 언제든지 철회하실 수 있습니다. 회원탈퇴는 본원 홈페이지 마이페이지의 『회원탈퇴』를 클릭하여 본인 확인 절차를 거치신 후 직접 회원탈퇴를 하시거나, 개인정보관리책임자로 서면, 전화 또는 Fax 등으로 연락하시면 지체 없이 귀하의 개인정보를 파기하는 등 필요한 조치를 하겠습니다.
														</p>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section8">
												<h5 class="etc__tit"><i class="color-point2">08.</i> 개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">
															본원은 귀하의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)'를 운용합니다. 쿠키란 본원의 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 본원은 다음과 같은 목적을 위해 쿠키를 사용합니다. 귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 회원님께서 쿠키 설치를 거부하셨을 경우 일부 서비스 제공에 어려움이 있습니다.
														</p>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section9">
												<h5 class="etc__tit"><i class="color-point2">09.</i> 개인정보관리책임자</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">
															귀하의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 본원은 아래와 같이 개인정보관리책임자를 두고 있습니다.
														</p>
														<h6 class="etc__subject">[개인정보 관리책임자]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">관리 책임자 : 반재상</li>
															<li class="etc__item2">취급담당자 : 배은태</li>
															<li class="etc__item2">직 위 : 통합 마케팅 총괄이사</li>
															<li class="etc__item2">소 속 : 경영지원실</li>
															<li class="etc__item2">연 락 처 : 1588-6508</li>
															<li class="etc__item2">이 메 일 : manager@banobagi.com</li>
														</ul>
													</div>
													<div class="etc__box type-margin-t">
														<p class="etc__txt">
															귀하께서는 본원의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자로 신고하실 수 있습니다. 본원은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
														</p>
														<ul class="etc__list2">
															<li class="etc__item2">개인분쟁조정위원회<br>(http://www.1336.or.kr / 1336)</li>
															<li class="etc__item2">정보보호마크인증위원회<br>(http://www.eprivacy.or.kr / (02) 580-0533~4)</li>
															<li class="etc__item2">대검찰청 사이버범죄수사단<br>(http://www.spo.go.kr / (02) 3480-3573)</li>
															<li class="etc__item2">경찰청 사이버테러대응센터<br>(http://www.ctrc.go.kr / (02) 392-0330)</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section10">
												<h5 class="etc__tit"><i class="color-point2">10.</i> 개인정보의 안전성 확보조치</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">
															본원은 이용자의 개인정보보호를 위한 기술적 대책으로서 여러 보안장치를 마련하고 있습니다. 이용자께서 보내시는 모든 정보는 방화벽장치에 의해 보호되는 보안시스템에 안전하게 보관/관리되고 있습니다. 또한 본원은 이용자의 개인정보보호를 위한 관리적 대책으로서 이용자의 개인정 보에 대한 접근 및 관리에 필요한 절차를 마련하고, 이용자의 개인정보를 취급하는 인원을 최소한으로 제한하여 지속적인 보안교육을 실시하고 있습니다. 또한 개인정보를 처리하는 시스템의 사용자를 지정하여 사용자 비밀번호를 부여하고 이를 정기적으로 갱신하겠습니다.
														</p>
													</div>
												</div>
											</div>
											<div class="etc__outer etc-section11">
												<h5 class="etc__tit"><i class="color-point2">11.</i> 정책 변경에 따른 공지의무</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">
															이 개인정보취급방침은 2012년 3월 20일에 제정되었으며 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는 변경되는 개인정보취급방침을 시행하기 최소 7일전에 본원 홈페이지를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.
														</p>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
