<%
	type = "etc"
	page = "etc"
	scroll = "horizontal"
	attach = "etc"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">약관</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">개인정보 취급방침</a></li>
			</ul>
		</div>
	</div>
	<div class="lnb">
		<div class="lnb__wrap">
			<h3 class="content__subject tit-r type-event">개인정보 취급방침</h3>
			<p class="lnb__line js-lnb-line">line</p>
			<ul class="lnb__list">
				<li class="lnb__item">
					<a href="etc1.html" class="lnb__link" lnb-page="page-special">개인정보취급방침</a>
				</li>
				<li class="lnb__item is-active">
					<a href="etc2.html" class="lnb__link">개인정보 수집 및 이용동의</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section etc page-special">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="etc__wrap">
								<div class="flex-bottom">
									<div class="box-style1__box">
										<div class="box-style1__vertical">
											<h4 class="box-style1__tit tit-s">
												<span class="box-style1__icon type-etc2">개인정보 수집 및 이용동의</span>
											</h4>
											<div class="etc__outer type-margin-zero">
												<h5 class="etc__tit">수집하는 개인정보의 항목</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<h6 class="etc__subject type-margin-zero">[홈페이지 회원가입 시 수집항목]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">수집항목 : 이름, 연락처, 이메일</li>
															<li class="etc__item2">서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. : 서비스 이용기록, 접속로그, 쿠키, 접속 IP 정보</li>
														</ul>
														<h6 class="etc__subject">[홈페이지 상담신청 시 수집항목]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">필수정보 : 이름, 연락처, 관심부위, 상담시간</li>
															<li class="etc__item2">선택정보 : 나이, 성별, 지역</li>
															<li class="etc__item2">서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. : 서비스 이용기록, 접속로그, 쿠키, 접속 IP 정보</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="etc__outer">
												<h5 class="etc__tit">개인정보의 수집 및 이용 목적</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">
															본원은 수집한 개인정보를 다음의 목적을 위해 활용합니다. 이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.
														</p>
														<h6 class="etc__subject">[홈페이지 회원정보]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">필수정보 : 홈페이지를 회원제 서비스 제공</li>
															<li class="etc__item2">선택정보 : MMS, SNS, SMS, 이메일을 통한 본원소식 및 고지사항 전달, 질병정보 안내, 설문조사, 불만처리 등을 위한 원활한 의사소통 경로의 확보 등</li>
														</ul>
														<h6 class="etc__subject">[홈페이지 상담신청정보]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">전화나 문자, 카카오톡을 이용한 고객 진료 상담 및 안내</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="etc__outer">
												<h5 class="etc__tit">개인정보의 보유 및 이용기간</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">
															본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다.
														</p>
														<h6 class="etc__subject">[홈페이지 회원정보]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">회원가입을 탈퇴하거나 회원에서 제명된 때</li>
														</ul>
														<h6 class="etc__subject">[홈페이지 상담신청정보]</h6>
														<ul class="etc__list2">
															<li class="etc__item2">상담 목적 달성시까지</li>
														</ul>
													</div>
													<div class="etc__box">
														<p class="etc__txt">
															개인정보는 『개인정보의 수집 및 이용목적』을 위해 서비스 제공 기간 동안에 한하여 보유 및 이용되며, 진료서비스 제공을 위하여 수집된 정보는 의료법에 준하여 보관하고 있습니다. 다만, 수집 목적 및 제공받은 목적이 달성된 경우에도 다른 법령 등에 의하여 보관의 필요성이 있는 경우에는 개인정보를 보유할 수 있습니다.
														</p>
													</div>
												</div>
											</div>
											<div class="etc__outer">
												<h5 class="etc__tit">동의를 거부할 권리가 있다는 사실과<br> 동의 거부에 따른 불이익 내용</h5>
												<div class="etc__inner">
													<div class="etc__box">
														<p class="etc__txt">
															“바노바기 모발이식클리닉 상담신청"에서 수집하는 개인정보에 대해 동의를 거부할 권리가 있으며 동의 거부 시에는 해당 서비스가 제한됩니다.
														</p>
													</div>
												</div>
											</div>
										</div><!-- //box-style1__vertical-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
