.event{padding-left:480px; min-width:100vw; box-sizing:border-box;
    $this:&;
    &.is-active{display:block;}
    &__wrap{position:relative; display:inline-block; padding:0 80px; box-sizing:border-box;}
    @media only screen and (max-width:$tablet-size){padding-left:0; min-width:0;
        &.type-cok{
            #{$this}__wrap{padding-top:0px;}
        }
        &__wrap{display:block; padding:30px 40px 0;}
    }
    @media only screen and (max-width:$mobile-size){
        &.type-cok{
            #{$this}__wrap{padding-top:20px;}
        }
        &__wrap{padding:40px 20px 0;}
    }
}
.event-banner{
    $this:&;
    &__list{margin:0; padding:0; box-sizing:border-box;}
    &__item{position:relative; display:inline-block; list-style:none;
        & + &{margin-left:40px;}
        &.is-hover{
            #{$this}__link{
                &:before{position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(255,85,51,0.4); content:'';}
            }
            #{$this}__plus{
                &:before,&:after{display:block;}
            }
        }
    }
    &__link{display:block;}
    &__plus{overflow:hidden; display:block;  text-indent:-9999px;
        &:before,&:after{position:absolute; display:none; top:0; left:0; right:0; bottom:0; width:100%; height:100%;  margin:auto; background:#fff; z-index:10; content:'';}
        &:before{width:96px; height:2px;}
        &:after{width:2px; height:96px;}
    }
    &__noti{display:none;}
    @media only screen and (max-width:$tablet-size){padding:0;
        &__list{overflow:hidden;}
        &__item{
            & + &{margin-left:0;}
        }
        &__noti{position:relative; display:block; margin-bottom:14px;  padding-left:23px; box-sizing:border-box;
            &:before,&:after{position:absolute; top:0; left:0px; display:block; width:14px; height:20px; content:''; }
            &:before{background:url('../images/content/mouse_click.png') no-repeat center center / contain; z-index:10;
                -webkit-animation-name: flashMouse; animation-name: flashMouse; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
                   -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
            }
            &:after{background:url('../images/content/mouse.png') no-repeat center center / contain; z-index:20;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__noti{line-height:1.8;}
    }
}
.cok{
    $this:&;
    &__list{display:inline-block; margin:0; padding:0; vertical-align:top;
        & + &{margin-left:20px;}
    }
    &__item{overflow:hidden; position:relative; width:560px; padding:0 28px; height:180px; border:1px solid #ddd; border-radius:16px; box-sizing:border-box;
         @include vendor('transform','translateZ(0)');
        &.is-hover{
            #{$this}__btn{right:30px;}
        }
        &:before{position:absolute; top:0; left:0; bottom:0; width:0%; transition: width 0.5s; content:''; border-radius:16px;}
        & + &{margin-top:20px;}
        &.is-hover-start{
            &:before{position: absolute; top:0; left:0; width:100%; background-color::#ffe3dd; z-index:-1;}
        }
        &.is-hover-end{
            &:before{position: absolute; top:0; left:auto; right:0; width:0; background-color::#ffe3dd; z-index:-1;}
        }
    }
    &__wrap{display:table-cell; height:inherit; vertical-align:middle;}
    &__tit{font-weight:$medium;}
	&__txt{margin-top:10px; color:$black4;}
	&__price{margin:16px 0 0 0; vertical-align:middle;}
	&__before,&__after{font-weight:$regular;}
	&__before{margin-right:26px; color:$black4; text-decoration: line-through;}
	&__after{color:$point2;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block;  width:100%; height:100%; z-index:10; text-indent:-9999px; font-size:0;}
    &__btn{position:absolute; bottom:30px; right:-200px;  width:140px; height:44px; line-height:44px; background:$point2; color:#fff; text-align:center; border-radius:22px;
        font-weight:$regular; transition: all 0.5s;
    }
    &__vat{position:absolute; right:80px; bottom:-60px; margin:0; font-size:14px; color:$gray2;}
    @media only screen and (max-width:$tablet-size){
        &__list{display:block; margin-top:0;
            & + &{margin:20px 0 0 0;}
        }
        &__item{display:block; width:auto;}
        &__vat{position:static; right:auto; bottom:auto; margin:40px 0 0 0; text-align:right;}
        &__btn{right:28px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__list{margin-top:20px;}
        &__item{display:block; width:auto; height:auto; padding:18px; border-radius:8px;
            &:before{border-radius:8px;}
        }
        &__wrap{display:block; height:auto;}
        &__vat{margin-top:20px; font-size:1.3rem;}
        &__btn{bottom:18px; right:18px;  width:100px; height:30px; line-height:30px; border-radius:10px;}
    }
}

.special-nav{
    $this:&;
    &__list{margin:0 0 0 -20px; padding:0; font-size:0;}
    &__item{display:inline-block; width:50%; padding-left:20px; list-style:none; box-sizing:border-box;
        &:nth-child(2) ~ &{margin-top:20px;}
        &.is-active{
            #{$this}__link:before{position:absolute; top:0; left:0; width:100%; height:100%; border:5px solid #ff5533; box-sizing:border-box; content:''; z-index:10;}
            #{$this}__img{opacity:1;
                img{@include vendor('filter','grayscale(0%)');}
            }
        }
    }
    &__img{position:relative; width:100%; height:0; padding-bottom:127.27%; opacity:0.5;
        img{@include vendor('filter','grayscale(100%)');}
    }
    &__link{position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:20;}
    @media only screen and (max-width:$tablet-size){
        &__list{margin:0; padding:0;}
        &__item{display:block; width:auto; padding-left:0;
            &:nth-child(2) ~ &{margin-top:0px;}
            &.is-active{
                #{$this}__link:before{display:none;}
            }
        }
        &__img{width:auto; height:auto; padding-bottom:0; opacity: 1;
            img{display:none;}
        }
        &__link{position: static;}
    }
}


.event-view{padding-left:400px; box-sizing:border-box;
    @media only screen and (max-width:$tablet-size){padding-left:0;}
}


.event-dot{margin-top:40px; padding:0; text-align:center;
    li{display:inline-block; font-size:0; border:none;
        & + li{margin-left:20px;}
        &.slick-active{
            button{background:$point2; border-radius:50%;}
        }
    }
    button{display:inline-block; width:16px; height:16px; padding:0; background:none; outline:0; border:none; background:$gray2; border-radius:50%; text-indent:-9999px; cursor:pointer;}
    @media only screen and (max-width:$mobile-size){margin-top:30px;
        li{
            & + li{margin-left:15px;}
        }
        button{width:12px; height:12px;}
    }
}

.floating{position:fixed; bottom:60px; left:160px; z-index:110; transition: all 1s;
    $this:&;
    &__btn{display:block; margin:0; padding:0; outline:0; padding:0; border:none; background:transparent; text-decoration:none;}
    &__img{overflow:hidden; display:inline-block; width:66px; height:72px; margin:auto 0; background:url('../images/common/consultaion/event_counsel_icon.png') no-repeat center center /contain;  text-indent:-999px; vertical-align:middle;}
    &__txt{display:inline-block; height:34px; margin-left:8px; padding:0 20px; font-size:14px; line-height:34px; color:$point1; background-color:$point2; border-radius:17px;
        text-align:center; vertical-align:middle; box-sizing:border-box;}
    &.is-play{
        #{$this}__txt{animation:floating-ani 2s infinite;}
    }
    &.is-hide{left:-200px;}
    &.is-hide-vertical{bottom:-200px;}
    @media only screen and (max-width:$tablet-size){left:40px; bottom:40px;}
    @media only screen and (max-width:$mobile-size){left:20px; bottom:20px;
        &__img{width:64px; height:71px;  background:url('../images/common/consultaion/event_counsel_icon_m.png') no-repeat center center /contain;}
        &__txt{height:30px; line-height:30px; margin-left:4px; padding:0 10px; font-size:1.3rem; border-radius:15px; animation:floating-ani-m 2s infinite;}
    }
}

@keyframes floating-ani {
    0%{transform:translateY(6px);}
    50%{transform:translateY(-4px);}
    100%{transform:translateY(6px);}
}
@keyframes floating-ani-m {
    0%{transform:translateY(3px);}
    50%{transform:translateY(-2px);}
    100%{transform:translateY(3px);}
}
