

.knowledge{min-width:100vw;
    &__list{display:inline-block; width:420px; margin:0; padding:0; vertical-align:top;  white-space:normal;
        & + &{margin-left:60px;}
    }
    &__item{position:relative; padding-left:26px; list-style:none; box-sizing:border-box;
        &:before{position:absolute; display:block; top:7px; left:0; width:13px; height:11px; background:url('../images/common/check.png') no-repeat center center / contain; content:'';}
        &.type-required{
            &:before{ background:url('../images/common/check_point.png') no-repeat center center / contain;}
        }
        & + &{margin-top:18px;}
    }
    &__add{display:block; color:$black4;}
    @media only screen and (max-width:$tablet-size){
        &__list{width:auto;
            & + &{margin:18px 0 0 0;}
        }
        &__box{
            & + &{margin:80px 0 0 0;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__item{padding-left:22px;
            &:before{top:7px; width:11px; height:9px; background:url('../images/common/check_m.png') no-repeat center center / contain;}
            &.type-required{
                &:before{ background:url('../images/common/check_point_m.png') no-repeat center center / contain;}
            }
            & + &{margin-top:10px;}
        }
        &__list{
            & + &{margin-top:10px;}
        }
        &__box{
            & + &{margin-top:54px;}
        }
    }
}
