.location{min-width:100vw;
    &__section{display:inline-block; height:100%; white-space:normal; vertical-align: top;
        &.type-address{position:relative; width:240px;}
        &.type-info{width:840px;}
    }
    &__map{width:600px; height:100%; background:#fff;}
    &__tit{margin-bottom:36px;}
    &__day{min-width:46px; display:inline-block; vertical-align:middle;}
    &__time{display:inline-block; margin-left:10px; font-weight:$regular; vertical-align:middle;}
    &__noti{margin-top:14px; color:$black4;
        & + &{margin-top:8px;}
    }
    &__wrap{position:relative; height:100%;}
    &__box{
        & + &{margin-top:60px; padding-top:60px; border-top:1px solid $gray1;}
    }
    @media only screen and (max-width:$tablet-size){
        &__section{display:block;
            &.type-address{width:auto;}
            &.type-info{width:auto; margin-top:60px;}
        }
        &__wrap{margin:40px -40px 0;}
        &__map{width:auto;  height:540px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__tit{margin-bottom:16px;}
        &__section{
            &.type-address{position:relative; padding-right:60px; box-sizing:border-box;
                .content-wrap{position:static;}
            }
            &.type-info{margin-top:40px;}
        }
        &__wrap{margin-left:-20px; margin-right:-20px;}
        &__map{ height:300px;}
        &__noti{margin-top:5px;
            & + &{margin-top:2px;}
        }
        &__box{
            & + &{margin-top:40px; padding-top:40px;}
        }
    }
}

.traffic{
    &__list{margin:0 0 0 -80px; padding:0; font-size:0;}
    &__item{display:inline-block; width:50%; padding-left:80px; list-style:none; box-sizing:border-box; vertical-align:top;}
    &__tit{margin-bottom:14px; font-weight:$regular;}
    &__box{position:relative; padding-left:60px;
        &:before{position:absolute; top:0; left:0; display:block; content:'';}
        &.type-bus:before{width:36px; height:36px; background:url('../images/introduce/location/bus_icon.png') no-repeat center center / contain;}
        &.type-subway:before{width:36px; height:36px; background:url('../images/introduce/location/subway_icon.png') no-repeat center center / contain;}
        &.type-car:before{width:36px; height:32px; background:url('../images/introduce/location/car_icon.png') no-repeat center center / contain;}
        & + &{margin-top:36px;}
    }
    &__dt{float:left; font-weight:$medium;
        &.type-blue{color:#2f3ecf;}
        &.type-green{color:#00af10;}
        &.type-purple{color:#8128a6;}
        &.type-red{color:#df1414;}
    }
    &__dd{margin:0; padding-left:66px;}
    &__txt{
        &.line-2,&.line-9{position:relative; padding-left:26px; box-sizing:border-box;
            &:before{position:absolute; top:3px; left:0; display:block; width:20px; height:20px; color:#fff; line-height:20px; text-align:center; font-weight:$medium;}
        }
        &.line-2:before{background-color:#3ab449; content:'2'}
        &.line-9:before{background-color:#a98825; content:'9'}
    }
    @media only screen and (max-width:$tablet-size){
        &__list{margin-left:0;}
        &__item{display:block; width:auto; padding-left:0;
            & + &{margin-top:36px;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__tit{margin-bottom:10px;}
        &__txt{
            &.line-2,&.line-9{padding-left:22px;
                &:before{top:1px; width:16px; height:16px;line-height:16px;}
            }
        }
        &__box{padding-left:50px;
            &:before{top:4px;}
            &.type-bus:before{width:29px; height:29px; background:url('../images/introduce/location/bus_icon_m.png') no-repeat center center / contain;}
            &.type-subway:before{width:29px; height:29px; background:url('../images/introduce/location/subway_icon_m.png') no-repeat center center / contain;}
            &.type-car:before{width:29px; height:26px; background:url('../images/introduce/location/car_icon_m.png') no-repeat center center / contain;}
            & + &{margin-top:20px;}
        }
        &__item{
            & + &{margin-top:20px;}
        }
    }
}

.location-address{
    &__btn{overflow:hidden; display:block; width:60px; height:60px; margin-top:64px; border-radius:8px; outline:0; border:1px solid $gray1; cursor:pointer;
        background-color:#fff; background:url('../images/introduce/location/location_sms.png') no-repeat center center; text-indent:-9999px;
        &.is-hover{background-color:$gray1;}
    }
    &__tel{position:absolute; left:0; bottom:0; color:$point2;}
    @media only screen and (max-width:$tablet-size){
        &__btn{position:absolute; bottom:0; right:0; margin:0;}
        &__tel{position:static; margin-top:6px;
            .hidden-p{display:inline-block !important;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__btn{bottom:34px; width:45px; height:45px; border-radius:4px; background:url('../images/introduce/location/location_sms_m.png') no-repeat center center / 26px 17px;}
    }
}

.subway-color2{color:#3ab449; font-weight:$medium;}
.subway-color9{color:#a98825; font-weight:$medium;}

.popup-sms{display:none; position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; background:rgba(0,0,0,0.75); content:''; z-index:120; text-align:left;
    &__tit{position:relative; margin:0; padding-left:62px; color:$black1; font-size:20px; line-height:1.5;
        &:before{position:absolute; display:block; top:0; left:-20px; bottom:0; width:66px; height:66px; margin:auto 0; background:url('../images/introduce/location/map_icon.png') no-repeat center center / contain; content:'';}
    }
    &__input{width:calc(100% - 80px); height:50px; line-height:50px; padding:0 60px 0 20px; font-size:16px; color:$gray2; box-sizing:border-box; border:1px solid $gray1; outline:0; text-align:left; vertical-align:top; background:#fcfcfc;
        @include placeholder-color($gray2)
    }
    &__wrap{position:fixed; top:0; left:0; right:0; bottom:0; width:620px; height:224px; margin:auto; background-color:#fff; z-index:150; transition:all 0.5s; box-sizing:border-box;}
    &__vertical{display:table-cell; width:1%; height:inherit;  vertical-align:middle; padding:0 60px; box-sizing:border-box;}
    &__box{position:relative;  margin-top:26px; font-size:0;}
    &__button{position:absolute; top:0; right:0; display:inline-block; width:120px; height:50px; border:none; line-height:50px; border-radius:15px; background:$point2; color:#fff; font-size:16px; font-weight:$regular; vertical-align:top; cursor:pointer;}
    &__close{overflow:hidden; position:absolute; top:0px; right:-50px; display:block; width:38px; height:38px; border:none; outline:0; background:url('../images/common/consultaion/popup_close.png'); background-size:contain; text-indent:-9999px;}
    @media only screen and (max-width: $tablet-size) {
        &__close{position:static; width:100%; height:70px; line-height:70px; background-color:#000; background-image:none; text-indent:0; color:#fff; font-size:20px; text-decoration:none; text-align:center;}
    }
    @media only screen and (max-width: $mobile-size) { text-align:center;
    	&__tit{padding-left:0; font-size:1.8rem; line-height:1.625;
            &:before{position:static; top:auto; left:auto; bottom:auto; width:64px; height:64px; margin:0 auto 20px; background:url('../images/introduce/location/map_icon_m.png') no-repeat center center / contain;}
        }
		&__box{margin-top:10px;}
        &__wrap{top:50%; bottom:auto; width:calc(100% - 40px); height:auto; @include vendor('transform','translateY(-50%)')}
        &__vertical{display:block; width:auto; height:auto; padding:40px 20px;}
    	&__input{width:100%; height:45px; padding:0 10px; line-height:45px; font-size:1.4rem;}
		&__button{position:static; top:auto; right:auto; width:100%; height:45px; margin-top:30px; line-height:45px; font-size:1.4rem;}
		&__close{height:50px; line-height:50px; font-size:1.8rem;}
    }
}


.map-motion{
	&__bg,&__fake{display:none;}
	@media only screen and (max-width:$tablet-size){
		&__bg{position:absolute; top:0; left:0; bottom:0; right:0; display:block; background-color:rgba(0,0,0,0.8); opacity:0; text-align:center; z-index:5; transition: opacity 0.8s;
            &.is-active{opacity:1;}
            &.is-important{display:none !important;}
        }
        &__fake{position:absolute; top:0; left:0; bottom:0; right:0; display:block; text-align:center; z-index:3; opacity:0.5;
            &.is-hide{display:none;}
        }
        &__noti{position:absolute; top:60%; left:0; right:0; font-size:1.8rem; margin:0 auto; color:#fff; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); font-weight:$bold;}
	}
}
