.medical{min-width:100vw;
    &__list{margin:0 0 0 -40px; padding:0; font-size:0;}
    &__item{position:relative; display:inline-block; padding-left:40px; list-style:none; vertical-align:top; box-sizing:border-box;
        & + &:before{position:absolute; left:0; top:0; height:620px; width:0; border-left:1px solid $gray1; content:'';}
    }
    &__wrap{position:relative;}
    &__img{display:inline-block; width:280px; vertical-align:top;}
    &__box{display:inline-block; width:440px; padding-left:40px; vertical-align:top; box-sizing:border-box;}
    &__position{margin-top:10px; color:$point2; font-weight:$regular;}
    &__tit{letter-spacing: 1.5;}
    &__list2{margin:34px 0 0 0; padding:0;}
    &__item2{list-style:none;
        & + &{margin-top:12px;}
        &.type-point{position:relative; display:inline-block; padding-right:22px; color:#000; font-weight:$regular; box-sizing:border-box;
            &:after{position:absolute; top:0; bottom:0; right:0; display:block; width:14px; height:11px; margin:auto 0; background:url('../images/introduce/medical/medical_point.jpg') no-repeat center center / contain; content:'';}
        }
    }
    @media only screen and (max-width:$tablet-size){min-width:0;
        &__img{width:35%;}
        &__box{width:65%;}
        &__list{margin-left:0;}
        &__item{display:block; width:auto; padding-left:0;
            & + &{margin-top:50px; padding-top:50px; border-top:1px solid $gray1; box-sizing:border-box;
                &:before{display:none;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__img{width:auto;}
        &__box{width:auto; margin-top:24px; padding-left:0;}
        &__item{
            & + &{margin-top:34px; padding-top:34px;}
        }
        &__list2{margin-top:26px;}
        &__item2{
            & + &{margin-top:14px;}
            &.type-point{padding-right:20px;
                &:after{width:11px; height:9px; background:url('../images/introduce/medical/medical_point_m.jpg') no-repeat center center / contain;}
            }
        }
    }
}
