.tour{min-width:100vw;
    &__wrap{position:relative; overflow:hidden; width:100%; max-width:1520px;}
    &__list{ margin:0 0 0 -80px; padding:0;}
    &__item{display:inline-block; width:50%; padding-left:80px; list-style:none; box-sizing:border-box; outline:0;}
    &__tit{margin-top:26px; font-weight:$medium;}
    &__txt{margin-top:12px;}
    &__dot{margin:70px 0 0 0; padding:0 160px 22px 80px;
        li{overflow:hidden; display:table-cell; width:1%; height:0px; border-top:2px solid $gray1;
            &.slick-active{border-color:$black4; }
        }
        button{overflow:hidden; opacity:0; height:0; padding-top:0; padding-bottom:0; font-size:0;}
    }
    &__area{position:absolute; bottom:0; right:0; font-size:0; }
    @media only screen and (max-width:$tablet-size){min-width:0;
        &__list{margin:0;}
        &__item{padding:0;}
        &__dot{padding:0 94px 22px;}
        &__area{position:static;}
    }
    @media only screen and (max-width:$mobile-size){
        &__tit{margin-top:18px;}
        &__dot{padding:0 70px 16px;}
    }
}
