.detail-video{
    @media only screen and (max-width:$tablet-size){
        &.type-various{padding-bottom:163.8;background:url('../images/introduce/various/various_video_bg.jpg') no-repeat center center /cover;}
    }
}


.horizontal-fix{
    &__item{
        &.type-various1{background:url('../images/introduce/various/various_fix_1.jpg') no-repeat center bottom / cover;}
        &.type-various2{background:url('../images/introduce/various/various_fix_2.jpg') no-repeat center bottom / cover;}
        &.type-various3{background:url('../images/introduce/various/various_fix_3.jpg') no-repeat center bottom / cover;}
    }
}

.content-img{
    $this:&;
    &.type-various{width:364px;}
    &.type-various2{width:438px;}
    &.type-various3{width:418px;}
    &.type-various4{width:414px;}
    @media only screen and (max-width:$tablet-size){
        &.type-various{width:100%;}
        &.type-various2{width:100%;}
        &.type-various3{width:100%;}
        &.type-various4{width:100%;}
    }
}


.content{
    &__area{
        &.type-various{
            &:before{background-color:#eef1f8;}
        }
        &.type-various2{
            &:before{background-color:#f3f3f4;}
        }
        &.type-various3{
            &:before{background-color:#fbf7f9;}
        }
    }
}

.detail-cover{
    @media only screen and (max-width:$tablet-size){
        &.type-various{padding-bottom:133.33%; background:url('../images/introduce/various/various_fix_2_t.jpg') no-repeat center center;}
        &.type-various2{padding-bottom:133.33%; background:url('../images/introduce/various/various_fix_3_t.jpg') no-repeat center center;}
    }
    // @supports (-ms-ime-align:auto)
    // {
    //     &.type-various{padding-bottom:133.33%; background:url('../images/introduce/various/various_fix_2_t.jpg') no-repeat center center;}
    //     &.type-various2{padding-bottom:133.33%; background:url('../images/introduce/various/various_fix_3_t.jpg') no-repeat center center;}
    // }
    // @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    //     &.type-various{padding-bottom:133.33%; background:url('../images/introduce/various/various_fix_2_t.jpg') no-repeat center center;}
    //     &.type-various2{padding-bottom:133.33%; background:url('../images/introduce/various/various_fix_3_t.jpg') no-repeat center center;}
    // }
}
