<%
	type = "content"
	page = "woman"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">여성모발이식</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">여성 헤어라인 성형</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">이마축소</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">여성 탈모 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">애교나룻&측면 미세이식</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-woman">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-reduction" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-reduction type-woman">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__subtit txt-l">더 작게, 더 어려보이게</p>
												<h3 class="visual__tit tit-l"><span class="color-woman1">이마</span>축소</h3>
												<p class="visual__hash color-woman1 txt-r"><span class="visual__span">#예쁜이마</span> <span class="visual__span">#작은얼굴</span> <span class="visual__span">#동안효과</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">수술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">수술시간</h5>
											<p class="visual__txt txt-r">약 2~4시간</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">국소마취</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일수술 후 퇴원</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일수술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content-box js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											넓은 이마,<br class="hidden-tm">
											더 이상 <strong class="color-woman1">감추지 마세요</strong>
										</h4>
										<p class="content__txt txt-l">
											이마축소를 통해 헤어라인은 낮추고<br class="hidden-tm">
											이마 면적을 줄여, <strong class="color-woman1">입체감 있고 작고 갸름해 보이는<br class="hidden-tm">
                                            동안 얼굴형을 기대</strong>할 수 있습니다.
										</p>
										<p class="content__txt2 txt-r">
											나이 들어 보이는 얼굴의 큰 특징 중 하나는 바로 얼굴이 길다는
                                            점입니다. 특히 이마가 넓고 높아서 길어 보이는 경우가 많죠.
                                            얼굴 이미지와 비율, 모발의 다양한 조건들을 고려한
											<strong class="color-black1">이마축소와
                                            헤어라인 성형을 통해 이마는 좁게, 헤어라인은 예쁘고
                                            자연스럽게 개선</strong>하는 것이 중요합니다.
										</p>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
						<div class="content-floor type-woman type-reduction js-scroll-motion">
							<div class="content-floor__img">
								<img src="../../images/woman/reduction/reduction_bg_1_t.jpg" class="img-normal" alt=""/>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-woman">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											여성미를 살려주는 <strong class="color-woman1">맞춤 이마축소</strong>
										</h4>
										<p class="content__txt txt-l">
											이마가 선천적으로 높거나 넓은 경우, 탈모로 인해 헤어라인이 후퇴한 경우 등에는 <br class="hidden-tm">
											<strong class="color-woman1">이마축소와 헤어라인 성형으로 얼굴은 작아 보이면서 여성스러운 이미지로 개선이 가능</strong>합니다.
										</p>
                                        <div class="pick-scroll__area">
											<ul class="pick-scroll__list">
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/woman/reduction/reduction_pick_1.jpg" class="img-w100" alt="01. M자 이마">
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-woman1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/4</span></span>
															M자 이마
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/woman/reduction/reduction_pick_2.jpg" class="img-w100" alt="02. 각진 이마">
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-woman1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/4</span></span>
															각진 이마
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/woman/reduction/reduction_pick_3.jpg" class="img-w100" alt="03. 넓은 이마">
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-woman1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/4</span></span>
															넓은 이마
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/woman/reduction/reduction_pick_4.jpg" class="img-w100" alt="04. 비대칭 이마">
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-woman1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/4</span></span>
															비대칭 이마
														</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->

			<div class="horizontal-section content-section4" data-page="detail">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<p class="content__line type-woman">DETAIL</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-woman1">이마축소</strong>
									</h4>
									<p class="content__txt txt-l">
										이마축소로 이마 길이는 줄이고, 헤어라인 성형으로
										빈 곳은 채워주기때문에 <strong class="color-woman1">이마축소 후에도<br class="hidden-tm">
                                        어색하지 않고 예쁜 이마와 헤어라인이 가능</strong>합니다.
									</p>
								</div>
								<div class="content-number section-left section-top js-number-width type-woman">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/woman/reduction/reduction_detail_1.jpg" class="img-responsive" alt="01 섬세한 디자인"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">섬세한 디자인</h5>
													<p class="content-number__txt txt-s">
														아름다움과 조화에 민감한
                                                        바노바기 의료진의 얼굴
                                                        밸런스를 고려한 디자인
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/woman/reduction/reduction_detail_2.jpg" class="img-responsive" alt="02 그라데이션 재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">그라데이션 재배치</h5>
													<p class="content-number__txt txt-s">
														잔머리~두꺼운 모발까지 굵기,
                                                        방향, 각도, 측면 라인의
                                                        연결까지 고려한 이식
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/woman/reduction/reduction_detail_3.jpg" class="img-responsive" alt="03 흉터 최소화"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">흉터 최소화</h5>
													<p class="content-number__txt txt-s">
														헤어라인 모양을 최대한 고려한
                                                        맞춤 절개로 흉터 최소화
													</p>
												</div>
											</li>
											<li class="content-number__item nth-4 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/woman/reduction/reduction_detail_4.jpg" class="img-responsive" alt="04 반영구적 효과"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">반영구적 효과</h5>
													<p class="content-number__txt txt-s">
														이마 벌어짐과 반대 방향으로
                                                        고정하여 오래 유지
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div><!--//content-wrap -->
					</div>
				</div>
			</div><!-- //content-section3-->

			<div class="horizontal-section content-section5" data-page="key point">
				<div class="content__area">
					<div class="content-key type-woman js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-wide type-inner">
										<h4 class="content__tit tit-r">
											이상적인 얼굴 비율을 위한<br>
                                            <strong class="color-woman1">핵심 포인트</strong>
										</h4>
										<p class="content__line type-woman">KEY POINT</p>
										<p class="content__txt2 txt-r">
											보통 여성의 이마 높이가 5.5~6cm일때 이상적이라고 하며,<br class="hidden-tm">
											<strong class="color-black1">개개인의 얼굴형과 이마 비율, 선호하는 스타일, 헤어라인 모양, 모근의 방향 등을
                                            디테일하게 분석</strong>하여 이마축소 후에도 원래 내 것처럼 자연스럽고 예쁜
                                            헤어라인을 만들어 드립니다.
										</p>
									</div>
									<div class="content-key__box">
										<ul class="content-key__list">
											<li class="content-key__item txt-s">헤어라인 맞춤 절개 디자인</li>
											<li class="content-key__item txt-s">이상적인 이마 높이 (여성 5.5~6cm, 남성 6~6.5cm)</li>
											<li class="content-key__item txt-s">이마라인을 살린 자연스러운 헤어라인</li>
										</ul>
										<ul class="content-key__list">
											<li class="content-key__item txt-s">얼굴형과 비율 고려한 디테일한 디자인</li>
										</ul>
									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-bottom js-scroll-motion type-reduction">
						<div class="flex-bottom type-slim-t">
							<div class="flex-bottom__wrap">
								<img src="../../images/woman/reduction/reduction_bg_2.jpg" class="hidden-tm" alt=""/>
								<img src="../../images/woman/reduction/reduction_bg_2_t.jpg" class="hidden-p img-w70-t" alt=""/>
								<p class="content-bottom__noti txt-s">※ 이해를 돕기 위해 연출된 이미지 입니다.</p>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->

			<div class="horizontal-section content-section6" data-page="how">
				<div class="content-popup">
					<div class="content-popup__wrap">
						<div class="content-popup__area">
							<h5 class="content-popup__tit tit-s">헤어라인 성형 VS 이마축소 재배치 비교</h5>
							<div class="content-popup__scroll">
								<table class="table-v1 type-woman">
									<tbody>
										<tr class="table-v1__tr">
											<th class="bg-white"></th>
											<th class="table-v1__th bg-gray1">헤어라인 성형</th>
											<th class="table-v1__th">이마축소 재배치</th>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">수술형태</th>
											<td class="table-v1__td">비어있는 부위를 밀도있게 채워 헤어라인 만들기</td>
											<td class="table-v1__td">넓은 이마 축소, 높은 이마 M자 이마 교정</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">방법</th>
											<td class="table-v1__td">
                                                후두부 세이프존에서 모발 채취하여<br>
                                                헤어라인에 이식
                                            </td>
											<td class="table-v1__td">
                                                흉터가 거의 남지 않게<br>
                                                헤어라인을 따라두피 절개
                                            </td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">수술 회복기간</th>
											<td class="table-v1__td">
                                                수술시간은 3~4시간 소요되며<br>
                                                이식 모량에 따라 다르며 수술 후 당일 퇴원 가능
                                            </td>
											<td class="table-v1__td">수술 시간은 3시간 이내로 수술 후 퇴원 가능</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<button class="content-popup__close js-content-close">닫기</button>
					</div>
				</div>
				<div class="content__area">
                    <div class="content-box type-wide js-scroll-motion">
                        <div class="content__outer">
    						<div class="content__inner">
    							<div class="content-wrap">
                                    <p class="content__line type-woman">HOW</p>
                                    <h4 class="content__tit tit-r">
                                        <strong class="color-woman1">이마축소/헤어라인 성형</strong> 모두 가능한 바노바기
                                    </h4>
                                    <p class="content__txt txt-l">
                                        단순히 이마 길이만 줄일 경우 원하는 이마라인으로<br class="hidden-tm">
                                        교정하기 어려울 수 있습니다. <strong class="color-woman1">이마 길이 축소, 얼굴형과<br class="hidden-tm">
                                        이마 및 헤어라인, 측면라인에 따른 모발재배치</strong>를 통해<br class="hidden-tm">
                                        얼굴은 작아 보이면서 입체감은 살린 <strong class="color-woman1">이상적인 얼굴형으로<br class="hidden-tm">
                                        개선</strong>할 수 있습니다.
                                    </p>
                                    <a href="" class="content__more more-btn type-sub js-hover js-content-open">
                                        <span class="more-btn__plus">plus</span><span class="more-btn__txt">more</span>
                                    </a>
									<p class="more-btn__show txt-s">헤어라인 성형 VS 이마축소 재배치 비교 보기</p>
    							</div>
    						</div>
    					</div>
                    </div>
                    <div class="content-img type-reduction section-left js-scroll-motion">
                        <div class="flex-bottom type-slim-t">
                            <img src="../../images/woman/reduction/reduction_img_1.jpg" class="img-w100-t hidden-tm" alt="작은얼굴 이마축소 + 동안효과 헤어라인 성형 = 황금비율 얼굴형 개선"/>
                            <img src="../../images/woman/reduction/reduction_img_1_t.jpg" class="img-w100-t hidden-p" alt="작은얼굴 이마축소 + 동안효과 헤어라인 성형 = 황금비율 얼굴형 개선"/>
                        </div>
                    </div>
				</div>
			</div><!-- //content-section5-->

			<div class="horizontal-section content-section7" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-woman1">결과를 좌우하는</strong> 바노바기의<br>
                                        이마축소 시스템
									</h4>
									<p class="content__txt txt-l">
										숙련된 의료진의 전문적이고 정교한 수술과 이식을 통해<br class="hidden-tm">
										<strong class="color-woman1">얼굴 비율과 이마 면적, 헤어라인이 조화롭고 만족스러운 결과를
										기대</strong>할 수 있습니다.
									</p>
									<p class="content__line type-woman">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-woman">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/woman/reduction/reduction_technic_1.jpg" class="img-responsive" alt="01 다양한 형태 맞춤수술"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">다양한 형태 맞춤수술</h5>
													<p class="content-number__txt txt-s">
														각진 이마, 비대칭 등 다양한
                                                        이마 형태에 따라 이마축소와
                                                        헤어라인 성형
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/woman/reduction/reduction_technic_2.jpg" class="img-responsive" alt="02 정교한 이마축소"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">정교한 이마축소</h5>
													<p class="content-number__txt txt-s">
														성형외과전문의가 헤어라인에
                                                        맞춰 반대방향으로 절개,
                                                        모근 손상과 흉터 최소화
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/woman/reduction/reduction_technic_3.jpg" class="img-responsive" alt="03 숙련된 모발재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">숙련된 모발재배치</h5>
													<p class="content-number__txt txt-s">
														10년간 3,000건 이상 수술
                                                        경험의 모발재배치 전문 의료진
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->

			<div class="horizontal-section content-section8" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-only-img type-woman js-scroll-motion">
									<p class="content__line type-woman">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-woman1">이마축소 과정</strong>
									</h4>
									<p class="content__txt txt-l">
										작은 얼굴, 자연스럽고 예쁜 헤어라인을 위해 의료진의 면밀한
										상담과 정확한 분석을 바탕으로 한 <strong class="color-woman1">디테일한 디자인과 이마축소
                                        수술, 모발 재배치가 진행</strong>됩니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box">
													<img src="../../images/woman/reduction/reduction_process_1.jpg" alt="" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box">
													<img src="../../images/woman/reduction/reduction_process_2.jpg" alt="" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box">
													<img src="../../images/woman/reduction/reduction_process_3.jpg" alt="" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box">
													<img src="../../images/woman/reduction/reduction_process_4.jpg" alt="" class="img-w100"/>
												</div>
											</li>
										</ul>
										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->

			<div class="horizontal-section content-section9 content-section-care" data-page="1year care">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										수술만큼 중요한<br>
										<strong class="color-woman1">수술 후 관리</strong>
									</h4>
									<p class="content__txt2 txt-r">
										이마축소와 헤어라인 성형은 수술로 완성되는 것이 아닙니다.<br class="hidden-tm">
										<strong class="color-black1">최소 1년간은 환자와 의료진이 한 호흡으로 지속적인 관리와
										경과 관찰이 필요</strong>합니다.
									</p>
									<p class="content__txt txt-l">
										수술 후 빠른 회복과 이식된 모낭의 생착을
										높이기 위해 <strong class="color-woman1">체계적이고 철저하게 관리</strong>해 드립니다.
									</p>
									<p class="content__line type-woman">1YEAR CARE</p>
								</div>
								<div class="content-year section-left section-top type-woman js-scroll-motion">
									<div class="content-img type-year">
										<div class="flex-bottom">
											<ul class="hair-one">
												<li class="hair-one__item"><img src="../../images/content/hair_one_1.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_2.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_3.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_4.jpg" class="img-normal" alt=""></li>
											</ul>
										</div>
									</div>
									<div class="content-year__wrap section-left">
										<ul class="content-year__list">
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/sub/category/category_care_1.jpg" class="img-w100" alt="2일차 드레싱 & 샴푸"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">2일차</h5>
													<p class="content-year__txt txt-s">드레싱 & 샴푸</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/sub/category/category_care_2.jpg" class="img-w100" alt="10~14일 후 실밥제거"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">10~14일 후</h5>
													<p class="content-year__txt txt-s">실밥제거</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/sub/category/category_care_3.jpg" class="img-w100" alt="4주 후 두피 스켈링 / 메조테라피 / 바이오라이트"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">4주 후</h5>
													<p class="content-year__txt txt-s">두피 스켈링 / 메조테라피 / 바이오라이트</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/sub/category/category_care_4.jpg" class="img-w100" alt="1Year check 지속케어 수술 후 1, 3, 6, 12개월 케어"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">1Year check 지속케어</h5>
													<p class="content-year__txt txt-s">수술 후 1, 3, 6, 12개월 케어</p>
												</div>
											</li>
										</ul>
										<p class="content-year__noti txt-s">메조테라피 및 추가적인 관리 방법에 따라 별도 비용이 발생할 수 있습니다.</p>
										<div class="content-bullet type-woman">
											<ul class="content-bullet__list">
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
