<%
	type = "content"
	page = "man"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
    <div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">남성모발이식</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">남성 탈모 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">남성 헤어라인 성형</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">정수리 볼륨업</a></li>
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">구레나룻&수염이식</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-man">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-beard" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-beard type-man">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__subtit txt-l">부족했던 1%를 채워주는</p>
												<h3 class="visual__tit tit-l"><span class="color-man1">구레나룻&amp;</span>수염이식</h3>
												<p class="visual__hash color-man1 txt-r"><span class="visual__span">#남성미</span> <span class="visual__span">#개성표현</span> <span class="visual__span">#이미지개선</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">수술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">수술시간</h5>
											<p class="visual__txt txt-r">약 2~3시간</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">국소마취</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일수술 후 퇴원</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일수술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content-box type-wide js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											<strong class="color-man1">남성적인</strong> 구레나룻과<br>
											수염이식이 까다로운 이유
										</h4>
										<p class="content__txt txt-l">
											동양인은 서양인에 비해 머리 숱은 적지만 모발이 굵은
											것이 특성입니다. 뜨고 뻗치기 쉬운 구레나룻과 균일하게
											자라기 어려운 수염을 <strong class="color-man1">디테일한 모발 재배치를 통해 좀 더
											남성적이고 세련된 이미지</strong>가 가능합니다.
										</p>
										<p class="content__txt2 txt-r">

											구레나룻은 얼굴에 밀착되도록 이식의 각도를 조절해줘야 모발이
											바깥으로 뻗치지 않고 관리하기 쉬워집니다. 수염은 예민한 입
											주위 피부에 이식하기때문에 흉터나 모낭염 등에 특별히 주의하여
											이식이 필요합니다. <strong class="color-black1">모발의 깊이와 각도에 따른 방향성과 밀도의
											강약이 조절된 재배치</strong>로 얼굴은 더 작고 균형 있으며, 남성적인
											이미지로 개선이 가능합니다.
										</p>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>

                        <div class="content-img type-beard js-scroll-motion">
    						<div class="flex-bottom type-slim-t">
    							<img src="../../images/man/beard/beard_img_1.jpg" class="img-w100-t hidden-tm" alt="">
    							<img src="../../images/man/beard/beard_img_1_m.jpg" class="img-w100-t hidden-p" alt="">
								<p class="content-bottom__noti txt-s type-low">※ 이해를 돕기 위해 연출된 이미지 입니다.</p>
    						</div>
    					</div>
					</div>
				</div>
			</div>

			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll type-three js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-man">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											<strong class="color-man1">과감하게 이미지 변신</strong>을 시도해 보고 싶은 분들께
										</h4>
										<p class="content__txt txt-l">
											어느 정도의 구레나룻과 수염이 있는 것이 남성스러워 보이는데, 이 부분이 빈약하여 여성스러운<br>
											인상이라면 <strong class="color-man1">모발이식을 통해 남성다운 인상으로 개선</strong>할 수 있습니다.
										</p>
										<div class="tab-v1 type-three-two type-man">
											<ul class="tab-v1__list">
												<li class="tab-v1__item is-active txt-r">
													<a href="page-basic" class="tab-v1__link">구레나룻 성형</a>
												</li>
												<li class="tab-v1__item txt-r">
													<a href="page-intensive" class="tab-v1__link">수염이식</a>
												</li>
											</ul>
										</div>
										<div class="tab-v1__content is-active page-basic">
											<div class="pick-scroll__area type-inner">
												<ul class="pick-scroll__list">
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/man/beard/beard_pick_1_1.jpg" class="img-w100" alt="1/3 선천적으로 구레나룻이 빈약하거나 없는 경우"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-man1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/3</span></span> 선천적으로 구레나룻이 빈약하거나 없는 경우</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/man/beard/beard_pick_1_2.jpg" class="img-w100" alt="2/3 얼굴이 작아 보이고 싶은 경우"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-man1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/3</span></span> 얼굴이 작아 보이고 싶은 경우</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/man/beard/beard_pick_1_3.jpg" class="img-w100" alt="3/3 남성다운 이미지를 원하는 경우"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-man1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/3</span></span> 남성다운 이미지를 원하는 경우</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="tab-v1__content page-intensive">
											<div class="pick-scroll__area type-inner">
												<ul class="pick-scroll__list">
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/man/beard/beard_pick_2_1.jpg" class="img-w100" alt="1/3 듬성듬성한 수염이 고민인 경우"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-man1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/3</span></span> 듬성듬성한 수염이 고민인 경우</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/man/beard/beard_pick_2_2.jpg" class="img-w100" alt="2/3 수염으로 개성을 표현하고 싶은 경우"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-man1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/3</span></span> 수염으로 개성을 표현하고 싶은 경우</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/man/beard/beard_pick_2_3.jpg" class="img-w100" alt="3/3 돌출입, 사각턱 등을 보완하고 싶은 경우"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-man1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/3</span></span> 돌출입, 사각턱 등을 보완하고 싶은 경우</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->

			<div class="horizontal-section content-section4" data-page="detail">
				<div class="content__area">
					<div class="content-box layer-top js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<p class="content__line type-man">DETAIL</p>
									<h4 class="content__tit tit-r">
										바노바기<br class="hidden-tm">
										<strong class="color-man1">더 자연스럽게</strong> 디자인합니다
									</h4>
									<p class="content__txt txt-l">
										10년 이상 수술 경험의 의료진이 채취한 모낭을
										<strong class="color-man1">가장 자연스럽게 디자인</strong>하여, 밀도 있게 재배치합니다.
										같은 수의 모낭을 이식하더라도 <strong class="color-man1">더 풍성하고,
										자연스럽게 보이는</strong> 기술입니다.
									</p>
								</div>
							</div>
						</div><!--//content-wrap -->
					</div>
					<div class="content-floor type-man type-beard">
						<div class="content-floor__img">
							<img src="../../images/man/beard/beard_img_2_m.jpg" class="img-normal" alt=""/>
						</div>
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<ul class="content-floor__list">
										<li class="content-floor__item txt-s js-scroll-motion">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">01</span><span class="content-floor__txt">수술 후 케어 책임보증제</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">02</span><span class="content-floor__txt">1:1 시스템, 숙련된 모발이식</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay2">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">03</span><span class="content-floor__txt">안전한 국소마취, 정맥마취 No<i>!</i></span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay3">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">04</span><span class="content-floor__txt">높은 생착률로 만족스러운 결과</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay4">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">05</span><span class="content-floor__txt">디테일한 재배치, 밀도 있는 풍성함</span>
											</div>
										</li>
									</ul>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
				</div>
			</div><!-- //content-section3-->

			<div class="horizontal-section content-section5" data-page="key point">
				<div class="content__area">
					<div class="content-key type-man js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-wide type-inner">
										<h4 class="content__tit tit-r">
											이상적인 구레나룻&<br>
											수염이식을 위한 <strong class="color-man1">핵심 포인트</strong>
										</h4>
										<p class="content__line type-man">KEY POINT</p>
										<p class="content__txt2 txt-r">
											<strong class="color-black1">구레나룻은 얼굴 이미지에 맞는 폭과 길이, 형태, 귀로부터의 간격,
											기존 헤어라인의 잔머리 부위, M자-관자놀이-구레나룻과의 연결 부위</strong> 등을
											고려하여 자연스럽고 정교하게 재배치하는 것이 중요합니다.
											또한 <strong class="color-black1">수염</strong>은 두피 보다 민감한 피부에 이식하는 것이므로 <strong class="color-black1">모발의 깊이 및 각도와
											방향, 얼굴 윤곽의 크기, 형태와 모양</strong> 등을 충분히 고려하여 재배치되어야 합니다.
										</p>
									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-bottom js-scroll-motion">
						<div class="flex-bottom type-slim-t">
							<div class="flex-bottom__wrap">
								<img src="../../images/man/beard/beard_img_3.jpg" class="hidden-tm" alt=""/>
								<img src="../../images/man/beard/beard_img_3_m.jpg" class="hidden-p img-w100-t" alt=""/>
							</div>
						</div>
					</div>
					<div class="bread-style1">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-bottom__box type-bread">
									<ul class="content-bottom__list js-scroll-motion">
										<li class="content-bottom__item txt-r type-tit">구레나룻</li>
										<li class="content-bottom__item txt-s nth-1">
											굵은 모/중간 모/가는 모 재배치
										</li>
										<li class="content-bottom__item txt-s nth-2">
											얼굴에 밀착되도록 이식 각도 조정
										</li>
										<li class="content-bottom__item txt-s nth-3">
											얼굴형과 헤어라인에 맞는 디자인
										</li>
									</ul>
								</div>
								<div class="content-bottom__box type-bread">
									<ul class="content-bottom__list js-scroll-motion">
										<li class="content-bottom__item txt-r type-tit">수염</li>
										<li class="content-bottom__item txt-s nth-1">
											짧고 굵은 단일 모, 수염의 양
										</li>
										<li class="content-bottom__item txt-s nth-2">
											수염의 결, 각도와 방향
										</li>
										<li class="content-bottom__item txt-s nth-3">
											얼굴형, 입과 턱 모양과 비율
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->

			<div class="horizontal-section content-section6" data-page="how">
				<div class="content-popup">
					<div class="content-popup__wrap">
						<div class="content-popup__area">
							<h5 class="content-popup__tit tit-s">이식부위별 예상 모낭수</h5>
							<div class="content-popup__scroll">
								<table class="table-v2 type-man">
									<tbody>
										<tr class="table-v2__tr">
											<th class="table-v2__th bg-gray2">1.구레나룻</th>
											<td class="table-v2__td">1,000 ~ 1,500개</td>
										</tr>
										<tr class="table-v2__tr">
											<th class="table-v2__th bg-man1">2. 콧수염</th>
											<td class="table-v2__td bg-man2">300 ~ 400개</td>
										</tr>
										<tr class="table-v2__tr">
											<th class="table-v2__th bg-man1">3. 턱수염</th>
											<td class="table-v2__td bg-man2">800 ~ 1,200개</td>
										</tr>
									</tbody>
								</table>
								<ul class="content-popup__list">
									<li class="content-popup__item">
										<h6 class="content-popup__caption txt-s">턱수염</h6>
										<img src="../../images/man/beard/popup_img_1.jpg" class="img-w100" alt="턱수염"/>
									</li>
									<li class="content-popup__item">
										<h6 class="content-popup__caption txt-s">콧수염 + 턱수염</h6>
										<img src="../../images/man/beard/popup_img_2.jpg" class="img-w100" alt="콧수염 + 턱수염"/>
									</li>
									<li class="content-popup__item">
										<h6 class="content-popup__caption txt-s">콧수염 + <span class="inline-block">턱수염 연결</span></h6>
										<img src="../../images/man/beard/popup_img_3.jpg" class="img-w100" alt="콧수염 + 턱수염 연결"/>
									</li>
									<li class="content-popup__item">
										<h6 class="content-popup__caption txt-s">풀 비어드</h6>
										<img src="../../images/man/beard/popup_img_4.jpg" class="img-w100" alt="풀 비어드"/>
									</li>
								</ul>
								<p class="content-popup__noti txt-s">※ 구레나룻과 수염의 크기, 형태에 따라 모낭 수는 달라질 수 있으며, 의료진과 충분한 상의 후 결정됩니다. </p>
							</div>
						</div>
						<button class="content-popup__close js-content-close">닫기</button>
					</div>
				</div>
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<p class="content__line type-man">HOW</p>
									<h4 class="content__tit tit-r">
										이식부위에 따라 <strong class="color-man1">다양한 디자인과
										정교한 재배치가</strong> 가능한 바노바기
									</h4>
									<p class="content__txt txt-l">
										<strong class="color-man1">구레나룻과 수염이식은 디자인에 따라 인상을 좌우</strong>하기때문에
										디테일한 디자인과 정교한 재배치가 중요합니다.
									</p>
									<p class="content__txt2 txt-r">
										<strong class="color-black1">채취부위와 이식부위의 각기 다른 특성을 면밀히 분석</strong>한 뒤 두피의 탄력성,
										두피의 건강 상태 등을 종합적으로 진단하여 환자분에게 적합한 방식을 권해
										드립니다.
									</p>
									<a href="" class="content__more more-btn type-man js-hover js-content-open">
										<span class="more-btn__plus">plus</span>
										<span class="more-btn__txt">more</span>
									</a>
									<p class="more-btn__show txt-s">구레나룻&수염이식 자세히 보기</p>
								</div>
								<div class="content-floor type-beard2">
									<div class="content-floor__img">
										<img src="../../images/man/beard/beard_img_4_m.jpg" class="img-normal" alt="">
									</div>
									<ul class="content-floor__list">
										<li class="content-floor__item txt-s js-scroll-motion">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-black1">01</span><span class="content-floor__txt color-black1">구레나룻</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">02</span><span class="content-floor__txt color-man1">콧수염</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay2">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">03</span><span class="content-floor__txt color-man1">턱수염</span>
											</div>
										</li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section5-->

			<div class="horizontal-section content-section7" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-man1">결과를 좌우하는</strong> 바노바기의
										구레나룻&amp;수염이식 시스템
									</h4>
									<p class="content__txt txt-l">
										채취 단계부터 최대한 모낭과 그 주변을 손상 없이 그대로 채취
										및 분리하여 이식된 모낭이 건강하게 생착 될 수 있도록 하고,
										<strong class="color-man1">숙련된 의료진의 전문적이고 정교한 이식을 통해  만족스러운
										결과를 기대</strong>할 수 있습니다.
									</p>
									<p class="content__line type-man">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-man">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/man/beard/beard_technic_1.jpg" class="img-responsive" alt="건강한 모낭채취"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">건강한 모낭채취</h5>
													<p class="content-number__txt txt-s">
														절개/비절개/로봇을 이용하여
														흉터 및 손상이 거의 없는
														모낭채취
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/man/beard/beard_technic_2.jpg" class="img-responsive" alt="전문적인 모낭분리"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">전문적인 모낭분리</h5>
													<p class="content-number__txt txt-s">
														최소 5년 이상 경력의
														모낭분리사가 정교하고
														안전하게 모낭분리
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/man/beard/beard_technic_3.jpg" class="img-responsive" alt="숙련된 모발재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">숙련된 모발재배치</h5>
													<p class="content-number__txt txt-s">
														10년간 3,000건 이상 수술
														경험의 모발재배치 전문 의료진
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->

			<div class="horizontal-section content-section8" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-man js-scroll-motion">
									<p class="content__line type-man">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-man1">구레나룻&수염이식 과정</strong>
									</h4>
									<p class="content__txt txt-l">
										사람마다 고유한 모발의 상태와 굵기, 밀도 등이 모두 다릅니다.
										이러한 조건들을 고려하여 진단하고 채취한 모발을 <strong class="color-man1">두피와 모발 상태에 가장 알맞은 최적의 방식으로
										최대한 자연스럽고 정교하게 재배치</strong> 해야 합니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 1</p>
															<h5 class="content-process__tit txt-l">진단 및 상담</h5>
															<p class="content-process__txt txt-r">
																두피, 이식 부위<br>
																피부 상태 확인,<br>
																수술 상담
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/beard/beard_process_1.jpg" alt="step 1 진단 및 상담" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 2</p>
															<h5 class="content-process__tit txt-l">디테일한 디자인</h5>
															<p class="content-process__txt txt-r">
																얼굴 비율 및 얼굴형,<br>
																모양 등에 따른<br>
																맞춤 디자인
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/beard/beard_process_2.jpg" alt="step 2 디테일한 디자인" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 3</p>
															<h5 class="content-process__tit txt-l">모낭 채취 방식 선택</h5>
															<p class="content-process__txt txt-r">
																절개방식<br>
																비절개방식<br>
																절개/비절개 혼합 방식
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/beard/beard_process_3.jpg" alt="step3 모낭 채취 방식 선택" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 4</p>
															<h5 class="content-process__tit txt-l">모낭 분리 및<br> 모낭 이식</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/beard/beard_process_4.jpg" alt="step4 모낭 분리 및 모낭 이식" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 5</p>
															<h5 class="content-process__tit txt-l">수술 후 관리</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/beard/beard_process_5.jpg" alt="step5 수술 후 관리" class="img-w100"/>
												</div>
											</li>
										</ul>
										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->

            <div class="horizontal-section content-section9 content-section-care" data-page="1year care">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										수술만큼 중요한<br>
										<strong class="color-man1">수술 후 관리</strong>
									</h4>
									<p class="content__txt2 txt-r">
										구레나룻&수염이식은 수술로 완성되는 것이 아닙니다. <br class="hidden-tm">
										<strong class="color-black1">최소 1년간은 환자와 의료진이 한 호흡으로 지속적인
										관리와 경과 관찰이 필요</strong>합니다.
									</p>
									<p class="content__txt txt-l">
										수술 후 빠른 회복과 이식된 모낭의 생착을
										높이기 위해 <strong class="color-man1">체계적이고 철저하게 관리</strong>해 드립니다.
									</p>
									<p class="content__line type-man">1YEAR CARE</p>
								</div>
								<div class="content-year section-top type-man js-scroll-motion">
									<div class="content-img type-year">
										<div class="flex-bottom">
											<ul class="hair-one">
												<li class="hair-one__item"><img src="../../images/content/hair_one_1.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_2.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_3.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_4.jpg" class="img-normal" alt=""></li>
											</ul>
										</div>
									</div>
									<div class="content-year__wrap section-left">
										<ul class="content-year__list">
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/man/beard/beard_care_1.jpg" class="img-w100" alt="2일차 드레싱 & 샴푸"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">2일차</h5>
													<p class="content-year__txt txt-s">드레싱 & 샴푸</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/man/beard/beard_care_2.jpg" class="img-w100" alt="10~14일 후 실밥제거"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">10~14일 후</h5>
													<p class="content-year__txt txt-s">실밥제거</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/man/beard/beard_care_3.jpg" class="img-w100" alt="4주 후 두피 스켈링 / 메조테라피 / 바이오라이트"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">4주 후</h5>
													<p class="content-year__txt txt-s">두피 스켈링 / 메조테라피 / 바이오라이트</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/man/beard/beard_care_4.jpg" class="img-w100" alt="1Year check 지속케어 수술 후 1, 3, 6, 12개월 케어"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">1Year check 지속케어</h5>
													<p class="content-year__txt txt-s">수술 후 1, 3, 6, 12개월 케어</p>
												</div>
											</li>
										</ul>
										<p class="content-year__noti txt-s">메조테라피 및 추가적인 관리 방법에 따라 별도 비용이 발생할 수 있습니다.</p>
										<div class="content-bullet type-man">
											<ul class="content-bullet__list">
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
