<%
	type = "content"
	page = "man"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
    <div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">남성모발이식</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">남성 탈모 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">남성 헤어라인 성형</a></li>
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">정수리 볼륨업</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">구레나룻&수염이식</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-man">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-head" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-head type-man">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__subtit txt-l">감추지 말고 득모하세요!</p>
												<h3 class="visual__tit tit-l"><span class="color-man1">정수리</span> 고밀도 보강</h3>
												<p class="visual__hash color-man1 txt-r"><span class="visual__span">#고밀도</span> <span class="visual__span">#고생착</span> <span class="visual__span">#풍성한 정수리</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">수술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">수술시간</h5>
											<p class="visual__txt txt-r">약 4~6시간</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">국소마취</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일수술 후 퇴원</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일수술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content-box js-scroll-motion type-wide">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											하루라도 더 빨리<br class="hidden-tm">
											치료해야 하는 <strong class="color-man1">정수리 탈모</strong>
										</h4>
										<p class="content__txt2 txt-r">
											<strong class="color-black1">정수리는 M자나 헤어라인 보다 위치상 늦게 발견</strong>하는 경우가 있어 치료
											시기를 놓치거나 또 가발, 두피 문신, 헤어스타일 등으로 보완할 수 있다
											생각하시고 감추는 경우가 많습니다.
										</p>
										<p class="content__txt txt-l">
											하지만 <strong class="color-man1">그 어떤 방법도 모발이식보다 좋을 수는 없습니다.</strong>
											고민하지 말고, 이식하세요.
										</p>

										<div class="head-style">
											<div class="head-style__box txt-s">
												<div class="head-style__outer">
													<div class="head-style__inner">
														<ul class="head-style__list">
															<li class="head-style__item">·가발</li>
															<li class="head-style__item">·모자</li>
															<li class="head-style__item">·두피문신</li>
															<li class="head-style__item">·헤어스타일</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="head-style__box txt-r">
												<div class="head-style__outer">
													<div class="head-style__inner">
														모발이식
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>

                        <div class="content-img section-left type-head js-scroll-motion">
    						<div class="flex-bottom type-slim-t">
    							<img src="../../images/man/head/head_img_1.jpg" class="img-w100-t hidden-tm" alt="">
    							<img src="../../images/man/head/head_img_1_m.jpg" class="img-w100-t hidden-p" alt="">
    						</div>
    					</div>

						<div class="content-box type-slim type-head">
							<div class="content__outer">
								<div class="content__inner">
									<p class="content__txt2 txt-r">
										<strong class="color-black1">정수리 고밀도 보강은 정수리 숱이 빈약한 부분
										사이사이에 건강한 모낭을 정교하게 이식하는
										것</strong>으로, 모발이 없는 헤어라인이나 M자 탈모
										이식과는 다릅니다.
									</p>
									<p class="content__txt txt-l">
										<strong class="color-man1">
											기존 모발의 손상은 최소화하면서 새로
											이식한 모발과 풍성한 조화를 이루는
											것
										</strong>
										이 필요합니다.
									</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-man">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											근본적으로 <strong class="color-man1">탈모 고민을 해결</strong>하고 싶으신 분들께
										</h4>
										<p class="content__txt txt-l">
											정수리 탈모의 초기에는 정수리 부위의 모발이 가늘어지며, 탈락하는 형태였다가 결국에는<br class="hidden-tm">
											후두부의 모발만 남게 되는 경우가 있기때문에 <strong class="color-man1">유형별로 체계적인 관리와 맞춤 수술이 중요합니다.</strong><br class="hidden-tm">
											더 이상 감추지 않고, 풍성한 모발을 원하신다면 바노바기 정수리 고밀도 보강으로 치료하세요.
										</p>
                                        <div class="pick-scroll__area">
											<ul class="pick-scroll__list">
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/man/head/head_pick_1.jpg" class="img-w100" alt="01. U자탈모">
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-man1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/4</span></span>
															U자탈모
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/man/head/head_pick_2.jpg" class="img-w100" alt="02. O자탈모">
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-man1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/4</span></span>
															O자탈모
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/man/head/head_pick_3.jpg" class="img-w100" alt="03. M+O자탈모">
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-man1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/4</span></span>
															M+O자탈모
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/man/head/head_pick_4.jpg" class="img-w100" alt="04. 정수리 모발이 가늘고 빈약한 경우">
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-man1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/4</span></span>
															정수리 모발이 가늘고 빈약한 경우
														</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->

			<div class="horizontal-section content-section4" data-page="detail">
				<div class="content__area">
					<div class="content-box js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<p class="content__line type-man">DETAIL</p>
									<h4 class="content__tit tit-r">
										바노바기니까,<br class="hidden-tm">
										<strong class="color-man1">고밀도</strong>로 이식합니다
									</h4>
									<p class="content__txt txt-l">
										10년 이상 수술 경험의 의료진이 채취한 모낭을
										<strong class="color-man1">가장 자연스럽고 밀도 있게 재배치</strong>하며,
										같은 수의 모낭을 이식하더라도 <strong class="color-man1">더 풍성하게
										보이도록 디테일하게 이식</strong>합니다.
									</p>
								</div>
							</div>
						</div><!--//content-wrap -->
					</div>
					<div class="content-floor type-man type-head">
						<div class="content-floor__img type-zero">
							<img src="../../images/man/head/head_bg_1_t.jpg" class="img-normal" alt=""/>
						</div>
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<ul class="content-floor__list">
										<li class="content-floor__item txt-s js-scroll-motion">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">01</span><span class="content-floor__txt">수술 후 케어 책임보증제</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">02</span><span class="content-floor__txt">1:1 시스템, 숙련된 모발이식</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay2">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">03</span><span class="content-floor__txt">안전한 국소마취, 정맥마취 No<i>!</i></span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay3">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">04</span><span class="content-floor__txt">높은 생착률로 만족스러운 결과</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay4">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-man1">05</span><span class="content-floor__txt">디테일한 재배치, 밀도 있는 풍성함</span>
											</div>
										</li>
									</ul>

								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
				</div>
			</div><!-- //content-section3-->

			<div class="horizontal-section content-section5" data-page="key point">
				<div class="content__area">
					<div class="content-key type-man js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-wide type-inner">
										<h4 class="content__tit tit-r">
											이상적인 정수리<br class="hidden-tm">
											밀도 보강을 위한 <strong class="color-man1">핵심 포인트</strong>
										</h4>
										<p class="content__line type-man">KEY POINT</p>
										<p class="content__txt2 txt-r">
											정수리 모발이식은 듬성듬성한 모발 사이사이에 모낭을 이식하는 것으로
											과한 밀도는 모발 탈락과 부자연스러움을 만들고, 부족한 모낭은 정수리가
											빈약해 보일 수 있기때문에 <strong class="color-black1">숙련된 의료진의 수술이 필요</strong>합니다.
										</p>
									</div>
									<div class="content-key__box type-num">
										<ul class="content-key__list">
											<li class="content-key__item txt-s nth-1">
												두피가 드러난 부분과 기존 모와의 조화
											</li>
											<li class="content-key__item txt-s nth-2">
												과하지도 적지도 않은 적합한 밀도 조절
											</li>
											<li class="content-key__item txt-s nth-3">
												기존 모발의 손상 최소화
											</li>
										</ul>
										<ul class="content-key__list">
											<li class="content-key__item txt-s nth-4">
												모발의 굵기, 각도와 방향, 가마 모양
											</li>
										</ul>
									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-bottom section-left js-scroll-motion">
						<div class="flex-bottom">
							<div class="flex-bottom__wrap">
								<img src="../../images/man/head/head_bg_2.jpg" class="hidden-tm" alt=""/>
								<img src="../../images/man/head/head_bg_2_t.jpg" class="hidden-p img-w100-t" alt=""/>
							</div>
						</div>
					</div>
					<div class="content-box type-head type-slim">
						<div class="content__outer">
							<div class="content__inner">
								<p class="content__txt txt-l">
									<strong class="color-man1">정수리 볼륨업</strong>은 탈모를 고려한 디자인,
									모발의 각도와 방향, 기존 모와의 조화,
									가장 알맞은 밀도의 정교한 재배치가
									중요합니다.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->

			<div class="horizontal-section content-section6" data-page="how">
				<div class="content-popup">
					<div class="content-popup__wrap">
						<div class="content-popup__area">
							<h5 class="content-popup__tit tit-s">절개법 VS 비절개법 비교</h5>
							<div class="content-popup__scroll">
								<table class="table-v1 type-man">
									<tbody>
										<tr class="table-v1__tr">
											<th class="bg-white"></th>
											<th class="table-v1__th bg-gray1">절개법</th>
											<th class="table-v1__th">비절개법</th>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">흉터</th>
											<td class="table-v1__td">하나의 가는 실선 형태</td>
											<td class="table-v1__td">여러 개의 작은 점 형태</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">생착률</th>
											<td class="table-v1__td">높음</td>
											<td class="table-v1__td">상대적으로 낮음</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">삭발여부</th>
											<td class="table-v1__td">불필요</td>
											<td class="table-v1__td">삭발</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">추출부위 밀도<br>(뒷머리)</th>
											<td class="table-v1__td">변화없음</td>
											<td class="table-v1__td">줄어듦</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">시간<br>(3,0000모 기준)</th>
											<td class="table-v1__td">약 4시간</td>
											<td class="table-v1__td">약 6시간</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<button class="content-popup__close js-content-close">닫기</button>
					</div>
				</div>
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<p class="content__line type-man">HOW</p>
									<h4 class="content__tit tit-r">
										<strong class="color-man1">절개/비절개/로봇 모낭 채취</strong> 모두 가능한 바노바기
									</h4>
									<p class="content__txt txt-l">
										숙련된 의료진에게 절개, 비절개 방식을 구분하는 것은
										무의미합니다. <strong class="color-man1">탈모 진행 정도, 두피의 탄력성,
										두피 건강 상태 등을 종합적으로 진단</strong>하여 환자분에게
										적합한 방식을 권해 드립니다.
									</p>
									<a href="" class="content__more more-btn type-man js-hover js-content-open">
										<span class="more-btn__plus">plus</span>
										<span class="more-btn__txt">more</span>
									</a>
									<p class="more-btn__show txt-s">절개법 VS 비절개법 비교 보기</p>
								</div>
								<div class="content-img js-scroll-motion">
									<div class="flex-bottom">
										<div class="content-img__wrap">
											<img src="../../images/man/head/head_img_3.jpg" class="img-w100-t" alt="절개법 VS 비절개법 비교"/>
											<ul class="content-img__list">
												<li class="content-img__item type-default">
													<h5 class="content-img__subject txt-l">절개법</h5>
													<p class="content-img__txt txt-s">필요한 모낭만큼 두피 면적을 떼어낸 후 봉합</p>
												</li>
												<li class="content-img__item type-man">
													<h5 class="content-img__subject txt-l">비절개법</h5>
													<p class="content-img__txt txt-s">모발 사이사이 필요한 모낭만을 하나씩 채취</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section5-->

			<div class="horizontal-section content-section7" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-man1">결과를 좌우하는</strong> 바노바기의
										모발이식 시스템
									</h4>
									<p class="content__txt txt-l">
										채취 단계부터 최대한 모낭과 그 주변을 손상 없이 그대로 채취
                                        및 분리하여 이식된 모낭이 건강하게 생착 될 수 있도록 하고,
										<strong class="color-man1">숙련된 의료진의 전문적이고 정교한 이식을 통해
										만족스러운 결과를 기대</strong>할 수 있습니다.
									</p>
									<p class="content__line type-man">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-man">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/man/head/head_technic_1.jpg" class="img-responsive" alt="건강한 모낭채취"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">건강한 모낭채취</h5>
													<p class="content-number__txt txt-s">
														절개/비절개/로봇을 이용하여
														흉터 및 손상이 거의 없는
														모낭채취
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/man/head/head_technic_2.jpg" class="img-responsive" alt="전문적인 모낭분리"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">전문적인 모낭분리</h5>
													<p class="content-number__txt txt-s">
														최소 5년 이상 경력의
														모낭분리사가 정교하고
														안전하게 모낭분리
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/man/head/head_technic_3.jpg" class="img-responsive" alt="숙련된 모발재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">숙련된 모발재배치</h5>
													<p class="content-number__txt txt-s">
														10년간 3,000건 이상 수술
														경험의 모발재배치 전문 의료진
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->

			<div class="horizontal-section content-section8" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-man js-scroll-motion">
									<p class="content__line type-man">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-man1">모발이식 과정</strong>
									</h4>
									<p class="content__txt txt-l">
										사람마다 고유한 모발의 상태와 굵기, 밀도 등이 모두 다릅니다.
										이러한 조건들을 고려하여 진단하고 채취한 모발을 <strong class="color-man1">두피와 모발 상태에 가장 알맞은 최적의 방식으로
										최대한 자연스럽고 정교하게 재배치</strong> 해야 합니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 1</p>
															<h5 class="content-process__tit txt-l">진단 및 상담</h5>
															<p class="content-process__txt txt-r">
																탈모 정도, <br>
																두피 상태 확인<br>
																수술 상담
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/head/head_process_1.jpg" alt="step 1 진단 및 상담" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 2</p>
															<h5 class="content-process__tit txt-l">디테일한 디자인</h5>
															<p class="content-process__txt txt-r">
																정수리 범위, 가마 모양,<br>
																기존 모와의 균형 고려한<br>
																맞춤 디자인
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/head/head_process_2.jpg" alt="step 2 디테일한 디자인" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 3</p>
															<h5 class="content-process__tit txt-l">모낭 채취 방식 선택</h5>
															<p class="content-process__txt txt-r">
																절개방식<br>
																비절개방식<br>
																절개/비절개 혼합 방식
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/head/head_process_3.jpg" alt="step3 모낭 채취 방식 선택" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 4</p>
															<h5 class="content-process__tit txt-l">모낭 분리 및<br> 모낭 이식</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/head/head_process_4.jpg" alt="step4 모낭 분리 및 모낭 이식" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 5</p>
															<h5 class="content-process__tit txt-l">수술 후 관리</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/man/head/head_process_5.jpg" alt="step5 수술 후 관리" class="img-w100"/>
												</div>
											</li>
										</ul>
										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->

			<div class="horizontal-section content-section9" data-page="project">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-man1">더 꼼꼼한 유지관리 프로그램</strong> 고생착 프로젝트
									</h4>
									<p class="content__txt txt-l">
										수술 후 체계적인 두피케어를 통해 생착률을
										높이고, <strong class="color-man1">한번 이식한 모발이 오래 유지될 수
										있도록 전문적인 케어 프로그램을 제공</strong>합니다.
									</p>
									<p class="content__txt2 txt-r">
										줄기세포 성장인자, 멀티 비타민, 미네랄 등을 공급해주는
										메조테라피 시술부터 두피 스케일링, 영양 침투 케어 등 <strong class="color-black1">건강한
										두피와 모근을 위한 다양한 프로그램으로 차별화된 모발이식을
										경험</strong>하세요.
									</p>
									<p class="content__line type-man">PROJECT</p>
								</div>
								<div class="content-zigzag section-left js-scroll-motion type-zigzag">
									<ul class="content-zigzag__list type-top">
										<li class="content-zigzag__item type-delay">
											<img src="../../images/content/project_img_1_common.jpg" class="img-w100-t" alt=""/>
										</li>
										<li class="content-zigzag__item type-delay3">
											<img src="../../images/content/project_img_2_common.jpg" class="img-w100-t" alt=""/>
										</li>
									</ul>
									<ul class="content-zigzag__list">
										<li class="content-zigzag__item">
											<img src="../../images/content/project_img_3_common.jpg" class="img-w100-t" alt=""/>
										</li>
										<li class="content-zigzag__item type-delay2">
											<img src="../../images/content/project_img_4_common.jpg" class="img-w100-t" alt=""/>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section8-->

            <div class="horizontal-section content-section10 content-section-care" data-page="1year care">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										수술만큼 중요한<br>
										<strong class="color-man1">수술 후 관리</strong>
									</h4>
									<p class="content__txt2 txt-r">
										정수리 모발이식은 수술로 완성되는 것이 아닙니다.<br class="hidden-tm">
										<strong class="color-black1">최소 1년간은 환자와 의료진이 한 호흡으로 지속적인
										관리와 경과 관찰이 필요</strong>합니다.
									</p>
									<p class="content__txt txt-l">
										수술 후 빠른 회복과 이식된 모낭의 생착을 높이기
										위해 <strong class="color-man1">체계적이고 철저하게 관리</strong>해 드립니다.
									</p>
									<p class="content__line type-man">1YEAR CARE</p>
								</div>
								<div class="content-year section-top type-man js-scroll-motion">
									<div class="content-img type-year">
										<div class="flex-bottom">
											<ul class="hair-one">
												<li class="hair-one__item"><img src="../../images/content/hair_one_1.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_2.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_3.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_4.jpg" class="img-normal" alt=""></li>
											</ul>
										</div>
									</div>
									<div class="content-year__wrap section-left">
										<ul class="content-year__list">
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/man/head/head_care_1.jpg" class="img-w100" alt="2일차 드레싱 & 샴푸"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">2일차</h5>
													<p class="content-year__txt txt-s">드레싱 & 샴푸</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/man/head/head_care_2.jpg" class="img-w100" alt="10~14일 후 실밥제거"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">10~14일 후</h5>
													<p class="content-year__txt txt-s">실밥제거</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/man/head/head_care_3.jpg" class="img-w100" alt="4주 후 두피 스켈링 / 메조테라피 / 바이오라이트"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">4주 후</h5>
													<p class="content-year__txt txt-s">두피 스켈링 / 메조테라피 / 바이오라이트</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/man/head/head_care_4.jpg" class="img-w100" alt="1Year check 지속케어 수술 후 1, 3, 6, 12개월 케어"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">1Year check 지속케어</h5>
													<p class="content-year__txt txt-s">수술 후 1, 3, 6, 12개월 케어</p>
												</div>
											</li>
										</ul>
										<p class="content-year__noti txt-s">메조테라피 및 추가적인 관리 방법에 따라 별도 비용이 발생할 수 있습니다.</p>
										<div class="content-bullet type-man">
											<ul class="content-bullet__list">
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
