		<!-- //section끝 -->
		<!--footer시작-->
		<div class="footer">
			<div class="footer__top">
				<div class="footer__left">
					<div class="footer-event">
						<div class="footer__top-btn">
							<a href="" class="consultation-btn btn-v1 js-btn-v1"><span>더 많은 이벤트 보기</span></a>
						</div>
						<h3 class="footer-event__subject tit-s">나에게 맞는 이벤트</h3>
					</div>
					<ul class="footer-event__list">
						<li class="footer-event__item js-hover">
							<div class="footer-event__box">
								<h4 class="footer-event__tit txt-l">모발이식 절개 3000모</h4>
								<p class="footer-event__txt txt-s">최대한 자연스럽게, 그리고 정교하게!</p>
								<p class="footer-event__price">
									<span class="footer-event__before txt-s">3,300,000</span>
									<span class="footer-event__after txt-l">3,000,000</span>
								</p>
								<button class="footer-event__btn txt-s">상담신청</button>
								<a href="" class="footer-event__link">go</a>
							</div>
						</li>
						<li class="footer-event__item js-hover">
							<div class="footer-event__box">
								<h4 class="footer-event__tit txt-l">모발이식 절개 3000모</h4>
								<p class="footer-event__txt txt-s">최대한 자연스럽게, 그리고 정교하게!</p>
								<p class="footer-event__price">
									<span class="footer-event__before txt-s">3,300,000</span>
									<span class="footer-event__after txt-l">3,000,000</span>
								</p>
								<button class="footer-event__btn txt-s">상담신청</button>
								<a href="" class="footer-event__link">go</a>
							</div>
						</li>
						<li class="footer-event__item js-hover">
							<div class="footer-event__box">
								<h4 class="footer-event__tit txt-l">모발이식 절개 3000모</h4>
								<p class="footer-event__txt txt-s">최대한 자연스럽게, 그리고 정교하게!</p>
								<p class="footer-event__price">
									<span class="footer-event__before txt-s">3,300,000</span>
									<span class="footer-event__after txt-l">3,000,000</span>
								</p>
								<button class="footer-event__btn txt-s">상담신청</button>
								<a href="" class="footer-event__link">go</a>
							</div>
						</li>
						<li class="footer-event__item js-hover">
							<div class="footer-event__box">
								<h4 class="footer-event__tit txt-l">모발이식 절개 3000모</h4>
								<p class="footer-event__txt txt-s">최대한 자연스럽게, 그리고 정교하게!</p>
								<p class="footer-event__price">
									<span class="footer-event__before txt-s">3,300,000</span>
									<span class="footer-event__after txt-l">3,000,000</span>
								</p>
								<button class="footer-event__btn txt-s">상담신청</button>
								<a href="" class="footer-event__link">go</a>
							</div>
						</li>
					</ul>
					<!-- <p class="footer__zero txt-l">관심있는 페이지를 방문해 보세요</p> -->
				</div>
				<div class="footer__right">
					<div class="footer-visit">
						<div class="footer__top-btn js-top">
							<a href="" class="top-btn"><img src="../../images/common/top_icon_before.png" alt="top" class="img-hover"></a>
						</div>
						<h3 class="footer-visit__subject tit-s">내가 방문한 페이지</h3>
						<ul class="footer-visit__list">
							<li class="footer-visit__item txt-r">
								<div class="footer-visit__box">
									<a href="" class="footer-visit__link"><span class="footer-visit__txt">여성 모발이식</span><span class="footer-visit__txt">여성 헤어라인 성형</span></a>
								 </div>
							</li>
							<li class="footer-visit__item txt-r">
								<div class="footer-visit__box">
									<a href="" class="footer-visit__link"><span class="footer-visit__txt">여성 모발이식</span><span class="footer-visit__txt">여성 헤어라인 성형</span></a>
								 </div>
							</li>
							<li class="footer-visit__item txt-r">
								<div class="footer-visit__box">
									<a href="" class="footer-visit__link"><span class="footer-visit__txt">여성 모발이식</span><span class="footer-visit__txt">여성 헤어라인 성형</span></a>
								 </div>
							</li>
							<li class="footer-visit__item txt-r">
								<div class="footer-visit__box">
									<a href="" class="footer-visit__link"><span class="footer-visit__txt">여성 모발이식</span><span class="footer-visit__txt">여성 헤어라인 성형</span></a>
								 </div>
							</li>
						</ul>
						<!-- <p class="footer__zero txt-l">아직 방문한 페이지가 없어요</p> -->
					</div>
				</div>
			</div>
			<div class="footer__mid"><span class="footer__noti">수술 후 일시적인 출혈이나 모낭염이 발생할 수 있으며, 주관적인 만족도는 개인마다 차이가 있을 수 있으므로 의사와 상의하시기 바랍니다.</span></div>
			<div class="footer__bottom">
				<div class="footer__logo">
					<a href=""><img src="../../images/common/logo_footer.svg" class="img-w100" alt="바노바기성형외과의원 - 모발이식클리닉"></a>
				</div>
				<div class="footer__sns">
					<ul class="sns__list">
						<li class="sns__item js-hover">
							<a href="" class="sns__link">
								<img class="img-w100" src="../../images/common/facebook_icon.svg" alt="">
								<img class="sns__hover" src="../../images/common/facebook_icon_hover.svg" alt="">
							</a>
						</li>
						<li class="sns__item js-hover">
							<a href="" class="sns__link">
								<img class="img-w100" src="../../images/common/instar_icon.svg" alt="">
								<img class="sns__hover" src="../../images/common/instar_icon_hover.svg" alt="">
							</a>
						</li>
						<li class="sns__item js-hover">
							<a href="" class="sns__link">
								<img class="img-w100" src="../../images/common/blog_icon.svg" alt="">
								<img class="sns__hover" src="../../images/common/blog_icon_hover.svg" alt="">
							</a>
						</li>
						<li class="sns__item js-hover">
							<a href="" class="sns__link">
								<img class="img-w100" src="../../images/common/youtube_icon.svg" alt="">
								<img class="sns__hover" src="../../images/common/youtube_icon_hover.svg" alt="">
							</a>
						</li>
					</ul>
					<div class="footer__select">
						<div class="select-v1">
							<div class="select-v1__wrap">
								<span class="select-v1__tit js-select-v1 txt-s"><a href="" class="select-v1__tit-link" onclick="return false;">KOR</a></span>
								<ul class="select-v1__list">
									<li class="select-v1__item txt-s is-active"><a href="" class="select-v1__link">KOR</a></li>
									<li class="select-v1__item txt-s"><a href="" class="select-v1__link">ENG</a></li>
									<li class="select-v1__item txt-s"><a href="" class="select-v1__link">THA</a></li>
									<li class="select-v1__item txt-s"><a href="" class="select-v1__link">CN</a></li>
									<li class="select-v1__item txt-s"><a href="" class="select-v1__link">VNM</a></li>
									<li class="select-v1__item txt-s"><a href="" class="select-v1__link">INA</a></li>
									<li class="select-v1__item txt-s"><a href="" class="select-v1__link">JPN</a></li>
								</ul>
							</div>
						</div>
						<div class="select-v1">
							<div class="select-v1__wrap">
								<span class="select-v1__tit js-select-v1 txt-s"><a href="" class="select-v1__tit-link" onclick="return false;">Family site</a></span>
								<ul class="select-v1__list">
									<li class="select-v1__item txt-s"><a href="" class="select-v1__link">바노바기 성형외과</a></li>
									<li class="select-v1__item txt-s"><a href="" class="select-v1__link">쁘띠바노바기</a></li>
									<li class="select-v1__item txt-s"><a href="" class="select-v1__link">바노바기 피부과</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer__info">
					<p class="address__txt txt-s">서울특별시 강남구 논현로 515 아승빌딩 3층 </p>
					<ul class="address__list">
						<li class="address__item txt-s">CS CENTER 1588-6508</li>
						<li class="address__item txt-s">TEL 02-562-6001</li>
						<li class="address__item txt-s">FAX 02-561-1755</li>
					</ul>
					<ul class="address__list">
						<li class="address__item txt-s">바노바기 성형외과 의원 박선재 220-08-87096</li>
						<li class="address__item type-nobar txt-s">통신판매업 신고번호 제2015-서울강남-03292호</li>
					</ul>
					<p class="address__copy">Copyright © 2019 BANOBAGI hair transplant clinic all rights reserved.</p>
					<ul class="address__list">
						<li class="address__item txt-s"><a href="../etc/etc1.html" class="address__link color-gray1">개인정보 취급방침</a></li>
						<li class="address__item txt-s"><a href="" class="address__link">이용약관</a></li>
						<li class="address__item txt-s"><a href="../sitemap/sitemap.html" class="address__link">사이트맵</a></li>
						<li class="address__item txt-s"><a href="../etc/cookie.html" class="address__link">쿠키 정책</a></li>
					</ul>
				</div>
			</div>
			<button class="footer-top js-top">
				TOP
			</button>
		</div>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="../../js/libs/enquire.js"></script>
	<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-progress-indicator-1.0.6.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.hoverdir.js"></script>
	<script type="text/javascript" src="../../js/libs/swiper.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script type="text/javascript" src="../../js/popup.js"></script>
	<% if (scroll == "horizontal") { %>
		<script type="text/javascript" src="../../js/libs/jquery.jInvertScroll.js"></script>
		<script type="text/javascript" src="../../js/horizontal.js"></script>
	<% }else if (scroll == "vertical") { %>
		<script type="text/javascript" src="../../js/vertical.js"></script>
	<% } %>

	<% if (page == "main") { %>
		<script type="text/javascript" src="../../js/libs/jquery.animateNumber.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>
	<% } else if (type == "content") { %>
		<script type="text/javascript" src="../../js/content.js"></script>
	<% } %>
	<% if (attach == "event") { %>
		<script type="text/javascript" src="../../js/event.js"></script>
	<% } else if (attach == "detail") { %>
		<script type="text/javascript" src="../../js/detail.js"></script>
	<% } else if (attach == "tour") { %>
		<script type="text/javascript" src="../../js/tour.js"></script>
	<% } else if (attach == "etc") { %>
		<script type="text/javascript" src="../../js/etc.js"></script>
	<% } else if (attach == "location") { %>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=257d367d5a0070f35e1b7ddf7b4907a4"></script>
		<script type="text/javascript" src="../../js/location.js"></script>
	<% } %>
</body>
</html>
<!--footer끝-->
