<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="모발이식클리닉">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/animated.css">
<link rel="stylesheet" href="../../css/libs/swiper.min.css">
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/popup.css">
<% if (type == "content" || type == "introduce" || type == "etc") { %>
	<link rel="stylesheet" href="../../css/content_common.css">
<% } %>
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css">
<% }else if (page == "sub") { %>
	<link rel="stylesheet" href="../../css/sub.css">
<% }else if (page == "woman") { %>
	<link rel="stylesheet" href="../../css/woman.css">
<% }else if (page == "special") { %>
	<link rel="stylesheet" href="../../css/special.css">
<% }else if (page == "care") { %>
<link rel="stylesheet" href="../../css/care.css">
<% }else if (page == "svf") { %>
<link rel="stylesheet" href="../../css/svf.css">
<% }else if (page == "reoperation") { %>
<link rel="stylesheet" href="../../css/reoperation.css">
<% }else if (page == "man") { %>
	<link rel="stylesheet" href="../../css/man.css">
<% }else if (page == "robot") { %>
	<link rel="stylesheet" href="../../css/robot.css">
<% }else if (page == "introduce") { %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if (page == "etc") { %>
	<link rel="stylesheet" href="../../css/policy.css">
<% }else if (page == "sitemap") { %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<% } %>
<link rel="icon" href="../../images/common/favicon.ico">

</head>
<body>
	<div class="common">
		<% include ../_include/_popup %>
		<% if (attach == "event") { %>
			<div class="floating is-play js-consultation-event">
				<button class="floating__btn">
					<span class="floating__img">상담신청 아이콘</span>
					<span class="floating__txt">상담신청</span>
				</button>
			</div>
		<% } %>
		<div class="header">
			<div class="header__wrap">
				<h1 class="header__logo">
					<a href="main/main.html" class="header__link type-logo">
						<img src="../../images/common/logo_simple_icon.svg" alt="바노바기성형외과의원 - 모발이식클리닉" class="img-w100 hidden-tm">
						<!-- <img src="../../images/common/logo_icon.svg" alt="바노바기성형외과의원 - 모발이식클리닉" class="img-w100 hidden-p"> -->
					</a>
				</h1>
				<ul class="header__list">
					<li class="header__item type-consultation">
						<a href="" class="header__link js-consultation">
							<img src="../../images/common/consultation_icon.svg" class="header__icon bounceInCustom animated infinite" alt="consultation_icon">
							상담신청
						</a>
					</li>
					<!-- <li class="header__item type-login">
						<a href="" class="header__link">
							<img src="../../images/common/login_icon.svg" class="header__icon type-login" alt="login_icon">
							로그인
						</a>
					</li> -->
					<li class="header__item type-call">
						<a href="tel:02-1588-6508" class="header__link">
							<img src="../../images/common/call_icon.svg" class="header__icon type-call" alt="call_icon">
							상담전화
						</a>
					</li>
					<li class="header__item type-event">
						<a href="" class="header__link js-event-link">추천이벤트</a>
					</li>
				</ul>
				<!-- pc menu button -->
				<button class="header__btn js-gnb-btn hidden-tm">
					<span class="header__btn-wrap">
						<span class="header__btn-line nth-1">menu</span>
						<span class="header__btn-line nth-2">menu</span>
						<span class="header__btn-line nth-3">menu</span>
					</span>
				</button>
				<!-- pc menu button -->
				<button class="header__btn js-m-btn hidden-p">
					<span class="header__btn-wrap">
						<span class="header__btn-line nth-1">menu</span>
						<span class="header__btn-line nth-2">menu</span>
						<span class="header__btn-line nth-3">menu</span>
					</span>
				</button>
				<div class="gnb">
					<h2 class="gnb__tit">menu</h2>
					<div class="gnb__outer">
						<div class="gnb__inner">
							<a href="" class="gnb__logo"><img src="../../images/common/logo_icon.svg" alt=" 바노바기성형외과의원 - 모발이식클리닉"></a>
							<ul class="gnb__depth1-list">
								<li class="gnb__depth1-item">
									<a href="" gnb-page="gnb-woman" class="gnb__depth1-link">여성모발이식</a>
								</li>
								<li class="gnb__depth1-item">
									<a href="" gnb-page="gnb-man" class="gnb__depth1-link">남성모발이식</a>
								</li>
								<li class="gnb__depth1-item" data-depth="1">
									<a href="../robot/robot_artas.html" gnb-page="gnb-robot" class="gnb__depth1-link">로봇모발이식</a>
								</li>
								<li class="gnb__depth1-item">
									<a href="" gnb-page="gnb-special" class="gnb__depth1-link">스페셜이식</a>
								</li>
								<li class="gnb__depth1-item" data-depth="1">
									<a href="../reoperation/reoperation_clinic.html" gnb-page="gnb-reoperation" class="gnb__depth1-link">모발이식재수술</a>
								</li>
								<li class="gnb__depth1-item">
									<a href="" gnb-page="gnb-svf" class="gnb__depth1-link">줄기세포</a>
								</li>
								<li class="gnb__depth1-item" data-depth="1">
									<a href="../care/care_haircare.html" gnb-page="gnb-care" class="gnb__depth1-link">탈모케어</a>
								</li>
								<li class="gnb__depth1-item">
									<a href="" gnb-page="gnb-introduce" class="gnb__depth1-link">바노바기</a>
								</li>
								<li class="gnb__depth1-item">
									<a href="" gnb-page="gnb-review" class="gnb__depth1-link">Review</a>
								</li>
							</ul>
							<div class="gnb__bottom">
								<p class="gnb__tel">
									1588.6508<br>
									02.562.6001
								</p>
								<a href="" class="gnb__location"><img src="../../images/common/location_before.jpg" alt="오시는길 바로가기" class="img-normal img-hover"></a>
							</div>
						</div>
					</div>
					<div class="gnb__container gnb-woman">
						<div class="gnb__container-wrap">
							<div class="gnb__box type-txt">
								<p class="gnb__depth2-tit">여성모발이식</p>
								<ul class="gnb__depth2-list">
									<li class="gnb__depth2-item">
										<a href="../woman/woman_line.html" class="gnb__depth2-link">여성 헤어라인 성형</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../woman/woman_reduction.html" class="gnb__depth2-link">이마 축소</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../woman/woman_alopecia.html" class="gnb__depth2-link">여성 탈모 모발이식</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../woman/woman_charm.html" class="gnb__depth2-link">애교나룻&amp;측면 미세이식</a>
									</li>
								</ul>
							</div>
							<div class="gnb__box type-img">
								<img src="../../images/common/gnb/gnb_img_1.jpg" alt="여성모발이식 모델" class="img-w100">
							</div>
						</div>
					</div>
					<div class="gnb__container gnb-man">
						<div class="gnb__container-wrap">
							<div class="gnb__box type-txt">
								<p class="gnb__depth2-tit">남성모발이식</p>
								<ul class="gnb__depth2-list">
									<li class="gnb__depth2-item is-active">
										<a href="../man/man_alopecia.html" class="gnb__depth2-link">남성 탈모 모발이식</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../man/man_line.html" class="gnb__depth2-link">남성 헤어라인 성형</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../man/man_head.html" class="gnb__depth2-link">정수리 볼륨업</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../man/man_beard.html" class="gnb__depth2-link">구레나룻&수염이식</a>
									</li>
								</ul>
							</div>
							<div class="gnb__box type-img">
								<img src="../../images/common/gnb/gnb_img_2.jpg" alt="남성모발이식 모델" class="img-w100">
							</div>
						</div>
					</div>
					<div class="gnb__container gnb-svf">
						<div class="gnb__container-wrap">
							<div class="gnb__box type-txt">
								<p class="gnb__depth2-tit">줄기세포</p>
								<ul class="gnb__depth2-list">
									<li class="gnb__depth2-item">
										<a href="../svf/svf_detail.html" class="gnb__depth2-link">바노바기의 줄기세포</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../svf/svf_treatment.html" class="gnb__depth2-link">줄기세포 탈모치료</a>
									</li>
								</ul>
							</div>
							<div class="gnb__box type-img">
								<img src="../../images/common/gnb/gnb_img_6.jpg" alt="줄기세포 모델" class="img-w100">
							</div>
						</div>
					</div>
					<div class="gnb__container gnb-special">
						<div class="gnb__container-wrap">
							<div class="gnb__box type-txt">
								<p class="gnb__depth2-tit">스페셜이식</p>
								<ul class="gnb__depth2-list">
									<li class="gnb__depth2-item">
										<a href="../special/special_eyebrows.html" class="gnb__depth2-link">눈썹이식</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../special/special_scar.html" class="gnb__depth2-link">흉터모발이식</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../special/special_atrichia.html" class="gnb__depth2-link">무모증&amp;빈모증</a>
									</li>
								</ul>
							</div>
							<div class="gnb__box type-img">
								<img src="../../images/common/gnb/gnb_img_4.jpg" alt="스페셜 모델" class="img-w100">
							</div>
						</div>
					</div>
					<div class="gnb__container gnb-introduce">
						<div class="gnb__container-wrap">
							<div class="gnb__box type-txt">
								<p class="gnb__depth2-tit">바노바기</p>
								<ul class="gnb__depth2-list">
									<li class="gnb__depth2-item">
										<a href="../introduce/introduce_detail.html" class="gnb__depth2-link">모발이식 디테일</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../introduce/introduce_various.html" class="gnb__depth2-link">절개/비절개/로봇 모발이식</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../introduce/introduce_knowledge.html" class="gnb__depth2-link">수술전후 주의사항</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../introduce/introduce_medical.html" class="gnb__depth2-link">의료진소개</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../introduce/introduce_tour.html" class="gnb__depth2-link">둘러보기</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../introduce/introduce_location.html" class="gnb__depth2-link">진료안내/오시는길</a>
									</li>
									<li class="gnb__depth2-item">
										<a href="../introduce/event_list1.html" class="gnb__depth2-link">이벤트</a>
									</li>
								</ul>
							</div>
							<div class="gnb__box type-img">
								<img src="../../images/common/gnb/gnb_img_8.jpg" alt="여성모발이식 모델" class="img-w100">
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="m-gnb">
			<div class="m-gnb__wrap">
				<div class="m-gnb__head">
					<ul class="m-gnb__head-list">
						<li class="m-gnb__head-item page-woman is-active">
							<a href="" class="m-gnb__head-link js-link"><span class="inline-block">여성</span><span class="inline-block">모발이식</span></a>
						</li>
						<li class="m-gnb__head-item page-man">
							<a href="" class="m-gnb__head-link js-link"><span class="inline-block">남성</span><span class="inline-block">모발이식</span></a>
						</li>
						<li class="m-gnb__head-item page-robot">
							<a href="" class="m-gnb__head-link js-link"><span class="inline-block">로봇</span><span class="inline-block">모발이식</span></a>
						</li>
						<li class="m-gnb__head-item page-special">
							<a href="" class="m-gnb__head-link js-link"><span class="inline-block">스페셜</span>이식</a>
						</li>
						<li class="m-gnb__head-item page-reoperation">
							<a href="../reoperation/reoperation_clinic.html" class="m-gnb__head-link js-link"><span class="inline-block">모발이식</span><span class="inline-block">재수술</span></a>
						</li>
						<li class="m-gnb__head-item page-svf">
							<a href="" class="m-gnb__head-link js-link">줄기세포</a>
						</li>
						<li class="m-gnb__head-item page-care">
							<a href="" class="m-gnb__head-link js-link">탈모케어</a>
						</li>
						<li class="m-gnb__head-item page-introduce">
							<a href="" class="m-gnb__head-link js-link">바노바기</a>
						</li>
						<li class="m-gnb__head-item type-event">
							<a href="" class="m-gnb__head-link js-link">추천이벤트</a>
						</li>
					</ul>
				</div>
				<div class="m-gnb__depth1">
					<ul class="m-gnb__depth1-list">
						<li class="m-gnb__depth1-item type-depth2" data-depth="2">
							<a href="" class="m-gnb__depth1-link js-head">여성모발이식</a>
							<ul class="m-gnb__depth2-list">
								<li class="m-gnb__depth2-item">
									<a href="../woman/woman_reduction.html" class="m-gnb__depth2-link">여성 헤어라인 성형</a>
								</li>
								<li class="m-gnb__depth2-item is-active">
									<a href="../woman/woman_reduction.html" class="m-gnb__depth2-link">이마 축소</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../woman/woman_alopecia.html" class="m-gnb__depth2-link">여성 탈모 모발이식</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../woman/woman_charm.html" class="m-gnb__depth2-link">애교나룻&amp;측면 미세이식</a>
								</li>
							</ul>
						</li>
						<li class="m-gnb__depth1-item type-depth2" data-depth="2">
							<a href="" class="m-gnb__depth1-link js-head">남성모발이식</a>
							<ul class="m-gnb__depth2-list">
								<li class="m-gnb__depth2-item">
									<a href="../man/man_alopecia.html" class="m-gnb__depth2-link">남성 탈모 모발이식</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../man/man_line.html" class="m-gnb__depth2-link">남성 헤어라인 성형</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../man/man_head.html" class="m-gnb__depth2-link">정수리 볼륨업</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../man/man_beard.html" class="m-gnb__depth2-link">구레나룻&amp;수염이식</a>
								</li>
							</ul>
						</li>
						<li class="m-gnb__depth1-item is-active" data-depth="1">
							<a href="../robot/robot_artas.html" class="m-gnb__depth1-link js-head">로봇모발이식</a>
						</li>
						<li class="m-gnb__depth1-item type-depth2" data-depth="2">
							<a href="" class="m-gnb__depth1-link js-head">스페셜이식</a>
							<ul class="m-gnb__depth2-list">
								<li class="m-gnb__depth2-item">
									<a href="../special/special_eyebrows.html" class="m-gnb__depth2-link">눈썹이식</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../special/special_scar.html" class="m-gnb__depth2-link">흉터모발이식</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../special/special_atrichia.html" class="m-gnb__depth2-link">무모증</a>
								</li>
							</ul>
						</li>
						<li class="m-gnb__depth1-item" data-depth="1">
							<a href="../reoperation/reoperation_clinic.html" class="m-gnb__depth1-link js-head">모발이식재수술</a>
						</li>
						<li class="m-gnb__depth1-item type-depth2" data-depth="2">
							<a href="" class="m-gnb__depth1-link js-head">줄기세포</a>
							<ul class="m-gnb__depth2-list">
								<li class="m-gnb__depth2-item">
									<a href="../svf/svf_detail.html" class="m-gnb__depth2-link">바노바기의 줄기세포</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../svf/svf_treatment.html" class="m-gnb__depth2-link">줄기세포 탈모치료</a>
								</li>
							</ul>
						</li>
						<li class="m-gnb__depth1-item" data-depth="1">
							<a href="../care/care_haircare.html	" class="m-gnb__depth1-link js-head">탈모케어</a>
						</li>
						<li class="m-gnb__depth1-item type-depth2" data-depth="2">
							<a href="" class="m-gnb__depth1-link js-head">바노바기</a>
							<ul class="m-gnb__depth2-list">
								<li class="m-gnb__depth2-item">
									<a href="../introduce/introduce_detail.html" class="m-gnb__depth2-link">모발이식 디테일</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../introduce/introduce_various.html" class="m-gnb__depth2-link">절개/비절개/로봇 모발이식</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../introduce/introduce_knowledge.html" class="m-gnb__depth2-link">수술전후 주의사항</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../introduce/introduce_medical.html" class="m-gnb__depth2-link">의료진소개</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../introduce/introduce_tour.html" class="m-gnb__depth2-link">둘러보기</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="../introduce/introduce_location.html" class="m-gnb__depth2-link">진료안내/오시는길</a>
								</li>
								<li class="m-gnb__depth2-item">
									<a href="" class="m-gnb__depth2-link">이벤트</a>
								</li>
							</ul>
						</li>
					</ul>
					<div class="m-gnb__event js-head">
						<div class="footer-event type-gnb">
							<h3 class="footer-event__subject type-black tit-s">나에게 맞는 이벤트</h3>
							<ul class="footer-event__list">
								<li class="footer-event__item">
									<div class="footer-event__box">
										<h4 class="footer-event__tit txt-l">모발이식 절개 3000모</h4>
										<p class="footer-event__txt txt-s">최대한 자연스럽게, 그리고 정교하게!</p>
										<p class="footer-event__price">
											<span class="footer-event__before txt-s">3,300,000</span>
											<span class="footer-event__after txt-l">3,000,000</span>
										</p>
										<a href="" class="footer-event__link">go</a>
									</div>
								</li>
								<li class="footer-event__item">
									<div class="footer-event__box">
										<h4 class="footer-event__tit txt-l">모발이식 절개 3000모</h4>
										<p class="footer-event__txt txt-s">최대한 자연스럽게, 그리고 정교하게!</p>
										<p class="footer-event__price">
											<span class="footer-event__before txt-s">3,300,000</span>
											<span class="footer-event__after txt-l">3,000,000</span>
										</p>
										<a href="" class="footer-event__link">go</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="footer-visit type-gnb">
							<h3 class="footer-visit__subject tit-s">내가 방문한 페이지</h3>
							<ul class="footer-visit__list">
								<li class="footer-visit__item txt-r">
									<a href="" class="footer-visit__link"><span class="footer-visit__txt">여성 모발이식</span><span class="footer-visit__txt">여성 헤어라인 성형</span></a>
								</li>
								<li class="footer-visit__item txt-r">
									<a href="" class="footer-visit__link"><span class="footer-visit__txt">여성 모발이식</span><span class="footer-visit__txt">여성 헤어라인 성형</span></a>
								</li>
								<li class="footer-visit__item txt-r">
									<a href="" class="footer-visit__link"><span class="footer-visit__txt">여성 모발이식</span><span class="footer-visit__txt">여성 헤어라인 성형</span></a>
								</li>
								<li class="footer-visit__item txt-r">
									<a href="" class="footer-visit__link"><span class="footer-visit__txt">여성 모발이식</span><span class="footer-visit__txt">여성 헤어라인 성형</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- section시작 -->
