<!--popup시작 -->
<div class="popup-c type-common" data-type="common">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close">닫기</a>
		<div class="popup-tab">
			<ul class="popup-tab__list">
				<li class="popup-tab__item katalk"><a href="#" class="popup-tab__link" data-tab="katalk"><span class="popup-tab__wrap">카톡상담</span></a></li>
				<li class="popup-tab__item live"><a href="#" class="popup-tab__link" data-tab="live"><span class="popup-tab__wrap">실시간상담</span></a></li>
				<li class="popup-tab__item is-active cost"><a href="#" class="popup-tab__link" data-tab="cost"><span class="popup-tab__wrap">비용상담</span></a></li>
			</ul>
		</div>
		<div class="popup-c__scroll">
			<div class="popup-c__box js-popup-h">
				<div class="popup-content katalk">
					<h2 class="popup-content__tit2">상담 부위를 선택해 주세요. <strong class="weight-medium">바노바기 모발이식클리닉 전문 상담원</strong>이 친절히 상담을 도와드립니다.</h2>
					<form id="#katalkForm">
						<ul class="img-check__list">
							<li class="img-check__item nth-1">
								<input type="checkbox" name="s1" id="katalk_check_01" class="checkbox-img is-required">
								<label for="katalk_check_01">헤어라인<br> 성형</label>
							</li>
							<li class="img-check__item nth-2">
								<input type="checkbox" name="s1" id="katalk_check_02" class="checkbox-img is-required">
								<label for="katalk_check_02">탈모<br> 모발이식</label>
							</li>
							<li class="img-check__item nth-3">
								<input type="checkbox" name="s1" id="katalk_check_03" class="checkbox-img is-required">
								<label for="katalk_check_03">구레나룻&amp;<br> 수염이식</label>
							</li>
							<li class="img-check__item nth-4">
								<input type="checkbox" name="s1" id="katalk_check_04" class="checkbox-img is-required">
								<label for="katalk_check_04">눈썹이식</label>
							</li>
							<li class="img-check__item nth-5">
								<input type="checkbox" name="s1" id="katalk_check_05" class="checkbox-img is-required">
								<label for="katalk_check_05">흉터<br> 모발이식</label>
							</li>
							<li class="img-check__item nth-6">
								<input type="checkbox" name="s1" id="katalk_check_06" class="checkbox-img is-required">
								<label for="katalk_check_06">무모증&amp;<br>빈모증</label>
							</li>
							<li class="img-check__item nth-7">
								<input type="checkbox" name="s1" id="katalk_check_07" class="checkbox-img is-required">
								<label for="katalk_check_07">탈모치료&amp;<br>두피케어</label>
							</li>
						</ul>
						<div class="popup-content__wrap">
							<div class="popup-content__box">
								<div class="input1__box">
									<input type="text" placeholder="이름을 입력하세요" class="popup-input1">
								</div>
								<div class="input1__box">
									<input type="tel" placeholder="연락처를 입력하세요" class="popup-input1">
								</div>
								<!-- //select -->
							</div>
							<div class="popup-content__box">
								<textarea placeholder="상담내용을 입력하세요" required="" class="popup-textarea"></textarea>
							</div>
							<div class="popup-content__box">
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree1" id="chkAgree1" class="checkbox02"><label for="chkAgree1">개인정보 수집 및 이용 동의(필수)</label>
									<a href="" class="popup-content__btn2 is-view js-terms-open">[자세히 보기]</a>
								</div>
							</div>
							<div class="popup-content__box type-right">
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree2" id="chkAgree2" class="checkbox02"><label for="chkAgree2">마케팅 및 광고 활용 동의(선택)</label>
								</div>
							</div>
						</div>
						<div class="popup-c__info">
							<div class="popup-content__wrap">
								<div class="popup-content__box">
									<dl class="popup-c__dl">
										<dt class="popup-c__dt">전화</dt>
										<dd class="popup-c__dd color-point2">1588-6508, 02-562-6001</dd>
									</dl>
									<dl class="popup-c__dl">
										<dt class="popup-c__dt">진료시간</dt>
										<dd class="popup-c__dd">
											평일 <span class="weight-light">09:30~18:30</span>,토요일 <span class="weight-light">09:30~16:00</span>
										</dd>
									</dl>
									<p class="popup-c__noti">
										※ 진료시간은 변동 가능성이 있으니, 문의 바랍니다.
									</p>
									<p class="popup-c__noti">
										※ 일요일 및 공휴일은 휴진입니다.
									</p>
								</div>
								<div class="popup-content__box">
									<button type="submit" class="popup-content__btn">상담신청</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="popup-content live">
					<form id="#liveForm">
						<!--실시간 상담 off -->
						<div class="popup-content__wrap">
							<div class="popup-content__box">
								<div class="popup-live">
									<h4 class="popup-live__tit">
										지금은<br>
										<strong class="weight-medium">실시간상담 시간이<br class="hidden-tm">
										아닙니다.</strong>
									</h4>
									<p class="popup-live__info">실시간상담 업무시간 10:00 ~ 16:00</p>
									<p class="popup-live__txt">※ 전화상담/카톡상담/비용상담을 이용해주세요!</p>
								</div>
							</div>
							<div class="popup-content__box hidden-tm">
								<img src="../../images/common/consultaion/live_img.jpg" class="img-w100" alt="">
							</div>
						</div>
						<div class="popup-c__info">
							<div class="popup-content__wrap">
								<div class="popup-content__box">
									<dl class="popup-c__dl">
										<dt class="popup-c__dt">전화</dt>
										<dd class="popup-c__dd color-point2">1588-6508, 02-562-6001</dd>
									</dl>
									<dl class="popup-c__dl">
										<dt class="popup-c__dt">진료시간</dt>
										<dd class="popup-c__dd">
											평일 <span class="weight-light">09:30~18:30</span>,토요일 <span class="weight-light">09:30~16:00</span>
										</dd>
									</dl>
									<p class="popup-c__noti">
										※ 진료시간은 변동 가능성이 있으니, 문의 바랍니다.
									</p>
									<p class="popup-c__noti">
										※ 일요일 및 공휴일은 휴진입니다.
									</p>
								</div>
								<div class="popup-content__box">
									<button type="submit" class="popup-content__btn type-disabled" disabled>상담하러가기</button>
								</div>
							</div>
						</div>
						<!--//실시간 상담 off -->
						<!--실시간 상담 on -->
						<!-- <div class="popup-content__wrap">
							<div class="popup-content__box">
								<div class="popup-live">
									<p class="popup-live__txt2">언제, 어디서나 빠르고 간편하게!<br> 실시간으로 1:1 상담을 하실 수 있습니다.</p>
									<h4 class="popup-live__tit type-active">
										고객님,<br>
										<strong class="weight-medium">무엇을 도와드릴까요?</strong><br>
									</h4>
								</div>
							</div>
							<div class="popup-content__box hidden-tm">
								<img src="../../images/common/consultaion/live_img.jpg" class="img-w100" alt="">
							</div>
						</div>
						<div class="popup-c__info">
							<div class="popup-content__wrap">
								<div class="popup-content__box">
									<dl class="popup-c__dl">
										<dt class="popup-c__dt">전화</dt>
										<dd class="popup-c__dd color-point2">1588-6508, 02-562-6001</dd>
									</dl>
									<dl class="popup-c__dl">
										<dt class="popup-c__dt">진료시간</dt>
										<dd class="popup-c__dd">
											평일 <span class="weight-light">09:30~18:30</span>,토요일 <span class="weight-light">09:30~16:00</span>
										</dd>
									</dl>
								</div>
								<div class="popup-content__box type-btn">
									<button type="submit" class="popup-content__btn">상담하러가기</button>
								</div>
							</div>
						</div> -->
						<!--//실시간 상담 on -->
					</form>
				</div>
				<div class="popup-content is-active cost">
					<h2 class="popup-content__tit2">상담 부위를 선택해 주세요. <strong class="weight-medium">바노바기 모발이식클리닉 전문 상담원</strong>이 친절히 상담을 도와드립니다.</h2>
					<form id="#costForm">
						<ul class="img-check__list">
							<li class="img-check__item nth-1">
								<input type="checkbox" name="s1" id="cost_check_01" class="checkbox-img is-required">
								<label for="cost_check_01">헤어라인<br> 성형</label>
							</li>
							<li class="img-check__item nth-2">
								<input type="checkbox" name="s1" id="cost_check_02" class="checkbox-img is-required">
								<label for="cost_check_02">탈모<br> 모발이식</label>
							</li>
							<li class="img-check__item nth-3">
								<input type="checkbox" name="s1" id="cost_check_03" class="checkbox-img is-required">
								<label for="cost_check_03">구레나룻&amp;<br> 수염이식</label>
							</li>
							<li class="img-check__item nth-4">
								<input type="checkbox" name="s1" id="cost_check_04" class="checkbox-img is-required">
								<label for="cost_check_04">눈썹이식</label>
							</li>
							<li class="img-check__item nth-5">
								<input type="checkbox" name="s1" id="cost_check_05" class="checkbox-img is-required">
								<label for="cost_check_05">흉터<br> 모발이식</label>
							</li>
							<li class="img-check__item nth-6">
								<input type="checkbox" name="s1" id="cost_check_06" class="checkbox-img is-required">
								<label for="cost_check_06">무모증&amp;<br>빈모증</label>
							</li>
							<li class="img-check__item nth-7">
								<input type="checkbox" name="s1" id="cost_check_07" class="checkbox-img is-required">
								<label for="cost_check_07">탈모치료&amp;<br>두피케어</label>
							</li>
						</ul>
						<div class="popup-content__wrap">
							<div class="popup-content__box">
								<div class="input1__box">
									<input type="text" placeholder="이름을 입력하세요" class="popup-input1 is-required">
								</div>
								<div class="input1__box">
									<input type="tel" placeholder="연락처를 입력하세요" class="popup-input1">
								</div>
								<div class="popup-select is-required">
									<a href="#" class="popup-select__tit">상담시간</a>
									<div class="popup-select__box">
										<p class="popup-select2__subject type-another">상담시간</p>
										<ul class="popup-select__list">
											<li class="popup-select2">
												<h4 class="popup-select2__tit">오전</h4>
												<ul class="popup-select2__list">
													<li class="popup-select__item"><span class="popup-c__number">09:00 ~ 10:00</span></li>
													<li class="popup-select__item"><span class="popup-c__number">10:00 ~ 11:00</span></li>
												</ul>
											</li>
											<li class="popup-select2">
												<h4 class="popup-select2__tit">오후</h4>
												<ul class="popup-select2__list">
													<li class="popup-select__item"><span class="popup-c__number">09:00 ~ 10:00</span></li>
													<li class="popup-select__item"><span class="popup-c__number">10:00 ~ 11:00</span></li>
													<li class="popup-select__item"><span class="popup-c__number">09:00 ~ 10:00</span></li>
													<li class="popup-select__item"><span class="popup-c__number">10:00 ~ 11:00</span></li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
								<!-- //select -->
							</div>
							<div class="popup-content__box">
								<textarea placeholder="상담내용을 입력하세요" required="" class="popup-textarea type-another"></textarea>
							</div>
							<div class="popup-content__box type-check">
								<div class="popup-content__check">
									<input type="checkbox" name="costAgree1" id="costAgree1" class="checkbox02"><label for="costAgree1">개인정보 수집 및 이용 동의(필수)</label>
									<a href="" class="popup-content__btn2 is-view js-terms-open">[자세히 보기]</a>
								</div>
							</div>
							<div class="popup-content__box type-check">
								<div class="popup-content__check">
									<input type="checkbox" name="costAgree2" id="costAgree2" class="checkbox02"><label for="costAgree2">마케팅 및 광고 활용 동의(선택)</label>
								</div>
							</div>
						</div>
						<div class="popup-c__info">
							<div class="popup-content__wrap">
								<div class="popup-content__box">
									<dl class="popup-c__dl">
										<dt class="popup-c__dt">전화</dt>
										<dd class="popup-c__dd color-point2">1588-6508, 02-562-6001</dd>
									</dl>
									<dl class="popup-c__dl">
										<dt class="popup-c__dt">진료시간</dt>
										<dd class="popup-c__dd">
											평일 <span class="weight-light">09:30~18:30</span>, 토요일 <span class="weight-light">09:30~16:00</span>
										</dd>
									</dl>
									<p class="popup-c__noti">
										※ 진료시간은 변동 가능성이 있으니, 문의 바랍니다.
									</p>
									<p class="popup-c__noti">
										※ 일요일 및 공휴일은 휴진입니다.
									</p>
								</div>
								<div class="popup-content__box type-btn">
									<button type="submit" class="popup-content__btn">상담신청</button>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="popup-c__terms">
					<div class="terms-c">
						<div class="terms-c__wrap">
							<button class="terms-c__btn js-terms-close">개인정보닫기</button>
							<div class="terms-c__box">
								<h3 class="terms-c__tit">개인정보 수집 및 이용 동의(필수)</h3>
								<div class="terms-c__area">
									<div class="terms-c__scroll">
										<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
										<br>
										<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
									</div>
								</div>
							</div>
							<div class="terms-c__box">
								<h3 class="terms-c__tit">마케팅 광고 활용 동의(선택)</h3>
								<div class="terms-c__area">
									<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
									<br>
									<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
								</div>
							</div>
							<div class="terms-c__box">
								<h3 class="terms-c__tit">마케팅 광고 활용 동의(선택)</h3>
									<div class="terms-c__area">
										개인정보 수집 및 이용 목적<br>
										'바노바기성형외과의원’은 “개인정보보호법”에 따라 수집한 개인정보를 홍보 및 마케팅 목적을 위해 활용합니다.<br>
										이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.<br><br><br>

										[마케팅 광고 활용]<br>
										-SMS를 통한 이벤트 참여 기회 제공: 이벤트 및 광고성 정보 제공과 참여 기회 제공<br>
										-맞춤형 광고 제공: 사용자 행태 분석을 통한 맞춤형 광고 제공<br><br><br>

										수집하려는 개인정보의 항목<br>
										-SMS를 통한 이벤트 참여 기회 제공: 이름, 연락처, 나이, 성별, 지역<br>
										-맞춤형 광고 제공: 사용자 접속기록, 열어본 페이지 목록<br>
										-서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다. <br>
										: 서비스 이용기록, 접속로그, 쿠키, 접속 IP 정보<br><br><br>

										개인정보 보유와 이용기간<br>
										본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다. 또한, 회원이 삭제 요청을 하는 경우 즉시 삭제 조치합니다. <br>
										-SMS를 통한 이벤트 참여 기회 제공: 수집일로부터 6개월까지<br>
										-사용자 행태 분석을 통한 맞춤형 광고 제공: 수집일로부터 3개월까지<br><br>

										동의를 거부할 권리가 있다는 사실과 동의 거부에 따른 불이익 내용<br>
										회원은 ”바노바기성형외과의원 상담신청"에서 수집하는 마케팅 광고 활용개인정보에 대해 동의를 거부할 권리가 있으며 동의 거부 시에는 해당 서비스가 제한됩니다. <br>
									</div>
							</div>
						</div>
					</div><!--//terms-c-->
				</div><!-- //popup-c__terms-->
			</div>
		</div>
	</div>
</div>
<!--//popup끝-->


<!--popup시작 -->
<div class="popup-c type-event" data-type="event">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close">닫기</a>
		<div class="popup-c__scroll">
			<div class="popup-c__box">
				<div class="popup-c__header">
					<h2 class="popup-c__subject">
						<span class="popup-c__point">상담신청</span>
						바노바기 모발이식클리닉 전문 상담원이 친절히 상담을 도와드립니다.
					</h2>
				</div>

				<div class="popup-c__area js-popup-h">
					<div class="popup-content type-event is-active cost">
						<form id="#eventForm">
							<div class="popup-content__wrap">
								<div class="popup-content__box type-full">
									<div class="input1__box">
										<input type="text" placeholder="이름을 입력하세요" class="popup-input1 is-required">
									</div>
									<div class="input1__box">
										<input type="tel" placeholder="연락처를 입력하세요" class="popup-input1">
									</div>
									<div class="popup-select is-required" data-style="multi">
										<a href="#" class="popup-select__tit js-multi">이벤트항목을 선택하세요</a>
										<div class="popup-select__box">
											<p class="popup-select2__subject type-multi">[최대 3개까지 선택가능]</p>
											<ul class="popup-select__list">
												<li class="popup-select2">
													<ul class="popup-select2__list">
														<li class="popup-select__item" id="event_1"><span class="popup-c__number">남성들만의 탈모이식 1000모</span></li>
														<li class="popup-select__item" id="event_2"><span class="popup-c__number">여성들만의 헤어라인 성형 500모</span></li>
														<li class="popup-select__item" id="event_3"><span class="popup-c__number">남성들만의 탈모이식 1000모</span></li>
														<li class="popup-select__item" id="event_4"><span class="popup-c__number">남성들만의 탈모이식 1000모</span></li>
													</ul>
												</li>
											</ul>
										</div>
									</div>
									<ul class="popup-check">

									</ul>
									<!-- //select -->
								</div>
								<div class="popup-content__box">
									<div class="popup-content__check">
										<input type="checkbox" name="chkAgree3" id="chkAgree3" class="checkbox02"><label for="chkAgree3">개인정보 수집 및 이용 동의(필수)</label>
										<a href="" class="popup-content__btn2 is-view js-terms-open">[자세히 보기]</a>
									</div>
								</div>
								<div class="popup-content__box type-right">
									<div class="popup-content__check">
										<input type="checkbox" name="chkAgree4" id="chkAgree4" class="checkbox02"><label for="chkAgree4">마케팅 및 광고 활용 동의(선택)</label>
									</div>
								</div>
								<div class="popup-content__box type-btn">
									<button type="submit" class="popup-content__btn type-tel">전화상담</button>
								</div>
								<div class="popup-content__box type-btn">
									<button type="submit" class="popup-content__btn">카톡상담</button>
								</div>
							</div>
							<div class="popup-c__info">
								<div class="popup-content__wrap">
									<div class="popup-content__box type-full">
										<dl class="popup-c__dl">
											<dt class="popup-c__dt">전화</dt>
											<dd class="popup-c__dd color-point2">1588-6508, 02-562-6001</dd>
										</dl>
										<dl class="popup-c__dl">
											<dt class="popup-c__dt">진료시간</dt>
											<dd class="popup-c__dd">
												평일 <span class="weight-light">09:30~18:30</span>, 토요일 <span class="weight-light">09:30~16:00</span>
											</dd>
										</dl>
										<p class="popup-c__noti">
											※ 진료시간은 변동 가능성이 있으니, 문의 바랍니다.
										</p>
										<p class="popup-c__noti">
											※ 일요일 및 공휴일은 휴진입니다.
										</p>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="popup-c__terms">
						<div class="terms-c type-event">
							<div class="terms-c__wrap">
								<button class="terms-c__btn js-terms-close">개인정보닫기</button>
								<div class="terms-c__box">
									<h3 class="terms-c__tit">개인정보 수집 및 이용 동의(필수)</h3>
									<div class="terms-c__area">
										<div class="terms-c__scroll">
											<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
											<br>
											<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
										</div>
									</div>
								</div>
								<div class="terms-c__box">
									<h3 class="terms-c__tit">마케팅 광고 활용 동의(선택)</h3>
									<div class="terms-c__area">
										<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
										<br>
										<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
									</div>
								</div>
							</div>
						</div><!--//terms-c-->
					</div><!-- //popup-c__terms-->
				</div>


			</div>
		</div>
	</div>
</div>
<!--//popup끝-->
