<%
	type = "content"
	page = "care"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">탈모케어</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">탈모치료&amp;두피관리</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-care">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-haircare" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-haircare type-care">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__subtit txt-l">한올한올 소중하게</p>
												<h3 class="visual__tit tit-l">탈모<span class="color-care1">치료</span>&<br classs="hidden-pt">두피<span class="color-care1">관리</span></h3>
												<p class="visual__hash color-care1 txt-r"><span class="visual__span">#탈모유형분석</span> <span class="visual__span">#체계적인치료</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">시술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">시술시간</h5>
											<p class="visual__txt txt-r">1시간 내외</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">마취 불필요</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일 시술 후 귀가</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일 시술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content-box type-wide js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											탈모 인구 1000만!<br>
											<strong class="color-care1">남녀노소를 따지지 않습니다.</strong>
										</h4>
										<p class="content__txt2 txt-r">
											급증하는 탈모로 인해 탈모의 연령은 점차 낮아지고, 여성의 비중이 점차
											늘어나고 있습니다. <strong class="color-black1">탈모 유형에 따른 탈모치료와 두피관리를 통해 탈모를
											늦추거나 개선이 가능</strong>합니다.
										</p>
										<p class="content__txt txt-l">
											탈모 증상이 비슷해도 원인이 다르기때문에 체계적인 검사와
											정확한 원인 분석이 필요합니다. <strong class="color-care1">탈모 원인, 탈모 유형에 따른
											1:1 맞춤 치료를 통해</strong> 탈모를 보다 근본적으로 개선하고, 건강한
											발모를 촉진하는 것이 중요합니다.
										</p>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
						<div class="content-bottom type-manalopecia2 section-left js-scroll-motion">
							<div class="flex-bottom">
								<div class="flex-bottom__wrap">
									<img src="../../images/care/haircare/haircare_img_1.jpg" class="hidden-tm" alt="">
									<img src="../../images/care/haircare/haircare_img_1_t.jpg" class="hidden-pm img-w100" alt="">
									<img src="../../images/care/haircare/haircare_img_1_m.jpg" class="hidden-pt img-w100" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll type-care js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-care">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											<strong class="color-care1">다양한 유형에 따른</strong> 맞춤 탈모치료&amp;두피관리
										</h4>
										<p class="content__txt txt-l">
											<strong class="color-care1">탈모 증상은 여러가지 유형으로 나타나며, 굵은 모발이 점차 가늘어지고 약해지다가<br class="hidden-tm">
											결국 빠지는 형태</strong>가 됩니다. 머리카락이 하루 평균 100개 이상 빠질 경우 탈모를 의심할 수 있으며,<br class="hidden-tm">
											발생률이 높아 예방과 치료가 필요합니다.
										</p>
										<div class="pick-scroll__area">
											<ul class="pick-scroll__list js-pick-slide">
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/care/haircare/haircare_pick_1.jpg" class="img-w100" alt="1/6 탈모 가족력이 있는 경우"/>
														<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/6</span></span> 탈모 가족력이 있는 경우</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/care/haircare/haircare_pick_2.jpg" class="img-w100" alt="2/6 모발이 점점 가늘어지는 경우"/>
														<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/6</span></span> 모발이 점점 가늘어지는 경우</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/care/haircare/haircare_pick_3.jpg" class="img-w100" alt="3/6 출산, 갱년기 등으로 모발이 약해지고 많이 빠진 경우 "/>
														<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/6</span></span> 출산, 갱년기 등으로 모발이 약해지고 많이 빠진 경우 </p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/care/haircare/haircare_pick_4.jpg" class="img-w100" alt="4/6 원형탈모가 급속하게 진행되는 경우"/>
														<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/6</span></span> 원형탈모가 급속하게 진행되는 경우</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/care/haircare/haircare_pick_5.jpg" class="img-w100" alt="5/6 모발이식이나 헤어라인 성형을 한 경우"/>
														<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">5</span><span class="pick-scroll__total txt-s">/6</span></span> 모발이식이나 헤어라인 성형을 한 경우</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/care/haircare/haircare_pick_6.jpg" class="img-w100" alt="6/6 두피가 예민하고 두피 질환이 있는 경우"/>
														<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">6</span><span class="pick-scroll__total txt-s">/6</span></span> 두피가 예민하고 두피 질환이 있는 경우</p>
													</div>
												</li>
											</ul>
											<a href="" class="pick-scroll__btn type-prev js-pick-prev">prev</a>
											<a href="" class="pick-scroll__btn type-next js-pick-next">next</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->
			<div class="horizontal-section content-section4" data-page="key point">
				<div class="content__area">
					<div class="content-key type-care js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-inner">
										<h4 class="content__tit tit-r">
											탈모 개선을 위한  <strong class="color-care1 inline-block">핵심 포인트</strong>
										</h4>
										<p class="content__line type-care">KEY POINT</p>
										<p class="content__txt2 txt-r">
											탈모는 정상적인 모발 생장 주기를 따르지 않고 성장기가
											짧아지고 휴지기가 길어지면서 <strong class="color-black1">모발이 얇아지고 빠지게 됩니다.</strong>
										</p>
										<p class="content__txt txt-l">
											또한 남녀에 따라 탈모 증상이 달라지기때문에
											<strong class="color-care1">탈모의 근본 원인 분석부터 탈모치료, 두피 유지
											관리까지 디테일하고 꾸준하게 진행</strong>해야 탈모가
											빠르게 개선 되고, 오래 유지할 수 있습니다.
										</p>
									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-bottom type-care section-left js-scroll-motion">
						<div class="flex-bottom">
							<div class="flex-bottom__wrap">
								<img src="../../images/care/haircare/haircare_bg_1.jpg" class="hidden-tm" alt="전체 얼굴 길이 1/3의 이마와 헤어라인 황금비율">
								<img src="../../images/care/haircare/haircare_bg_1_m.jpg" class="hidden-p img-w70-t" alt="전체 얼굴 길이 1/3의 이마와 헤어라인 황금비율">
							</div>
						</div>
						<div class="content-box type-layer type-care">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<ul class="content-box__list">
											<li class="content-box__item nth-1">
												<div class="content-box__box">
													<div class="content-box__num txt-s">탈모 원인 파악</div>
												</div>
												<p class="content-box__txt txt-s">
													두피 진단기로 면밀하게 파악<br>
													- 탈모 진행/두피 건강 상태<br>
													- 모발 밀도/굵기/손상도<br>
													- 모공 상태
												</p>
											</li>
											<li class="content-box__item nth-2">
												<div class="content-box__box">
													<div class="content-box__num txt-s">1:1 집중케어</div>
												</div>
												<p class="content-box__txt txt-s">
													탈모 유형에 따른 맞춤 프로그램으로
													모발이 자라날 수 있도록 비정상적인 두피
													기능 개선
												</p>
											</li>
											<li class="content-box__item nth-3">
												<div class="content-box__box">
													<div class="content-box__num txt-s">발모 촉진</div>
												</div>
												<p class="content-box__txt txt-s">
													두피 상태 개선 후 모낭과 모발의 영양을 주어 건강한 모의 발모 촉진
												</p>
											</li>
											<li class="content-box__item nth-4">
												<div class="content-box__box">
													<div class="content-box__num txt-s">두피 관리 유지</div>
												</div>
												<p class="content-box__txt txt-s">
													건성 두피, 지성 두피, 문제성 두피 등
													유형에 맞는 두피 및 탈모케어 제품 사용과
													꾸준한 홈케어를 통해 두피 건강 유지
												</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->
			<div class="horizontal-section content-section5" data-page="how">
				<div class="pick-scroll type-care js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-care">HOW</p>
										<h4 class="content__tit tit-r">
											<strong class="color-care1">탈모 기본 관리부터 수술 후 생착 프로그램까지</strong><br>
											모두 가능한 바노바기
										</h4>
										<div class="tab-v1 type-care">
											<ul class="tab-v1__list">
												<li class="tab-v1__item is-active txt-r">
													<a href="page-basic" class="tab-v1__link">BASIC</a>
												</li>
												<li class="tab-v1__item txt-r">
													<a href="page-intensive" class="tab-v1__link">INTENSIVE</a>
												</li>
												<li class="tab-v1__item txt-r">
													<a href="page-therapy" class="tab-v1__link">메조테라피</a>
												</li>
											</ul>
										</div>
										<div class="tab-v1__content is-active page-basic">
											<div class="pick-scroll__area type-inner">
												<p class="pick-scroll__caption txt-l"><strong class="color-care1">Basic 프로그램</strong> 탈모 예방, 모근 강화, 모발 재생 촉진</p>
												<ul class="pick-scroll__list js-how1-slide">
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_1_1.jpg" class="img-w100" alt="1/8 스티머"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/8</span></span> 스티머</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_1_2.jpg" class="img-w100" alt="2/8 스켈링"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/8</span></span> 스켈링</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_1_3.jpg" class="img-w100" alt="3/8 에어브러쉬"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/8</span></span> 에어브러쉬</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_1_4.jpg" class="img-w100" alt="4/8 샴푸 + 탄산수케어"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/8</span></span> 샴푸 + 탄산수케어</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_1_5.jpg" class="img-w100" alt="5/8 트리트먼트 + 마사지"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">5</span><span class="pick-scroll__total txt-s">/8</span></span> 트리트먼트 + 마사지</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_1_6.jpg" class="img-w100" alt="6/8 영양세럼침투 (에어브러쉬)"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">6</span><span class="pick-scroll__total txt-s">/8</span></span> 영양세럼침투 (에어브러쉬)</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_1_7.jpg" class="img-w100" alt="7/8 바이오라이트"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">7</span><span class="pick-scroll__total txt-s">/8</span></span> 바이오라이트</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_1_8.jpg" class="img-w100" alt="8/8 건조 (본인)"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">8</span><span class="pick-scroll__total txt-s">/8</span></span> 건조 (본인)</p>
														</div>
													</li>
												</ul>
												<a href="" class="pick-scroll__btn type-prev js-how1-prev">prev</a>
												<a href="" class="pick-scroll__btn type-next js-how1-next">next</a>
											</div>
										</div>
										<div class="tab-v1__content page-intensive">
											<div class="pick-scroll__area type-inner">
												<p class="pick-scroll__caption txt-l"><strong class="color-care1">Intensive 프로그램</strong> 탈모 집중 관리, 두피 강화, 모발 재생 촉진</p>
												<ul class="pick-scroll__list js-how2-slide">
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_2_1.jpg" class="img-w100" alt="1/8 스티머"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/8</span></span> 스티머</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_2_2.jpg" class="img-w100" alt="2/8 스켈링"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/8</span></span> 스켈링</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_2_3.jpg" class="img-w100" alt="3/8 에어브러쉬"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/8</span></span> 에어브러쉬</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_2_4.jpg" class="img-w100" alt="4/8 샴푸 + 탄산수케어"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/8</span></span> 샴푸 + 탄산수케어</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_2_5.jpg" class="img-w100" alt="5/8 트리트먼트 + 마사지"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">5</span><span class="pick-scroll__total txt-s">/8</span></span> 트리트먼트 + 마사지</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_2_6.jpg" class="img-w100" alt="6/8 영양세럼침투 (갈바닉)"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">6 </span><span class="pick-scroll__total txt-s">/8</span></span> 영양세럼침투 (갈바닉)</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_2_7.jpg" class="img-w100" alt="7/8 바이오라이트"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">7 </span><span class="pick-scroll__total txt-s">/8</span></span> 건조(본인) 후 메조테라피</p>
														</div>
													</li>
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_2_8.jpg" class="img-w100" alt="8/8 건조 (본인)"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">8 </span><span class="pick-scroll__total txt-s">/8</span></span> 바이오라이트</p>
														</div>
													</li>
												</ul>
												<a href="" class="pick-scroll__btn type-prev js-how2-prev">prev</a>
												<a href="" class="pick-scroll__btn type-next js-how2-next">next</a>
											</div>
										</div>
										<div class="tab-v1__content page-therapy">
											<div class="pick-scroll__area type-inner">
												<p class="pick-scroll__caption txt-l"><strong class="color-care1">수술 후 생착 프로그램</strong> 모낭 성장, 탈모 억제, 이식모 고생착</p>
												<ul class="pick-scroll__list">
													<li class="pick-scroll__item">
														<div class="pick-scroll__box">
															<img src="../../images/care/haircare/haircare_how_3_1.jpg" class="img-w100" alt="1/1 메조테라피"/>
															<p class="pick-scroll__txt type-total txt-r"><span class="pick-scroll__num color-care1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/1</span></span> 메조테라피</p>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<p class="pick-scroll__noti txt-r">*보통 1~2주 간격으로 시술하며, 개인의 상태에 따라 시술 간격이 달라질 수 있습니다.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div><!-- //content-section5-->
			<div class="horizontal-section content-section6" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-care1">결과를 좌우하는</strong> 바노바기의 탈모치료&두피관리
									</h4>
									<p class="content__txt txt-l">
										숙련된 의료진의 전문적이고 디테일한 치료를 통해 <strong class="color-care1">약해진
										모발은 튼튼하게, 두피는 건강하게 개선</strong>할 수 있습니다.
									</p>
									<p class="content__line type-care">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-care js-number-width">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/care/haircare/haircare_technic_1.jpg" class="img-responsive" alt="두피 스켈링"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">두피 스켈링</h5>
													<p class="content-number__txt txt-s">
														두피 모공 속 피지, 각질 제거/
														모발 및 두피 산소 공급/
														두피 살균·세정/두피 영양을
														위한 앰플 침투 효과 극대화
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/care/haircare/haircare_technic_2.jpg" class="img-responsive" alt="탄산수케어"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">탄산수케어</h5>
													<p class="content-number__txt txt-s">
														피지, 각질 및 잔류 화학 성분
														제거/PH 정상화/비듬, 지루성
														두피 등 두피 환경 개선/두피
														혈액 순환 촉진을 통한 탈모 개선
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/care/haircare/haircare_technic_3.gif" class="img-responsive" alt="바이오라이트"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">바이오라이트</h5>
													<p class="content-number__txt txt-s">
														3가지의 라이트를 통해 모발의
														굵기 증가, 두피 재생, 항염, 통증
														감소로 탈모 개선 효과를 증대
													</p>
												</div>
											</li>
											<li class="content-number__item nth-4 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/care/haircare/haircare_technic_4.jpg" class="img-responsive" alt="메조테라피"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">메조테라피</h5>
													<p class="content-number__txt txt-s">
														복합적인 성장인자를 두피에
														직접 주사하여 흡수율을 높이고
														빠른 모낭 성장을 촉진
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->
			<div class="horizontal-section content-section7" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-care js-scroll-motion">
									<p class="content__line type-care">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-care1">탈모치료&amp;두피관리 과정</strong>
									</h4>
									<p class="content__txt txt-l">
										개인의 모발 상태가 다르듯이 두피와 탈모 유형도 모두 다릅니다.<br class="hidden-tm">
										<strong class="color-care1">정밀한 진단을 통해 맞춤 관리와 치료가 이루어져야 탈모를 적극적으로 예방하고,<br class="hidden-tm">
										개선</strong> 할 수 있습니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 1</p>
															<h5 class="content-process__tit txt-l">진단 및 상담</h5>
															<p class="content-process__txt txt-r">
																두피, 모공, 각질 등<br>
																전반적인 상태,<br>
																모발 밀도 및 두께,<br>
																탈모 유형 종합 진단,<br>
																치료 계획 상담
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/care/haircare/haircare_process_1.jpg" alt="step 1 진단 및 상담" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 2</p>
															<h5 class="content-process__tit txt-l">탈모치료&amp;두피관리</h5>
															<p class="content-process__txt txt-r">
																진단에 따른 체계적이고<br>
																정기적인 관리
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/care/haircare/haircare_process_2.jpg" alt="step 2 탈모치료&amp;두피관리" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 3</p>
															<h5 class="content-process__tit txt-l">홈케어 및 유지관리</h5>
															<p class="content-process__txt txt-r">
																탈모 전용 제품 사용 등으로<br>
																탈모 예방 및 고생착
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/care/haircare/haircare_process_3.jpg" alt="step 3 홈케어 및 유지관리" class="img-w100"/>
												</div>
											</li>
										</ul>
										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->
			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
