.detail-video{
    @media only screen and (max-width:$tablet-size){
        &.type-svfdetail{padding-bottom:149.73%;background:url('../images/svf/svfdetail/svfdetail_video_t.jpg') no-repeat center center /contain;}
    }
}


.horizontal-fix{
    &__item{
        &.type-svfvideo{background:url('../images/svf/svfdetail/svfdetail_video.jpg') no-repeat center center / cover;}
        &.type-svfdetail1{background:url('../images/svf/svfdetail/svfdetail_fix_1.jpg') no-repeat center bottom / cover;}
        &.type-svfdetail2{background:url('../images/svf/svfdetail/svfdetail_fix_2.jpg') no-repeat center bottom / cover;}
    }
}

.content-img{
    $this:&;
    &.type-svfdetail{width:422px; padding-top:70px; box-sizing:border-box;}
    &.type-svfdetail2{width:438px;}
    &.type-svfdetail3{width:418px;}
    &.type-svfdetail4{width:414px;}
    @media only screen and (max-width:$tablet-size){
        &.type-svfdetail{width:100%;}
        &.type-svfdetail2{width:100%;}
        &.type-svfdetail3{width:100%;}
        &.type-svfdetail4{width:100%;}
    }
}


.info-btn{
    $this:&;
    &.type-svf{background:$svf1;
        #{$this}__wrap{background:$svf2;}
        #{$this}__area{
            &:after{border-left-color:$svf2;}
        }
        #{$this}__point{color:$svf1;}
        &.type-left{
            #{$this}__area{
                &:after{border-right:20px solid $svf2;}
            }
        }
    }
}

.content{
    &__area{
        &.type-svfdetail{
            &:before{background-color:#f7f8f3;}
        }
        &.type-svfdetail2{
            &:before{background-color:#f4f6fb;}
        }
        &.type-svfdetail3{
            &:before{background-color:#fef9ea;}
        }
    }
}

.detail-cover{
    @media only screen and (max-width:$tablet-size){
        &.type-svfdetail{padding-bottom:133.33%; background:url('../images/svf/svfdetail/svfdetail_fix_1_t.jpg') center center / contain;}
        &.type-svfdetail2{padding-bottom:133.33%; background:url('../images/svf/svfdetail/svfdetail_fix_2_t.jpg') center center / contain;}
    }
    // @supports (-ms-ime-align:auto)
    // {
    //     &.type-svfdetail{padding-bottom:133.33%; background:url('../images/svf/svfdetail/svfdetail_fix_2_t.jpg') no-repeat center center;}
    //     &.type-svfdetail2{padding-bottom:133.33%; background:url('../images/svf/svfdetail/svfdetail_fix_3_t.jpg') no-repeat center center;}
    // }
    // @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    //     &.type-svfdetail{padding-bottom:133.33%; background:url('../images/svf/svfdetail/svfdetail_fix_2_t.jpg') no-repeat center center;}
    //     &.type-svfdetail2{padding-bottom:133.33%; background:url('../images/svf/svfdetail/svfdetail_fix_3_t.jpg') no-repeat center center;}
    // }
}
