.content-section1{
    $this:&;
    &.type-treatment{background:url('../images/svf/treatment/treatment_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){
            &.type-treatment{background-image:none; background-color:$svf2;}
        }
    }
}
.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-treatment{background-image:none; background-color:$svf2;
            #{$this}__outer{background:url('../images/svf/treatment/treatment_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$svf1;}
            #{$this}__list{border-bottom:1px solid $svf1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $svf2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-treatment{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $svf2;}
            }
        }
    }
}
.content-floor{
    &.type-treatment{width:904px; background:url('../images/svf/treatment/treatment_bg_1.jpg') no-repeat left bottom;}
}
.content-box{
    $this:&;
    &.type-treatment{margin-left:-50px;
        @media only screen and (max-width:$tablet-size){margin-left:0; margin-top:60px;}
        @media only screen and (max-width:$mobile-size){margin-top:30px;}
    }
}


.treatment-style1{display:inline-block; height:100%;
    $this:&;
    &__box{display:inline-block; height:100%; margin-right:-20px;}
    &__img{display:flex; height:100%; @include vendor('align-items','flex-end');}
    &__area{display:inline-block; height:100%;
        &:first-child{margin-right:-50px;}
    }
    @media only screen and (max-width:$tablet-size){display:block; margin-top:80px;
        &__area{position:relative; display:block; height:auto; margin-right:0; text-align:right;
            &:first-child{margin-right:0px;
                #{$this}__box{left:50px;}
            }
            & + &{margin-top:140px;}
        }
        &__box{position:absolute; top:50%; left:0; height:auto;  @include vendor('transform','translateY(-50%)'); margin-right:0;}
    }
    @media only screen and (max-width:$mobile-size){height:auto;
        &__area{
            &:first-child{
                #{$this}__box{left:auto;}
            }
            & + &{margin-top:50px;}
        }
        &__box{display:block; position:static; top:auto; left:auto; height:auto;  @include vendor('transform','translateY(0%)'); margin-right:0;}
        &__img{display:block; height:auto;  @include vendor('align-items','stretch');
            img{width:100%; vertical-align:middle;}
        }
    }
}
.content-key{
    $this:&;
    &.type-treatment{
        #{$this}__box{display:inline-block; margin-top:0; padding-top:80px; vertical-align:top; box-sizing:border-box;}
        #{$this}__item{min-width:190px;
            &.type-gray{background-color:$gray1; color:$black4;}
            &.type-point{background-color:$svf1; color:#fff;
                &:before{color:#fff !important;}
            }
        }
    }
    @media only screen and (max-width:$tablet-size){
        &.type-treatment{
            #{$this}__box{padding-top:0px;margin-right:0px;
                &:last-child{margin-right:0px;}
            }
            #{$this}__item{min-width:190px; text-align:left;
                &.type-point{background-color:$svf1; color:#fff;
                    &:before{color:#fff !important;}
                }
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-treatment{
            #{$this}__box{display:block; margin:40px 0 0 -10px; font-size:0;
                &:last-child{margin-right:0px;}
                &.type-one{
                    #{$this}__list{width:100%;}
                }
            }
            #{$this}__list{display:inline-block; width:50%; padding-left:10px; vertical-align:top; box-sizing:border-box;
                & + #{$this}__list{margin-top:0;}
            }
            #{$this}__item{width:100%; min-width:0;}
        }
    }
}
