<%
	type = "content"
	page = "content"
	scroll = "vertical"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="container vertical-scroll">
	<div class="content">
		<div class="content-section" sylte="background:orange"></div>
		<div class="content-section"></div>
	</div>
</div>
<% include ../_include/_footer %>
