<%
	type = "introduce"
	page = "introduce"
	scroll = "vertical"
	attach = "event"
%>
<% include ../_include/_header %>
<div class="container vertical-scroll">
	<div class="content type-footer">
		<div class="breadcrumb">
			<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
			<div class="breadcrumb__scroll">
				<ul class="breadcrumb__list">
					<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">모발이식 디테일</a></li>
					<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
					<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">수술전후 주의사항</a></li>
					<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">의료진소개</a></li>
					<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">둘러보기</a></li>
					<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">진료안내/오시는길</a></li>
					<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">이벤트</a></li>
				</ul>
			</div>
		</div>
		<div class="lnb">
			<div class="lnb__wrap">
				<h3 class="content__subject tit-r type-event">이벤트</h3>
				<ul class="lnb__list">
					<li class="lnb__item is-active">
						<a href="" class="lnb__link" lnb-page="page-special">스페셜프로모션</a>
						<ul class="lnb__depth2-list">
							<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">풍부한 가을 혜택</a></li>
							<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">고객요청 앙코르 혜택</a></li>
							<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">부모님께 효도 혜택</a></li>
							<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">할 수 있다! 탈모 케어</a></li>
						</ul>
					</li>
					<li class="lnb__item">
						<a href="" class="lnb__link">콕콕<i>!</i> 프로모션</a>
						<ul class="lnb__depth2-list">
							<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">풍부한 가을 혜택</a></li>
							<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">고객요청 앙코르 혜택</a></li>
							<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">부모님께 효도 혜택</a></li>
							<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">할 수 있다! 탈모 케어</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="lnb__line js-select-line">line</div><!-- 셀렉트있을시 라인 여기에 추가 -->
		<div class="content-section">
			<div class="content__wrap type-view">
				<div class="lnb__nav">
					<div class="select-v2">
						<button type="button" title="같은 레벨 메뉴 보기" class="select-v2__btn js-tab-btn">콕콕! 프로모션</button>
						<ul class="select-v2__list">
							<li class="select-v2__item "><a href="" class="select-v2__link">콕콕! 프로모션</a></li>
							<li class="select-v2__item is-active"><a href="" class="select-v2__link">풍부한 가을 혜택</a></li>
							<li class="select-v2__item"><a href="" class="select-v2__link">고객요청 앙코르 혜택</a></li>
							<li class="select-v2__item"><a href="" class="select-v2__link">부모님께 효도 혜택</a></li>
							<li class="select-v2__item"><a href="" class="select-v2__link">할 수 있다! 탈모 케어</a></li>
						</ul>
					</div>
				</div>
				<div class="event-view">
					<div class="event-view__wrap">
						<img src="../../images/introduce/event/open/open_01.jpg" class="img-w100 hidden-m"alt="GRAND OPEN EVENT"/>
						<img src="../../images/introduce/event/open/open_02.jpg" class="img-w100 hidden-m"alt="01 생착률 높이고, 비절개 단점은 극복하고! - 비절개 로봇 모발이식"/>
						<img src="../../images/introduce/event/open/open_03.jpg" class="img-w100 hidden-m"alt="02 예쁜이마, 자연스럽고 풍성한 모발! - 여성헤어라인 성형 & 남성모발이식"/>
						<img src="../../images/introduce/event/open/open_04.jpg" class="img-w100 hidden-m"alt="03 두피는 건강하게, 모발은 튼튼하게! - 두피관린 실속 프로그램"/>
						<img src="../../images/introduce/event/open/open_05.jpg" class="img-w100 hidden-m"alt="결과를 좌우하는 바노바기의 모발이식 시스템"/>
						<img src="../../images/introduce/event/open/open_06.jpg" class="img-w100 hidden-m"alt="바노바기의 디테일한 모발이식 전담팀"/>
						<img src="../../images/introduce/event/open/open_01_m.jpg" class="img-w100 hidden-pt"alt="GRAND OPEN EVENT"/>
						<img src="../../images/introduce/event/open/open_02_m.jpg" class="img-w100 hidden-pt"alt="01 생착률 높이고, 비절개 단점은 극복하고! - 비절개 로봇 모발이식"/>
						<img src="../../images/introduce/event/open/open_03_m.jpg" class="img-w100 hidden-pt"alt="02 예쁜이마, 자연스럽고 풍성한 모발! - 여성헤어라인 성형 & 남성모발이식"/>
						<img src="../../images/introduce/event/open/open_04_m.jpg" class="img-w100 hidden-pt"alt="03 두피는 건강하게, 모발은 튼튼하게! - 두피관린 실속 프로그램"/>
						<img src="../../images/introduce/event/open/open_05_m.jpg" class="img-w100 hidden-pt"alt="결과를 좌우하는 바노바기의 모발이식 시스템"/>
						<img src="../../images/introduce/event/open/open_06_m.jpg" class="img-w100 hidden-pt"alt="바노바기의 디테일한 모발이식 전담팀"/>
					</div>
				</div>
			</div>
		</div>
		<div class="vertical-footer">line</div>
	</div>
</div>
<% include ../_include/_footer %>
