<%
	type = "introduce"
	page = "introduce"
	scroll = "horizontal"
	attach = "event"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">모발이식 디테일</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">수술전후 주의사항</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">의료진소개</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">둘러보기</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">진료안내/오시는길</a></li>
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">이벤트</a></li>
			</ul>
		</div>
	</div>
	<div class="lnb">
		<div class="lnb__wrap">
			<h3 class="content__subject tit-r type-event">이벤트</h3>
			<ul class="lnb__list">
				<li class="lnb__item is-active">
					<a href="" class="lnb__link" lnb-page="page-special">스페셜프로모션</a>
					<ul class="lnb__depth2-list">
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">풍부한 가을 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">고객요청 앙코르 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">부모님께 효도 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">할 수 있다! 탈모 케어</a></li>
					</ul>
				</li>
				<li class="lnb__item">
					<a href="" class="lnb__link">콕콕<i>!</i> 프로모션</a>
					<ul class="lnb__depth2-list">
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">풍부한 가을 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">고객요청 앙코르 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">부모님께 효도 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">할 수 있다! 탈모 케어</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="lnb__line js-select-line">line</div><!-- 셀렉트있을시 라인 여기에 추가 -->
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section event type-cok">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="lnb__nav">
								<div class="select-v2">
									<button type="button" title="같은 레벨 메뉴 보기" class="select-v2__btn js-tab-btn">콕콕! 프로모션</button>
									<ul class="select-v2__list">
										<li class="select-v2__item "><a href="" class="select-v2__link">콕콕! 프로모션</a></li>
										<li class="select-v2__item is-active"><a href="" class="select-v2__link">풍부한 가을 혜택</a></li>
										<li class="select-v2__item"><a href="" class="select-v2__link">고객요청 앙코르 혜택</a></li>
										<li class="select-v2__item"><a href="" class="select-v2__link">부모님께 효도 혜택</a></li>
										<li class="select-v2__item"><a href="" class="select-v2__link">할 수 있다! 탈모 케어</a></li>
									</ul>
								</div>
							</div>
							<div class="event__wrap">
								<ul class="cok__list">
									<li class="cok__item js-hover">
										<div class="cok__wrap">
											<h4 class="cok__tit txt-l">괅괅괅괅괋<!--5자--> 괅괅괅괅괋<!--5자--> 괅괅괅괅괋<!--5자--> 괅괅괅괅괋<!--5자--> 괅괅</h4>
											<p class="cok__txt txt-r">괅괅괅괅괋<!--5자--> 괅괅괅괅괋<!--5자--> 괅괅괅괅괋<!--5자--> 괅괅괅괅괋<!--5자--> 괅괅괅괅괋<!--5자--> 괅괅괅괅괋<!--5자--></p>
											<p class="cok__price">
												<span class="cok__before txt-r">3,300,000</span>
												<span class="cok__after txt-l">3,000,000</span>
											</p>
											<span class="cok__btn txt-r">상담신청</span>
											<a href="" class="cok__link">Go</a>
										</div>
									</li>
									<li class="cok__item js-hover">
										<div class="cok__wrap">
											<h4 class="cok__tit txt-l">모발이식 절개 3000모</h4>
											<p class="cok__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
											<p class="cok__price">
												<span class="cok__before txt-r">3,300,000</span>
												<span class="cok__after txt-l">3,000,000</span>
											</p>
											<span class="cok__btn txt-r">상담신청</span>
											<a href="" class="cok__link">Go</a>
										</div>
									</li>
									<li class="cok__item js-hover">
										<div class="cok__wrap">
											<h4 class="cok__tit txt-l">모발이식 절개 3000모</h4>
											<p class="cok__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
											<p class="cok__price">
												<span class="cok__before txt-r">3,300,000</span>
												<span class="cok__after txt-l">3,000,000</span>
											</p>
											<span class="cok__btn txt-r">상담신청</span>
											<a href="" class="cok__link">Go</a>
										</div>
									</li>
								</ul>
								<ul class="cok__list">
									<li class="cok__item js-hover">
										<div class="cok__wrap">
											<h4 class="cok__tit txt-l">모발이식 절개 3000모</h4>
											<p class="cok__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
											<p class="cok__price">
												<span class="cok__before txt-r">3,300,000</span>
												<span class="cok__after txt-l">3,000,000</span>
											</p>
											<span class="cok__btn txt-r">상담신청</span>
											<a href="" class="cok__link">Go</a>
										</div>
									</li>
									<li class="cok__item js-hover">
										<div class="cok__wrap">
											<h4 class="cok__tit txt-l">모발이식 절개 3000모</h4>
											<p class="cok__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
											<p class="cok__price">
												<span class="cok__before txt-r">3,300,000</span>
												<span class="cok__after txt-l">3,000,000</span>
											</p>
											<span class="cok__btn txt-r">상담신청</span>
											<a href="" class="cok__link">Go</a>
										</div>
									</li>
									<li class="cok__item js-hover">
										<div class="cok__wrap">
											<h4 class="cok__tit txt-l">모발이식 절개 3000모</h4>
											<p class="cok__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
											<p class="cok__price">
												<span class="cok__before txt-r">3,300,000</span>
												<span class="cok__after txt-l">3,000,000</span>
											</p>
											<span class="cok__btn txt-r">상담신청</span>
											<a href="" class="cok__link">Go</a>
										</div>
									</li>
								</ul>
								<ul class="cok__list">
									<li class="cok__item js-hover">
										<div class="cok__wrap">
											<h4 class="cok__tit txt-l">모발이식 절개 3000모</h4>
											<p class="cok__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
											<p class="cok__price">
												<span class="cok__before txt-r">3,300,000</span>
												<span class="cok__after txt-l">3,000,000</span>
											</p>
											<span class="cok__btn txt-r">상담신청</span>
											<a href="" class="cok__link">Go</a>
										</div>
									</li>
									<li class="cok__item js-hover">
										<div class="cok__wrap">
											<h4 class="cok__tit txt-l">모발이식 절개 3000모</h4>
											<p class="cok__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
											<p class="cok__price">
												<span class="cok__before txt-r">3,300,000</span>
												<span class="cok__after txt-l">3,000,000</span>
											</p>
											<span class="cok__btn txt-r">상담신청</span>
											<a href="" class="cok__link">Go</a>
										</div>
									</li>
									<li class="cok__item js-hover">
										<div class="cok__wrap">
											<h4 class="cok__tit txt-l">모발이식 절개 3000모</h4>
											<p class="cok__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
											<p class="cok__price">
												<span class="cok__before txt-r">3,300,000</span>
												<span class="cok__after txt-l">3,000,000</span>
											</p>
											<span class="cok__btn txt-r">상담신청</span>
											<a href="" class="cok__link">Go</a>
										</div>
									</li>
								</ul>
								<p class="cok__vat">VAT별도</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
