<%
	type = "introduce"
	page = "introduce"
	scroll = "horizontal"
	attach = "event"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">모발이식 디테일</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">수술전후 주의사항</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">의료진소개</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">둘러보기</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">진료안내/오시는길</a></li>
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">이벤트</a></li>
			</ul>
		</div>
	</div>
	<div class="lnb">
		<div class="lnb__wrap">
			<h3 class="content__subject tit-r type-event">이벤트</h3>
			<p class="lnb__line js-lnb-line">line</p>
			<ul class="lnb__list">
				<li class="lnb__item is-active">
					<a href="" class="lnb__link" lnb-page="page-special">스페셜프로모션</a>
					<ul class="lnb__depth2-list">
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">풍부한 가을 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">고객요청 앙코르 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">부모님께 효도 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">할 수 있다! 탈모 케어</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">풍부한 가을 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">고객요청 앙코르 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">부모님께 효도 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">할 수 있다! 탈모 케어</a></li>
					</ul>
				</li>
				<li class="lnb__item">
					<a href="" class="lnb__link">콕콕<i>!</i> 프로모션</a>
					<ul class="lnb__depth2-list">
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">풍부한 가을 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">고객요청 앙코르 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">부모님께 효도 혜택</a></li>
						<li class="lnb__depth2-item js-hover"><a href="" class="lnb__depth2-link">할 수 있다! 탈모 케어</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section event page-special">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap type-center">
							<div class="event__wrap">
								<div class="event-banner">
									<p class="event-banner__noti txt-s">
										배너를 클릭<i>!</i> 하시면 상세내용을 확인하실 수 있습니다.
									</p>
									<ul class="event-banner__list js-slide-banner">
										<li class="event-banner__item js-hover">
											<a href="" class="event-banner__link">
												<span class="event-banner__plus">plus</span>
												<img src="../../images/introduce/event/event_banner_big.jpg" class="img-w100-t" alt=""/>
											</a>
										</li>
										<li class="event-banner__item js-hover">
											<a href="" class="event-banner__link">
												<span class="event-banner__plus">plus</span>
												<img src="../../images/introduce/event/event_banner_big.jpg" class="img-w100-t" alt=""/>
											</a>
										</li>
										<li class="event-banner__item js-hover">
											<a href="" class="event-banner__link">
												<span class="event-banner__plus">plus</span>
												<img src="../../images/introduce/event/event_banner_big.jpg" class="img-w100-t" alt=""/>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
