<%
	type = "introduce"
	page = "introduce"
	scroll = "horizontal"
	attach = "tour"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">모발이식 디테일</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">수술전후 주의사항</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">의료진소개</a></li>
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">둘러보기</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">진료안내/오시는길</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">이벤트</a></li>
			</ul>
		</div>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section tour">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="one-section">
								<h3 class="content__subject tit-r">둘러보기</h3>
								<div class="tour__wrap">
									<ul class="tour__list js-tour-slide">
										<li class="tour__item">
											<img src="../../images/introduce/tour/tour_img_1.jpg" class="img-w100-t" alt="바노바기 모발이식 클리닉"/>
											<h4 class="tour__tit tit-s">바노바기 모발이식 클리닉</h4>
											<p class="tour__txt txt-r">모발을 더 자연스럽고 정교하고, 건강하게 유지할 수 있도록 노력하는 바노바기 모발이식 클리닉입니다.</p>
										</li>
										<li class="tour__item">
											<img src="../../images/introduce/tour/tour_img_2.jpg" class="img-w100-t" alt="상담실 A"/>
											<h4 class="tour__tit tit-s">상담실 A</h4>
											<p class="tour__txt txt-r">수술을 집도하는 원장님과 1:1 맞춤 상담이 이루어집니다.</p>
										</li>
										<li class="tour__item">
											<img src="../../images/introduce/tour/tour_img_3.jpg" class="img-w100-t" alt="상담실 B"/>
											<h4 class="tour__tit tit-s">상담실 B</h4>
											<p class="tour__txt txt-r">개인의 특성과 상태를 확인하여 자연스러운 아름다움을 추구합니다.</p>
										</li>
										<li class="tour__item">
											<img src="../../images/introduce/tour/tour_img_4.jpg" class="img-w100-t" alt="수술실"/>
											<h4 class="tour__tit tit-s">수술실</h4>
											<p class="tour__txt txt-r">안전한 수술이 이루어질 수 있도록 신형 의료기기와 체계적인 응급시스템을 갖춘 수술실입니다.</p>
										</li>
										<li class="tour__item">
											<img src="../../images/introduce/tour/tour_img_5.jpg" class="img-w100-t" alt="관리실"/>
											<h4 class="tour__tit tit-s">관리실</h4>
											<p class="tour__txt txt-r">수술 후 케어를 편안히 받을 수 있는 깔끔하고 안락한 공간의 관리실입니다.</p>
										</li>
										<li class="tour__item">
											<img src="../../images/introduce/tour/tour_img_6.jpg" class="img-w100-t" alt="치료실"/>
											<h4 class="tour__tit tit-s">치료실</h4>
											<p class="tour__txt txt-r">개인별 맞춤 치료로 더 자연스럽고 건강한 모발로 개선해드립니다.</p>
										</li>
										<li class="tour__item">
											<img src="../../images/introduce/tour/tour_img_7.jpg" class="img-w100-t" alt="탈의실"/>
											<h4 class="tour__tit tit-s">탈의실</h4>
											<p class="tour__txt txt-r">안락하고 쾌적한 탈의실을 통해 준비과정을 편안하게 도와드립니다.</p>
										</li>
									</ul>
									<div class="tour__area">
										<div class="slide-btn type-tour">
											<button class="slide-btn__btn type-prev js-tour-prev js-hover">prev</button>
											<button class="slide-btn__btn type-next js-tour-next js-hover">next</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
