<%
	type = "introduce"
	page = "introduce"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">모발이식 디테일</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">수술전후 주의사항</a></li>
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">의료진소개</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">둘러보기</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">진료안내/오시는길</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">이벤트</a></li>
			</ul>
		</div>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section medical">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="one-section">
								<h3 class="content__subject tit-r">의료진소개</h3>
								<ul class="medical__list">
									<li class="medical__item">
										<div class="medical__wrap">
											<div class="medical__img">
												<img src="../../images/introduce/medical/medical_doctor_1.jpg" class="img-w100 hidden-m"alt=""/>
												<img src="../../images/introduce/medical/medical_doctor_1_m.jpg" class="img-w100 hidden-pt"alt=""/>
											</div>
											<div class="medical__box">
												<h4 class="medical__tit tit-s">이경구</h4>
												<p class="medical__position txt-r">바노바기 모발이식클리닉 원장</p>
												<ul class="medical__list2">
													<li class="medical__item2 txt-r">대한외과학회 정회원</li>
													<li class="medical__item2 txt-r">아시아모발이식학회 정회원</li>
													<li class="medical__item2 txt-r">대한모발이식학회 정회원</li>
													<li class="medical__item2 txt-r">대한미용외과학회 정회원</li>
													<li class="medical__item2 type-point txt-r">ARTAS 로봇 모발이식 자문의</li>
													<li class="medical__item2 txt-r">(前)모림 모발이식센터 원장</li>
													<li class="medical__item2 txt-r">(前)루트 모발이식센터 원장</li>
													<li class="medical__item2 txt-r">(前)미국 LA Visual 성형외과 협진의</li>
													<li class="medical__item2 txt-r">말레이시아 Lafa medical center 협진의</li>
													<li class="medical__item2 txt-r">(前)오라클 피부과 성형외과 서울 청담점 원장</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="medical__item">
										<div class="medical__wrap">
											<div class="medical__img">
												<img src="../../images/introduce/medical/medical_doctor_2.jpg" class="img-w100 hidden-m"alt=""/>
												<img src="../../images/introduce/medical/medical_doctor_2_m.jpg" class="img-w100 hidden-pt"alt=""/>
											</div>
											<div class="medical__box">
												<h4 class="medical__tit tit-s">이호종</h4>
												<p class="medical__position txt-r">바노바기 모발이식클리닉 원장</p>
												<ul class="medical__list2">
													<li class="medical__item2 txt-r">바노바기성형외과 원장</li>
													<li class="medical__item2 txt-r">서울대학교 의과대학 졸업</li>
													<li class="medical__item2 txt-r">서울대학교병원 수련</li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
