<%
	type = "introduce"
	page = "introduce"
	scroll = "horizontal"
	attach = "detail"
%>
<% include ../_include/_header %>

<div class="content">
	<div class="breadcrumb is-video">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">모발이식 디테일</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">수술전후 주의사항</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">의료진소개</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">둘러보기</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">진료안내/오시는길</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">이벤트</a></li>
			</ul>
		</div>
	</div>
	<div class="horizontal-fix">
		<ul class="horizontal-fix__list">
			<li class="horizontal-fix__item type-various1 is-active"></li>
			<li class="horizontal-fix__item type-various2"></li>
			<li class="horizontal-fix__item type-various3"></li>
		</ul>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section detail-video type-various cover-section1" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="detail-video__wrap js-fade-in">
							<p class="detail-video__subtit txt-l">더 좋은 결과를 위한 다양한 방법</p>
							<h3 class="detail-video__tit tit-l">
								절개/비절개/<br>
								로봇 모발이식
							</h3>
							<p class="detail-video__txt txt-r">#맞춤 모발이식 #숙련된 의료진</p>
							<span class="detail-video__scroll txt-r">
								<span class="detail-video__arrow">scroll</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section2 cover-section2 type-cling">
				<div class="content__area type-wide type-bg type-various">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/various/various_img_1.jpg" class="img-h100-p" alt=""/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식 방법,<br>
											<span class="color-point2">무엇이든 가능</span>합니다
										</h4>
										<p class="content__txt txt-l">
											<strong class="color-point2">절개/비절개/로봇 비절개 모낭 채취</strong>가
											모두 가능한 바노바기
										</p>
										<p class="content__txt2 txt-r">
											모발이식은 <strong class="color-black1">모낭 채취 시 후두부의 절개 여부에 따라 크게
											절개/비절개</strong>로 나눌 수 있습니다. 또한 비절개는 사람이 일일이
											손으로 채취하는 매뉴얼 방식과 로봇을 이용해 자동으로 채취하는
											로봇 비절개로 나눠볼 수 있습니다.
										</p>
									</div>
									<div class="content-img type-various detail-left js-scroll-motion">
										<div class="content-img__img type-slim-t">
											<img src="../../images/introduce/various/various_img_2.jpg" class="img-w100" alt="모발이식 방법">
										</div>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<div class="content__outer">
											<div class="content__inner">
												<p class="content__txt2 txt-r">
													절개법과 비절개법 모두 각각 장·단점이 있으며, <strong class="color-black1">모발이식의
													핵심은 환자에게 적합한 모낭 채취 방법을 찾고, 채취한 모낭을
													정교하게 재배치</strong>하는 기술입니다.
												</p>
												<p class="content__txt txt-l">
													바노바기에서는 <strong class="color-point2">절개/비절개/로봇 비절개가
													모두 가능</strong>하기때문에 환자와 탈모 및 두피 상태
													면밀한 진단과 충분한 상담을 통해 <strong class="color-point2">개인별 맞춤
													모발이식을 진행</strong>해 드립니다.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section detail-cover type-bg type-various"></div>
			<div class="horizontal-section content-section3">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/various/various_img_3.jpg" class="img-h100-p" alt="원장 이경구"/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식 방법,<br>
											<span class="color-point2">절개 모발이식(FUSS)</span>
										</h4>
										<p class="content__txt txt-l">
											<strong class="color-point2">흉터는 줄이고, 생착률은 높이는 </strong>
											섬세한 채취와 봉합 테크닉
										</p>
										<p class="content__txt2 txt-r">
											<strong class="color-black1">절개 모발이식(Follicular Unit Stripe Surgery)은 후두부의
											두피를 절개한 뒤 모발을 채취하여 모낭 단위로 분리한 후
											이식하는 방법</strong>입니다. 절개 부위를 봉합하기 때문에 수술 후 가는
											띠 형태로 흉터가 남을 수 있지만 후두부 삭발을 하지 않아도 되며,
											<strong class="color-black1">모낭 손상이 적기때문에 타 방식에 비해 생착률이 높습니다.</strong>
										</p>
									</div>
									<div class="content-img type-various2 detail-left js-scroll-motion">
										<div class="flex-bottom type-slim-t">
											<img src="../../images/introduce/various/various_img_4.jpg" class="img-w100" alt="절개 모발이식(FUSS)">
										</div>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<div class="content__outer">
											<div class="content__inner">
												<p class="content__txt2 txt-r">
													<strong class="color-black1">절개 방식은 대량이식에 용이</strong>하고 또 헤어라인과 같이
													<strong class="color-black1">모발의 방향이나 디테일이 중요한 수술에서 더 유리</strong>합니다.
												</p>
												<p class="content__txt txt-l">
													두피는 다른 피부 부위보다 피부 이완 범위가 넓지
													않고, 모발이 한정적이므로 <strong class="color-point2">의사의 숙련도, 즉 절개
														기술과 봉합 방식이 중요</strong>합니다.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section4">
				<div class="content__area type-wide type-bg type-various2">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/various/various_img_5.jpg" class="img-h100-p" alt="비절개 모발이식(FUE)"/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식 방법,<br>
											<span class="color-point2">비절개 모발이식(FUE)</span>
										</h4>
										<p class="content__txt txt-l">
											모낭 채취 및 이식의 전 과정을<br>
											<strong class="color-point2">전담의료진이 직접 시행</strong>
										</p>
										<p class="content__txt2 txt-r">
											<strong class="color-black1">비절개 모발이식(Follicular Unit Extraction)은 후두부의
												두피를 절개하지 않고 모근 채취기를 이용해 필요한 모낭만 모낭
												단위로 수동 채취 후 이식하는 방법</strong>입니다.
											절개가 없기 때문에 <strong class="color-black1">두피의 손상을 줄여주고 흉터에 대한 염려가
												없습니다.</strong> 절개 재수술이 어려우신 분들이나 두피 탄력이
											 떨어지는 경우, 켈로이드성 피부 등에 적합합니다.
										</p>
									</div>
									<div class="content-img type-various3 detail-left js-scroll-motion">
										<div class="flex-bottom type-slim-t">
											<img src="../../images/introduce/various/various_img_6.jpg" class="img-w100" alt="비절개 모발이식(FUE)">
										</div>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<div class="content__outer">
											<div class="content__inner">
												<p class="content__txt txt-l">
													모낭 채취 시 <strong class="color-point2">모낭 손상을 줄여주는 채취 노하우와
														긴 수술시간 동안 일정하게 채취할 수 있는
														테크닉</strong>이 필요합니다.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="horizontal-section content-section5 cover-section3">
				<div class="content__area type-wide type-bg type-various3">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/various/various_img_7.jpg" class="img-h100-p" alt="아타스 로봇"/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식 방법,<br>
											<span class="color-point2">비절개 로봇 모발이식</span>
										</h4>
										<p class="content__txt txt-l">
											건강한 모낭과 주변 조직을 <strong class="color-point2">자동 선별하여
											안전하게 채취</strong>
										</p>
										<p class="content__txt2 txt-r">
											로봇 모발이식은 후두부 절개 없이 <strong class="color-black1">아타스 로봇을 이용해 모낭의
											각도, 깊이, 모발의 간격 등을 정밀히 측정하여 건강한 모낭만
											자동으로 선별하여 채취 후 이식</strong>하는 방법입니다.
										</p>
									</div>
									<div class="content-img type-detail type-various4 detail-left js-scroll-motion">
										<div class="content-img__img type-slim-t">
											<img src="../../images/introduce/various/various_img_8.jpg" class="img-w100" alt="아타스 로봇">
										</div>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<div class="content__outer">
											<div class="content__inner">
												<p class="content__txt2 txt-r">
													첨단 로봇 시스템이 모낭 상태를 분석하여 시간당 800~1000모낭
													정도 채취가 가능하여 모낭의 손실과 시간을 줄여주기 때문에
													<strong class="color-black1">비절개 대량이식이 빠르게 가능</strong>합니다. 또한 모낭을 랜덤으로
													채취하기 때문에 뒷머리가 훨씬 자연스럽습니다.
												</p>
												<p class="content__txt txt-l">
													기존 비절개 방식의 단점을 보완하고 생착률을 높인
													방법으로 <strong class="color-point2">아타스 로봇 모발이식 자문의 이경구
														원장이 직접 집도</strong>합니다.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section detail-cover type-bg type-various2"></div>
			<div class="horizontal-section content-section6 cover-end">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/various/various_img_9.jpg" class="img-h100-p" alt=""/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식 방법,<br>
											<span class="color-point2">절개VS비절개VS로봇 비절개</span>
										</h4>
										<p class="content__txt txt-l">
											두피의 탄력성 및 상태, 환자의 선호도, 이식 부위
											디자인과 이식량 등을 종합적으로 고려하여
											<strong class="color-point2">생착률은 높이면서 환자에게 더 필요한, 더 좋은
											결과를 위한 채취 방법을 제안</strong>해 드립니다.
										</p>
									</div>
									<div class="content-table detail-left js-scroll-motion">
										<div class="content-table__area">
											<div class="flex-bottom">
												<ul class="content-table__list type-category">
													<li class="content-table__item txt-l type-header type-blank">blank</li>
													<li class="content-table__item type-img txt-s">
														<div class="content-table__wrap">구분</div>
													</li>
													<li class="content-table__item txt-s">
														<div class="content-table__wrap">모낭채취 방식</div>
													</li>
													<li class="content-table__item txt-s">
														<div class="content-table__wrap">흉터</div>
													</li>
													<li class="content-table__item txt-s">
														<div class="content-table__wrap">생착률</div>
													</li>
													<li class="content-table__item txt-s">
														<div class="content-table__wrap">삭발 여부</div>
													</li>
													<li class="content-table__item txt-s">
														<div class="content-table__wrap">후두부 밀도</div>
													</li>
													<li class="content-table__item txt-s">
														<div class="content-table__wrap">시간(3,000모 기준)</div>
													</li>
												</ul>
												<div class="content-table__slide js-table-slide">
													<ul class="content-table__list">
														<li class="content-table__item txt-l type-header">
															<div class="content-table__wrap">
																<span class="content-table__num txt-s">01 </span>절개
															</div>
														</li>
														<li class="content-table__item type-img txt-s">
															<div class="content-table__img">
																<img src="../../images/introduce/various/various_table_1.jpg" class="img-h100-p" alt="01 절개"/>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">모낭채취 방식</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">필요한 모낭만큼<br> 두피 면적 떼어낸 후 봉합</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">흉터</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">하나의 가는 실선 형태</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">생착률</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">높음</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">삭발 여부</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">불필요</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">후두부 밀도</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">변화 없음</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">시간(3,000모 기준)</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">약 4시간</div>
															</div>
														</li>
													</ul>
													<ul class="content-table__list">
														<li class="content-table__item txt-l type-header">
															<div class="content-table__wrap">
																<span class="content-table__num txt-s">02 </span>매뉴얼 비절개
															</div>
														</li>
														<li class="content-table__item type-img txt-s">
															<div class="content-table__img">
																<img src="../../images/introduce/various/various_table_2.jpg" class="img-h100-p" alt="02 비절개"/>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">모낭채취 방식</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">모발 사이사이<br> 필요한 모낭만을 하나씩 채취</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">흉터</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">여러 개의 작은 점 형태</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">생착률</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">상대적으로 낮음</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">삭발 여부</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">대부분 삭발</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">후두부 밀도</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">줄어듦</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">시간(3,000모 기준)</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">약 6시간</div>
															</div>
														</li>
													</ul>
													<ul class="content-table__list">
														<li class="content-table__item txt-l type-header">
															<div class="content-table__wrap">
																<span class="content-table__num txt-s">03 </span>로봇 비절개
															</div>
														</li>
														<li class="content-table__item type-img txt-s">
															<div class="content-table__img">
																<img src="../../images/introduce/various/various_table_3.jpg" class="img-h100-p" alt="03 로봇비절개"/>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">모낭채취 방식</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">필로봇 팔이 듀얼 펀치로 모발 사이사이<br> 건강한 모낭만 자동 선별 후 채취</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">흉터</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">랜덤 채취로 흉터가 거의 없음</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">생착률</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">비교적 높음</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">삭발 여부</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">부분 삭발 혹은 삭발</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">후두부 밀도</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">비교적 줄어듦</div>
															</div>
														</li>
														<li class="content-table__item txt-s">
															<div class="content-table__header"><div class="content-table__wrap">시간(3,000모 기준)</div></div>
															<div class="content-table__body">
																<div class="content-table__wrap">약 4시간</div>
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="table-control">
											<div class="table-control__wrap">
												<button class="table-control__btn type-prev js-table-prev">prev</button>
												<button class="table-control__btn type-next js-table-next">next</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- //content__area-->
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
