<%
	type = "introduce"
	page = "introduce"
	scroll = "horizontal"
	attach = "detail"
%>
<% include ../_include/_header %>

<div class="content type-footer">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">모발이식 디테일</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">수술전후 주의사항</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">의료진소개</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">둘러보기</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">진료안내/오시는길</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">이벤트</a></li>
			</ul>
		</div>
	</div>
	<div class="horizontal-fix">
		<ul class="horizontal-fix__list">
			<li class="horizontal-fix__item type-video is-active">
				<iframe src="https://player.vimeo.com/video/374584282?muted=1&amp;autoplay=1&loop=1" class="horizontal-fix__iframe" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
			</li>
			<li class="horizontal-fix__item type-hair1"></li>
			<li class="horizontal-fix__item type-hair2"></li>
		</ul>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section detail-video cover-section1" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="detail-video__wrap js-fade-in">
							<p class="detail-video__subtit txt-l">더 풍성하고 더 정교하게</p>
							<h3 class="detail-video__tit tit-l">
								바노바기<br class="hidden-tm">
								모발이식 디테일
							</h3>
							<p class="detail-video__txt txt-r"><span class="visual__span">#남성모발이식</span> <span class="visual__span">#여성헤어라인성형</span> <span class="visual__span">#절개</span> <span class="visual__span">#비절개</span></p>
							<span class="detail-video__scroll txt-r">
								<span class="detail-video__arrow">scroll</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section2 cover-section2 type-cling">
				<div class="content__area type-wide type-bg type-hair">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/detail/detail_img_1.jpg" class="img-h100-p" alt=""/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식,<br class="hidden-tm">
											<strong class="color-point2">건강한 모낭과<br class="hidden-tm">
											경험 많은 의료진, <br class="hidden-tm">
											환자의 적극적인 관리가<br class="hidden-tm">
											중요</strong>합니다.
										</h4>
										<p class="content__txt txt-l">
											환자와 <strong class="color-point2">1년 이상 긴 호흡</strong>을 함께 해야 하는
											모발이식술
										</p>
									</div>
									<div class="content-img type-detail type-hair js-scroll-motion">
										<div class="content-img__img type-slim-t js-info-motion">
											<img src="../../images/introduce/detail/detail_img_2.png" class="img-w100" alt="Safe Donor Area (안전 공여부 영역)">
										</div>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<div class="content__outer">
											<div class="content__inner">
												<p class="content__txt2 txt-r">
													<strong class="color-black1">귀 위쪽 옆 머리와 뒷머리</strong>는 앞머리, 정수리 부위와 달리
													탈모가 발생하더라도 후두부의 머리카락은 <strong class="color-black1">탈모가 되지 않도록
													유전적으로 결정</strong>되어 있습니다.
												</p>
												<p class="content__txt txt-l">
													<strong class="color-point2">후두부의 튼튼하고 건강한 모낭을 채취하여
													탈모 부위로 이식</strong>하면,
													<span class="js-info">
														<span class="info-btn">
															<span class="info-btn__plus">plus</span>
															<span class="info-btn__wrap">
																<span class="info-btn__area">
																	<span class="info-btn__box">
																		<span class="info-btn__img">
																			<img src="../../images/introduce/detail/detail_info_1.jpg" class="img-w100" alt="Safe Donor Area (안전 공여부 영역)"/>
																		</span>
																		<span class="info-btn__tit txt-r">Safe Donor Area (안전 공여부 영역)</span>
																		<span class="info-btn__txt txt-s">
																			탈모가 진행되어도 모발이 안전하게 남아 있는 후두부 영역으로,
																			전체 두피의 25% 정도이며, 모발이식 시 모낭 채취가
																			이루어지는 부위
																		</span>
																	</span>
																	<button class="info-btn__close txt-r js-close">닫기</button>
																</span>
															</span>
														</span>
														<strong class="color-black1 txt-under">
															 공여부 우성의 법칙
														</strong>
													</span>에 따라
													탈모 부위에서도 호르몬의 영향을 받지 않고 고유
													성질 그대로 모발이 건강하게 자라나게 됩니다.
												</p>
												<p class="content__txt2 txt-r">
													그러나 공여부의 모발이 한정적이기 때문에 건강한
													모낭의 안전한 채취, 숙련된 의료진의 디테일한 재배치, 수술 후
													사후관리가 조화를 이루어야 합니다.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section detail-cover type-bg type-hair"></div>
			<div class="horizontal-section content-section3">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/detail/detail_img_3.jpg" class="img-h100-p" alt="원장 이경구"/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식,<br class="hidden-tm">
											바노바기는 <span class="color-point2">이렇게</span> 합니다
										</h4>
										<p class="content__txt txt-l">
											<strong class="color-point2">3,000례 이상 수술 경험</strong>의 외과 전문의,<br class="hidden-tm">
											<strong class="color-point2">5년 이상 경력</strong>의 모낭분리사
										</p>
										<p class="content__txt2 txt-r">
											모발이식 수술 분야의 권위자로 통하는 이경구 원장은 지금까지<br class="hidden-tm">
											<strong class="color-black1">3,000례 이상 수술을 집도한 베테랑</strong>입니다.<br class="hidden-tm">
											모발이식 수술에 대한 집요한 연구와 열정으로, <strong class="color-black1">어떻게 하면 더<br class="hidden-tm">
											자연스럽고 정교하고, 건강하게 유지될 수 있을까- 고민을 놓지<br class="hidden-tm">
											않습니다.</strong> 모발이식에 대한 궁금증, 편견, 두려움, 의구심이<br class="hidden-tm">
											있으시다면 우선 이경구 원장과의 상담부터 권해드립니다.<br class="hidden-tm">
											이경구 원장의 뛰어난 실력과 숙련된 스텝들의 호흡으로 완성도<br class="hidden-tm">
											높은 모발이식의 세계를 경험하세요.
										</p>
									</div>
									<div class="content-img type-style1 detail-left">
										<div class="content-img__img">
											<div class="content-img__right js-scroll-motion type-delay">
												<img src="../../images/introduce/detail/detail_img_4.jpg" class="img-w100" alt="원장 이경구">
											</div>
											<div class="content-img__left js-scroll-motion">
												<img src="../../images/introduce/detail/detail_img_5.jpg" class="img-w100" alt="전문적인 모낭분리">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section4">
				<div class="content__area type-wide type-bg type-hair2">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/detail/detail_img_6.jpg" class="img-h100-p" alt=""/>
									</div>
									<div class="content-box type-slim type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식,<br class="hidden-tm">
											<span class="color-point2">절개-비절개</span>를<br class="hidden-tm">
											먼저 묻지 않습니다
										</h4>
										<p class="content__txt txt-l">
											모발 채취 방법보다 더 중요한 것은<br class="hidden-tm">
											<strong class="color-point2">모발의 재배치</strong>
										</p>
									</div>
									<div class="content-img type-hair2 detail-left js-scroll-motion">
										<div class="content-img__img type-slim-t">
											<img src="../../images/introduce/detail/detail_img_7.jpg" class="img-w100" alt="">
										</div>
									</div>
									<div class="content-box type-top type-detail detail-left js-scroll-motion">
										<p class="content__txt2 txt-r">
											모발이식을 이야기할 때 보통 “절개법이 더 좋은가요, 비절개법이
											좋은가요?”라는 질문을 많이 받습니다. 모발이식 수술에서
											절개냐, 비절개냐는 두 번째 질문이 되어야 합니다.
											<strong class="color-black1">절개냐 비절개냐를 구분하는 것은 채취 방법의 차이일 뿐,</strong>
											사실 숙련된 의사에게 크게 중요지 않습니다.
										</p>
										<p class="content__txt txt-l">
											바노바기에서는 어떻게 채취하느냐가 아니라
											<strong class="color-point2">어떻게 이식하느냐에 더 집중</strong>합니다.
											비절개법이나 절개법 모두 장단점이 있기에 이를
											환자에게 충분히 설명하고, <strong class="color-point2">환자에게 더 필요한,
											더 좋은 결과를 위한 채취 방법을 제안</strong>해드립니다.
										</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="horizontal-section content-section5 cover-section3">
				<div class="content__area type-wide type-bg type-hair3">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/detail/detail_img_8.jpg" class="img-h100-p" alt="원장 이경구"/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식,<br class="hidden-tm">
											바노바기는<br class="hidden-tm">
											<span class="color-point2">정교하게 재배치</span>합니다
										</h4>
										<p class="content__txt txt-l">
											같은 모수를 채취해도<br class="hidden-tm">
											<strong class="color-point2">어떻게 재배치 하느냐</strong>에 따라 달라지는 결과
										</p>
										<p class="content__txt2 txt-r">
											모발이식에서 중요한 핵심 기술은 채취한 모발을 이식하는 것,
											더 정확하게 표현하자면 모발을 재배치하는 것입니다.
											사람마다 고유한 모발의 상태와 굵기, 밀도 등이 모두 다릅니다.
											이런 <strong class="color-black1">디테일한 조건을 고려하여 진단하고, 채취한 모발을 최대한
												자연스럽고 정교하게 재배치</strong> 해야 합니다.
											숙련된 의료진과 스텝들의 정교한 수술 실력이 더 풍성하고
											균일한 모발을 만듭니다.
										</p>
									</div>
									<div class="content-img type-detail type-style2 detail-left">
										<div class="content-img__img">
											<div class="content-img__left js-scroll-motion">
												<img src="../../images/introduce/detail/detail_img_9.jpg" class="img-w100" alt="">
											</div>
											<div class="content-img__right js-scroll-motion type-delay">
												<img src="../../images/introduce/detail/detail_img_10.jpg" class="img-w100" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="horizontal-section detail-cover type-bg type-hair2"></div>
			<div class="horizontal-section content-section6">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/detail/detail_img_11.jpg" class="img-h100-p" alt="원장 이경구"/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식,<br class="hidden-tm">
											<span class="color-point2">바노바기는 디테일</span>합니다
										</h4>
										<p class="content__txt txt-l">
											얼굴의 모양과 균형, 채취한 모발의 각도와 밀도 등<br class="hidden-tm">
											<strong class="color-point2">모든 것을 고려</strong>하는 이식술
										</p>
										<p class="content__txt2 txt-r">
											숙련된 의료진의 수술 결과가 다를 수 밖에 없는 이유는
											<strong class="color-black1">모든 디테일한 요소들을 놓치지 않기 때문</strong>입니다.
											바노바기 성형외과는 모발이식 권위자 이경구 원장의
											책임 진료 하에 능숙하고 숙달된 스텝들이 상담부터, 채취, 이식,
											그리고 수술 후 관리에 이르는 <strong class="color-black1">모든 과정에서 빈틈없이 디테일한
											결과를 약속</strong>합니다.
										</p>
									</div>
									<div class="content-img type-detail detail-left js-scroll-motion">
										<div class="content-img__img type-slim-t">
											<img src="../../images/introduce/detail/detail_img_12.jpg" class="img-w100-t" alt="">
										</div>
									</div>
									<div class="content-box type-detail type-slim detail-left js-scroll-motion">
										<div class="content__outer">
											<div class="content__inner">
												<p class="content__txt txt-l">
													특히 환자 개개인의 얼굴 모양에 맞춰
													조화로운 디자인을 제시하고,
													채취한 모낭을 세심하게 분리하여,
													깊이와 각도, 밀도 등을 고려한
													시술이야 말로 <strong class="color-point2">바노바기 모발이식
													전담팀의 자부심</strong>입니다.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- //content__area-->
			</div>
			<div class="horizontal-section content-section7 cover-end">
				<div class="content__area type-wide type-bg type-hair4">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/introduce/detail/detail_img_13.jpg" class="img-h100-p" alt=""/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											모발이식,<br class="hidden-tm">
											<span class="color-point2">건강하게 생착</span>하도록<br class="hidden-tm">
											관리합니다
										</h4>
										<p class="content__txt txt-l">
											<strong class="color-point2">수술 후 더 중요한 두피관리,</strong> 바노바기 기술력 총동원
										</p>
										<p class="content__txt2 txt-r">
											수술 후 생착률이 얼마나 될까 하는 걱정 때문에 모발이식을
											망설이는 분들이 많습니다. 지금부터 걱정하실 필요는 없습니다.
											모발이식은 탈모치료의 시작일 뿐입니다.
											이식한 모발이 더 건강하고 오래 생착 할 수 있도록
											바노바기에서는 <strong class="color-black1">수술 후 철저한 두피 관리 프로그램을
												컨설팅</strong>해드립니다. 바노바기에서는 자체 보유하고 있는
											줄기세포 시설에서 채취, 분리한 줄기세포를 공급하는 등
											<strong class="color-black1">19년 경험의 바노바기 노하우와 기술력을 모두 동원하여
											더 좋은 결과를 위해 관리</strong>해드립니다.
										</p>
									</div>
									<div class="content-img type-style3 detail-left type-detail">
										<div class="content-img__img">
											<div class="content-img__right js-scroll-motion type-delay">
												<img src="../../images/introduce/detail/detail_img_14.jpg" class="img-w100" alt="원장 이호종">
											</div>
											<div class="content-img__left js-scroll-motion">
												<img src="../../images/introduce/detail/detail_img_15.jpg" class="img-w100" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section8 doctor-section">
				<div class="content__area type-wide">
					<div class="content-bottom hidden-tm">
						<div class="flex-bottom">
							<div class="doctor-photo">
								<ul class="doctor-photo__list">
									<li class="doctor-photo__item is-active"><img src="../../images/introduce/detail/detail_doctor_1.jpg" class="img-w100" alt="원장 이경구"/></li>
									<li class="doctor-photo__item"><img src="../../images/introduce/detail/detail_doctor_2.jpg" class="img-w100" alt="원장 이호종"/></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="content-doctor">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="flex-bottom">
										<div class="content-doctor__wrap">
											<p class="content-doctor__subtit txt-l">바노바기의 디테일한</p>
											<h4 class="content-doctor__tit tit-l">모발이식 전담팀</h4>
											<div class="doctor-photo hidden-p">
												<ul class="doctor-photo__list">
													<li class="doctor-photo__item is-active"><img src="../../images/introduce/detail/detail_doctor_1_t.jpg" class="img-w100" alt="원장 이경구"/></li>
													<li class="doctor-photo__item"><img src="../../images/introduce/detail/detail_doctor_2_t.jpg" class="img-w100" alt="원장 이호종"/></li>
												</ul>
											</div>
											<div class="content-doctor__area">
												<ul class="doctor-nav">
													<li class="doctor-nav__item is-active">
														<button class="doctor-nav__btn" data-page="1">
															<span class="doctor-nav__position txt-s">원장</span> <span class="doctor-nav__name txt-l">이경구</span>
														</button>
													</li>
													<li class="doctor-nav__item">
														<button class="doctor-nav__btn" data-page="2">
															<span class="doctor-nav__position txt-s">원장</span> <span class="doctor-nav__name txt-l">이호종</span>
														</button>
													</li>
												</ul>
												<ul class="content-doctor__list">
													<li class="content-doctor__item is-active">
														<ul class="doctor-career txt-r">
															<li class="doctor-career__item">대한외과학회 정회원</li>
															<li class="doctor-career__item">아시아모발이식학회 정회원</li>
															<li class="doctor-career__item">대한모발이식학회 정회원</li>
															<li class="doctor-career__item">대한미용외과학회 정회원</li>
															<li class="doctor-career__item">ARTAS 로봇 모발이식 자문의</li>
															<li class="doctor-career__item">(前)모림 모발이식센터 원장</li>
															<li class="doctor-career__item">(前)루트 모발이식센터 원장</li>
															<li class="doctor-career__item">(前)미국 LA Visual 성형외과 협진의</li>
															<li class="doctor-career__item">말레이시아 Lafa medical center 협진의</li>
															<li class="doctor-career__item">(前)오라클 피부과 성형외과 서울 청담점 원장</li>
														</ul>
													</li>
													<li class="content-doctor__item">
														<ul class="doctor-career txt-r">
															<li class="doctor-career__item">바노바기성형외과 원장</li>
															<li class="doctor-career__item">서울대학교 의과대학 졸업</li>
															<li class="doctor-career__item">서울대학교병원 수련</li>
														</ul>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
