<%
	type = "introduce"
	page = "introduce"
	scroll = "horizontal"
	attach = "location"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="popup-sms">
		<div class="popup-sms__wrap">
			<div class="popup-sms__vertical">
				<p class="popup-sms__tit">
					연락처를 입력하시면<br>
					SMS로 <strong class="color-point2">약도를 전송</strong>해드립니다.
				</p>
				<form id="mobileForm" class="main-form__form">
					<div class="popup-sms__box">
						<input type="tel" name="mobileSend" id="mobileSend" placeholder="연락처를 입력해주세요." required="" class="popup-sms__input">
						<button type="submit" class="popup-sms__button">전송</button>
					</div>
				</form>
			</div>
			<a href="" class="popup-sms__close js-sms-close">닫기</a>
		</div>
	</div>
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">모발이식 디테일</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">수술전후 주의사항</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">의료진소개</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">둘러보기</a></li>
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">진료안내/오시는길</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">이벤트</a></li>
			</ul>
		</div>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section location">
				<div class="one-section">
					<div class="location__section type-address">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<h3 class="content__subject tit-r">진료안내 및<br class="hidden-tm"> 오시는길</h3>
									<div class="location-address">
										<p class="location-address__txt txt-l">서울특별시 강남구 논현로 515 아승빌딩 3층</p>
										<button class="location-address__btn js-hover js-sms-open">sms</button>
										<p class="location-address__tel tit-s">
											1588.6508 <span class="hidden-p">/</span><br class="hidden-tm">
											02.562.6001
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="location__section section-left">
						<div class="location__wrap">
							<div class="location__map" id="map"><!-- //daum Map --> -->
							</div>
							<div class="map-motion__fake">
								<div class="map-motion__bg">
									<p class="map-motion__noti">지도를 움직이려면 클릭해 주세요</p>
								</div>
							</div>
						</div>
					</div>
					<div class="location__section type-info section-left">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="location__box">
										<h4 class="location__tit tit-s">진료안내</h4>
										<p class="location__txt">
											<span class="location__day txt-r">평일</span><span class="location__time txt-l">09:30 ~ 18:30</span>
										</p>
										<p class="location__txt">
											<span class="location__day txt-r">토요일</span><span class="location__time txt-l">09:30 ~ 16:00</span>
										</p>
										<p class="location__noti txt-s">※ 진료시간은 변동 가능성이 있으니, 문의 바랍니다. </p>
										<p class="location__noti txt-s">※ 일요일 및 공휴일은 휴진입니다.</p>
									</div>
									<div class="location__box">
										<h4 class="location__tit tit-s">오시는길</h4>
										<div class="traffic txt-r">
											<ul class="traffic__list">
												<li class="traffic__item">
													<div class="traffic__box type-bus">
														<h5 class="traffic__tit txt-l">버스</h5>
														<dl class="traffic__dl txt-r">
															<dt class="traffic__dt type-blue">간선버스</dt>
															<dd class="traffic__dd">146, 147, 242, 341, 360, 463, 740, N13(심야), N61(심야)</dd>
														</dl>
														<dl class="traffic__dl txt-r">
															<dt class="traffic__dt type-green">지선버스</dt>
															<dd class="traffic__dd">4211</dd>
														</dl>
														<dl class="traffic__dl txt-r">
															<dt class="traffic__dt type-purple">공항버스</dt>
															<dd class="traffic__dd">6000, 6020</dd>
														</dl>
														<dl class="traffic__dl txt-r">
															<dt class="traffic__dt type-red">직행버스</dt>
															<dd class="traffic__dd">1100, 1700, 2000, 2000-1, 3600, 7007, 8001, 9303, 9600</dd>
														</dl>
													</div>
												</li>
												<li class="traffic__item">
													<div class="traffic__box type-subway">
														<h5 class="traffic__tit txt-l">지하철</h5>
														<p class="traffic__txt txt-r line-2"><span class="subway-color2">역삼역</span> 6번 출구로 나와서 100m 정도 직진</p>
														<p class="traffic__txt txt-r line-9"><span class="subway-color9">언주역</span> 7번 출구로 나와서 400m 정도 직진</p>
													</div>
													<div class="traffic__box type-car">
														<h5 class="traffic__tit txt-l">자가용</h5>
														<p class="traffic__txt txt-r">자가용 이용 고객님께는 발렛파킹 서비스를 제공해 드립니다.</p>
													</div>
												</li>
											</ul>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
