<%
	type = "introduce"
	page = "introduce"
	scroll = "horizontal"
	attach = "knowledge"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">모발이식 디테일</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">수술전후 주의사항</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">의료진소개</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">둘러보기</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">진료안내/오시는길</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">이벤트</a></li>
			</ul>
		</div>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section knowledge">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="one-section">
								<h3 class="content__subject tit-r">수술전후 주의사항</h3>
								<div class="box-style1__wrap">
									<div class="box-style1__box">
										<div class="box-style1__vertical">
											<h4 class="box-style1__tit tit-s">
												<span class="box-style1__icon">수술 전 주의사항</span>
											</h4>
											<ul class="knowledge__list txt-r">
												<li class="knowledge__item type-required">
													수술 당일 아침에 샴푸 하고 오세요.
													<span class="knowledge__add txt-s">(당일 헤어스타일 제품은 바르지 않도록 합니다.)</span>
												</li>
												<li class="knowledge__item type-required">
													수술 1주일 전부터는 아스피린, 항혈액응고제의 사용을 중지 하여야 합니다.
												</li>
												<li class="knowledge__item">
													수술 전날 음주는 삼가합니다.
												</li>
												<li class="knowledge__item type-required">
													의사 면담 시 본인의 질환이나 복용중인 약 및 약물 알러지나
													국소마취제 알러지 여부를 알려주셔야 합니다.
												</li>
												<li class="knowledge__item type-required">
													머리를 짧게 깎지 않는 것이 좋습니다.
													<span class="knowledge__add txt-s">(뒷머리는 최소 3cm이상 유지해주세요.)</span>
												</li>
												<li class="knowledge__item type-required">
													수술 당일 식사는 가볍게 하는 것이 좋습니다.
												</li>
												<li class="knowledge__item type-required">
													수술 부위를 가릴 수 있는 모자를 준비하시면 좋습니다.
													<span class="knowledge__add txt-s">(넉넉한 비니 또는 꽉 조이지 않는 모자로 준비해주세요.)</span>
												</li>
												<li class="knowledge__item type-required">
													수술 당일 갈아입기 편한 상의 차림으로 내원해주세요.
													<span class="knowledge__add txt-s">(수술 시 가운 착용)</span>
												</li>
											</ul>
											<ul class="knowledge__list txt-r">
												<li class="knowledge__item type-required">
													흰 머리가 많은 경우에는 수술 최소 2-3일전까지는 후두부에
													검은색의 염색을 하는 것이 좋습니다.
												</li>
												<li class="knowledge__item">
													예약 변경 시 최소 1주일 전에 연락 부탁 드립니다.
												</li>
											</ul>
										</div>
									</div>
									<div class="box-style1__box type-after">
										<div class="box-style1__vertical">
											<h4 class="box-style1__tit tit-s">
												<span class="box-style1__icon">수술 후 주의사항</span>
											</h4>
											<ul class="knowledge__list txt-r">
												<li class="knowledge__item">
													집에 도착한 후에는 쉬는 것이 좋으며, 수술 당일은 안정을 취해야 합니다.
												</li>
												<li class="knowledge__item type-required">
													머리가 가려울 경우 비비거나 긁지 않고, 샴푸시 손가락
													지문으로 가볍게 두드리는 정도로 끝냅니다.
												</li>
												<li class="knowledge__item type-required">
													개인차는 있지만 수술 후 2~4일간 이마부위에 약간의 부기가
													있을 수 있으나 자연 소실 됩니다.
												</li>
												<li class="knowledge__item">
													수술 후 다음날부터는 머리를 감을 수 있습니다.
													<span class="knowledge__add txt-s">(다음날 내원하여 샴푸를 받고 상처부위를 소독합니다.)</span>
												</li>
												<li class="knowledge__item">
													머리 감는 요령을 배우셔서 2일째부터는 댁에서 직접 머리를 감을 수 있습니다.
												</li>
												<li class="knowledge__item">
													모발은 시원한 바람(시원한 드라이기, 선풍기 등)으로
													말리시고, 머리 빗을 사용하실 때에는 이식된 부위를 조심해서
													사용해주세요.
												</li>
												<li class="knowledge__item type-required">
													이식된 부분에 작은 딱지가 생기며, 이것은 수술 후 5~7일
													경부터 자연적으로 떨어지도록 하는 것이 좋습니다.
												</li>
											</ul>
											<ul class="knowledge__list txt-r">
												<li class="knowledge__item type-required">
													절개 수술 후 10~14일째 되는 날 내원하여 실밥을 제거 합니다.
													<span class="knowledge__add txt-s">(이때부터는 어떤 주의사항도 없이 평소대로 생활하시면 됩니다.)</span>
												</li>
												<li class="knowledge__item">
													수술 10일~2주 후부터 이식된 모발이 빠지게 되고, 대부분
													4~6주에 빠집니다.
												</li>
												<li class="knowledge__item">
													수술 3~4개월 후부터 모발이 자라나기 시작하여 최소
													6~9개월이 지나면 모발이 굵어지는 것이 보입니다.
												</li>
												<li class="knowledge__item type-required">
													수술 후 3개월 전까지 수술부위에 여드름 같은 모낭염이 생길 수 있으며, 이때는 병원에 내원하셔야 합니다.
												</li>
												<li class="knowledge__item">
													수술 후 6개월 이내에 차차 감각이 좋아지게 됩니다.
												</li>
												<li class="knowledge__item">
													회복의 속도는 개인차가 있을 수 있습니다.
												</li>
												<li class="knowledge__item">
													모발은 평균 한달 1cm정도 자라나게 되며, 자연스러워 보이기까진 최종 1년 정도가 소요됩니다.
												</li>
												<li class="knowledge__item">
													불가마 사우나, 무거운 물건 들기, 꽉 끼는 모자는 피해주세요.
												</li>
											</ul>
											<ul class="knowledge__list txt-r">
												<li class="knowledge__item type-required">
													한 달간 음주, 흡연은 절대 금해야 하며 과도한 운동,
													스트레스를 피하십시오. 술은 염증을 유발하고, 담배는 혈관을
													수축 시켜 수술 부위에 상처치유를 매우 지연시킵니다.
												</li>
												<li class="knowledge__item type-required">
													수술 후 이식모가 고정되는 기간인 2주까지 무리한 운동은 자제해주시고, 실밥 제거
													후 2주간 목에 과도한 힘이 들어가는 운동은 삼가 해주세요.
													<span class="knowledge__add txt-s">(무거운 물건들기 등)</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
