.content-section1{
    &.type-clinic{background:url('../images/reoperation/clinic/clinic_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){background-image:none; background-color:$reoperation2;}
    }
}

.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-clinic{background-image:none; background-color:$reoperation2;
            #{$this}__outer{background:url('../images/reoperation/clinic/clinic_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$reoperation1;}
            #{$this}__list{border-bottom:1px solid $reoperation1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $reoperation2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-clinic{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $reoperation2;}
            }
        }
    }
}

.content-floor{
    &.type-clinic{width:680px; background:url('../images/reoperation/clinic/clinic_bg_1.jpg') no-repeat left bottom;}
    &.type-clinic2{width:950px; background:url('../images/reoperation/clinic/clinic_bg_2.jpg') no-repeat left bottom;}
}
.content-box{
    $this:&;
    &.type-clinic{margin-left:-50px;
        @media only screen and (max-width:$tablet-size){margin-left:0; margin-top:60px;}
        @media only screen and (max-width:$mobile-size){margin-top:30px;}
    }
}

.content-bottom{
    $this:&;
    &.type-clinic{width:836px; background:url('../images/reoperation/clinic/clinic_bg_2.jpg') no-repeat center bottom;}
    &.type-clinic2{margin-left:-150px;}
    @media only screen and (max-width:$tablet-size){
        &.type-clinic{width:100%; padding-bottom:100%; background:url('../images/reoperation/clinic/clinic_bg_2_t.jpg') no-repeat center bottom / cover;}
        &.type-clinic2{margin-left:0px;}
    }
}
