<%
	type = "content"
	page = "svf"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">줄기세포</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">줄기세포 디테일</a></li>
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">줄기세포 탈모치료</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-svf">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-treatment" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-treatment type-svf">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__subtit txt-l">모낭 재생으로 탈모 개선</p>
												<h3 class="visual__tit tit-l">줄기세포 <span class="color-svf1">탈모치료</span></h3>
												<p class="visual__hash color-svf1 txt-r"><span class="visual__span">#비수술</span> <span class="visual__span">#탈모치료의진화</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">시술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">시술시간</h5>
											<p class="visual__txt txt-r">1시간 내외</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">국소마취</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일 시술 후 귀가</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일 시술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content-box layer-top js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											왜, <strong class="color-svf1">줄기세포<br class="hidden-tm">
											탈모치료</strong>인가?
										</h4>
										<p class="content__txt2 txt-r">
											줄기세포는 <strong class="color-black1">손상되거나 노화로 기능이 떨어진 부위를 건강한
											조직으로 만들어 주는 역할을 하며 기존의 경구 약, 주사 치료보다
											치료 횟수는 줄이면서 세포를 재생하고, 모발의 성장을 촉진</strong>시켜
											줍니다. 줄기세포는 신체 조직으로 분화(초기 단계의 세포가 각
											조직으로서의 특성을 갖게 되는 과정)할 수 있는 능력을 가진
											세포로 <strong class="color-black1">손상된 조직을 재생하는 등의 치료에 이용</strong>할 수 있습니다.
										</p>
										<p class="content__txt txt-l">
											특히 성체줄기세포 중 지방 조직에서 추출하여 바로
											사용 가능한<br class="hidden-pm">
											<strong class="color-svf1">
												<span class="js-info">
													<span class="info-btn type-left type-svf">
														<span class="info-btn__plus">plus</span>
														<span class="info-btn__wrap">
															<span class="info-btn__area">
																<span class="info-btn__box">
																	<span class="info-btn__img type-left">
																		<img src="../../images/svf/svfdetail/svfdetail_info_1.jpg" class="img-w100" alt="SVF(Stromal Vascular Fracton)세포">
																	</span>
																	<span class="info-btn__inner">
																		<span class="info-btn__tit txt-r">SVF(Stromal Vascular Fracton)세포</span>
																		<span class="info-btn__txt txt-s">
																			지방에서 추출한 SVF(Stromal Vascular Fracton)는
																			지방유래줄기세포, 섬유아세포, 면역세포 등을 포함하고
																			각종 성장인자와 세포 외 기질 단백질이 포함되어 있다.
																			체내로 혈관에 주입이 되면 상호간에 작용하여, 상처
																			부위의 신생 혈관 형성 및 상처 치유를 촉진하게 된다.
																		</span></span>
																</span>
																<button class="info-btn__close txt-r js-close">닫기</button>
															</span>
														</span>
													</span>
													<span class="txt-under"> SVF(지방유래세포)</span>
												</span>는 자가 재생능력이 뛰어나고 성장인자나 세포들을 활성화
											</strong>한다는 특징이 있습니다.
										</p>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
						<div class="content-floor section-left type-svf type-treatment">
							<div class="content-floor__img">
								<img src="../../images/svf/treatment/treatment_bg_1_m.jpg" class="img-normal" alt=""/>
							</div>
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<ul class="content-floor__list">
											<li class="content-floor__item txt-s js-scroll-motion">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-svf1">01</span><span class="content-floor__txt"> 자가 지방 사용하여 안전함</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-svf1">02</span><span class="content-floor__txt"> 높은 생착률과 우수한 결과</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay2">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-svf1">03</span><span class="content-floor__txt"> 여러 번 채취가능하고 간단함</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay3">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-svf1">04</span><span class="content-floor__txt"> 모든 연령대에서 채취-보관-활용 가능</span>
												</div>
											</li>
										</ul>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll type-svf js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-svf">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											<strong class="color-svf1">치료가 어려운</strong> 탈모유형에도 적용 가능
										</h4>
										<p class="content__txt txt-l">
											탈모치료를 여러 번 반복했으나 <strong class="color-svf1">큰 효과가 없는 경우,<br class="hidden-tm">
											탈모약 복용이 어려운 여성 탈모 등</strong>에도 개선이 가능합니다.
										</p>
										<div class="pick-scroll__area">
											<ul class="pick-scroll__list js-pick-slide">
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/svf/treatment/treatment_pick_1.jpg" class="img-w100" alt="01. M자 탈모 증상이 있는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-svf1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/6</span></span>
															M자 탈모 증상이 있는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/svf/treatment/treatment_pick_2.jpg" class="img-w100" alt="02. 정수리 모발이 점점 가늘어지는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-svf1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/6</span></span>
															정수리 모발이 점점 가늘어지는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/svf/treatment/treatment_pick_3.jpg" class="img-w100" alt="03. 여성형 탈모 치료를 원하는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-svf1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/6</span></span>
															여성형 탈모 치료를 원하는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/svf/treatment/treatment_pick_4.jpg" class="img-w100" alt="04. 반복적인 탈모치료에도 효과가 많이 없는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-svf1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/6</span></span>
															반복적인 탈모치료에도 효과가 많이 없는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/svf/treatment/treatment_pick_5.jpg" class="img-w100" alt="05. 모발이식이나 헤어라인 성형을 한 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-svf1"><span class="pick-scroll__current">5</span><span class="pick-scroll__total txt-s">/6</span></span>
															모발이식이나 헤어라인 성형을 한 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/svf/treatment/treatment_pick_6.jpg" class="img-w100" alt="06. 두피가 예민하고 두피 질환이 있는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-svf1"><span class="pick-scroll__current">6</span><span class="pick-scroll__total txt-s">/6</span></span>
															두피가 예민하고 두피 질환이 있는 경우
														</p>
													</div>
												</li>
											</ul>
											<a href="" class="pick-scroll__btn type-prev js-pick-prev">prev</a>
											<a href="" class="pick-scroll__btn type-next js-pick-next">next</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->
			<div class="horizontal-section content-section4" data-page="key point">
				<div class="content__area">
					<div class="content-key type-svf type-treatment js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-inner">
										<h4 class="content__tit tit-r">
											탈모의 근본 치료를 위한<br>
											<strong class="color-svf1">핵심 포인트</strong>
										</h4>
										<p class="content__line type-svf">KEY POINT</p>
										<p class="content__txt2 txt-r">
											탈모치료에는 여러 가지 방법이 있으나 부위별로 치료 효과가
											다릅니다. <strong class="color-black1">발모에 필요한 영양이나 혈액 공급이 원활하지 않다면
											여러 번 치료해도 탈모 증상만 계속</strong>될 수 있습니다.
										</p>
										<p class="content__txt txt-l">
											줄기세포 탈모치료는 <strong class="color-svf1">모낭세포에 직접 작용하여
											세포 증식, 혈액순환을 개선해주기 때문에 모발을
											건강하고 튼튼하게</strong> 만들어 자연스럽게 탈모 증상이
											완화 가능합니다.
										</p>
									</div>
									<div class="treatment-style1 section-left">
										<div class="treatment-style1__area">
											<div class="treatment-style1__box">
												<div class="treatment-style1__img">
													<img src="../../images/svf/treatment/treatment_img_1.jpg" class="hidden-m" alt=""/>
													<img src="../../images/svf/treatment/treatment_img_1_m.jpg" class="hidden-pt img-w100" alt=""/>
												</div>
											</div>
											<div class="content-key__box type-num">
												<ul class="content-key__list">
													<li class="content-key__item txt-s nth-1">
														모간부
													</li>
													<li class="content-key__item txt-s nth-2">
														모공
													</li>
													<li class="content-key__item txt-s nth-3">
														모근부
													</li>
													<li class="content-key__item txt-s nth-4">
														피지선
													</li>
												</ul>
												<ul class="content-key__list">
													<li class="content-key__item txt-s nth-5">
														모낭
													</li>
													<li class="content-key__item txt-s nth-6">
														모유두
													</li>
													<li class="content-key__item txt-s nth-7">
														모세혈관
													</li>
												</ul>
											</div>
										</div>
										<div class="treatment-style1__area">
											<div class="treatment-style1__box">
												<div class="treatment-style1__img">
													<img src="../../images/svf/treatment/treatment_img_2.jpg" class="hidden-m" alt=""/>
													<img src="../../images/svf/treatment/treatment_img_2_m.jpg" class="hidden-pt img-w100" alt=""/>
												</div>
											</div>
											<div class="content-key__box type-one type-num">
												<ul class="content-key__list">
													<li class="content-key__item type-gray txt-s nth-8">
														샴푸/두피케어
													</li>
													<li class="content-key__item type-gray txt-s nth-9">
														메조테라피/MTS
													</li>
													<li class="content-key__item type-gray txt-s nth-10">
														성장인자주사
													</li>
													<li class="content-key__item txt-s nth-11 type-point">
														줄기세포 치료
													</li>
												</ul>
											</div>
										</div>

									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->
			<div class="horizontal-section content-section5" data-page="how">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<p class="content__line type-svf">HOW</p>
									<h4 class="content__tit tit-r">
										자가 조직 이용하여<br>
										<strong class="color-svf1">안전하고 효과적인</strong><br>
										탈모치료
									</h4>
									<p class="content__txt2 txt-r">
										줄기세포 탈모치료는 좀 더 진화된 탈모치료 방법으로 <strong class="color-black1">모낭세포를
										활성화시키고, 모발 생장 주기를 정상적으로 회복</strong>시키는 근본적인
										치료방법입니다.
									</p>
									<p class="content__txt txt-l">
										자가 지방에서 추출한 SVF를 탈모 부위에 주입하게
										되면 모낭세포가 증식되어 <strong class="color-svf1">모발의 성장을 촉진하며,
										신생모 생성, 모발 굵기 증가, 두피 건강 개선 등을
										기대</strong>할 수 있습니다.
									</p>
								</div>
								<div class="content-img type-list section-left type-treatment js-scroll-motion">
									<div class="flex-bottom">
										<div class="content-img__wrap">
											<img src="../../images/svf/treatment/treatment_img_3.jpg" class="img-w100-t hidden-m" alt="지방 svf"/>
											<img src="../../images/svf/treatment/treatment_img_3_m.jpg" class="img-w100 hidden-pt" alt="지방 svf"/>
											<ul class="content-img__list type-one">
												<li class="content-img__item type-svf">
													<h5 class="content-img__subject txt-l">지방 SVF</h5>
													<p class="content-img__txt txt-s"><span class="content-img__num color-svf1">01</span>일정량의 지방을 채취 후</p>
													<p class="content-img__txt txt-s"><span class="content-img__num color-svf1">02</span>SVF만 추출하여 세분화 시킨 다음</p>
													<p class="content-img__txt txt-s"><span class="content-img__num color-svf1">03</span>탈모 부위에 주입하여 모낭세포 활성화, 두피 조직 재생 촉진(1개월마다 1번씩 2~3회 추천)</p>
												</li>
											</ul>
											<p class="content-img__noti txt-s">*개인의 상태에 따라 치료 횟수와 간격이 달라질 수 있습니다.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section5-->
			<div class="horizontal-section content-section6" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-svf1">결과를 좌우하는</strong> 바노바기의 줄기세포 탈모치료
									</h4>
									<p class="content__txt txt-l">
										줄기세포 전담 연구원과 첨단시스템, 숙련된 의료진의
										전문적이고 디테일한 치료를 통해 <strong class="color-svf1">약해진 모발은 튼튼하게,
										두피는 건강하게 개선</strong>할 수 있습니다.
									</p>
									<p class="content__line type-svf">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-svf js-number-width">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/svf/treatment/treatment_technic_1.jpg" class="img-responsive" alt="줄기세포 기술력과 연구 개발 노하우"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">줄기세포 기술력과 연구 개발 노하우</h5>
													<p class="content-number__txt txt-s">
														혈액, 골수, 지방 등에서 채취한
														다양한 세포를 활용하여 치료가
														가능
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/svf/treatment/treatment_technic_2.jpg" class="img-responsive" alt="체계적인 줄기세포 시스템 줄기세포 전담 연구원 상주"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">체계적인 줄기세포 시스템 줄기세포 전담 연구원 상주</h5>
													<p class="content-number__txt txt-s">
														건강한 세포를 확보하는
														노하우와 기술, 뛰어난 효과가
														장기간 지속되는 세포 치료의
														비결
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/svf/treatment/treatment_technic_3.jpg" class="img-responsive" alt="숙련된 모발재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">모발이식 및 탈모치료 전담 의료진</h5>
													<p class="content-number__txt txt-s">
														10년간 3,000건 이상 수술
														경험의 모발재배치 전문 의료진
													</p>
												</div>
											</li>
											<li class="content-number__item nth-4 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/svf/treatment/treatment_technic_4.jpg" class="img-responsive" alt="다양한 탈모치료 두피케어 프로그램"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">다양한 탈모치료 두피케어 프로그램</h5>
													<p class="content-number__txt txt-s">
														줄기세포 치료 기술로 다양한
														부위에 효과적이고 자연스러운
														개선을 제안
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->
			<div class="horizontal-section content-section7" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-svf js-scroll-motion">
									<p class="content__line type-svf">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-svf1">줄기세포 탈모치료</strong>
									</h4>
									<p class="content__txt txt-l">
										개인의 모발 상태가 다르듯이 두피와 탈모 유형도 모두 다릅니다.<br>
										<strong class="color-svf1">정밀한 진단을 통해 맞춤 관리와 치료가 이루어져야 탈모를 적극적으로 예방하고,<br class="hidden-tm"> 개선</strong> 할 수 있습니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 1</p>
															<h5 class="content-process__tit txt-l">진단 및 상담</h5>
															<p class="content-process__txt txt-r">
																두피, 모공, 각질 등<br>
																전반적인 상태,<br>
																모발 밀도 및 두께,<br>
																탈모 유형 종합 진단,<br>
																치료 계획 상담
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/svf/treatment/treatment_process_1.jpg" alt="step 1 진단 및 상담" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 2</p>
															<h5 class="content-process__tit txt-l">줄기세포 탈모치료</h5>
															<p class="content-process__txt txt-r">
																진단에 따른 줄기세포<br>
																채취 방식 선택,<br>
																체계적이고 정기적인 관리
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/svf/treatment/treatment_process_2.jpg" alt="step 2 줄기세포 탈모치료" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 3</p>
															<h5 class="content-process__tit txt-l">홈케어 및 유지관리</h5>
															<p class="content-process__txt txt-r">
																탈모 전용 제품 사용 등으로<br>
																탈모 예방 및 고생착
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/svf/treatment/treatment_process_3.jpg" alt="step 3 홈케어 및 유지관리" class="img-w100"/>
												</div>
											</li>
										</ul>
										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->
			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
