<%
	type = "introduce"
	page = "svf"
	scroll = "horizontal"
	attach = "detail"
%>
<% include ../_include/_header %>

<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">바노바기</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s is-active"><a href="" class="breadcrumb__link">줄기세포 모발이식 디테일</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">절개/비절개/로봇 모발이식</a></li>
			</ul>
		</div>
	</div>
	<div class="horizontal-fix">
		<ul class="horizontal-fix__list">
			<li class="horizontal-fix__item type-bg type-svfvideo is-active">
				<iframe src="https://player.vimeo.com/video/374584274?muted=1&amp;autoplay=1&loop=1" class="horizontal-fix__iframe" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
			</li>
			<li class="horizontal-fix__item type-svfdetail1"></li>
			<li class="horizontal-fix__item type-svfdetail2"></li>
		</ul>
	</div>
	<div class="horizontal-scroll">
		<div class="horizontal-wrap">
			<div class="horizontal-section detail-video type-svfdetail cover-section1" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="detail-video__wrap js-fade-in">
							<p class="detail-video__subtit txt-l">기술의 진보, 생착의 진보</p>
							<h3 class="detail-video__tit tit-l">
								바노바기<br>
								줄기세포 디테일
							</h3>
							<p class="detail-video__txt txt-r"><span class="visual__span color-svf1">#우수한기술력</span> <span class="visual__span color-svf1">#고밀도</span> <span class="visual__span color-svf1">#고생착</span></p>
							<span class="detail-video__scroll txt-r">
								<span class="detail-video__arrow">scroll</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section2 cover-section2 type-cling">
				<div class="content__area type-wide type-bg type-svfdetail">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/svf/svfdetail/svfdetail_img_1.jpg" class="img-h100-p" alt="무균 QC실"/>
									</div>
									<div class="content-box type-slim type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											줄기세포,<br class="hidden-tm">
											바노바기는<br class="hidden-tm">
											<strong class="color-svf1">이렇게</strong> 합니다
										</h4>
										<p class="content__txt txt-l">
											보다 <strong class="color-svf1">높은 수준</strong>의 세포 치료
										</p>
										<p class="content__txt2 txt-r">
											전문 시설과 인력을 갖춘 바노바기는 혈액, 골수,
											지방 등에서 채취한 <strong class="color-black1">다양한 세포를 활용하여
												치료가 가능</strong>합니다.
										</p>
									</div>
									<div class="content-img type-svfdetail detail-left js-scroll-motion">
										<div class="content-img__img type-slim-t js-info-motion">
											<img src="../../images/svf/svfdetail/svfdetail_img_2.jpg" class="img-w100" alt="SVF(Stromal Vascular Fracton)세포">
										</div>
									</div>
									<div class="content-box type-detail type-slim detail-left js-scroll-motion">
										<div class="content__outer">
											<div class="content__inner">
												<p class="content__txt txt-l">
													특히 지방조직에서 추출하여 바로 사용 가능한&nbsp;
													<strong class="color-svf1">
														<span class="js-info">
															<span class="info-btn type-svf type-left">
																<span class="info-btn__plus">plus</span>
																<span class="info-btn__wrap">
																	<span class="info-btn__area">
																		<span class="info-btn__box">
																			<span class="info-btn__img type-left">
																				<img src="../../images/svf/svfdetail/svfdetail_info_1.jpg" class="img-w100" alt="SVF(Stromal Vascular Fracton)세포"/>
																			</span>
																			<span class="info-btn__inner">
																				<span class="info-btn__tit txt-r">SVF(Stromal Vascular Fracton)세포</span>
																				<span class="info-btn__txt txt-s">
																					지방에서 추출한 SVF(Stromal Vascular Fracton)는
																					지방유래줄기세포, 섬유아세포, 면역세포 등을 포함하고
																					각종 성장인자와 세포 외 기질 단백질이 포함되어 있다.
																					체내로 혈관에 주입이 되면 상호간에 작용하여, 상처
																					부위의 신생 혈관 형성 및 상처 치유를 촉진하게 된다.
																				</span></span>
																		</span>
																		<button class="info-btn__close txt-r js-close">닫기</button>
																	</span>
																</span>
															</span>
															<strong class="txt-under">SVF세포</strong>는</span> 자가 재생능력이
														뛰어나며, 모낭세포를 증식시키고
														적용 주변의 성장인자나 세포들을
														활성화
													</strong>하여 부작용이 거의 없습니다.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section detail-cover type-bg type-svfdetail"></div>
			<div class="horizontal-section content-section3">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/svf/svfdetail/svfdetail_img_3.jpg" class="img-h100-p" alt=""/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											줄기세포,<br class="hidden-tm">
											바노바기는 <br class="hidden-tm">
											<strong class="color-svf1">다양한 부위</strong>에 합니다
										</h4>
										<p class="content__txt txt-l">
											SVF 세포의 <strong class="color-svf1">다양한 적용 범위</strong>
										</p>
										<p class="content__txt2 txt-r">
											<strong class="color-black1">SVF 세포는 자가 복구 능력이 뛰어날 뿐만 아니라, 주입된 부위에
											맞게 적응하는 능력</strong>이 있어 다양한 부위에 활용이 가능합니다.
											바노바기는 이 세포 치료 기술로 피부 흉터, 노화, 얼굴과 체형의 보정, 남성·여성 탈모까지, <strong class="color-black1">다양한 부위의 효과적이고 자연스러운 개선을
											제안</strong>합니다.
										</p>
									</div>
									<div class="content-img type-style1 detail-left">
										<div class="content-img__img">
											<div class="content-img__right js-scroll-motion type-delay">
												<img src="../../images/svf/svfdetail/svfdetail_img_4.jpg" class="img-w100" alt="">
											</div>
											<div class="content-img__left js-scroll-motion">
												<img src="../../images/svf/svfdetail/svfdetail_img_5.jpg" class="img-w100" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section4 cover-section3">
				<div class="content__area type-wide type-bg type-svfdetail2">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/svf/svfdetail/svfdetail_img_6.jpg" class="img-h100-p" alt=""/>
									</div>
									<div class="content-box type-slim type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											줄기세포,<br class="hidden-tm">
											바노바기는<br class="hidden-tm">
											<strong class="color-svf1">뛰어납니다</strong>
										</h4>
										<p class="content__txt txt-l">
											더 많은, 더 좋은 세포를 확보하는 <br class="hidden-tm">
											<strong class="color-svf1">경쟁력</strong>
										</p>
										<p class="content__txt2 txt-r">
											SVF 세포 치료의 만족도는 주입된 세포의
											생착률에 의해 좌우됩니다. 그래서 바노바기는
											<strong class="color-black1">생명공학 연구원이 상주하며 전문적인 세포
											치료를 진행</strong>합니다.
										</p>
									</div>
									<div class="content-img type-hair2 detail-left js-scroll-motion">
										<div class="content-img__img type-slim-t">
											<img src="../../images/svf/svfdetail/svfdetail_img_7.jpg" class="img-w100" alt="">
										</div>
									</div>
									<div class="content-box type-detail type-slim detail-left js-scroll-motion">
										<div class="content__outer">
											<div class="content__inner">
												<p class="content__txt txt-l">
													<strong class="color-svf1">같은 양의 지방에서 더 많고 건강한
													세포를 확보하는 노하우와 기술,</strong> 뛰어난
													효과가 장기간 지속되는 바노바기 세포
													치료의 비결입니다.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="horizontal-section detail-cover type-bg type-svfdetail2"></div>
			<div class="horizontal-section content-section5 cover-end">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/svf/svfdetail/svfdetail_img_8.jpg" class="img-h100-p" alt="극저온 냉동 보관 시스템"/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											줄기세포,<br class="hidden-tm">
											바노바기는<br class="hidden-tm">
											<strong class="color-svf1">여러 번 가능</strong>합니다
										</h4>
										<p class="content__txt txt-l">
											<strong class="color-svf1">약 3~5년 이상까지 보관이 가능</strong>한 셀 뱅킹 시스템
										</p>
										<p class="content__txt2 txt-r">
											SVF 세포는 추출 후 시간이 지날수록 손상, 오염의 가능성이
											높아집니다. 때문에 기존의 세포 치료는 그 횟수가 1회로 제한될
											수밖에 없었죠. 바노바기는  <strong class="color-black1">
											<span class="js-info">
												<span class="info-btn type-svf type-left">
													<span class="info-btn__plus">plus</span>
													<span class="info-btn__wrap">
														<span class="info-btn__area">
															<span class="info-btn__box">
																<span class="info-btn__img type-left">
																	<img src="../../images/svf/svfdetail/svfdetail_info_2.jpg" class="img-w100" alt=""/>
																</span>
																<span class="info-btn__inner">
																	<span class="info-btn__tit txt-r">극저온 냉동 보관 시스템</span>
																	<span class="info-btn__txt txt-s">
																		<span class="info-btn__bullet txt-s">반복적인 집중치료가 가능</span>
																		<span class="info-btn__bullet txt-s">세포의 손실 및 오염방지</span>
																		<span class="info-btn__bullet txt-s">젊은 양질의 세포를 미리 보관 후<br class="hidden-tm"> 정기적 사용 가능</span>
																	</span>
																</span>
															</span>
															<button class="info-btn__close txt-r js-close">닫기</button>
														</span>
													</span>
												</span>
												<span class="txt-under color-black1">극저온 냉동 보관 시스템</span>
											</span>
											을
											도입하여 SVF 세포를 그대로 저장</strong>해드립니다.
											이를 통해 <strong class="color-black1">여러 번의 집중적인 반복 시술이 가능하고, 보다
											뛰어난 효과를 기대</strong>할 수 있습니다.
										</p>
									</div>
									<div class="content-img type-detail type-style2 detail-left">
										<div class="content-img__img">
											<div class="content-img__left js-scroll-motion">
												<img src="../../images/svf/svfdetail/svfdetail_img_9.jpg" class="img-w100" alt="">
											</div>
											<div class="content-img__right js-scroll-motion type-delay">
												<img src="../../images/svf/svfdetail/svfdetail_img_10.jpg" class="img-w100" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="horizontal-section content-section6">
				<div class="content__area type-wide type-bg type-svfdetail3">
					<div class="content-nowrap">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-img type-margin-zero js-scroll-motion">
										<img src="../../images/svf/svfdetail/svfdetail_img_11.jpg" class="img-h100-p" alt="원스톱 무균 시설"/>
									</div>
									<div class="content-box type-detail detail-left js-scroll-motion">
										<h4 class="content__tit tit-r type-detail">
											줄기세포,<br class="hidden-tm">
											바노바기는<br class="hidden-tm">
											<span class="color-svf1">디테일</span>합니다
										</h4>
										<p class="content__txt txt-l">
											더욱 <strong class="color-svf1">안전하고 성공적인 치료</strong>를 위한 무균 룸
										</p>
										<p class="content__txt2 txt-r">
											사람의 세포는 외부 환경에 매우 민감하게 반응합니다.
											따라서<strong class="color-black1"> 미세한 오염에도 굉장히 취약</strong>하죠.
											때문에 바노바기는 세포 분리에서 세포 처리까지의 <strong class="color-black1">
												<span class="js-info">
													<span class="info-btn type-svf type-left type-list">
														<span class="info-btn__plus">plus</span>
														<span class="info-btn__wrap">
															<span class="info-btn__area">
																<span class="info-btn__box">
																	<span class="info-btn__point txt-s">세포의 오염과 변질을 예방하는</span>
																	<span class="info-btn__tit txt-r">원스톱 무균 시설</span>
																	<span class="info-btn__list">
																		<span class="info-btn__item">
																			<img src="../../images/svf/svfdetail/svfdetail_info_3.jpg" class="img-w100" alt="Air Shower"/>
																			<span class="info-btn__subject txt-s">Air Shower</span>
																		</span>
																		<span class="info-btn__item">
																			<img src="../../images/svf/svfdetail/svfdetail_info_4.jpg" class="img-w100" alt="무균 수술실"/>
																			<span class="info-btn__subject txt-s">무균 수술실</span>
																		</span>
																		<span class="info-btn__item">
																			<img src="../../images/svf/svfdetail/svfdetail_info_5.jpg" class="img-w100" alt="무균 연구시설"/>
																			<span class="info-btn__subject txt-s">무균 연구시설</span>
																		</span>
																		<span class="info-btn__item">
																			<img src="../../images/svf/svfdetail/svfdetail_info_6.jpg" class="img-w100" alt="무균 QC실"/>
																			<span class="info-btn__subject txt-s">무균 QC실</span>
																		</span>
																	</span>
																</span>
																<button class="info-btn__close txt-r js-close">닫기</button>
															</span>
														</span>
													</span>
													<strong class="txt-under">전 과정이 하나로 연결된 무균 룸 시스템</strong>
												</span>
											을 도입</strong>했습니다. <strong class="color-black1">세포의 변질과
											손실이 거의 없는 안전한 치료,</strong> 바노바기에서 가능합니다.
										</p>
									</div>
									<div class="content-img type-style3 detail-left type-detail">
										<div class="content-img__img">
											<div class="content-img__right js-scroll-motion type-delay">
												<img src="../../images/svf/svfdetail/svfdetail_img_12.jpg" class="img-w100" alt="원스톱 무균 시설">
											</div>
											<div class="content-img__left js-scroll-motion">
												<img src="../../images/svf/svfdetail/svfdetail_img_13.jpg" class="img-w100" alt="원스톱 무균 시설">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- //content__area-->
			</div>
			<div class="horizontal-footer">line</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
