.content-section1{
    &.type-reduction{background:url('../images/woman/reduction/reduction_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){
            background-image:none; background-color:#e6e3b0;
        }
    }
}

.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-reduction{background-image:none; background-color:$woman2;
            #{$this}__outer{background:url('../images/woman/reduction/reduction_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$woman1;}
            #{$this}__list{border-bottom:1px solid $woman1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $woman2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-reduction{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $woman2;}
            }
        }
    }
}

.content-floor{
    &.type-reduction{ background:url('../images/woman/reduction/reduction_bg_1.jpg') no-repeat left bottom;}
}

.content-bottom{
    $this:&;
    &.type-reduction{
        #{$this}__noti{bottom:60px;}
    }
}
