.content-section1{
    &.type-womancharm{background:url('../images/woman/womancharm/womancharm_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){background-image:none; background-color:$woman2;}
    }
}

.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-womancharm{background-image:none; background-color:$woman2;
            #{$this}__outer{background:url('../images/woman/womancharm/womancharm_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$woman1;}
            #{$this}__list{border-bottom:1px solid $woman1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $woman2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-womancharm{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $woman2;}
            }
        }
    }
}

.content-box{
    $this:&;
    &.type-womancharm{
        @media only screen and (max-width:$tablet-size){margin-top: 60px;}
        @media only screen and (max-width:$mobile-size){margin-top: 30px;}
    }
}
