.content-section1{
    &.type-womanalopecia{background:url('../images/woman/womanalopecia/womanalopecia_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){
            background-image:none; background-color: #fff0dd;
        }
    }
}

.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-womanalopecia{background-image:none; background-color:$woman2;
            #{$this}__outer{background:url('../images/woman/womanalopecia/womanalopecia_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$woman1;}
            #{$this}__list{border-bottom:1px solid $woman1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $woman2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-womanalopecia{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $woman2;}
            }
        }
    }
}

.content-bottom{
    $this:&;
    &.type-womanalopecia{width: 1000px;background:url('../images/woman/womanalopecia/womanalopecia_bg_1.jpg') no-repeat center bottom;}
    &.type-womanalopecia2{width: 630px;background:url('../images/woman/womanalopecia/womanalopecia_bg_3.jpg') no-repeat center bottom;}

    @media only screen and (max-width:$tablet-size){
        &.type-womanalopecia{display:block; width:90%; padding-bottom:90%; margin-left:auto; margin-right:auto; background:url('../images/woman/womanalopecia/womanalopecia_bg_1_t.jpg') no-repeat left bottom / cover;
            .content-wrap{position: static;}
        }
        &.type-womanalopecia2{width:100%; padding-bottom:100%; background:url('../images/woman/womanalopecia/womanalopecia_bg_3_t.jpg') no-repeat center bottom / cover;}
    }
    @media only screen and (max-width:$mobile-size){

    }
}

.circle-graph{
    $this:&;

    &.type-womanalopecia{
        #{$this}__wrap{
            &:before{background: url('../images/woman/womanalopecia/womanalopecia_circle_bg_1.png') no-repeat center center/cover;}
        }
    }

    @media only screen and (max-width:$tablet-size){
        &.type-womanalopecia{
            top: auto;bottom: 0;right: 10px;
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-womanalopecia{
            bottom: -56px;right: 5px;
        }
    }
}

.content-floor{
    &.type-womanalopecia{ background:url('../images/woman/womanalopecia/womanalopecia_bg_2.jpg') no-repeat left bottom;}
}

.content-box{
    @media only screen and (max-width:$tablet-size){
        &.type-womanalopecia{margin-top:60px;}
    }
    @media only screen and (max-width:$mobile-size){
        &.type-womanalopecia{margin-top:30px;}
    }
}
