.content-section1{
    &.type-womanline{background:url('../images/woman/womanline/womanline_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){background-image:none; background-color:$woman2;}
    }
}

.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-womanline{background-image:none; background-color:$woman2;
            #{$this}__outer{background:url('../images/woman/womanline/womanline_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$woman1;}
            #{$this}__list{border-bottom:1px solid $woman1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $woman2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-womanline{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $woman2;}
            }
        }
    }
}
.content-floor{
    &.type-womanline{ background:url('../images/woman/womanline/womanline_bg_1.jpg') no-repeat left bottom;}
}
.content-box{
    $this:&;
    &.type-womanline{margin-left:-50px;
        @media only screen and (max-width:$tablet-size){margin-left:0; margin-top:60px;}
        @media only screen and (max-width:$mobile-size){margin-top:30px;}
    }
}

.content-bottom{
    $this:&;
    &.type-womanline{width:836px; background:url('../images/woman/womanline/womanline_bg_2.jpg') no-repeat center bottom;}
    @media only screen and (max-width:$tablet-size){
        &.type-womanline{width:100%; padding-bottom:100%; background:url('../images/woman/womanline/womanline_bg_2_t.jpg') no-repeat center bottom / 70%;}
    }
}
