<%
	type = "content"
	page = "reoperation"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">모발이식재수술</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">모발이식재수술</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-reoperation">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-clinic" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-clinic type-reoperation">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__reoperationtit txt-l">더 정교하게, 더 풍성하게</p>
												<h3 class="visual__tit tit-l">모발이식 <span class="color-reoperation1">재수술</span></h3>
												<p class="visual__hash color-reoperation1 txt-r"><span class="visual__span">#고밀도</span> <span class="visual__span">#고생착</span> <span class="visual__span">#흉터최소화</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">수술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">수술시간</h5>
											<p class="visual__txt txt-r">약 3~4시간</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">국소마취</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일수술 후 퇴원</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일수술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content-box js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											이번에는 진짜, <br>
											<strong class="color-reoperation1">제대로 해야 하는 재수술</strong>
										</h4>
										<p class="content__txt txt-l">
											채취 가능한 후두부의 모발이 한정적이라
											여러 번 수술이 어렵기때문에 <strong class="color-reoperation1">재수술은 신중히
											따져보고 선택</strong>해야 합니다.
										</p>
										<p class="content__txt2 txt-r">
											한국인은 평균적으로 8~10만개의 모발을 가지고 있으며,
											탈모 진행시 공여부에 25%정도 남게 되나 후두부 절개 후 봉합을
											고려한다면 모발이식이 가능한 모발 수는 이보다 훨씬 적습니다.
											또한 헤어라인이 잘못된 경우 기존 헤어라인을 제모하거나
											연모화 후 새로운 디자인에 자연스럽게 연결되도록 하는 것이
											필요합니다. 이러한 <strong class="color-black1">모발 채취의 한계와 기존 헤어라인의 교정
											어려움 때문에 1차 수술 결과에 대한 면밀한 분석과 현재 상태를
											종합적으로 고려한 재수술이 중요</strong>합니다.
										</p>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
						<div class="content-floor type-reoperation type-clinic">
							<div class="content-floor__img">
								<img src="../../images/reoperation/clinic/clinic_bg_1_t.jpg" class="img-normal" alt=""/>
							</div>
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<ul class="content-floor__list">
											<li class="content-floor__item txt-s js-scroll-motion">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-reoperation1">01</span><span class="content-floor__txt">흉터</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-reoperation1">02</span><span class="content-floor__txt">탈모의 진행</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay2">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-reoperation1">03</span><span class="content-floor__txt">디자인 불만</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay3">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-reoperation1">04</span><span class="content-floor__txt">듬성듬성한 밀도</span>
												</div>
											</li>
										</ul>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll js-scroll-motion type-reoperation">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-reoperation">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											<strong class="color-reoperation1">더 이상의 실패</strong>는 경험하고 싶지 않은 분들께
										</h4>
										<p class="content__txt txt-l">
											모발이식, 헤어라인의 재수술은 이전 수술로 인해 이미 흉터가 있거나, 연조직 손상을 받은 <br class="hidden-tm">
											공여부에서 추가로 모발을 채취하는 것이므로 <strong class="color-reoperation1">세밀한 수술 계획과 정교한 재배치가 필요</strong>합니다.
										</p>
										<div class="pick-scroll__area">
											<ul class="pick-scroll__list js-pick-slide">
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/reoperation/clinic/clinic_pick_1.jpg" class="img-w100" alt="01. 이전 수술시 생착이 저조하여 밀도 보강을 원하는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-reoperation1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/6</span></span>
															이전 수술시 생착이 저조하여 밀도 보강을 원하는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/reoperation/clinic/clinic_pick_2.jpg" class="img-w100" alt="02. 더 자연스럽고 세련된 헤어라인을 원하는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-reoperation1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/6</span></span>
															더 자연스럽고 세련된 헤어라인을 원하는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/reoperation/clinic/clinic_pick_3.jpg" class="img-w100" alt="03. 헤어라인을 조금 더 내리고 싶은 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-reoperation1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/6</span></span>
															헤어라인을 조금 더 내리고 싶은 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/reoperation/clinic/clinic_pick_4.jpg" class="img-w100" alt="04. 한 번의 수술로는 많은 범위에 이식하기 어려운 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-reoperation1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/6</span></span>
															한 번의 수술로는 많은 범위에 이식하기 어려운 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/reoperation/clinic/clinic_pick_5.jpg" class="img-w100" alt="05. 탈모가 계속 진행된 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-reoperation1"><span class="pick-scroll__current">5</span><span class="pick-scroll__total txt-s">/6</span></span>
															탈모가 계속 진행된 경우
														</p>
													</div>
												</li>

												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/reoperation/clinic/clinic_pick_6.jpg" class="img-w100" alt="06. 후두부 흉터 최소화와 밀도 보강을 원하는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-reoperation1"><span class="pick-scroll__current">6</span><span class="pick-scroll__total txt-s">/6</span></span>
 															후두부 흉터 최소화와 밀도 보강을 원하는 경우
														</p>
													</div>
												</li>
											</ul>
											<a href="" class="pick-scroll__btn type-prev js-pick-prev">prev</a>
											<a href="" class="pick-scroll__btn type-next js-pick-next">next</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->
			<div class="horizontal-section content-section4" data-page="detail">
				<div class="content__area">
					<div class="content-box js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<p class="content__line type-reoperation">DETAIL</p>
									<h4 class="content__tit tit-r">
										바노바기라서 <strong class="color-reoperation1">수준 높은 모발이식 재수술</strong>
									</h4>
									<p class="content__txt txt-l">
										10년 이상 수술 경험의 의료진이 채취한 모낭을
										<strong class="color-reoperation1">가장 자연스럽고 밀도 있게 재배치</strong>하며, 같은 수의
										모낭을 이식하더라도 더 풍성하게 보이도록
										<strong class="color-reoperation1">디테일하게 이식</strong>합니다.
									</p>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-floor type-reoperation type-clinic2">
						<div class="content-floor__img">
							<img src="../../images/reoperation/clinic/clinic_bg_2_t.jpg" class="img-normal" alt=""/>
						</div>
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<ul class="content-floor__list">
										<li class="content-floor__item txt-s js-scroll-motion">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-reoperation1">01</span><span class="content-floor__txt">수술 후 케어 책임보증제</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-reoperation1">02</span><span class="content-floor__txt">1:1 시스템, 숙련된 모발이식</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay2">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-reoperation1">03</span><span class="content-floor__txt">안전한 국소마취, 정맥마취 No!</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay3">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-reoperation1">04</span><span class="content-floor__txt">높은 생착률로 만족스러운 결과</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay3">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-reoperation1">05</span><span class="content-floor__txt">디테일한 재배치, 밀도 있는 풍성함</span>
											</div>
										</li>
									</ul>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
				</div>
			</div><!-- //content-section3-->
			<div class="horizontal-section content-section5" data-page="key point">
				<div class="content__area">
					<div class="content-key layer-top type-reoperation js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-wide type-inner">
										<h4 class="content__tit tit-r">
											흉터는 적게, 모발은 풍성하게, <strong class="color-reoperation1">재수술 핵심 포인트</strong>
										</h4>
										<p class="content__line type-reoperation">KEY POINT</p>
										<p class="content__txt2 txt-r">
											재수술의 경우 얼굴형, 이마 모양과 비율, 머리결 방향, 밀도, 후두부 두피의
											탄력성과 흉터 부위 등의 <strong class="color-black1">모든 요소들을 고려한 후 모발의 각도, 심는 깊이를
											조절하여 최대한 자연스럽고 정교하게 재배치하는 기술이 중요</strong>합니다.
										</p>
									</div>
									<div class="content-key__box">
										<ul class="content-key__list">
											<li class="content-key__item txt-s">환자의 이전 수술 불만 파악</li>
											<li class="content-key__item txt-s">얼굴 이미지에 맞는 디자인</li>
											<li class="content-key__item txt-s">모발 밀도 보강 및 굵은 모발 연모화</li>
										</ul>
										<ul class="content-key__list">
											<li class="content-key__item txt-s">이전 수술의 잘못된 헤어라인 교정</li>
											<li class="content-key__item txt-s">잘못된 모발 방향의 교정</li>
											<li class="content-key__item txt-s">모발의 굵기, 밀도 그라데이션 재배치</li>
										</ul>
									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-bottom type-clinic2 js-scroll-motion">
						<div class="flex-bottom type-slim-t">
							<div class="flex-bottom__wrap">
								<img src="../../images/reoperation/clinic/clinic_bg_3.jpg" class="hidden-tm" alt="모발재수술 모델"/>
								<img src="../../images/reoperation/clinic/clinic_bg_3_t.jpg" class="hidden-p img-w100-t" alt="모발재수술 모델"/>
								<p class="content-bottom__noti txt-s color-black4">※ 이해를 돕기 위해 연출된 이미지 입니다.</p>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->
			<div class="horizontal-section content-section6" data-page="how">
				<div class="content-popup">
					<div class="content-popup__wrap">
						<div class="content-popup__area">
							<h5 class="content-popup__tit tit-s">절개법 VS 비절개법 비교</h5>
							<div class="content-popup__scroll">
								<table class="table-v1 type-reoperation">
									<tbody>
										<tr class="table-v1__tr">
											<th class="bg-white"></th>
											<th class="table-v1__th bg-gray1">절개법</th>
											<th class="table-v1__th">비절개법</th>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">흉터</th>
											<td class="table-v1__td">하나의 가는 실선 형태</td>
											<td class="table-v1__td">여러 개의 작은 점 형태</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">생착률</th>
											<td class="table-v1__td">높음</td>
											<td class="table-v1__td">상대적으로 낮음</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">삭발여부</th>
											<td class="table-v1__td">불필요</td>
											<td class="table-v1__td">삭발</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">추출부위 밀도<br>(뒷머리)</th>
											<td class="table-v1__td">변화없음</td>
											<td class="table-v1__td">줄어듦</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">시간<br>(3,0000모 기준)</th>
											<td class="table-v1__td">약 4시간</td>
											<td class="table-v1__td">약 6시간</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<button class="content-popup__close js-content-close">닫기</button>
					</div>
				</div>
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<p class="content__line type-reoperation">HOW</p>
									<h4 class="content__tit tit-r">
										<strong class="color-reoperation1">절개/비절개/로봇 모낭 채취</strong> 모두 가능한 바노바기
									</h4>
									<p class="content__txt txt-l">
										숙련된 의료진에게 절개, 비절개 방식을
										구분하는 것은 무의미합니다.
										<strong class="color-reoperation1">헤어라인 경계, 두피의 탄력성, 두피 건강 상태 등을
											종합적으로 진단하여 환자분에게
											적합한 방식</strong>을 권해 드립니다.
									</p>
									<a href="" class="content__more more-btn type-reoperation js-hover js-content-open">
										<span class="more-btn__plus">plus</span><span class="more-btn__txt">more</span>
									</a>
									<p class="more-btn__show txt-s">절개법 VS 비절개법 비교 보기</p>
								</div>
								<div class="content-img type-list type-clinic js-scroll-motion">
									<div class="flex-bottom">
										<div class="content-img__wrap">
											<img src="../../images/reoperation/clinic/clinic_img_2.jpg" class="img-w100-t" alt="절개법 VS 비절개법 비교"/>
											<ul class="content-img__list">
												<li class="content-img__item type-default">
													<h5 class="content-img__subject txt-l">절개법</h5>
													<p class="content-img__txt txt-s">필요한 모낭만큼 두피 면적을 떼어낸 후 봉합</p>
												</li>
												<li class="content-img__item type-reoperation">
													<h5 class="content-img__subject txt-l">비절개법</h5>
													<p class="content-img__txt txt-s">모발 사이사이 필요한 모낭만을 하나씩 채취</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section5-->
			<div class="horizontal-section content-section7" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-reoperation1">결과를 좌우하는</strong> 바노바기의 모발이식 재수술 시스템
									</h4>
									<p class="content__txt txt-l">
										채취 단계부터 최대한 모낭과 그 주변을 손상 없이 그대로 채취
										및 분리하여 이식된 모낭이 건강하게 생착 될 수 있도록 하고,
										<strong class="color-reoperation1">숙련된 의료진의 전문적이고 정교한 이식을 통해
										만족스러운 결과를 기대</strong>할 수 있습니다.
									</p>
									<p class="content__line type-reoperation">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-reoperation">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/reoperation/clinic/clinic_technic_1.jpg" class="img-responsive" alt="건강한 모낭채취"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">건강한 모낭채취</h5>
													<p class="content-number__txt txt-s">
														절개/비절개/로봇을 이용하여
														흉터 및 손상이 거의 없는
														모낭채취
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/reoperation/clinic/clinic_technic_2.jpg" class="img-responsive" alt="전문적인 모낭분리"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">전문적인 모낭분리</h5>
													<p class="content-number__txt txt-s">
														최소 5년 이상 경력의
														모낭분리사가 정교하고
														안전하게 모낭분리
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/reoperation/clinic/clinic_technic_3.jpg" class="img-responsive" alt="숙련된 모발재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">숙련된 모발재배치</h5>
													<p class="content-number__txt txt-s">
														10년간 3,000건 이상 수술
														경험의 모발재배치 전문 의료진
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->
			<div class="horizontal-section content-section8" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-reoperation js-scroll-motion">
									<p class="content__line type-reoperation">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-reoperation1">모발이식 재수술 과정</strong>
									</h4>
									<p class="content__txt txt-l">
										이전 수술로 이식된 부위 모발의 상태와 굵기, 밀도 등이 모두 다릅니다.
										이러한 조건들을 고려하여 진단하고 채취한 모발을 <strong class="color-reoperation1">두피와 모발 상태에 가장 알맞은 최적의 방식으로
										최대한 자연스럽고 정교하게 재배치</strong> 해야 합니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 1</p>
															<h5 class="content-process__tit txt-l">진단 및 상담</h5>
															<p class="content-process__txt txt-r">
																탈모 및 두피,<br> 흉터 부위 상태 확인,<br> 수술 상담
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/reoperation/clinic/clinic_process_1.jpg" alt="step 1 진단 및 상담" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 2</p>
															<h5 class="content-process__tit txt-l">디테일한 디자인</h5>
															<p class="content-process__txt txt-r">
																얼굴형, 이전 수술의<br> 디자인 수정 등에<br> 따른 맞춤 디자인
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/reoperation/clinic/clinic_process_2.jpg" alt="step 2 디테일한 디자인" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 3</p>
															<h5 class="content-process__tit txt-l">두피 탄력에 따른 모낭 채취 방식 선택</h5>
															<p class="content-process__txt txt-r">
																절개방식<br>
																비절개방식<br>
																절개/비절개 혼합 방식
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/reoperation/clinic/clinic_process_3.jpg" alt="step 3 모낭 채취 방식 선택" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 4</p>
															<h5 class="content-process__tit txt-l">모낭 분리 및<br> 모낭 이식</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/reoperation/clinic/clinic_process_4.jpg" alt="step 4 모낭 분리 및 모낭 이식" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 5</p>
															<h5 class="content-process__tit txt-l">수술 후 관리</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/reoperation/clinic/clinic_process_5.jpg" alt="step 5 수술 후 관리" class="img-w100"/>
												</div>
											</li>
										</ul>
										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->
			<div class="horizontal-section content-section9" data-page="project">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										바노바기니까. <strong class="color-reoperation1">더 꼼꼼한
										유지관리 프로그램,</strong>
										고생착 프로젝트
									</h4>
									<p class="content__txt txt-l">
										수술 후 체계적인 두피케어를 통해 생착률을 높이고,
										한번 이식한 모발이 오래 유지될 수 있도록 <strong class="color-reoperation1">전문적인
										케어 프로그램을 제공</strong>합니다.
									</p>
									<p class="content__txt2 txt-r">
										줄기세포 성장인자, 멀티 비타민, 미네랄 등을 공급해주는
										메조테라피 시술부터 두피 스케일링, 영양 침투 케어 등 <strong class="color-black1">건강한
										두피와 모근을 위한 다양한 프로그램으로 차별화된 모발이식</strong>을
										경험하세요.
									</p>
									<p class="content__line type-reoperation">PROJECT</p>
								</div>
								<div class="content-zigzag section-left js-scroll-motion type-zigzag">
									<ul class="content-zigzag__list type-top">
										<li class="content-zigzag__item type-delay">
											<img src="../../images/content/project_img_1_common.jpg" class="img-w100-t" alt=""/>
										</li>
										<li class="content-zigzag__item type-delay3">
											<img src="../../images/content/project_img_2_common.jpg" class="img-w100-t" alt=""/>
										</li>
									</ul>
									<ul class="content-zigzag__list">
										<li class="content-zigzag__item">
											<img src="../../images/content/project_img_3_common.jpg" class="img-w100-t" alt=""/>
										</li>
										<li class="content-zigzag__item type-delay2">
											<img src="../../images/content/project_img_4_common.jpg" class="img-w100-t" alt=""/>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section8-->
			<div class="horizontal-section content-section10 content-section-care" data-page="1year care">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										수술만큼 중요한<br>
										<strong class="color-reoperation1">수술 후 관리</strong>
									</h4>
									<p class="content__txt2 txt-r">
										모발이식은 수술로 완성되는 것이 아닙니다.<br class="hidden-tm">
										<strong class="color-black1">최소 1년간은 환자와 의료진이 한 호흡으로 지속적인 관리와
										경과 관찰이 필요</strong>합니다.
									</p>
									<p class="content__txt txt-l">
										수술 후 빠른 회복과 이식된 모낭의 생착을
										높이기 위해 <strong class="color-reoperation1">체계적이고 철저하게 관리</strong>해 드립니다.
									</p>
									<p class="content__line type-reoperation">1YEAR CARE</p>
								</div>
								<div class="content-year section-left section-top type-reoperation js-scroll-motion">
									<div class="content-img type-year">
										<div class="flex-bottom">
											<ul class="hair-one">
												<li class="hair-one__item"><img src="../../images/content/hair_one_1.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_2.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_3.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_4.jpg" class="img-normal" alt=""></li>
											</ul>
										</div>
									</div>
									<div class="content-year__wrap section-left">
										<ul class="content-year__list">
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/reoperation/clinic/clinic_care_1.jpg" class="img-w100" alt="2일차 드레싱 & 샴푸"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">2일차</h5>
													<p class="content-year__txt txt-s">드레싱 & 샴푸</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/reoperation/clinic/clinic_care_2.jpg" class="img-w100" alt="10~14일 후 실밥제거"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">10~14일 후</h5>
													<p class="content-year__txt txt-s">실밥제거</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/reoperation/clinic/clinic_care_3.jpg" class="img-w100" alt="4주 후 두피 스켈링 / 메조테라피 / 바이오라이트"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">4주 후</h5>
													<p class="content-year__txt txt-s">두피 스켈링 / 메조테라피 / 바이오라이트</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/reoperation/clinic/clinic_care_4.jpg" class="img-w100" alt="1Year check 지속케어 수술 후 1, 3, 6, 12개월 케어"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">1Year check 지속케어</h5>
													<p class="content-year__txt txt-s">수술 후 1, 3, 6, 12개월 케어</p>
												</div>
											</li>
										</ul>
										<p class="content-year__noti txt-s">메조테라피 및 추가적인 관리 방법에 따라 별도 비용이 발생할 수 있습니다.</p>
										<div class="content-bullet type-reoperation">
											<ul class="content-bullet__list">
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
