.content-section1{
    &.type-beard{background:url('../images/man/beard/beard_visual_1.jpg') no-repeat center center / cover;

        @media only screen and (max-width:$tablet-size){
            background-image: none;background-color: #e0eeff;
        }
    }
}

.visual{
    $this:&;

    @media only screen and (max-width:$tablet-size){
        &.type-beard{background-image:none; background-color:$man2;
            #{$this}__outer{background:url('../images/man/beard/beard_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$man1;}
            #{$this}__list{border-bottom:1px solid $man1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $man2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-beard{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $man2;}
            }
        }
    }
}

.content-floor{
    $this:&;
    &.type-beard{width: 1216px; margin-left:-100px; background: url('../images/man/beard/beard_img_2.jpg') no-repeat left bottom;}
    &.type-beard2{width: 650px; background: url('../images/man/beard/beard_img_4.jpg') no-repeat left bottom;
        #{$this}__item{
            &:first-of-type{
                #{$this}__box{background-color:$gray1;}
            }
        }
        #{$this}__box{background-color:$man2;}
    }
    @media only screen and (max-width:$tablet-size){
        &.type-beard{width:auto; margin-left:0;}
        &.type-beard2{width: 650px; background: url('../images/man/beard/beard_img_4.jpg') no-repeat left bottom;
            #{$this}__item{
                &:first-of-type{
                    #{$this}__box{background-color:$gray1;}
                }
            }
            #{$this}__box{background-color:$man2;}
        }
    }
}

.bread-style1{display:inline-block; height:100%; margin-left:-200px;
    @media only screen and (max-width:$tablet-size){display:block; height:auto; margin-left:0;}
}

.content-img{
    $this:&;
    &.type-beard{
        .content-bottom__noti{color:$black4;}
    }
}
