.content-section1{
    &.type-head{background:url('../images/man/head/head_visual_1.jpg') no-repeat center center / cover;

        @media only screen and (max-width:$tablet-size){
            background-image: none;background-color: #e0eeff;
        }
    }
}

.visual{
    $this:&;

    @media only screen and (max-width:$tablet-size){
        &.type-head{background-image:none; background-color:$man2;
            #{$this}__outer{background:url('../images/man/head/head_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$man1;}
            #{$this}__list{border-bottom:1px solid $man1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $man2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-head{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $man2;}
            }
        }
    }
}

.content-floor{
    $this:&;
    &.type-head{width: 1286px; margin-left:-240px; background: url('../images/man/head/head_bg_1.png') no-repeat left bottom;}
    @media only screen and (max-width:$tablet-size){
        &.type-head{width:auto; margin-left:0; text-align:center;
            #{$this}__img{padding:0 10%; box-sizing:border-box;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-head{
            #{$this}__img{padding:0 2%; box-sizing:border-box;}
        }
    }
}

.head-style{margin-top:40px;
    &__outer{display:inline-table; height:100%;}
    &__inner{display:table-cell; height:100%; vertical-align:middle;}
    &__list{margin:0; padding:0;}
    &__item{list-style:none;
        & + &{margin-top:6px;}
    }
    &__box{position:relative; display:inline-block; min-width:166px; height:136px; padding:10px 20px; box-sizing:border-box; vertical-align:top; border-radius:24px;
        &:first-child{background-color:$man2; color:$black4; text-align:left;}
        &:last-child{background-color:$man1; color:#fff; font-weight:$medium; text-align:center;}
        & + &{margin-left:50px;
            &:before{position:absolute; left:-35px; top:0; bottom:0; display:block; width:20px; height:32px; margin:auto 0; background:url('../images/man/head/head_arrow.png') no-repeat center center / contain; content:'';}
        }
    }
    @media only screen and (max-width:$tablet-size){text-align:center;}
    @media only screen and (max-width:$mobile-size){
        &__box{min-width:120px; height:110px; border-radius:11px;
            & + &{margin-left:36px;
                &:before{left:-25px; width:14px; height:23px; margin:auto 0; background:url('../images/man/head/head_arrow_m.png') no-repeat center center / contain;}
            }
        }
    }
}

.content-box{
    &.type-head{
        @media only screen and (max-width:$tablet-size){margin-top:80px;}
        @media only screen and (max-width:$mobile-size){margin-top:40px;}        
    }
}
