.content-section1{
    &.type-manalopecia{background:url('../images/man/manalopecia/manalopecia_visual_1.jpg') no-repeat center center / cover;

        @media only screen and (max-width:$tablet-size){
            background-image: none;background-color: #e0eeff;
        }
    }
}

.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-manalopecia{background-image:none; background-color:$man2;
            #{$this}__outer{background:url('../images/man/manalopecia/manalopecia_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$man1;}
            #{$this}__list{border-bottom:1px solid $man1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $man2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-manalopecia{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $man2;}
            }
        }
    }
}

.content-bottom{
    $this:&;
    &.type-manalopecia{width: 770px; background:url('../images/man/manalopecia/manalopecia_bg_1.jpg') no-repeat center bottom;}
    &.type-manalopecia2{margin-left:-170px;}
    @media only screen and (max-width:$tablet-size){
        &.type-manalopecia{display:block; width:90%; padding-bottom:90%; margin-left:auto; margin-right:auto; background:url('../images/man/manalopecia/manalopecia_bg_1_t.jpg') no-repeat left bottom / cover;}
        &.type-manalopecia2{margin-left:0;}
    }
    @media only screen and (max-width:$mobile-size){
        &.type-manalopecia{
            .content-wrap{position: static;}
        }
    }
}

.content-floor{
    &.type-manalopecia{width: 1080px;background: url('../images/man/manalopecia/manalopecia_bg_2.jpg') no-repeat left bottom;}

    @media only screen and (max-width:$tablet-size){

    }
}

.circle-graph{
    $this:&;

    &.type-manalopecia{
        #{$this}__wrap{
            &:before{background: url('../images/man/manalopecia/manalopecia_circle_bg_1.png') no-repeat center center/cover;}
        }
    }

    @media only screen and (max-width:$tablet-size){
        &.type-manalopecia{
            top: 80px;right: 10px;
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-manalopecia{
            top: auto;bottom: 0;right: 5px;
        }
    }
}
