.content-section1{
    &.type-manline{background:url('../images/man/manline/manline_visual_1.jpg') no-repeat center center / cover;

        @media only screen and (max-width:$tablet-size){
            background-image: none;background-color: #e0eeff;
        }
    }
}

.visual{
    $this:&;

    @media only screen and (max-width:$tablet-size){
        &.type-manline{background-image:none; background-color:$man2;
            #{$this}__outer{background:url('../images/man/manline/manline_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$man1;}
            #{$this}__list{border-bottom:1px solid $man1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $man2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-manline{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $man2;}
            }
        }
    }
}

.content-floor{
    &.type-manline{width: 1096px;background: url('../images/man/manline/manline_bg_1.jpg') no-repeat left bottom;}

    @media only screen and (max-width:$tablet-size){

    }
}


.content-box{
    $this:&;
    &.type-manline{margin-left:-146px;}
    @media only screen and (max-width:$tablet-size){
        &.type-manline{margin-top:60px; margin-left:0;}
    }
    @media only screen and (max-width:$mobile-size){
        &.type-manline{margin-top:40px; margin-left:0;}
    }
}

.content-bottom{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-manline{
            #{$this}__noti{bottom:40px;}
        }
    }
}
