<%
	type = "content"
	page = "special"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">스페셜이식</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">눈썹이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">흉터모발이식</a></li>
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">무모증&amp;빈모증</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-special">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-atrichia" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-atrichia type-special">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__subtit txt-l">보이지 않는 毛자람도 채워주는</p>
												<h3 class="visual__tit tit-l"><span class="color-special1">무모증&amp;<br classs="hidden-pt">빈모증</span>이식</h3>
												<p class="visual__hash color-special1 txt-r"><span class="visual__span">#자연스러운모양</span> <span class="visual__span">#높은생착률</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">수술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">수술시간</h5>
											<p class="visual__txt txt-r">2~3시간 내외</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">국소마취</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일수술 후 퇴원</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일수술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">

						<div class="content-box js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											<strong class="color-special1">14%는 무모증이나 빈모증</strong>,<br>
											모발이 자랄 수 있을까?
										</h4>
										<p class="content__txt2 txt-r">
											<strong class="color-black1">무모증은 사춘기 이후에도 생식기에 털이 나지 않는 증상</strong>을
											말하며, 무모증이나 빈모증으로 인해 위축감이 들거나
											스트레스를 받을 경우 모발이식을 고려해 볼 수 있습니다.
										</p>
										<p class="content__txt txt-l">
											무모증 및 빈모증의 발생 원인으로는
											남성호르몬의 부족뿐 아니라 부신피질 호르몬,
											갑상선 호르몬의 불균형, 인종적, 체질적 및
											유전적인 요소 등이 있습니다. 여성 중
											완전히 음모가 없는 경우는 약 2%, 매우 빈약한 경우는
											12% 정도 입니다. 이러한 무모증 및 빈모증에는
											<strong class="color-special1">모발이식이 보다 효과적</strong>입니다.
										</p>
									</div>
								</div>
							</div>
						</div>

						<div class="content-bottom section-left js-scroll-motion is-active">
							<div class="flex-bottom type-atrichia">
								<div class="flex-bottom__wrap">
									<img src="../../images/special/atrichia/atrichia_bg_1_m.jpg" class="hidden-p img-w70-t" alt="전체 얼굴 길이 1/3의 이마와 헤어라인 황금비율">
									<div class="content-bottom__box type-list">
										<ul class="content-bottom__list">
											<li class="content-bottom__item txt-r type-tit">무모증 및 빈모증의 원인</li>
											<li class="content-bottom__item txt-s nth-1">
												유전적 영향
											</li>
											<li class="content-bottom__item txt-s nth-2">
												 체질적 요인
											</li>
											<li class="content-bottom__item txt-s nth-3">
												 호르몬의 영향
											</li>
										</ul>
									</div>
									<img src="../../images/special/atrichia/atrichia_bg_1.jpg" class="hidden-tm" alt="전체 얼굴 길이 1/3의 이마와 헤어라인 황금비율">
									<!-- <p class="content-bottom__noti txt-s">※ 이해를 돕기 위해 연출된 이미지 입니다.</p> -->
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll type-special js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-special">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											<strong class="color-special1">무모증 및 빈모증 유형</strong>에 따른 맞춤 모발이식
										</h4>
										<p class="content__txt txt-l">
											무모증 및 빈모증은 주로 여성들에게 많이 나타나지만,<br>
											<strong class="color-special1">유전적 원인 등에 의해 남성들에게도 나타날 수 있으며 모발이식을 통해 자연스럽게 개선이 가능</strong>합니다.
										</p>
										<div class="pick-scroll__area">
											<ul class="pick-scroll__list">
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/atrichia/atrichia_pick_1.jpg" class="img-w100" alt="01. 사고에 의한 흉터"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/4</span></span>
															원래 적었는데 자꾸 빠지는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/atrichia/atrichia_pick_2.jpg" class="img-w100" alt="02. 결혼, 재혼 등 앞두고 있는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/4</span></span>
															결혼, 재혼 등 앞두고 있는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/atrichia/atrichia_pick_3.jpg" class="img-w100" alt="03. 유전에 의한 무모인 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/4</span></span>
															유전에 의한 무모인 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/atrichia/atrichia_pick_4.jpg" class="img-w100" alt="04. 약물 치료 등에 실패하신 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/4</span></span>
															약물 치료 등에 실패하신 경우
														</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->
			<div class="horizontal-section content-section4" data-page="detail">
				<div class="content__area">
					<div class="content-nowrap">
						<div class="content-box type-atrichia js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<p class="content__line type-special">DETAIL</p>
										<h4 class="content__tit tit-r">
											바노바기 <strong class="color-special1">모발이식</strong>
										</h4>
										<p class="content__txt txt-l">
											이식 부위의 특성과 모발의 성질이 일반 모발이식과
											다르기때문에 <strong class="color-special1">정밀한 분석과 높은 수준의 기술이
												필요</strong>합니다.
										</p>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
						<div class="content-floor type-special type-atrichia">
							<div class="content-floor__img">
								<img src="../../images/special/atrichia/atrichia_bg_2_m.jpg" class="img-w100" alt=""/>
							</div>
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<ul class="content-floor__list">
											<li class="content-floor__item txt-s js-scroll-motion">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">01</span><span class="content-floor__txt"> 수술 후 케어 책임보증제</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">02</span><span class="content-floor__txt"> 1:1 시스템, 숙련된 모발이식</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay2">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">03</span><span class="content-floor__txt"> 안전한 국소마취, 정맥마취 No!</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay3">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">04</span><span class="content-floor__txt"> 디테일한 재배치 밀도 있게 풍성함</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay4">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">05</span><span class="content-floor__txt"> 높은 생착률로 만족스러운 결과</span>
												</div>
											</li>
										</ul>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section3-->
			<div class="horizontal-section content-section5" data-page="key point">
				<div class="content__area">
					<div class="content-key type-special type-atrichia js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-wide type-inner">
										<h4 class="content__tit tit-r">
											자연스러운 모양과<br>
											높은 생착률을 위한 <strong class="color-special1">핵심 포인트</strong>
										</h4>
										<p class="content__line type-special">KEY POINT</p>
										<p class="content__txt2 txt-r">
											음모는 모발과 달리 모낭군으로 되어 있지 않고, 하나의 모공에서
											한 개의 음모가 자라고 있습니다.  <strong class="color-black1">보통 4~8cm 길이이며,
											평균적으로 800~1,000모 정도 이식</strong>하게 됩니다.
										</p>

									</div>
									<div class="content-key__box">
										<ul class="content-key__list">
											<li class="content-key__item txt-s"><strong class="color-special1">디테일한 분석</strong> 모발의 이식 방향, 각도, 굵기, 밀도</li>
											<li class="content-key__item txt-s"><strong class="color-special1">다양한 디자인</strong> 역삼각형, 마름모형, 다이아몬드형, 분산형</li>
											<li class="content-key__item txt-s"><strong class="color-special1">정교한 이식</strong> 이식 모 간격, 굵기와 컬, 방향에 따른 이식</li>
										</ul>
										<ul class="content-key__list">
											<li class="content-key__item txt-s"><strong class="color-special1">자연스러움</strong> 부위별 황금분할 통한 방향 설정으로 어색함 최소 </li>
										</ul>
									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-bottom section-left type-atrichia js-scroll-motion">
						<div class="flex-bottom">
							<div class="flex-bottom__wrap">
								<div class="flex-bottom__mini"><img src="../../images/special/atrichia/atrichia_mini.gif" class="img-w100" alt=""/></div>
								<img src="../../images/special/atrichia/atrichia_bg_3.jpg" class="hidden-tm" alt="">
								<img src="../../images/special/atrichia/atrichia_bg_3_m.jpg" class="hidden-p img-w100-t" alt="">
							</div>
						</div>
					</div>
					<div class="content-box type-atrichia2 js-scroll-motion type-slim">
						<div class="content__outer">
							<div class="content__inner">
								<p class="content__txt txt-l">
									이식 시 <strong class="color-special1">단일 모로 세분화 시켜야 하며, 자라는 방향과 컬, 이식 각도, 균일한 밀도를 고려한 정교한 재배치</strong>가 중요합니다.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->
			<div class="horizontal-section content-section6" data-page="how">
				<div class="content-popup">
					<div class="content-popup__wrap">
						<div class="content-popup__area">
							<h5 class="content-popup__tit tit-s">절개법 VS 비절개법 비교</h5>
							<div class="content-popup__scroll">
								<table class="table-v1 type-special">
									<tbody>
										<tr class="table-v1__tr">
											<th class="bg-white"></th>
											<th class="table-v1__th bg-gray1">절개법</th>
											<th class="table-v1__th">비절개법</th>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">흉터</th>
											<td class="table-v1__td">하나의 가는 실선 형태</td>
											<td class="table-v1__td">여러 개의 작은 점 형태</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">생착률</th>
											<td class="table-v1__td">높음</td>
											<td class="table-v1__td">상대적으로 낮음</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">삭발여부</th>
											<td class="table-v1__td">불필요</td>
											<td class="table-v1__td">삭발</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">추출부위 밀도<br>(뒷머리)</th>
											<td class="table-v1__td">변화없음</td>
											<td class="table-v1__td">줄어듦</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">시간<br>(3,0000모 기준)</th>
											<td class="table-v1__td">약 4시간</td>
											<td class="table-v1__td">약 6시간</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<button class="content-popup__close js-content-close">닫기</button>
					</div>
				</div>
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<p class="content__line type-special">HOW</p>
									<h4 class="content__tit tit-r">
										<strong class="color-special1">절개/비절개/로봇 모낭 채취</strong> 모두 가능한 바노바기
									</h4>
									<p class="content__txt txt-l">
										숙련된 의료진에게 절개, 비절개 방식을
										구분하는 것은 무의미합니다.
										<strong class="color-special1"> 이식할 부위의 범위, 두피의 탄력성,
										두피 건강 상태 등을 종합적으로 진단하여 환자분에게
										적합한 방식</strong>을 권해 드립니다.
									</p>
									<a href="" class="content__more more-btn type-special js-hover js-content-open">
										<span class="more-btn__plus">plus</span><span class="more-btn__txt">more</span>
									</a>
									<p class="more-btn__show txt-s">절개법 VS 비절개법 비교 보기</p>
								</div>
								<div class="content-img type-list type-atrichia js-scroll-motion">
									<div class="flex-bottom">
										<div class="content-img__wrap">
											<img src="../../images/special/atrichia/atrichia_img_4.jpg" class="img-w100-t" alt="절개법 VS 비절개법 비교"/>
											<ul class="content-img__list">
												<li class="content-img__item type-default">
													<h5 class="content-img__subject txt-l">절개법</h5>
													<p class="content-img__txt txt-s">필요한 모낭만큼 두피 면적을 떼어낸 후 봉합</p>
												</li>
												<li class="content-img__item type-special">
													<h5 class="content-img__subject txt-l">비절개법</h5>
													<p class="content-img__txt txt-s">모발 사이사이 필요한 모낭만을 하나씩 채취</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section5-->
			<div class="horizontal-section content-section7" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-special1">결과를 좌우하는</strong> 바노바기의<br class="hidden-tm">
										모발이식 시스템
									</h4>
									<p class="content__txt txt-l">
										채취 단계부터 최대한 모낭과 그 주변을 손상 없이 그대로 채취
										및 분리하여 이식된 모낭이 건강하게 생착 될 수 있도록 하고,
										<strong class="color-special1">숙련된 의료진의 전문적이고 정교한 이식을 통해
										만족스러운 결과를 기대</strong>할 수 있습니다.
									</p>
									<p class="content__line type-special">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-special">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/atrichia/atrichia_technic_1.jpg" class="img-responsive" alt="건강한 모낭채취"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">건강한 모낭채취</h5>
													<p class="content-number__txt txt-s">
														절개/비절개/로봇을 이용하여
														흉터 및 손상이 거의 없는
														모낭채취
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/atrichia/atrichia_technic_2.jpg" class="img-responsive" alt="전문적인 모낭분리"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">전문적인 모낭분리</h5>
													<p class="content-number__txt txt-s">
														최소 5년 이상 경력의
														모낭분리사가 정교하고
														안전하게 모낭분리
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/atrichia/atrichia_technic_3.jpg" class="img-responsive" alt="숙련된 모발재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">숙련된 모발재배치</h5>
													<p class="content-number__txt txt-s">
														10년간 3,000건 이상 수술
														경험의 모발재배치 전문 의료진
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->
			<div class="horizontal-section content-section8" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-special js-scroll-motion">
									<p class="content__line type-special">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-special1">무모증&빈모증 모발이식 과정</strong>
									</h4>
									<p class="content__txt txt-l">
										무모증 및 빈모증은 이식 범위, 이식 깊이 등 조건들을 고려하여 진단하고
										<strong class="color-special1">채취한 모발을 최적의 방식으로 최대한 자연스럽고 정교하게 재배치</strong> 해야 합니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 1</p>
															<h5 class="content-process__tit txt-l">진단 및 상담</h5>
															<p class="content-process__txt txt-r">
																무모증 및 빈모증 부위,<br> 두피 상태 확인,<br> 수술 상담
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/atrichia/atrichia_process_1.jpg" alt="step 1 진단 및 상담" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 2</p>
															<h5 class="content-process__tit txt-l">디테일한 디자인</h5>
															<p class="content-process__txt txt-r">
																선호하는 스타일, <br>
																이식 범위 등에 <br>
																따른 맞춤 디자인
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/atrichia/atrichia_process_2.jpg" alt="step 2 디테일한 디자인" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 3</p>
															<h5 class="content-process__tit txt-l">모낭 채취 방식 선택</h5>
															<p class="content-process__txt txt-r">
																절개방식<br>
																비절개방식<br>
																절개/비절개 혼합 방식
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/atrichia/atrichia_process_3.jpg" alt="step 3 모낭 채취 방식 선택" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 4</p>
															<h5 class="content-process__tit txt-l">모낭 분리 및<br> 모낭 이식</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/atrichia/atrichia_process_4.jpg" alt="step 4 모낭 분리 및 모낭 눈썹 이식" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 5</p>
															<h5 class="content-process__tit txt-l">수술 후 관리</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/atrichia/atrichia_process_5.jpg" alt="step 5 수술 후 관리" class="img-w100"/>
												</div>
											</li>
										</ul>
										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->
			<div class="horizontal-section content-section9 content-section-care" data-page="1year care">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										수술만큼 중요한<br>
										<strong class="color-special1">수술 후 관리</strong>
									</h4>
									<p class="content__txt2 txt-r">
										모발이식은 수술로 완성되는 것이 아닙니다.<br class="hidden-tm">
										<strong class="color-black1">최소 1년간은 환자와 의료진이 한 호흡으로 지속적인 관리와 경과 관찰이 필요</strong>합니다.
									</p>
									<p class="content__txt txt-l">
										수술 후 빠른 회복과 이식된 모낭의 생착을
										높이기 위해 <strong class="color-special1">체계적이고 철저하게 관리</strong>해 드립니다.
									</p>
									<p class="content__line type-special">1YEAR CARE</p>
								</div>
								<div class="content-year section-left section-top type-special js-scroll-motion">
									<div class="content-img type-year">
										<div class="flex-bottom">
											<ul class="hair-one">
												<li class="hair-one__item"><img src="../../images/content/hair_one_1.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_2.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_3.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_4.jpg" class="img-normal" alt=""></li>
											</ul>
										</div>
									</div>
									<div class="content-year__wrap section-left">
										<ul class="content-year__list">
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/atrichia/atrichia_care_1.jpg" class="img-w100" alt="2일차 드레싱 & 샴푸"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">2일차</h5>
													<p class="content-year__txt txt-s">드레싱 & 샴푸</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/atrichia/atrichia_care_2.jpg" class="img-w100" alt="10~14일 후 실밥제거"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">10~14일 후</h5>
													<p class="content-year__txt txt-s">실밥제거</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/atrichia/atrichia_care_3.jpg" class="img-w100" alt="4주 후 메조테라피 / 스마트룩스"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">4주 후</h5>
													<p class="content-year__txt txt-s">메조테라피 / 스마트룩스</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/atrichia/atrichia_care_4.jpg" class="img-w100" alt="1Year check 지속케어 수술 후 1, 3, 6, 12개월 케어"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">1Year check 지속케어</h5>
													<p class="content-year__txt txt-s">수술 후 1, 3, 6, 12개월 케어</p>
												</div>
											</li>
										</ul>
										<p class="content-year__noti txt-s">메조테라피 및 추가적인 관리 방법에 따라 별도 비용이 발생할 수 있습니다.</p>
										<div class="content-bullet type-special">
											<ul class="content-bullet__list">
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
