<%
	type = "content"
	page = "special"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">스페셜이식</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">눈썹이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">흉터모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">무모증&amp;빈모증</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-special">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-eyebrows" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-eyebrows type-special">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__subtit txt-l">눈썹, 그리지 말고 심으세요</p>
												<h3 class="visual__tit tit-l"><span class="color-special1">눈썹</span> 이식</h3>
												<p class="visual__hash color-special1 txt-r"><span class="visual__span">#이미지개선</span> <span class="visual__span">#자연스러움</span> <span class="visual__span">#동안효과</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">수술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">수술시간</h5>
											<p class="visual__txt txt-r">1~2시간 내외</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">국소마취</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일수술 후 퇴원</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일수술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content-box js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											<strong class="color-special1">눈썹 하나</strong>로 <br>
											달라지는 이미지
										</h4>
										<p class="content__txt2 txt-r">
											<strong class="color-black1">눈썹은 얼굴의 이미지를 결정하는 중요한 요소</strong>로 여성뿐 아니라
											남성들에게도 미용적인 부분에서 많은 비중을 차지하고 있습니다.
											눈썹 모양에 따라 촌스러워 보이거나 강한 인상을 주기도 합니다.
										</p>
										<p class="content__txt txt-l">
											이러한 눈썹을 변화시키기 위한 화장이나
											반영구 문신은 여러가지 한계가 있기 때문에 보다
											<strong class="color-special1">자연스럽고 근본적인 개선 방법은 눈썹이식</strong>입니다.
										</p>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
						<div class="content-bottom js-scroll-motion is-active">
							<div class="flex-bottom">
								<div class="flex-bottom__wrap">
									<img src="../../images/special/eyebrows/eyebrows_intro.gif" class="img-w70-t" alt="전체 얼굴 길이 1/3의 이마와 헤어라인 황금비율">
									<div class="content-img type-intro">
										<ul class="content-img__list">
											<li class="content-img__item js-height type-default">
												<h5 class="content-img__subject txt-l">화장</h5>
												<p class="content-img__txt txt-s">시간이 지날수록 땀·피지에 의해 지워지므로 매번 수정이 필요</p>
											</li>
											<li class="content-img__item js-height type-special">
												<h5 class="content-img__subject txt-l">눈썹문신</h5>
												<p class="content-img__txt txt-s">변색될 경우 리터치가 필요하며, <span class="inline-block">지우는데 많은 시간과 비용 소요</span></p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="content-box section-left type-slim type-eyebrows js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<div class="content__outer">
											<div class="content__inner">
												<p class="content__txt2 txt-r">
													두피 모발이식 다음으로 가장 많이 이식하는
													부위가 눈썹이라 할 수 있습니다.
												</p>
												<p class="content__txt txt-l">
													<strong class="color-special1">모발의 굵기와 질감을 정밀하게
													확인하여 눈썹과 잘 어우러질 수 있는지
													체크하는 것이 매우 중요</strong>하며, 채취한
													모발을 굵기별로 잘 분류한 뒤 방향과
													결을 맞추어 세심하게 이식해야 합니다.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll type-special js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-special">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											<strong class="color-special1">다양한 유형</strong>에 따른 맞춤 눈썹이식
										</h4>
										<p class="content__txt txt-l">
											눈썹은 대략 400여개의 단일모로 이루어져 있으며, 얼굴에 맞는 눈썹 스타일은 얼굴형을 보완해주는<br>
											효과도 있습니다. <strong class="color-special1">눈썹이식을 통해 화장이나 눈썹문신의 불편함은 해소하고 자연스럽게
											이미지 개선이 가능</strong>합니다.
										</p>
										<div class="pick-scroll__area">
											<ul class="pick-scroll__list js-pick-slide">
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/eyebrows/eyebrows_pick_1.jpg" class="img-w100" alt="01. 눈썹이 전체적으로 빈약한 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/5</span></span>
															눈썹이 전체적으로 빈약한 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/eyebrows/eyebrows_pick_2.jpg" class="img-w100" alt="02. 눈썹 일부분만 개선이 필요한 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/5</span></span>
															눈썹 일부분만 개선이 필요한 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/eyebrows/eyebrows_pick_3.jpg" class="img-w100" alt="03. 눈썹이 아래로 처진 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/5</span></span>
															눈썹이 아래로 처진 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/eyebrows/eyebrows_pick_4.jpg" class="img-w100" alt="04. 팔자눈썹을 다른 모양으로 바꾸고 싶은 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/5</span></span>
															팔자눈썹을 다른 모양으로 바꾸고 싶은 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/eyebrows/eyebrows_pick_5.jpg" class="img-w100" alt="05. 화상이나 피부질환 등으로 눈썹이 없는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">5</span><span class="pick-scroll__total txt-s">/5</span></span>
															화상이나 피부질환 등으로 눈썹이 없는 경우
														</p>
													</div>
												</li>
											</ul>
											<a href="" class="pick-scroll__btn type-prev js-pick-prev">prev</a>
											<a href="" class="pick-scroll__btn type-next js-pick-next">next</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->
			<div class="horizontal-section content-section4" data-page="detail">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<p class="content__line type-special">DETAIL</p>
									<h4 class="content__tit tit-r">
										바노바기니까,<br class="hidden-tm">
										<strong class="color-special1">티나지 않게 이식</strong>합니다
									</h4>
									<p class="content__txt txt-l">
										얼굴형에 따라 조화와 균형을 이루는 라인을 만들어
										내는 미적 감각을 바탕으로 <strong class="color-special1">10년 이상 수술 경험의
										의료진</strong>이 채취한 모낭을 <strong class="color-special1">가장 자연스럽고 밀도 있게
										재배치하며 디테일하게 이식</strong>합니다.
									</p>
								</div>
								<div class="content-number section-left section-top js-number-width type-special">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/eyebrows/eyebrows_detail_1.jpg" class="img-responsive" alt="섬세한 디자인"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">섬세한 디자인</h5>
													<p class="content-number__txt txt-s">
														아름다움과 조화에 민감한
														바노바기 의료진의 섬세한
														디자인
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/eyebrows/eyebrows_detail_2.jpg" class="img-responsive" alt="그라데이션 재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">그라데이션 재배치</h5>
													<p class="content-number__txt txt-s">
														중간 모, 가는 모, 미세 모 3단계 이상 세분화하여 정교하게 이식
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/eyebrows/eyebrows_detail_3.jpg" class="img-responsive" alt="자연스러운 밀도"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">자연스러운 밀도</h5>
													<p class="content-number__txt txt-s">
														너무 촘촘하거나 비어 보이지
														않게 개개인의 밀도 고려한
														재배치
													</p>
												</div>
											</li>
											<li class="content-number__item nth-4 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/eyebrows/eyebrows_detail_4.jpg" class="img-responsive" alt="건강한 생착"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">건강한 생착</h5>
													<p class="content-number__txt txt-s">
														모낭의 손상을 최소화하고
														빠르게 이식하여 높은 생착률
														지향
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div><!--//content-wrap -->
					</div>
				</div>
			</div><!-- //content-section3-->
			<div class="horizontal-section content-section5" data-page="key point">
				<div class="content__area">
					<div class="content-key type-special js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-wide type-inner">
										<h4 class="content__tit tit-r">
											남·여 이목구비를 살려주는<br class="hidden-tm">
											<strong class="color-special1">핵심 포인트</strong>
										</h4>
										<p class="content__line type-special">KEY POINT</p>
										<p class="content__txt2 txt-r">
											눈썹은 부드럽고 짧은 모발이 다양한 방향으로 배열되어 있어 모발이식 중
											<strong class="color-black1">섬세하고 고난이도의 기술이 필요</strong>합니다.
										</p>
										<p class="content__txt txt-l">
											환자와의 충분한 상담을 통해 <strong class="color-special1">환자가 원하는 이미지, 얼굴형,
												얼굴 비율에 따른 디테일한 디자인과 눈썹 결과 방향, 이식 모의
												굵기에 따른 정교한 재배치가 중요</strong>합니다.
										</p>
									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-bottom section-left js-scroll-motion">
						<div class="flex-bottom">
							<div class="flex-bottom__wrap">
								<div class="content-bottom__box type-man">
									<ul class="content-bottom__list">
										<li class="content-bottom__item txt-r type-tit">남성</li>
										<li class="content-bottom__item txt-s nth-1">
											<strong class="color-special1">디자인</strong> 아치형 아님
										</li>
										<li class="content-bottom__item txt-s nth-2">
											<strong class="color-special1">눈썹 머리</strong> 미간 쪽에 가깝게 시작됨
										</li>
										<li class="content-bottom__item txt-s nth-3">
											<strong class="color-special1">눈썹 몸통</strong> 중앙이 약간 넓어짐
										</li>
										<li class="content-bottom__item txt-s nth-4">
											<strong class="color-special1">눈썹 꼬리</strong> 폭이 좁아지지 않음
										</li>
									</ul>
								</div>
								<img src="../../images/special/eyebrows/eyebrows_bg_1.jpg" class="hidden-tm" alt="전체 얼굴 길이 1/3의 이마와 헤어라인 황금비율"/>
								<img src="../../images/special/eyebrows/eyebrows_bg_1_m.jpg" class="hidden-p img-w70-t" alt="전체 얼굴 길이 1/3의 이마와 헤어라인 황금비율"/>
								<div class="content-bottom__box type-woman">
									<ul class="content-bottom__list">
										<li class="content-bottom__item txt-r type-tit">여성</li>
										<li class="content-bottom__item txt-s nth-1">
											<strong class="color-woman1">디자인</strong> 아치형
										</li>
										<li class="content-bottom__item txt-s nth-2">
											<strong class="color-woman1">눈썹 머리</strong> 둥글거나 직사각형
										</li>
										<li class="content-bottom__item txt-s nth-3">
											<strong class="color-woman1">눈썹 몸통</strong> 중간에 아치 모양되도록 폭이 점점 좁아짐
										</li>
										<li class="content-bottom__item txt-s nth-4">
											<strong class="color-woman1">눈썹 꼬리</strong> 폭이 좁아지고 밀도가 낮음
										</li>
									</ul>
								</div>
								<!-- <p class="content-bottom__noti txt-s">※ 이해를 돕기 위해 연출된 이미지 입니다.</p> -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->
			<div class="horizontal-section content-section6" data-page="how">
				<div class="content-popup">
					<div class="content-popup__wrap">
						<div class="content-popup__area">
							<h5 class="content-popup__tit tit-s">여성눈썹 & 남성눈썹</h5>
							<div class="content-popup__scroll">
								<div class="eyebrows-style">
									<div class="eyebrows-style__box type-woman">
										<h6 class="eyebrows-style__tit txt-r">여성눈썹</h6>
										<img src="../../images/special/eyebrows/eyebrows_popup_1.jpg" class="img-w100" alt=""/>
										<ul class="eyebrows-style__list">
											<li class="eyebrows-style__item txt-s nth-1">미세 모 이식</li>
											<li class="eyebrows-style__item txt-s nth-2">가는 모 이식</li>
											<li class="eyebrows-style__item txt-s nth-3">보통 모 이식</li>
										</ul>
									</div>
									<div class="eyebrows-style__box type-man">
										<h6 class="eyebrows-style__tit txt-r">남성눈썹</h6>
										<img src="../../images/special/eyebrows/eyebrows_popup_2.jpg" class="img-w100" alt=""/>
										<ul class="eyebrows-style__list">
											<li class="eyebrows-style__item txt-s nth-1">미세 모 이식</li>
											<li class="eyebrows-style__item txt-s nth-2">가는 모 이식</li>
											<li class="eyebrows-style__item txt-s nth-3">보통 모 이식</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<button class="content-popup__close js-content-close">닫기</button>
					</div>
				</div>
				<div class="content__area">
					<div class="content-box type-wide js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<p class="content__line type-special">HOW</p>
									<h4 class="content__tit tit-r">
										<strong class="color-special1">비율과 특성</strong>을 살린 눈썹이식
									</h4>
									<p class="content__txt2 txt-r">
										<strong class="color-black1">눈썹 이식 부위의 다양한 방향 변화를 정확히 이해하고 이식 모의 방향과 각도를 섬세하게 조절</strong>하여 이식해야 뻗치거나 어색하지 않습니다.
									</p>
									<p class="content__txt txt-l">
										특히 <strong class="color-special1">얼굴과 이마 비율을 고려한 자연스러운 디자인과
										모발이 최대한 누워 자랄 수 있도록 이식하는 기술이 필요</strong>합니다.
									</p>
									<a href="" class="content__more more-btn type-special js-hover js-content-open">
										<span class="more-btn__plus">plus</span><span class="more-btn__txt">more</span>
									</a>
									<p class="more-btn__show txt-s">여성눈썹 &amp; 남성눈썹 자세히 보기</p>
								</div>
							</div>
						</div>
					</div>
					<div class="content-floor type-eyebrows section-left type-special">
						<div class="content-floor__img">
							<img src="../../images/special/eyebrows/eyebrows_bg_2_m.jpg" class="img-w100" alt="">
						</div>
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<ul class="content-floor__list type-mt">
										<li class="content-floor__item txt-s js-scroll-motion is-active">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-special1">01</span><strong class="color-special1">눈썹 머리</strong> <span class="content-floor__txt">콧망울에서 일직선 지점</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-special1">02</span><strong class="color-special1">눈썹 산</strong> <span class="content-floor__txt">코끝과 눈동자를 대각선으로 이어지는 연장선 지점</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay2">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-special1">03</span><strong class="color-special1">눈썹 꼬리</strong> <span class="content-floor__txt">콧망울과 눈꼬리를 대각선으로 이어지는 연장선 지점</span>
											</div>
										</li>
									</ul>

								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
				</div>
			</div><!-- //content-section5-->
			<div class="horizontal-section content-section7" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-special1">결과를 좌우하는</strong> 바노바기의<br class="hidden-tm">
										눈썹이식 시스템
									</h4>
									<p class="content__txt txt-l">
										채취 단계부터 최대한 모낭과 그 주변을 손상 없이 그대로 채취
										및 분리하여 이식된 모낭이 건강하게 생착 될 수 있도록 하고,
										<strong class="color-special1">숙련된 의료진의 전문적이고 정교한 이식을 통해
										만족스러운 결과를 기대</strong>할 수 있습니다.
									</p>
									<p class="content__line type-special">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-special">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/eyebrows/eyebrows_technic_1.jpg" class="img-responsive" alt="건강한 모낭채취"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">건강한 모낭채취</h5>
													<p class="content-number__txt txt-s">
														절개/비절개/로봇을 이용하여
														흉터 및 손상이 거의 없는
														모낭채취
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/eyebrows/eyebrows_technic_2.jpg" class="img-responsive" alt="전문적인 모낭분리"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">전문적인 모낭분리</h5>
													<p class="content-number__txt txt-s">
														최소 5년 이상 경력의
														모낭분리사가 정교하고
														안전하게 모낭분리
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/eyebrows/eyebrows_technic_3.jpg" class="img-responsive" alt="숙련된 눈썹이식"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">숙련된 눈썹이식</h5>
													<p class="content-number__txt txt-s">
														10년간 3,000건 이상 수술
														경험의 모발재배치 전문 의료진
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->
			<div class="horizontal-section content-section8" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-special js-scroll-motion">
									<p class="content__line type-special">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-special1">눈썹이식 과정</strong>
									</h4>
									<p class="content__txt txt-l">
										사람마다 고유한 모발의 상태와 굵기, 밀도 등이 모두 다릅니다.
										이러한 조건들을 고려하여 진단하고 채취한 모발을 <strong class="color-special1">눈썹 상태에 가장 알맞은 최적의
										방식으로 최대한 자연스럽고 정교하게 재배치</strong>해야 합니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 1</p>
															<h5 class="content-process__tit txt-l">진단 및 상담</h5>
															<p class="content-process__txt txt-r">
																눈썹 모양, <br>
																두피 상태 확인, <br>
																수술 상담
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/eyebrows/eyebrows_process_1.jpg" alt="step 1 진단 및 상담" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 2</p>
															<h5 class="content-process__tit txt-l">디테일한 디자인</h5>
															<p class="content-process__txt txt-r">
																얼굴 비율 및 얼굴형,<br>
																이마 모양 등에 따른<br>
																맞춤 디자인
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/eyebrows/eyebrows_process_2.jpg" alt="step 2 디테일한 디자인" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 3</p>
															<h5 class="content-process__tit txt-l">모낭 채취 방식 선택</h5>
															<p class="content-process__txt txt-r">
																절개방식<br>
																비절개방식<br>
																절개/비절개 혼합 방식
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/eyebrows/eyebrows_process_3.jpg" alt="step 3 모낭 채취 방식 선택" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 4</p>
															<h5 class="content-process__tit txt-l">모낭 분리 및<br> 모낭 눈썹 이식</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/eyebrows/eyebrows_process_4.jpg" alt="step 4 모낭 분리 및 모낭 눈썹 이식" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 5</p>
															<h5 class="content-process__tit txt-l">수술 후 관리</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/eyebrows/eyebrows_process_5.jpg" alt="step 5 수술 후 관리" class="img-w100"/>
												</div>
											</li>
										</ul>
										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->
			<div class="horizontal-section content-section9 content-section-care" data-page="1year care">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										수술만큼 중요한<br>
										<strong class="color-special1">수술 후 관리</strong>
									</h4>
									<p class="content__txt2 txt-r">
										눈썹이식은 수술로 완성되는 것이 아닙니다. <br class="hidden-tm">
										<strong class="color-black1">최소 1년간은 환자와 의료진이 한 호흡으로 지속적인 관리와
										경과 관찰이 필요</strong>합니다.
									</p>
									<p class="content__txt txt-l">
										수술 후 빠른 회복과 이식된 모낭의 생착을
										높이기 위해 <strong class="color-special1">체계적이고 철저하게 관리</strong>해 드립니다.
									</p>
									<p class="content__line type-special">1YEAR CARE</p>
								</div>
								<div class="content-year section-left section-top type-special js-scroll-motion">
									<div class="content-img type-year">
										<div class="flex-bottom">
											<ul class="hair-one">
												<li class="hair-one__item"><img src="../../images/content/hair_one_1.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_2.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_3.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_4.jpg" class="img-normal" alt=""></li>
											</ul>
										</div>
									</div>
									<div class="content-year__wrap section-left">
										<ul class="content-year__list">
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/eyebrows/eyebrows_care_1.jpg" class="img-w100" alt="2일차 드레싱 & 샴푸"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">2일차</h5>
													<p class="content-year__txt txt-s">드레싱 & 샴푸</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/eyebrows/eyebrows_care_2.jpg" class="img-w100" alt="10~14일 후 실밥제거"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">10~14일 후</h5>
													<p class="content-year__txt txt-s">실밥제거</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/eyebrows/eyebrows_care_3.jpg" class="img-w100" alt="4주 후 두피 스켈링 / 메조테라피 / 바이오라이트"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">4주 후</h5>
													<p class="content-year__txt txt-s">두피 스켈링 / 메조테라피 / 바이오라이트</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/eyebrows/eyebrows_care_4.jpg" class="img-w100" alt="1Year check 지속케어 수술 후 1, 3, 6, 12개월 케어"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">1Year check 지속케어</h5>
													<p class="content-year__txt txt-s">수술 후 1, 3, 6, 12개월 케어</p>
												</div>
											</li>
										</ul>
										<p class="content-year__noti txt-s">메조테라피 및 추가적인 관리 방법에 따라 별도 비용이 발생할 수 있습니다.</p>
										<div class="content-bullet type-special">
											<ul class="content-bullet__list">
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
