<%
	type = "content"
	page = "special"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">스페셜이식</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">눈썹이식</a></li>
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">흉터모발이식</a></li>
				<li class="breadcrumb__item txt-s"><a href="" class="breadcrumb__link">무모증&amp;빈모증</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-special">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-scar" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-scar type-special">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__subtit txt-l">흉터, 감추지 말고 심으세요</p>
												<h3 class="visual__tit tit-l"><span class="color-special1">흉터모발</span>이식</h3>
												<p class="visual__hash color-special1 txt-r"><span class="visual__span">#정교한이식</span> <span class="visual__span">#높은생착률</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">수술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">수술시간</h5>
											<p class="visual__txt txt-r">1~2시간</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">국소마취</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일수술 후 퇴원</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일수술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">

						<div class="content-box js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											흉터 부위에도
											<strong class="color-special1">모발이 자랄 수 있을까?</strong>
										</h4>
										<p class="content__txt2 txt-r">
											두피나 눈썹에 흉터가 생긴 경우 치료가 어렵고 모발이 자라지
											않아 헤어스타일이나 화장으로 감추시는 분이 많습니다.
											<strong class="color-black1">흉터 부위는 모낭, 피지선 등이 파괴되고 혈관도 위축되어 있어
											흉터 부위 환경 개선이 선행</strong>되어야 합니다.
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="content-img type-list type-special js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<div class="flex-bottom">
											<div class="content-img__wrap">
												<img src="../../images/special/scar/scar_img_1.jpg" class="img-w70-t hidden-m" alt="정상 부위 모낭 VS 흉터 부위 모낭">
												<img src="../../images/special/scar/scar_img_1_m.jpg" class="img-w100 hidden-pt" alt="정상 부위 모낭 VS 흉터 부위 모낭">
												<ul class="content-img__list type-scar">
													<li class="content-img__item js-height type-default">
														<h5 class="content-img__subject txt-l">정상 부위 모낭</h5>
														<p class="content-img__txt txt-s">혈관 통해 산소와 영양 공급 원활</p>
													</li>
													<li class="content-img__item js-height type-special">
														<h5 class="content-img__subject txt-l">흉터 부위 모낭</h5>
														<p class="content-img__txt txt-s">혈관이 없어 생착률 저하</p>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="content-box type-slim js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<p class="content__txt2 txt-r">
										<strong class="color-black1">흉터 조직은 단단하고 질긴 섬유 조직으로
										구성되어 있고 모낭에 영양분을 공급하는 주변
										혈관이 손상되어 있기 때문</strong>에 이식된 모발에
										산소와 영양 공급이 원활하지 못해 생착률이 정상
										부위보다 매우 저조합니다.
									</p>
									<p class="content__txt txt-l">
										흉터 부위에 모발이식을 하는 경우에는
										<strong class="color-special1">흉터 조직의 혈관 생성을 유도 후
										건강한 모낭을 정교하게 이식</strong>해야
										생착률을 높일 수 있습니다.
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll type-special js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-special">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											<strong class="color-special1">흉터 유형</strong>에 따른 맞춤 모발이식
										</h4>
										<p class="content__txt txt-l">
											두피 조직이 손상되어 모낭이 다시 자라지 않을 경우 흉터 모발이식을 통해 <br>
											<strong class="color-special1">기존 모발에 비해 어색하지 않으면서 자연스럽게 개선이 가능</strong>합니다.
										</p>
										<div class="pick-scroll__area">
											<ul class="pick-scroll__list">
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/scar/scar_pick_1.jpg" class="img-w100" alt="01. 사고에 의한 흉터"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/4</span></span>
															사고에 의한 흉터
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/scar/scar_pick_2.jpg" class="img-w100" alt="02. 화상으로 인한 흉터"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/4</span></span>
															화상으로 인한 흉터
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/scar/scar_pick_3.jpg" class="img-w100" alt="03. 수술로 인한 흉터"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/4</span></span>
															수술로 인한 흉터
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/special/scar/scar_pick_4.jpg" class="img-w100" alt="04. 피부질환 염증 후 흉터"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-special1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/4</span></span>
															피부질환 염증 후 흉터
														</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->
			<div class="horizontal-section content-section4" data-page="detail">
				<div class="content__area">
					<div class="content-nowrap">
						<div class="content-box js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<p class="content__line type-special">DETAIL</p>
										<h4 class="content__tit tit-r">
											두피 흉터, <br>
											<strong class="color-special1">가리고만 다니는 분들께</strong>
										</h4>
										<p class="content__txt txt-l">
											흉터 모발이식은 피부층의 손상으로 인한 탈모이기
											때문에 <strong class="color-special1">다른 모발이식에 비해 높은 수준의 기술이
											필요</strong>합니다.
										</p>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
						<div class="content-floor type-special type-scar">
							<div class="content-floor__img">
								<img src="../../images/special/scar/scar_bg_1_m.jpg" class="img-normal" alt=""/>
							</div>
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<ul class="content-floor__list">
											<li class="content-floor__item txt-s js-scroll-motion">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">01</span><span class="content-floor__txt"> 수술 후 케어 책임보증제</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">02</span><span class="content-floor__txt"> 1:1 시스템, 숙련된 모발이식</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay2">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">03</span><span class="content-floor__txt"> 안전한 국소마취, 정맥마취 No!</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay3">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">04</span><span class="content-floor__txt"> 높은 생착률로 만족스러운 결과</span>
												</div>
											</li>
											<li class="content-floor__item txt-s js-scroll-motion type-delay4">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-special1">05</span><span class="content-floor__txt"> 디테일한 재배치, 밀도 있는 풍성함</span>
												</div>
											</li>
										</ul>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section3-->
			<div class="horizontal-section content-section5" data-page="key point">
				<div class="content__area">
					<div class="content-key type-special type-scar js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-wide type-inner">
										<h4 class="content__tit tit-r">
											높은 생착률을 위한 <strong class="color-special1">핵심 포인트</strong>
										</h4>
										<p class="content__line type-special">KEY POINT</p>
										<p class="content__txt2 txt-r">
											흉터가 아주 깊거나 크지 않으면서 딱딱하지 않은 경우라면 일반 모발이식으로도
											어느 정도 개선 효과를 기대할 수 있으나, <strong class="color-black1">흉터가 깊거나 범위가 넓고 두피가 많이
											딱딱한 경우에는 레이저 시술을 통해 조직을 재생 후 모발이식을 시행</strong>하는 것이
											좋습니다.
										</p>
									</div>
									<div class="content-key__box">
										<ul class="content-key__list">
											<li class="content-key__item txt-s"><strong class="color-special1">레이저 시술</strong> 흉터 조직의 재생과 혈관 생성을 유도</li>
											<li class="content-key__item txt-s"><strong class="color-special1">흉터 분석</strong> 모양, 깊이, 범위, 두피 상태 정밀 진단</li>
											<li class="content-key__item txt-s"><strong class="color-special1">디자인과 밀도</strong> 맞춤 디자인, 밀도, 방향, 각도 고려한 이식</li>
										</ul>
										<ul class="content-key__list">
											<li class="content-key__item txt-s"><strong class="color-special1">주변 모 손상 최소화</strong> 모발 사이사이에 정밀하게 이식</li>
										</ul>
									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-bottom type-scar js-scroll-motion">
						<div class="flex-bottom type-slim-t">
							<div class="flex-bottom__wrap">
								<img src="../../images/special/scar/scar_bg_2.jpg" class="hidden-tm" alt="">
								<img src="../../images/special/scar/scar_bg_2_m.jpg" class="hidden-p img-w100-t" alt="">
								<p class="content-bottom__noti txt-s color-black4">※ 이해를 돕기 위해 연출된 이미지 입니다.</p>
							</div>
						</div>
					</div>
					<div class="content-box type-slim type-specialline js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<p class="content__txt txt-l">
									흉터 모발이식은 정확한 진단을 통한
									<strong class="color-special1">흉터의 섬유화 정도, 위치, 깊이, 모양을
									고려하여 흉터 부위 혈관 생성을
									유도하면서, 건강한 모낭의 정교한
									이식</strong>이 중요합니다.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->
			<div class="horizontal-section content-section6" data-page="how">
				<div class="content-popup">
					<div class="content-popup__wrap">
						<div class="content-popup__area">
							<h5 class="content-popup__tit tit-s">절개법 VS 비절개법 비교</h5>
							<div class="content-popup__scroll">
								<table class="table-v1 type-special">
									<tbody>
										<tr class="table-v1__tr">
											<th class="bg-white"></th>
											<th class="table-v1__th bg-gray1">절개법</th>
											<th class="table-v1__th">비절개법</th>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">흉터</th>
											<td class="table-v1__td">하나의 가는 실선 형태</td>
											<td class="table-v1__td">여러 개의 작은 점 형태</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">생착률</th>
											<td class="table-v1__td">높음</td>
											<td class="table-v1__td">상대적으로 낮음</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">삭발여부</th>
											<td class="table-v1__td">불필요</td>
											<td class="table-v1__td">삭발</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">추출부위 밀도<br>(뒷머리)</th>
											<td class="table-v1__td">변화없음</td>
											<td class="table-v1__td">줄어듦</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">시간<br>(3,0000모 기준)</th>
											<td class="table-v1__td">약 4시간</td>
											<td class="table-v1__td">약 6시간</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<button class="content-popup__close js-content-close">닫기</button>
					</div>
				</div>
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<p class="content__line type-special">HOW</p>
									<h4 class="content__tit tit-r">
										<strong class="color-special1">절개/비절개/로봇 모낭 채취</strong> 모두 가능한 바노바기
									</h4>
									<p class="content__txt txt-l">
										숙련된 의료진에게 절개, 비절개 방식을
										구분하는 것은 무의미합니다.
										<strong class="color-special1">흉터의 정도, 두피의 탄력성, 두피 건강 상태 등을
										종합적으로 진단하여 환자분에게 적합한 방식</strong>을 권해 드립니다.
									</p>
									<a href="" class="content__more more-btn type-special js-hover js-content-open">
										<span class="more-btn__plus">plus</span><span class="more-btn__txt">more</span>
									</a>
									<p class="more-btn__show txt-s">절개법 VS 비절개법 비교 보기</p>
								</div>
								<div class="content-img type-list type-scar js-scroll-motion">
									<div class="flex-bottom">
										<div class="content-img__wrap">
											<img src="../../images/special/scar/scar_img_2.jpg" class="img-w100-t" alt="절개법 VS 비절개법 비교"/>
											<ul class="content-img__list">
												<li class="content-img__item type-default">
													<h5 class="content-img__subject txt-l">절개법</h5>
													<p class="content-img__txt txt-s">필요한 모낭만큼 두피 면적을 떼어낸 후 봉합</p>
												</li>
												<li class="content-img__item type-special">
													<h5 class="content-img__subject txt-l">비절개법</h5>
													<p class="content-img__txt txt-s">모발 사이사이 필요한 모낭만을 하나씩 채취</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section5-->
			<div class="horizontal-section content-section7" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box type-wide js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-special1">결과를 좌우하는</strong> 바노바기의<br class="hidden-tm">
										흉터 모발이식 시스템
									</h4>
									<p class="content__txt txt-l">
										채취 단계부터 최대한 모낭과 그 주변을 손상 없이 그대로 채취
										및 분리하여 이식된 모낭이 건강하게 생착 될 수 있도록 하고,
										<strong class="color-special1">숙련된 의료진의 전문적이고 정교한 이식을 통해
										만족스러운 결과를 기대</strong>할 수 있습니다.
									</p>
									<p class="content__line type-special">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-special">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/scar/scar_technic_1.jpg" class="img-responsive" alt="건강한 모낭채취"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">건강한 모낭채취</h5>
													<p class="content-number__txt txt-s">
														절개/비절개/로봇을 이용하여
														흉터 및 손상이 거의 없는
														모낭채취
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/scar/scar_technic_2.jpg" class="img-responsive" alt="전문적인 모낭분리"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">전문적인 모낭분리</h5>
													<p class="content-number__txt txt-s">
														최소 5년 이상 경력의
														모낭분리사가 정교하고
														안전하게 모낭분리
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/special/scar/scar_technic_3.jpg" class="img-responsive" alt="숙련된 모발재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">숙련된 모발재배치</h5>
													<p class="content-number__txt txt-s">
														10년간 3,000건 이상 수술
														경험의 모발재배치 전문 의료진
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->
			<div class="horizontal-section content-section8" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-special js-scroll-motion">
									<p class="content__line type-special">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-special1">흉터 모발이식 과정</strong>
									</h4>
									<p class="content__txt txt-l">
										똑같은 흉터는 없습니다. 흉터가 생긴 시기, 흉터 피부의 상태, 이식 깊이 등
										조건들을 고려하여 진단하고 채취한 모발을 <strong class="color-special1">두피와 모발 상태에 가장 알맞은 최적의 방식으로
										최대한 자연스럽고 정교하게 재배치</strong> 해야 합니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 1</p>
															<h5 class="content-process__tit txt-l">진단 및 상담</h5>
															<p class="content-process__txt txt-r">
																흉터 및 두피 상태 확인,
																수술 상담

															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/scar/scar_process_1.jpg" alt="step 1 진단 및 상담" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 2</p>
															<h5 class="content-process__tit txt-l">디테일한 디자인</h5>
															<p class="content-process__txt txt-r">
																흉터 모양, 범위, <br>
																주변 모와의 조화 <br>
																등에 따른 맞춤 디자인
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/scar/scar_process_2.jpg" alt="step 2 디테일한 디자인" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 3</p>
															<h5 class="content-process__tit txt-l">모낭 채취 방식 선택</h5>
															<p class="content-process__txt txt-r">
																절개방식<br>
																비절개방식<br>
																절개/비절개 혼합 방식
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/scar/scar_process_3.jpg" alt="step 3 모낭 채취 방식 선택" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 4</p>
															<h5 class="content-process__tit txt-l">모낭 분리 및<br> 모낭 이식</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/scar/scar_process_4.jpg" alt="step 4 모낭 분리 및 모낭 눈썹 이식" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 5</p>
															<h5 class="content-process__tit txt-l">수술 후 관리</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/special/scar/scar_process_5.jpg" alt="step 5 수술 후 관리" class="img-w100"/>
												</div>
											</li>
										</ul>
										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->
			<div class="horizontal-section content-section9" data-page="project">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										바노바기니까. <strong class="color-special1">더 꼼꼼한
										유지관리 프로그램,</strong>
										고생착 프로젝트
									</h4>
									<p class="content__txt txt-l">
										수술 후 체계적인 두피케어를 통해 생착률을 높이고,
										한번 이식한 모발이 오래 유지될 수 있도록 <strong class="color-special1">전문적인
										케어 프로그램을 제공</strong>합니다.
									</p>
									<p class="content__txt2 txt-r">
										줄기세포 성장인자, 멀티 비타민, 미네랄 등을 공급해주는
										메조테라피 시술부터 두피 스케일링, 영양 침투 케어 등 <strong class="color-black1">건강한
										두피와 모근을 위한 다양한 프로그램으로 차별화된 모발이식</strong>을
										경험하세요.
									</p>
									<p class="content__line type-special">PROJECT</p>
								</div>
								<div class="content-zigzag section-left js-scroll-motion type-zigzag">
									<ul class="content-zigzag__list type-top">
										<li class="content-zigzag__item type-delay">
											<img src="../../images/content/project_img_1_common.jpg" class="img-w100-t" alt=""/>
										</li>
										<li class="content-zigzag__item type-delay3">
											<img src="../../images/content/project_img_2_common.jpg" class="img-w100-t" alt=""/>
										</li>
									</ul>
									<ul class="content-zigzag__list">
										<li class="content-zigzag__item">
											<img src="../../images/content/project_img_3_common.jpg" class="img-w100-t" alt=""/>
										</li>
										<li class="content-zigzag__item type-delay2">
											<img src="../../images/content/project_img_4_common.jpg" class="img-w100-t" alt=""/>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section8-->
			<div class="horizontal-section content-section10 content-section-care" data-page="1year care">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										수술만큼 중요한<br>
										<strong class="color-special1">수술 후 관리</strong>
									</h4>
									<p class="content__txt2 txt-r">
										모발이식은 수술로 완성되는 것이 아닙니다.<br class="hidden-tm">
										<strong class="color-black1">최소 1년간은 환자와 의료진이 한 호흡으로 지속적인 관리와 경과 관찰이 필요</strong>합니다.
									</p>
									<p class="content__txt txt-l">
										수술 후 빠른 회복과 이식된 모낭의 생착을
										높이기 위해 <strong class="color-special1">체계적이고 철저하게 관리</strong>해 드립니다.
									</p>
									<p class="content__line type-special">1YEAR CARE</p>
								</div>
								<div class="content-year section-left section-top type-special js-scroll-motion">
									<div class="content-img type-year">
										<div class="flex-bottom">
											<ul class="hair-one">
												<li class="hair-one__item"><img src="../../images/content/hair_one_1.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_2.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_3.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_4.jpg" class="img-normal" alt=""></li>
											</ul>
										</div>
									</div>
									<div class="content-year__wrap section-left">
										<ul class="content-year__list">
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/scar/scar_care_1.jpg" class="img-w100" alt="2일차 드레싱 & 샴푸"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">2일차</h5>
													<p class="content-year__txt txt-s">드레싱 & 샴푸</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/scar/scar_care_2.jpg" class="img-w100" alt="10~14일 후 실밥제거"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">10~14일 후</h5>
													<p class="content-year__txt txt-s">실밥제거</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/scar/scar_care_3.jpg" class="img-w100" alt="4주 후 두피 스켈링 / 메조테라피 / 바이오라이트"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">4주 후</h5>
													<p class="content-year__txt txt-s">두피 스켈링 / 메조테라피 / 바이오라이트</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/special/scar/scar_care_4.jpg" class="img-w100" alt="1Year check 지속케어 수술 후 1, 3, 6, 12개월 케어"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">1Year check 지속케어</h5>
													<p class="content-year__txt txt-s">수술 후 1, 3, 6, 12개월 케어</p>
												</div>
											</li>
										</ul>
										<p class="content-year__noti txt-s">메조테라피 및 추가적인 관리 방법에 따라 별도 비용이 발생할 수 있습니다.</p>
										<div class="content-bullet type-special">
											<ul class="content-bullet__list">
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
