@charset "UTF-8";
// @import "variables";
@import "mixins";
//ios 초기화
input[type=text], input[type=password], input[type=tel],textarea{ -webkit-border-radius:0;-webkit-appearance:none;  }
input[type=text]::-ms-clear {display:none;}


// @import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css' ) ;
.flex-center{display:flex; height:100%; @include vendor('align-items','center');}
.flex-bottom{display:flex; height:100%; @include vendor('align-items','flex-end');
	&__wrap{position:relative; }
	&__mini{position:absolute; top:-90px; right:180px; width:180px; height:180px; border:1px solid #c7c7c7; box-sizing:border-box;}
	&__noti{position:absolute; left:0; right:0; bottom:80px; color:$black4; text-align:center;}
	@media only screen and (max-width:$tablet-size){display:block; height:auto; box-sizing:border-box;
		&.type-slim-t{padding:0 15%;}
		&__mini{right:120px;}
		&__noti{bottom:40px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__mini{top:-45px; right:90px; width:90px; height:90px;}
		&.type-slim-t{padding:0%;}
		&__noti{bottom:20px;}
	}
}
.img-responsive{position:absolute; top:0; left:0; width:100%; height:100%;}
.img-normal{max-width:100%; vertical-align:middle;}
.img-normal-t{vertical-align:middle;
	@media only screen and (max-width:$tablet-size){max-width:100%;}
}
.img-w100{width:100%; vertical-align:middle;}
.img-w100-t{vertical-align:middle;
	@media only screen and (max-width:$tablet-size){width:100%; }
}
.img-w70-t{vertical-align:middle;
	@media only screen and (max-width:$tablet-size){display:block; width:70%; margin:0 auto;}
	@media only screen and (max-width:$mobile-size){width:100%;}
}
.img-h100-p{height:100%; vertical-align:middle;
	@media only screen and (max-width:$tablet-size){height:auto; width:100%; }
}

.img-w80-t{width:80%; vertical-align:middle;
	@media only screen and (max-width:$tablet-size){width:100%; }
}

.img-bottom{vertical-align:bottom;}

// .hover-img{position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; transition: all 0.5s;}

.inline-block{display:inline-block;}


/*common*/
.hidden-pm{display:none !important;}
.hidden-m{display:inline-block !important;}
.hidden-pt{display:none !important;}
.hidden-p{display:none !important;}
@media only screen and (max-width: $tablet-size) {
	.hidden-p{display:block !important;;}
	.hidden-t{display:none !important;}
	.hidden-pt{display:none !important;}
	.hidden-tm{display:none !important;}
	.hidden-pm{display:block !important;}
	.hidden-m{display:block !important;}
}
// @media only screen and (max-width:$tablet-size) and (orientation: landscape){
// 	.hidden-pm{display:none !important;}
// 	.hidden-m{display:inline-block !important;}
// 	.hidden-pt{display:none !important;}
// 	.hidden-p{display:none !important;}
// 	// .hidden-tm{display:block !important;}
// }
@media only screen and (max-width: $mobile-size) {
	.hidden-t{display:block !important;}
	.hidden-m{display:none !important;}
	.hidden-pt{display:block !important;}
	.hidden-pm{display:none !important;}
}



@-webkit-keyframes bounceInCustom {
    from,
    3%,
    6%,
    9%,
    12%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }

    3% {
      -webkit-transform: scale3d(1.2, 1.2, 1.2);
      transform: scale3d(1.2, 1.2, 1.2);
    }

    6% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }

    9% {
      opacity: 1;
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }

    12% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceInCustom {
  from,
  3%,
  6%,
  9%,
  12%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  3% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  6% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  9% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  12% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceInCustom {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-name: bounceInCustom;
  animation-name: bounceInCustom;
}


.slide-dot{padding:0;
    li{display:inline-block; font-size:0; border:none;
        & + li{margin-left:12px;}
        &.slick-active{
            button{background:$point2; border-radius:50%;}
        }
    }
    button{display:inline-block; width:12px; height:12px; padding:0; background:none; outline:0; border:1px solid $point2; background-color:transparent; border-radius:50%; text-indent:-9999px; cursor:pointer;}
    @media only screen and (max-width:$mobile-size){
        li{
            & + li{margin-left:10px;}
        }
        button{width:10px; height:10px;}
    }
}

.layer-top{position:relative; z-index:10;}
.mobile-tel-link{color:inherit; text-decoration:none;}
