.font-pt{font-family:$font-pt;}
.tit-l{margin:0; font-size:54px; font-weight:$medium; line-height:1.2;
    @media only screen and (max-width:$mobile-size){font-size:2.8rem; line-height:1.35;}
}
.tit-r{margin:0; font-size:40px; font-weight:$medium; line-height:1.25;
    @media only screen and (max-width:$mobile-size){font-size:2.3rem; line-height:1.4;}
}
.tit-s{margin:0; font-size:30px; font-weight:$medium; line-height:1.2;
    @media only screen and (max-width:$mobile-size){font-size:2.2rem; line-height:1.23;}
}

.txt-l{margin:0; font-size:20px; font-weight:$light; line-height:1.5;
    @media only screen and (max-width:$mobile-size){font-size:1.6rem; line-height:1.625;}
}
.txt-r{margin:0; font-size:16px; font-weight:$light; line-height:1.625;
    @media only screen and (max-width:$mobile-size){font-size:1.4rem; line-height:1.714;}
}
.txt-s{margin:0; font-size:14px; font-weight:$regular; line-height:1.42;
    @media only screen and (max-width:$mobile-size){font-size:1.3rem; line-height:1.38;}
}


/*weight*/
.weight-thin{font-weight:$thin !important;}
.weight-lightDown{font-weight:$lightDown !important;}
.weight-regular{font-weight:$regular !important;}
.weight-medium{font-weight:$medium !important;}
.weight-bold{font-weight:$bold !important;}

/*color*/
.color-point1{color:$point1;}
.color-point2{color:$point2;}


.color-black1{color:#000;}
.color-black4{color:$black4 !important;}
.color-gray1{color:$gray1 !important;}
.color-gray2{color:$gray2;}
.color-woman1{color:$woman1;}
.color-woman2{color:$woman2;}
.color-man1{color: $man1;}
.color-man2{color: $man2;}
.color-robot1{color:$robot1;}
.color-robot2{color:$robot2;}
.color-special1{color:$special1;}
.color-special2{color:$special2;}
.color-svf1{color:$svf1;}
.color-svf2{color:$svf2;}
.color-reoperation1{color:$reoperation1;}
.color-reoperation2{color:$reoperation2;}
.color-care1{color:$care1;}
.color-care2{color:$care2;}


.bg-woman{background-color:$woman1;  color:#fff;}
.bg-robot{background-color:$robot2;  color:$robot1;}
.bg-gray1{background-color:$gray1;}
.bg-gray2{background-color:$gray2; color:#fff;}
.bg-man1{background-color:#98baf3; color:#fff;}
.bg-man2{background-color:$man2;}

.bg-white{background-color:#fff;}


.txt-under{text-decoration: underline;}
.txt-under-none{text-decoration: none;}
