@charset "UTF-8";
// @import "variables";
@import "mixins";
.btn-v1{position:relative; overflow:hidden; display:inline-block; min-width:240px; height:56px; padding:5px 10px 2px; box-sizing:border-box; font-size:16px; color:$black1; border:1px solid $point2; text-align:center; border-radius: 4px; font-weight:$bold;
    text-decoration:none;  @include vendor('transform','translateZ(0)');
    &:before{position:absolute; top:0; left:0; bottom:0; width:0%; transition: width 0.5s; content:'';}
    &:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
    span{display:inline-block; vertical-align:middle;}
    &.is-hover-start{color:#fff;
        &:before{position: absolute; top:0; left:0; width:100%; background-color::$point2; z-index:-1;}
    }
    &.is-hover-end{color:$black1;
        &:before{position: absolute; top:0; left:auto; right:0; width:0; background-color::$point2; z-index:-1;}
    }
    // &.is-hover{ background:$point2; color:#fff;}
    &-point{color:#fff !important; border-color:$point2;
        &.is-hover{ background:$point2;}
    }
    @media only screen and (max-width:$tablet-size){background-color:$point2 !important; color:#fff !important;}
    @media only screen and (max-width:$mobile-size){min-width:180px; height:42px; padding:2px 5px 1px; font-size:1.3rem;}
}
.more-v1{position:relative; display:inline-block; padding-right:30px; text-decoration:none; color:inherit; box-sizing:border-box; transition: padding 0.3s; font-weight:$medium;
    &:before,&:after{position: absolute; display:block; top:0; right:0; height:1px; background:$black1; transition: background 0.3s; content:'';}
    &:before{top:10px; width:20px; margin:auto 0; transition: width 0.3s;}
    &:after{top:8px; height:1px; right:0px; width:6px; @include vendor('transform', 'rotate(45deg)');}
    &.is-hover{padding-right:50px;
        &:before,&:after{background:$black1;}
        &:before{width:40px;}
    }
}

.select-v1{display:inline-block; width:160px; height:40px; margin:auto 0;  box-sizing:border-box; color:#ababab; vertical-align: top;
	$this:&;
	&__wrap{position:relative;
		&:hover{
			// & #{$this}__tit{background-color:#3c3f45;}
		}
		&.is-active{
			& #{$this}__list{display:block;}
			& #{$this}__tit{border-top-color:transparent; border-radius:0 0 10px 10px;
				&:before{position:absolute; top:0; left:0; right:0; display:block; width:calc(100% - 20px); height:0; margin:0 auto; border-top:1px solid $black3; content:'';}
			}
			& #{$this}__tit:after{transform: rotate(0deg);}
		}
	}
	&__tit{position:relative; display:block; padding:0px 14px 0 16px; height:40px;  text-decoration:none; line-height:40px; cursor:pointer; border:1px solid $black3; text-transform: uppercase; text-align:left; border-radius:10px; color:$black4;
		&:after{position:absolute; top:0; bottom:0; right:10px; width:14px; height:7px; margin:auto 0; background:url('../images/common/select_arrow.png') no-repeat center center / contain; transform: rotate(180deg); content:''; }
	}
	&__tit-link{color:inherit; text-decoration:none;}
	&__list{display:none; position:absolute;  width:100%; padding:10px 16px; margin:0; box-sizing:border-box; z-index:95; background-color:$black1; border-radius:10px 10px 0 0; border:1px solid $black3; border-bottom:none; }
	&__item{list-style:none; color:$black4;
		&:hover{color:$gray2;}
		&.is-active{color:$point1 !important;}
	}
	&__link{display:block; padding:7px 0; color:inherit; text-decoration:none; text-align:left; color:inherit;
		&.type-another{padding:0;}
	}
	& + &{margin-left:10px;}
	@media only screen and (max-width:$mobile-size){width:142px; height:32px;
        &__wrap{
    		&.is-active{
    			& #{$this}__tit{border-radius:0 0 5px 5px;}
            }
        }
		&__tit{padding:0 10px; height:32px; line-height:32px; font-size:1.3rem; border-radius:5px;
			&:after{right:10px; border-width:4px;}
		}
		&__list{padding:10px;}
		&__link{font-size:1.3rem; padding:3px 0;}
	}
}

.more-btn{overflow:hidden; display:block; width:72px; height:72px; margin:0 auto;  border-radius:36px; font-size:20px; white-space:nowrap; transition: width 0.3s;text-decoration: none;
    $this:&;
    &.type-woman,&.type-sub{background:$woman2; color:$woman1;
        #{$this}__plus{
            &:before,&:after{background:$woman1;}
        }
    }
    &__plus{overflow:hidden; position:relative; display:inline-block; width:72px; height:72px; text-indent:-9999px;
        &:before,&:after{position:absolute; display:block; top:0; left:0; right:0; bottom:0; margin:auto; z-index:10; content:'';}
        &:before{width:30px; height:4px;}
        &:after{height:30px; width:4px;}
    }
    &__txt{display:inline-block; line-height:72px; vertical-align:top; font-weight:$medium;}
    &__show{margin-top: 16px;color: $black4;text-align: center;}

    &.is-hover{width:164px;}
    @media only screen and (max-width:$tablet-size){width:164px;}
    @media only screen and (max-width:$mobile-size){width:110px !important; height:46px; line-height:46px; font-size:1.8rem; border-radius:36px;
        &__plus{width:46px; height:46px;
            &:before{width:12px; height:2px;}
            &:after{height:12px; width:2px;}
        }
        &__txt{margin-left:-6px; line-height:45px;}
        &__show{margin-top: 18px;}
    }
}

.table-v1{width:880px; padding:0; border-spacing:0px; border:0; border-collapse:collapse; background-color:#fff; border-bottom:1px solid $gray1;
    $this:&;
    &__th,&__td{height:70px; padding:10px; box-sizing:border-box;}
    &__th{font-weight:$medium; font-size:16px;
        & + &{border-left:1px solid #fff;}
    }
    &__td{font-size:14px;
        & + &{border-left:1px solid $gray1;}
    }
    &__tr{
        &:nth-child(odd){background-color:$gray1;
            #{$this}__td + #{$this}__td{border-left:1px solid #fff;}
        }
        & + &{border-top:1px solid #fff;}
    }
    @media only screen and (max-width:$tablet-size){width:100%;
        &__th,&__td{height:50px; padding:4px;}
        &__th{font-size:1.2rem;}
        &__td{font-size:1.1rem;}
    }
}

.table-v2{width:880px; padding:0; border-spacing:0px; border:0; border-collapse:collapse; background-color:#fff; border-bottom:1px solid $gray1;
    $this:&;
    &__th,&__td{height:70px; padding:10px; box-sizing:border-box;}
    &__th{width:200px; font-weight:$medium; font-size:16px;
        & + &{border-left:1px solid #fff;}
    }
    &__td{font-size:14px;
        & + &{border-left:1px solid $gray1;}
    }
    &__tr{
        &:nth-child(odd){background-color:$gray1;
            #{$this}__td + #{$this}__td{border-left:1px solid #fff;}
        }
        & + &{border-top:1px solid #fff;}
    }
    @media only screen and (max-width:$tablet-size){width:100%;}
    @media only screen and (max-width:$mobile-size){
        &__th{width:100px;}
        &__th,&__td{height:50px; padding:4px;}
        &__th{font-size:1.2rem;}
        &__td{font-size:1.2rem;}
    }
}


.tab-v1{width:1200px; margin-top:60px;
	$this:&;
    &.type-three-two{width:900px;}
    &.type-care{
        #{$this}__item{background-color:$care2; border-color:$care2;
            &.is-active{border-left-color:$care1 !important; border-color:$care1; color:$care1; font-weight:$medium; border-bottom-color:#fff;}
        }
        #{$this}__list{border-bottom:1px solid $care1;}
    }
    &.type-man{
        #{$this}__item{background-color:$man2; border-color:$man2;
            &.is-active{border-left-color:$man1 !important; border-color:$man1; color:$man1; font-weight:$medium; border-bottom-color:#fff;}
        }
        #{$this}__list{border-bottom:1px solid $man1;}
    }
	&__list{width:100%; margin:0; padding:0; font-size:0; text-align:left;}
	&__item{position:relative; display:inline-block; width:240px; height:50px; border:1px solid #fff; box-sizing:border-box;
        &.is-active{background-color:#fff !important;
            &:after{position:absolute; bottom:-2px; left:0; width:calc(100%); height:0; border-bottom:1px solid #fff; content:''; z-index:10;}
        }
        & + &{border-left-color: #fff !important;}
    }
    &__link{display:table-cell; width:1%; height:inherit; vertical-align:middle; text-decoration:none; color:inherit;; text-align:center;}
    &__content{overflow:hidden; height:0; box-sizing:border-box;
        &.is-active{overflow:visible; height:auto; padding-top:30px;}
    }
    @media only screen and (max-width:$tablet-size){width:auto; margin-left:-40px; margin-right:-40px;
        &.type-three-two{width:auto;
            #{$this}__item{width:50%;}
        }
        &__item{width:33.33%;}
        &__content{
            &.is-active{padding-top:36px;}
        }
    }
    @media only screen and (max-width:$mobile-size){margin-left:-20px; margin-right:-20px;
        &__item{width:33.33%; height:42px;}
        &__content{
            &.is-active{padding-top:30px;}
        }
    }
}

.select-v2{
	$this:&;
    &__btn{display:none;}
	@media only screen and (max-width:$tablet-size){position:relative;
		&__list { position: absolute; left:0; right:0; display:none; margin:0; padding:0; z-index:100; border-left:1px solid #dddddd; border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; border-radius:0 0 8px 8px;
			background:#fff;
			&.is-active{display:block;}
		}
		&__item { display: block; width: 100%;  border:none;
			&:nth-child(even){margin-left:0px;}
			&:nth-child(2)  ~ &{margin-top:0px;}
			&.is-active,&.is-hover{
				#{$this}__link{background-color:#ffe3dd; color:$point2;}
			}
		}
		&__link {display:block; width:auto; height:auto; padding: 14px 20px 13px 20px; font-size:16px; text-align:left; color:$black4; text-decoration:none; box-sizing:border-box;}
		&__btn { position: relative;  display: block; width: 100%; margin: 0; padding: 14px 46px 13px 20px; border: none; font-size: 16px; text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; background-color:#fff; border:1px solid #dddddd; outline:none;
            border-radius: 8px;
			&:before, &:after { position: absolute; top: 0; bottom: 0; right: 20px; height: 0; margin: auto; border-width: 8px 8px 0 8px; border-style: solid; content: ''; }
			&:before { top:-4px; border-color: #fff transparent transparent transparent; z-index:10; }
			&:after {border-color: $black4 transparent transparent transparent; }
			&.is-active{border-bottom:none; border-radius:8px 8px 0 0;
                &:before{top:4px;}
				&:before, &:after{transform:rotate(180deg);}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__link { padding: 13px 15px 12px; font-size:1.4rem;}
		&__btn {padding: 13px 36px 12px 15px; font-size: 1.4rem;
			&:before, &:after {right: 15px; border-width: 6px 6px 0 6px;  }
		}
	}
}
