@charset "UTF-8";
// @import "variables";
@import "mixins";
@import "svgicon";
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-thin.eot');
	src: url('../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-thin.woff2') format('woff2'),
	url('../fonts/notokr-thin.woff') format('woff'),
	url('../fonts/notokr-thin.ttf') format('truetype'),
	url('../fonts/notokr-thin.svg#notokr-thin') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-light.eot');
	src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-light.woff2') format('woff2'),
	url('../fonts/notokr-light.woff') format('woff'),
	url('../fonts/notokr-light.ttf') format('truetype'),
	url('../fonts/notokr-light.svg#notokr-light') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-demilight.eot');
	src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-demilight.woff2') format('woff2'),
	url('../fonts/notokr-demilight.woff') format('woff'),
	url('../fonts/notokr-demilight.ttf') format('truetype'),
	url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-regular.eot');
	src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-regular.woff2') format('woff2'),
	url('../fonts/notokr-regular.woff') format('woff'),
	url('../fonts/notokr-regular.ttf') format('truetype'),
	url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-medium.eot');
	src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-medium.woff2') format('woff2'),
	url('../fonts/notokr-medium.woff') format('woff'),
	url('../fonts/notokr-medium.ttf') format('truetype'),
	url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-bold.eot');
	src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-bold.woff2') format('woff2'),
	url('../fonts/notokr-bold.woff') format('woff'),
	url('../fonts/notokr-bold.ttf') format('truetype'),
	url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans KR';
	src: url('../fonts/notokr-black.eot');
	src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/notokr-black.woff2') format('woff2'),
	url('../fonts/notokr-black.woff') format('woff'),
	url('../fonts/notokr-black.ttf') format('truetype'),
	url('../fonts/notokr-black.svg#notokr-black') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: 400;
src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed'), url('../fonts/MYRIADPRO-COND.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed Italic'), url('../fonts/MYRIADPRO-CONDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: 300;
src: local('Myriad Pro Light'), url('../fonts/MyriadPro-Light.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: 500;
src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro';
font-style: italic;
font-weight: 500;
src: local('Myriad Pro Semibold Italic'), url('../fonts/MYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Bold Condensed'), url('../fonts/MYRIADPRO-BOLDCOND.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro';
font-style: normal;
font-weight: 600;
src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro';
font-style: italic;
font-weight: 600;
src: local('Myriad Pro Bold Italic'), url('../fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro';
font-style: italic;
font-weight: normal;
src: local('Myriad Pro Bold Condensed Italic'), url('../fonts/MYRIADPRO-BOLDCONDIT.woff') format('woff');
}



html,body{margin:0; padding:0; font-family: $font-normal; color:$black1; font-weight:$regular; line-height:1.3; word-break: keep-all; background-color:$black1;
	-ms-text-size-adjust: none;-moz-text-size-adjust: none;-o-text-size-adjust: none;-webkit-text-size-adjust: none; text-size-adjust: none;
	&.no-scroll{overflow:hidden; width:100%; height:100%;}
}
html{font-size:10px;
	@media only screen and (max-width: $iphone-size){font-size:9px;}
}

body{position:relative; min-height:100%; overflow-x:hidden;  font-size:14px;
	@media only screen and (max-width: $mobile-size){font-size:10px;}
	@media only screen and (max-width: $iphone-size){font-size:9px;}
}

//ios 초기화
input[type=text], input[type=password], input[type=tel]{ -webkit-border-radius:0;-webkit-appearance:none;  }
input[type=text]::-ms-clear {display:none;}
.common{position:relative;}
.header{position:fixed; top:0; bottom:0; left:0; width:80px; padding:24px 12px; background-color:#000; z-index:130; color:#fff; text-align:center; border-radius:0 0 0 0; box-sizing:border-box; transition: background 0.3s;
	$this:&;
	&__wrap{position:relative; width:100%; height:100%;}
	&__list{margin:40px 0 0 0; padding:0; list-style:none;}
	&__item{overflow:hidden; list-style:none;
		&.type-consultation{
			#{$this}__link{color:#fff222;
				// &:before{display:block; width:34px; height:34px; margin:0 auto 2px; background:url('../images/common/consultation_icon.svg') no-repeat center center / contain; content:'';}
			}
		}
		&.type-login{
			#{$this}__icon{width:20px;}
		}
		&.type-call{display:none;}
		&.type-event{display:none;}
		& + &{margin-top:30px;}
	}
	&__icon{display:block; width:38px; height:38px; margin:0 auto 4px;}
	&__link{display:block; text-decoration: none; color:#fff; font-size:12px; max-width:56px;}
	&__btn{position:absolute; top:0px; left:0; right:0; bottom:0; display:block; width:24px; height:24px; margin:auto;  padding:4px 0; background: transparent; border:none; outline:0; cursor:pointer; transition: all 0.3s; z-index:50; box-sizing:border-box;
		&.is-active{
			#{$this}__btn-line{
				&.nth-1{top:0; bottom:0; margin:auto 0; transform: rotate(45deg);}
				&.nth-2{display:none;}
				&.nth-3{top:0; bottom:0; margin:auto 0; transform: rotate(-45deg);}
			}
		}
		&.is-hover{@include vendor('transform', 'rotate(90deg)');}
	}
	&__btn-wrap{position:relative; display:block; width:100%; height:100%;}
	&__btn-line{overflow:hidden; position:absolute; left:0; width:100%; height:2px; background:#fff; transition: all linear 0.2s; text-indent:-999px;
		&.nth-1{top:0;}
		&.nth-2{top:0; bottom:0; margin:auto 0;}
		&.nth-3{bottom:0;}
	}
	&__logo{margin:0;}
	&.is-black{background-color:#000;}
	@media only screen and (max-width:$tablet-size){height:68px; bottom:auto; width:100%; padding-left:40px; padding-right:40px; text-align:center; background-color:transparent;
		&__logo{position: absolute; top:0; left:0; right:0; bottom:0; display:inline-block; width:120px; height:44px; margin:auto; background:url('../images/common/logo_icon.svg') no-repeat center center / contain; vertical-align:top; transition: all 0.3s;}
		&__btn{right:auto; width:30px; height:22px; padding:0;}
		&__list{position:absolute; top:50%;	 right:0; @include vendor('transform','translateY(-50%)'); margin-top:0;
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:right;
			& + &{margin:0 24px 0 0;}
			&.type-login{
				#{$this}__icon{width:18px;}
			}
			&.type-call{display:block;
				#{$this}__icon{width:24px;}
			}
			&.type-event{
				#{$this}__link{display:block; max-width:none; padding:6px 18px; border:1px solid #fff; border-radius: 4px; font-size:16px; color:#fff; text-indent:0;}
			}
		}
		&__link{overflow:hidden; max-width:none; height:100%; font-size:0; text-indent:-9999px;}
		&__icon{margin:0;}
		&.is-active{
			#{$this}__logo{display:none;}
			#{$this}__item{
				&.type-event{display:block;}
			}
		}
	}
	@media only screen and (max-width:$mobile-size){height:50px;  padding:12px 10px;
		&__logo{width:80px; height:28px;}
		&__icon{display:block; width:32px; height:32px; }
		&__item{
			& + &{margin-right:15px;}
			&.type-event{padding-top:3px;
				#{$this}__link{ padding:4px 14px; font-size:1.3rem;}
			}
			&.type-call{display:block;
				#{$this}__icon{width:20px;}
			}
		}
		&__btn{width:20px; height:16px;}
	}
}
.gnb{position:fixed; top:0; bottom:0; left:80px; display:none; width:calc(100% - 80px); height:100vh; background-color:rgba(25,25,25,0.7);
	&.is-active{display:block;}
	$this:&;
	&__tit{overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0;}
	&__outer{overflow-x:hidden; overflow-y:auto; width:520px; height:inherit;}
	&__inner{ min-height:100vh; padding:40px 80px;background-color:$black1; box-sizing:border-box;}
	&__depth1-list{ margin:60px 0 0 0; padding:0;
		&.is-active{
			#{$this}__depth1-item{color:#777;}
		}
	}
	&__depth1-item{list-style:none; text-align:left; font-size:20px; font-weight:$medium; color:#fff; transition:color 0.3s;
		& + &{margin-top:20px;}
		&:hover,&.is-active{color:#fff222 !important;}
	}
	&__depth1-link{text-decoration:none; color:inherit; }
	&__container{position:absolute; top:0;  bottom:0; right:0; display:none; width:calc(100% - 520px); height:100%; padding:84px 80px;text-align:left; transition: transform 2s; background-color:#eee; box-sizing:border-box;
		&.is-active{display:block;}
	}
	&__container-wrap{margin-left:-80px; font-size:0; }
	&__depth2-tit{font-size:30px; color:$black1; font-weight:$bold;}
	&__depth2-list{margin:0; padding:0;}
	&__depth2-item{position:relative; list-style:none; font-size:18px; color:$black1; transition: all 0.3s;
		&:before,&:after{position:absolute; top:0; left:0; display:block;  height:2px; background:$point2;  vertical-align:top; transition: all 0.3s; content:'';}
		&:before{top:10px; width:0px;}
		&:after{top:7px; left:0px; width:0px; background:$point2; transform: rotate(45deg);}
		& + &{margin-top:20px;}
		&:hover,&.is-active{padding-left:24px; color:$point2;
			&:before{width:16px;}
			&:after{left:8px; width:8px;}
		}
	}
	&__depth2-link{text-decoration:none; color:inherit; text-align:left;}
	&__tel{margin:0; font-weight:$bold; font-size:34px; line-height:1.05;}
	&__bottom{position:relative; margin-top:41%; text-align:left; font-weight:$medium; color:#aaa;}
	&__box{display:inline-block; width:50%; height:100%; padding-left:80px; box-sizing:border-box; vertical-align:top;
		&.type-txt{padding-top:100px;}
	}
	&__logo{display:block; width:140px; margin:0 auto;}
	&__location{position: absolute; top:0; bottom:0; right:0; display:block; height:64px; margin:auto 0; }
	@media only screen and (max-width:$tablet-size){display:none !important;}
}

.m-gnb{display:none;
	$this:&;
	@media only screen and (max-width:$tablet-size){position:fixed; top:0; left:-100%; bottom:0; display:block; width:100%; padding-top:68px; box-sizing:border-box; background:#000; z-index:120; font-size:0; transition: all 0.5s;
		&.is-active{left:0;}
		&__wrap{position:relative; width:100%; height:100%;}
		&__head{position:absolute; top:0; left:0; display:inline-block; width:184px; height:100%; background-color:$black2;}
		&__head-list{height:100%; margin:0; padding:0; }
		&__head-item{border-bottom:1px solid $black3; list-style:none; box-sizing:border-box; border-right:1px solid $black2;
			&.is-active{border-right-color:$gray1;
				#{$this}__head-link{background:#fff; color:$black1;}
			}
			&.type-event{overflow:hidden; height:0; border-bottom:none;}
		}
		&__head-link{display:block; padding:20px 40px; text-decoration:none; color:inherit; font-size:16px; font-weight:$medium; color:$black3; word-break: break-all; }
		&__depth1{overflow:auto; width:100%; height:100%; padding-left:184px; padding-bottom:110px; box-sizing:border-box; background-color:#fff;}
		&__depth1-list{margin:0; padding:0 0 0 40px;}
		&__depth1-item{list-style:none; color:$point2;
			&:first-child{
				#{$this}__depth1-link{padding-top:30px;}
			}
			& + &{margin-top:30px;}
			&.type-depth2{
				#{$this}__depth1-link{
					&:after{display:none;}
				}
			}
			&.is-active{
				#{$this}__depth1-link{border-color:$point2; color:$point2;
					&:after{background:url('../images/common/gnb_arrow_hover.png') no-repeat center center / contain;}
				}
			}
		}
		&__depth1-link,&__depth2-link{position:relative; display:block; padding:20px 50px 20px 0; color:inherit; text-decoration:none; box-sizing:border-box;
			&:after{position:absolute; top:0; right:40px; bottom:0; display:block; width:10px; height:18px; margin:auto 0; background:url('../images/common/gnb_arrow.png') no-repeat center center / contain; content:'';}
		}
		&__depth1-link{ border-bottom:2px solid $black2; font-size:22px; font-weight:$bold; }
		&__depth2-list{margin:0; padding:0;}
		&__depth2-item{list-style:none; color:$black1;}
		&__depth2-item{
			&.is-active{
				#{$this}__depth2-link{color:$point2; font-weight:$medium;
					&:after{background:url('../images/common/gnb_arrow_hover.png') no-repeat center center / contain;}
				}
			}
		}
		&__depth2-link{border-bottom:1px solid #ddd; font-size:16px;  font-weight:$light;}
		&__event{padding:0 40px; box-sizing:border-box;}
	}
	@media only screen and (max-width:$mobile-size){padding-top:50px;
		&__head{width:110px;}
		&__head-link{padding:12px 10px; font-size:1.4rem; line-height:1.35;}
		&__depth1{padding-left:110px; padding-bottom:60px;}
		&__depth1-list{margin:0; padding:0 0 0 20px;}
		&__depth1-item{list-style:none; color:$point2;
			&:first-child{
				#{$this}__depth1-link{padding-top:20px;}
			}
			& + &{margin-top:18px;}
		}
		&__depth1-link,&__depth2-link{padding:16px 36px 16px 0;
			&:after{right:20px; width:7px; height:13px; background:url('../images/common/gnb_arrow_m.png') no-repeat center center / contain; content:'';}
		}
		&__depth1-link{font-size:1.6rem; }
		&__depth2-link{font-size:1.4rem;}
		&__event{padding:0 20px;}
	}
}
.horizontal-scroll{overflow:visible; position: fixed; bottom:0; left:0; z-index:100;
	@media only screen and (max-width:$tablet-size){position: static; bottom:auto; left:auto; transform: none !important;
		&.type-main{
			.horizontal-section + .horizontal-section{margin-top:0;}
		}
		&.type-woman,&.type-sub{
			.horizontal-section{
				&:nth-child(2) ~ .horizontal-section{border-left:none; border-top:1px solid rgba(255,226,224,0.4); }
			}
		}
	}
}
.horizontal-wrap{display:flex; white-space:nowrap;
	@media only screen and (max-width:$tablet-size){display:block; white-space:normal;}
}
.content-nowrap{height:100%; white-space: nowrap;
	@media only screen and (max-width:$tablet-size){height:auto; white-space:normal;}
}
.horizontal-section{position: relative; display:inline-block; height:100vh; vertical-align:bottom; font-size:0;  background:#fff;
	$this:&;
    &.main-section1{width:100vw; padding-left:80px; box-sizing:border-box;}
	// & + &{margin-left:-1px;}
	@media only screen and (max-width:$tablet-size){display:block; height:auto; white-space: normal;
		&.main-section1{width:auto; padding-left:0;}
		& + &{margin-top:120px; margin-left:0px;
			&.type-cling{margin-top:0;}
		}
		&.detail-cover{
			& + #{$this}{margin-top:120px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		& + &{margin-top:100px;}
		&.detail-cover{
			& + #{$this}{margin-top:100px;}
		}
	}
}
.horizontal-nav{position:fixed; left:120px; bottom:50px;  margin:0; padding:0; text-align:center; z-index:120; transition: left 1s;
	$this:&;
    &__item{position:relative; display:inline-block; width:12px; height:12px; line-height:12px; border:1px solid #aaa; background-color: transparent; border-radius:50%; cursor:pointer;
		& + &{margin-left:20px;}
		&.is-active{background-color:#000; border-color:#000;}
		&:before{position:absolute; top:-8px; left:50%; display:block; @include vendor('transform','translateX(-50%)'); transition: all 0.5s; opacity:0;
			border-color:#000 transparent transparent transparent; border-width:6px 6px; border-style:solid; content:''; }
		&:hover{background-color:#000;
			&:before{top:-14px; opacity:1;}
			#{$this}__txt{top:-36px; opacity:1;}
		}
	}
	&__txt{display:block; position:absolute;  top:-30px; left:50%; @include vendor('transform','translateX(-50%)') padding:6px 12px; opacity:0; transition: all 0.5s;
		@include vendor('pointer-events','none');
		text-transform: uppercase; font-size:14px; color:#fff; font-weight:$medium; background-color:#000; border-radius:5px; white-space:nowrap;}
	&.is-hide{left:-360px;}
	@media only screen and (max-width:$tablet-size){display:none;}
}
.horizontal-fix{display:block; position: fixed; top:0; left:0; right:0; bottom:0; z-index:20; background-color:#fff;
	&__list{margin:0; padding:0; height:100%;}
	&__item{position:relative; width:100%; height:100%; list-style:none;}
	&__iframe{position:absolute; height: 100%; width: 100vw; height: 56.25vw; min-height: 100vh; min-width: 177.77vh; top: 55%; left: 50%;
    -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
	@media only screen and (max-width:$tablet-size){display:none; position:static; top:auto; left:auto; right:auto; bottom:auto;}
}
.horizontal-footer{overflow:hidden; display:inline-block; width:1px; height:100vh; vertical-align:top;background-color: transparent; text-indent:-9999px; overflow:hidden;
	@media only screen and (max-width:$tablet-size){display:none;}
}
.vertical-footer{overflow:hidden; display:inline-block; width:100vw; height:1px; vertical-align:top;background-color: transparent; text-indent:-9999px; overflow:hidden;
	@media only screen and (max-width:$tablet-size){display:none;}
}
.vertical-scroll{position:relative; min-height:100vh; margin-bottom:100vh; z-index:50; padding-left:80px; background-color:#fff; box-sizing:border-box;
	@media only screen and (max-width:$tablet-size){padding-left:0; margin-bottom:0;}
}





.footer-event{position:relative;
	$this:&;
	&__subject{position: relative; margin-bottom:70px; padding-left:52px; color:#fff;
		&:before{position: absolute; top:0; bottom:0; left:0; display:block; width:36px; height:36px; background:url('../images/common/event_icon.svg') no-repeat center center ;content:'';}
	}
	&__list{margin:0 0 0 -20px; padding:0; font-size:0;}
	&__item{display:inline-block; ; width:50%; padding-left:20px; box-sizing:border-box;list-style:none;
		&:nth-child(2) ~ &{margin-top:20px;}
		&.is-hover{
			#{$this}__btn{background-color:$black2;}
		}
	}
	&__box{position:relative; padding:30px 20px; border:1px solid $black2; box-sizing:border-box; border-radius: 15px;}
	&__tit{color:$gray2; font-weight:$regular;}
	&__txt{margin-top:10px; color:$black4;}
	&__price{margin:16px 0 0 0; vertical-align:middle;}
	&__before,&__after{font-weight:$medium;}
	&__before{margin-right:16px; color:$black4; text-decoration: line-through;}
	&__after{color:$gray2;}
	&__link{overflow:hidden; position:absolute; top:0; left:0; display:block;  width:100%; height:100%; z-index:10; text-indent:-9999px; font-size:0;}
	&__btn{position:absolute; right:20px; bottom:20px; width:100px; height:36px; line-height:34px; border:1px solid $black2; outline:none; border-radius:18px; background-color:transparent; color:$gray2; box-sizing:border-box;}
	@media only screen and (max-width:$minpc-size1){
		&__subject{margin-bottom:40px; color:$gray2;}
		&__txt{display:none;}
	}
	@media only screen and (max-width:$tablet-size){
		&.type-gnb{margin-top:60px;
			#{$this}__subject{color:$black1;
				&:before{background:url('../images/common/event_icon_black.svg') no-repeat center center;}
			}
			#{$this}__tit{color:$black1;}
			#{$this}__txt{display:block; color:$black4;}
			#{$this}__after{color:$point2;}
		}
		&__list{margin:0;}
		&__item{width:100%; padding:0;
			& + &{margin-top:18px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-gnb{margin-top:30px;
			#{$this}__txt{display:none;}
		}
		&__subject{margin-bottom:20px; padding-left:30px; font-size:1.6rem;  color:$gray2;
			&:before{width:20px; height:20px;}
		}
		&__tit{font-size:1.3rem;}
		&__box{padding:16px 20px; border-radius:10px;}
		&__price{margin-top:2px;}
		&__before{margin-right:10px; font-size:1.2rem;}
		&__after{font-size:1.3rem;}
		&__txt{display:none;}
		&__item{
			& + &{margin-top:15px;}
		}
	}
}

.footer-visit{position: relative;
	$this:&;
	&__subject{position: relative; margin-bottom:70px; padding-left:52px; color:#fff;
		&:before{position: absolute; top:0; bottom:0; left:0; display:block; width:36px; height:36px; background:url('../images/common/page_icon.svg') no-repeat center center ; content:'';}
	}
	&__list{margin:0; padding:0;}
	&__item{position: relative; padding-left:28px; box-sizing:border-box; list-style:none; color:$black4; font-weight:$regular;
		&:before{position:absolute; top:0; bottom:0; left:0;  display:block; width:20px; height:20px; margin:auto 0; background:url('../images/common/visit_icon.png') no-repeat center center; content:'';}
		& + &{margin-top:24px;}
		&.is-hover{
			#{$this}__box:after{width:100%; }
		}
	}
	&__box{position: relative; display:inline-block;  box-sizing:border-box;
		&:after{position:absolute; left:0; bottom:0; width:0; height:0; border-bottom:2px solid #4a4a4a; transition: width 0.3s; content:''; }
	}
	&__link{color:inherit; text-decoration:none;}
	&__txt{
		& + &:before{display:inline-block; margin:0 5px; content:'>'}
	}
	@media only screen and (max-width:$minpc-size1){
		&__subject{margin-bottom:40px; color:$gray2;}
	}
	@media only screen and (max-width:$tablet-size){margin-top:60px;
		&.type-gnb{
			#{$this}__subject{color:$black1;
				&:before{background:url('../images/common/page_icon_black.svg') no-repeat center center;}
			}
			#{$this}__item{display:block; width:auto; color:$black1;
				&:before{background:url('../images/common/visit_icon_point.png') no-repeat center center;}
				& + #{$this}__item{margin-top:20px;}
			}
		}
		&__list{margin:0 -10px 0 0; font-size:0;}
		&__item{display:inline-block; width:50%; padding-right:10px; box-sizing:border-box;
			& + &{margin-top:0;}
			&:nth-child(2) ~ &{margin-top:20px;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin-top:30px;
		&.type-gnb{
			// #{$this}__txt:first-of-type{display:none;
			// 	& + #{$this}__txt:before{display:none;}
			// }
			#{$this}__item{
				&:before{background:url('../images/common/visit_icon_point_m.png') no-repeat center center / contain;}
				& + #{$this}__item{margin-top:16px;}
			}
		}
		&__subject{margin-bottom:20px; padding-left:30px; font-size:1.6rem;
			&:before{width:20px; height:20px;}
		}
		&__item{padding-left:22px; background: svgIcon(#1772f8) no-repeat;
			&:before{width:16px; height:16px; background:url('../images/common/visit_icon_m.png') no-repeat center center / contain;}
			&:nth-child(2) ~ &{margin-top:14px;}
		}
		&__depth1{display:none;}
	}
}

.consultation-btn{position:relative; background:$point1; color:$black1; font-size:18px; @include vendor('transform','translateZ(0)'); border:none !important;
	&.is-hover-start{color:$black1 !important;
        &:before{position: absolute; top:0; left:0; width:100%; background-color:#fff; z-index:-1;}
    }
    &.is-hover-end{
        &:before{position: absolute; top:0; left:auto; right:0; width:0; background-color:#fff; z-index:-1;}
    }
}

.footer{overflow:hidden; position:fixed; left:80px; top:0; bottom:0; right:0; background:$black1;
	&__top{height:64%; font-size:0;}
	&__top-btn{position: absolute; top:-10px; right:0; z-index:10; }
	&__left{position:relative; display:inline-block; width:65.8%; height:100%; padding:70px 60px 0 220px; box-sizing:border-box; border-right:1px solid $black2; border-bottom:1px solid $black2; vertical-align:top;}
	&__right{position:relative; display:inline-block; width:34.2%;height:100%; padding:70px 50px 0 60px; border-bottom:1px solid $black2; vertical-align:top; box-sizing:border-box;}
	&__bottom{position:relative; height:calc(36% - 40px); border-top:1px solid $black2; font-size:0;}
	&__outer{position:absolute;}
	&__inner{display:table-cell; width:100%; height:100%; vertical-align:top; padding-top:70px;}
	&__mid{height:40px; line-height:40px; padding:0 220px; font-size:12px; color:$black3; font-weight:$regular; }
	&__zero{position:relative; color:$black3; padding-left:40px;
		&:before{position: absolute; top:-2px; left:0; display:block; width:32px; height:32px; background:url('../images/common/noti_icon_big.png') no-repeat center center / contain; content:'';}
	}
	&__noti{position:relative; display:block; padding-left:24px; box-sizing:border-box;
		&:before{position: absolute; top:11px; left:0; display:block; width:16px; height:16px; background:url('../images/common/noti_icon.png') no-repeat center center / contain; content:'';}
	}
	&__logo{display:inline-block; width:420px; height:100%; padding:40px 60px 0 220px; border-right:1px solid $black2; box-sizing:border-box; vertical-align:top;
		a{display:block;}
	}
	&__sns{position:absolute; right:0; display:inline-block; width:34.2%; height:100%; padding:40px 60px; vertical-align:top; box-sizing: border-box;}
	&__info{display:inline-block; width:calc(65.8% - 420px); height:100%; padding:40px 60px; border-right:1px solid $black2; vertical-align:top; box-sizing:border-box;}
	&__select{margin-top:30px;}
	@media only screen and (max-width:$minpc-size1){
		&__left{padding:70px 60px 0 60px;}
		&__right{padding:70px 100px 0 60px; }
		&__info{width:59%;}
		&__logo{display:none;}
		&__mid{padding-left:60px; padding-right:60px;}
	}
	@media only screen and (max-width:$tablet-size){overflow:visible; position:static; left:auto; top:auto; bottom:auto; right:auto;
		&__mid{height:auto; padding:12px 40px; line-height:1.3; text-align:left;}
		&__top{display:none;}
		&__bottom{height:auto; padding:40px 80px;}
		&__logo{display:block; width:auto; text-align:center; padding:0; border-right:none;
			img{width:138px;}
		}
		&__noti{display:inline-block;
			&:before{top:0;}
		}
		&__sns{position:static; right:auto; display:block; width:auto; margin-top:40px; padding:0; text-align:center;}
		&__info{display:block; width:auto; margin-top:40px; padding:0; text-align:center; border-right:none;}
	}
	@media only screen and (max-width:$mobile-size){
		&__mid{padding:15px 20px;}
		&__bottom{height:auto; padding:40px 5px;}
		&__logo{
			img{width:116px;}
		}
		&__top-btn{display:none;}
		&__noti{padding-left:32px;  font-size:1rem;
			&:before{width:24px; height:24px; background:url('../images/common/noti_icon_m.png') no-repeat center center / contain; content:'';}
		}
	}
}
.footer-top{display:none;
	@media only screen and (max-width:$tablet-size){display:block; width:100%; padding:20px; background:none; border:none; border-top:1px solid $black2; font-size:20px; color:$gray1; cursor:pointer;}
	@media only screen and (max-width:$tablet-size){padding:16px; font-size:1.4rem;}
}
.sns{
	$this:&;
	&__list{margin:0; padding:0;}
	&__item{display:inline-block; list-style:none; width:24px; height:24px;
		& + &{margin-left:36px;}
		&.is-hover{
			#{$this}__hover{opacity: 1;}
		}
	}
	&__link{position:relative; display:block; width:100%; height:100%;}
	&__hover{position:absolute; top:0; left:0; width:100%; opacity:0; transition: all 0.3s;}
	@media only screen and (max-width:$mobile-size){
		&__item{width:22px; height:22px;
			& + &{margin-left:30px;}
		}
	}
}
.address{
	$this:&;
	&__list{margin:8px 0 0 0; padding:0; font-size:0;}
	&__item{display:inline-block; list-style:none; color:$black4; vertical-align:middle;
		& + &:before{display:inline-block; width:0; height:10px; margin:auto 10px; border-left:1px solid $black4; content:''; vertical-align:middle;}
	}
	&__copy{margin:8px 0 0 0; font-size:13px; color:$gray1;
		& + #{$this}__list{margin-top:18px;
			& #{$this}__item{color:$gray2;}
		}
	}
	&__txt{color:$black4;}
	&__link{color:inherit; text-decoration:none;}
	@media only screen and (max-width:$mobile-size){
		&__txt{font-size:1.2rem; letter-spacing:-1px;}
		&__item{font-size:1.2rem; letter-spacing:-1px;
			&.type-nobar{display:block; margin-top:8px;
				&:before{display:none;}
			}
		}
		&__copy{font-size:10px;}
	}
}
#progress-indicator{z-index:150; width:100vw !important;}

.top-btn{display:block;}
.location-link{position:absolute; top:0; bottom:0; right:150px; display:block; width:60px; height:60px; margin:auto 0;
	@media only screen and (max-width:$mobile-size){right:0; width:48px; height:48px;}
}

.lnb{overflow:auto; position:fixed; top:0; left:0;width:400px; height:100%; margin-left:80px; padding:110px 60px; background-color:$gray1; box-sizing:border-box; z-index:105; transition: left 2s;
	$this:&;
	&.is-hide{left:-100%;}
	&.is-no-fix{position:absolute; top:auto; bottom:0; height:100vh;}
	&__list{margin:0; padding:0;}
	&__item{position:relative; list-style:none; transition: all 0.3s;
		& + &{margin-top:30px;}
		&:before,&:after{position:absolute; left:0; display:block;  height:2px; background:$point2;  vertical-align:top; transition: all 0.3s; content:'';}
		&:before{top:13px; width:0px;}
		&:after{top:10px; left:0px; width:0px; background:$point2; transform: rotate(45deg);}
		&.is-active{padding-left:24px;
			&:before{width:16px;}
			&:after{left:8px; width:8px;}
			#{$this}__link{color:$point2;}
		}
	}
	&__wrap{position:relative; }
	&__link{font-size:20px; font-weight:$medium; text-decoration:none; color:$black1;
		&:hover{color:$point2;}
	}
	&__line{height:0;margin:0; font-size:0;}
	&__back{overflow:hidden; position:absolute; top:8px; right:0; display:block; width:33px; height:28px; padding:0; background:url('../images/common/back_arrow.png') no-repeat center center / contain;
		border:none; outline:0; cursor:pointer; text-indent:-9999px;}
	&__depth2-list{margin:20px 0 0 0; padding:0;}
	&__depth2-item{position:relative; padding-left:22px; list-style:none; font-size:16px; box-sizing:border-box; color:$black4; font-weight:$light;
		&.is-active,&.is-hover{color:#000;
			#{$this}__link{font-weight:$regular;}
		}
		&.is-active{
			&:after{display:block;}
		}
		&:before,&:after{position:absolute; border-radius:2px; content:'';}
		&:before{display:block; top:3px; left:0; width:12px; height:12px; border:1px solid $black4;  }
		&:after{display:none; top:5px; left:2px; width:10px; height:10px; background-color:$black1;}
		& + &{margin-top:14px;}
	}
	&__depth2-link{text-decoration:none; color:inherit;}
	&__nav{display:none;}
	@media only screen and (max-width:$tablet-size){position:static; display:block; width:auto; height:auto; margin-left:0; padding:0; background-color:#fff;
		&__list{font-size:0;
			&.is-active{position:fixed; top:68px; left:0; z-index:50;}
		}
		&__item{display:inline-block; width:50%;  background-color:#ddd;
			& + &{margin-top:0;}
			&.type-depth2{display:none;}
			&.is-active,&:hover{padding-left:0px;
				&:before{width:0px;}
				&:after{left:0px; width:0px;}
			}
			&.is-active{background-color:#fff;
				#{$this}__link{color:$black1;}
			}
		}
		&__link{display:table-cell; width:1%; height:60px; vertical-align:middle; text-align:center;  color:#fff;}
		&__back{top:48px; right:40px;}
		&__nav{display:block; padding:15px 40px; box-sizing:border-box;
			&.is-active{position: fixed; top:68px; left:0; width:100%; background:#fff; border-bottom:1px solid #ddd; z-index:20;}
		}
		&__depth2-list{display:none; margin:0;}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{
			&.is-active{top:50px;}
		}
		&__link{height:46px; font-size:1.4rem;}
		&__back{top:46px; right:20px; width:21px; height:18px; padding:0; background:url('../images/common/back_arrow.png') no-repeat center center / contain;}
		&__nav{padding:10px 20px;
			&.is-active{top:50px;}
		}
	}
}

.slide-btn{
	$this:&;
	&__btn{overflow:hidden; display:inline-block; width:56px; height:56px; padding:0; border:1px solid #ddd; outline:none; background-color:#fff; text-indent:-9999px; cursor:pointer;
        &.type-prev{border-radius: 8px 0 0 8px; background:url('../images/introduce/tour/tour_prev.png') no-repeat center center;}
        &.type-next{border-radius: 0 8px 8px 0; background:url('../images/introduce/tour/tour_next.png') no-repeat center center;}
        & + &{margin-left:-1px;}
        &.is-hover{background-color:$gray1;}
    }
	@media only screen and (max-width:$tablet-size){
		&.type-tour{
			#{$this}__btn{position:absolute; bottom:0;
	            &.type-prev{left:0; border-radius:8px;}
	            &.type-next{right:0; border-radius:8px;}
	            & + &{margin-left:0;}
	        }
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__btn{width:45px; height:45px;
            &.type-prev{background:url('../images/introduce/tour/tour_prev_m.png') no-repeat center center / 14px 25px;}
            &.type-next{background:url('../images/introduce/tour/tour_next_m.png') no-repeat center center / 14px 25px;}
        }
	}
}
