<%
	type = "main"
	page = "main"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="main">
	<!-- <ul class="horizontal-nav">
		<li class="horizontal-nav__item" data-target="horizontal-section1">1</li>
		<li class="horizontal-nav__item" data-target="horizontal-section2">2</li>
		<li class="horizontal-nav__item" data-target="horizontal-section3">3</li>
	</ul> -->
	<div class="main__wrap horizontal-scroll type-main">
		<div class="horizontal-wrap">
			<div class="horizontal-section main-section1">
				<div class="main-video type-ie"><!-- ie에서 type-ie 추가 -->
					<div class="main-video__wrap">
						<div class="main-video__outer">
							<div class="main-video__inner">
								<h4 class="main-section__subject main-video__subject txt-r">
									<span class="weight-thin">Realized I’m</span> Detailist
								</h4>
								<div class="main-video__tit">
									<img src="../../images/main/title/main_tit_1.png" class="main-video__spelling hidden-m" alt="바"/>
									<img src="../../images/main/title/main_tit_2.png" class="main-video__spelling hidden-m" alt="노"/>
									<img src="../../images/main/title/main_tit_3.png" class="main-video__spelling hidden-m" alt="바"/>
									<img src="../../images/main/title/main_tit_4.png" class="main-video__spelling hidden-m" alt="기"/>
									<img src="../../images/main/title/main_tit_5.png" class="main-video__spelling hidden-m" alt="가"/>
									<img src="../../images/main/title/main_tit_6.png" class="main-video__spelling hidden-m" alt="그"/>
									<img src="../../images/main/title/main_tit_7.png" class="main-video__spelling hidden-m" alt="리"/>
									<img src="../../images/main/title/main_tit_8.png" class="main-video__spelling hidden-m" alt="는"/>
									<img src="../../images/main/title/main_tit_9.png" class="main-video__spelling hidden-m" alt="행"/>
									<img src="../../images/main/title/main_tit_10.png" class="main-video__spelling hidden-m" alt="복"/>
									<img src="../../images/main/title/main_tit_11.png" class="main-video__spelling hidden-m" alt="한"/>
									<img src="../../images/main/title/main_tit_12.png" class="main-video__spelling hidden-m" alt="상"/>
									<img src="../../images/main/title/main_tit_13.png" class="main-video__spelling hidden-m" alt="상"/>
									<img src="../../images/main/title/main_tit_1_m.png" class="main-video__spelling hidden-pt" alt="바"/>
									<img src="../../images/main/title/main_tit_2_m.png" class="main-video__spelling hidden-pt" alt="노"/>
									<img src="../../images/main/title/main_tit_3_m.png" class="main-video__spelling hidden-pt" alt="바"/>
									<img src="../../images/main/title/main_tit_4_m.png" class="main-video__spelling hidden-pt" alt="기"/>
									<img src="../../images/main/title/main_tit_5_m.png" class="main-video__spelling hidden-pt" alt="가"/>
									<img src="../../images/main/title/main_tit_6_m.png" class="main-video__spelling hidden-pt" alt="그"/>
									<img src="../../images/main/title/main_tit_7_m.png" class="main-video__spelling hidden-pt" alt="리"/>
									<img src="../../images/main/title/main_tit_8_m.png" class="main-video__spelling hidden-pt" alt="는"/>
									<img src="../../images/main/title/main_tit_9_m.png" class="main-video__spelling hidden-pt" alt="행"/>
									<img src="../../images/main/title/main_tit_10_m.png" class="main-video__spelling hidden-pt" alt="복"/>
									<img src="../../images/main/title/main_tit_11_m.png" class="main-video__spelling hidden-pt" alt="한"/>
									<img src="../../images/main/title/main_tit_12_m.png" class="main-video__spelling hidden-pt" alt="상"/>
									<img src="../../images/main/title/main_tit_13_m.png" class="main-video__spelling hidden-pt" alt="상"/>
								</div>
							</div>
						</div>
						<!-- <a href="" class="main-video__btn btn-v1 btn-v1-point js-btn-v1"><span>바노바기 모발이식</span></a> -->
					</div>
					<video class="main-video__video"  src="../../video/main.mp4" loop="" autoplay="" muted="" playsinline="" data-object-fit="cover"></video>
				</div>
				<div class="main-horizontal__box1">
					<div class="main-banner">
						<ul class="main-banner__list js-banner-slide">
							<li class="main-banner__item">
								<img src="../../images/main/foryou_img_1.jpg" class="img-w100 main-banner__img hidden-m"alt=""/>
								<img src="../../images/main/foryou_img_1_m.jpg" class="img-w100 main-banner__img hidden-pt"alt=""/>
								<div class="main-banner__wrap">
									<div class="main-wrap">
										<h4 class="main-section__subject tit-r">
											디테일한<br>
											모발 재배치술
										</h4>
										<p class="main-section__txt txt-r">풍성한 결과를 위한 정교한 재배치 기술</p>
										<a href="" class="main-banner__link more-v1 txt-s">MORE</a>
									</div>
								</div>
							</li>
							<li class="main-banner__item">
								<img src="../../images/main/foryou_img_1.jpg" class="img-w100 hidden-m"alt=""/>
								<img src="../../images/main/foryou_img_1_m.jpg" class="img-w100 hidden-pt"alt=""/>
								<div class="main-banner__wrap">
									<div class="main-wrap">
										<h3 class="main-section__tit txt-l font-pt">For YOU</h3>
										<h4 class="main-banner__subject tit-r">
											디테일한<br>
											모발 재배치술
										</h4>
										<p class="main-section__txt txt-r">풍성한 결과를 위한 정교한 재배치 기술</p>
										<a href="" class="main-banner__link more-v1 txt-s">MORE</a>
									</div>
								</div>
							</li>
							<li class="main-banner__item">
								<img src="../../images/main/foryou_img_1.jpg" class="img-w100 hidden-m"alt=""/>
								<img src="../../images/main/foryou_img_1_m.jpg" class="img-w100 hidden-pt"alt=""/>
								<div class="main-banner__wrap">
									<div class="main-wrap">
										<h3 class="main-section__tit txt-l font-pt">For YOU</h3>
										<h4 class="main-banner__subject tit-r">
											디테일한<br>
											모발 재배치술
										</h4>
										<p class="main-section__txt txt-r">풍성한 결과를 위한 정교한 재배치 기술</p>
										<a href="" class="main-banner__link more-v1 txt-s">MORE</a>
									</div>
								</div>
							</li>
						</ul>
						<div class="slide-play__bottom">
							<div class="slide-play__slide"></div>
							<span class="main-banner__btn slide-play__btn">play/pause</span>
						</div>
					</div>
					<div class="main-location">
						<div class="main-wrap type-small">
							<h3 class="main-location__tit txt-r">진료안내</h3>
							<div class="main-location__box typ-info">
								<dl class="main-location__dl">
									<dt class="main-location__dt txt-r">
										평일
									</dt>
									<dd class="main-location__dd tit-s font-pt">
										09:30~18:30
									</dd>
								</dl>
								<dl class="main-location__dl">
									<dt class="main-location__dt txt-r">
										토요일
									</dt>
									<dd class="main-location__dd tit-s font-pt">
										09:30~16:00
									</dd>
								</dl>
								<a href="" class="location-link">
									<img src="../../images/common/location_white_before.jpg" alt="오시는길 바로가기" class="img-w100 hidden-m img-hover">
									<img src="../../images/common/location_white_m.jpg" alt="오시는길 바로가기" class="img-w100 hidden-pt">
								</a>
							</div>
							<div class="main-location__box">
								<p class="main-location__noti txt-s">※ 진료시간은 변동 가능성이 있으니, 문의 바랍니다.</p>
								<p class="main-location__noti txt-s">※ 일요일 및 공휴일은 휴진입니다.</p>
							</div>
							<div class="main-location__box">
								<h3 class="main-location__tit txt-r">대표전화</h3>
								<p class="main-location__tel tit-s font-pt">1588.6508  /  02.562.6001</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section main-section2">
				<div class="main-for">
					<div class="main-for__outer">
						<div class="main-for__inner">
							<h3 class="main-for__tit tit-r">For YOU<i>!</i></h3>
							<div class="main-for__area">
								<ul class="main-for__list js-for-slide">
									<li class="main-for__item type-kock">
										<div class="main-for__header">
											<div class="main-for__box">
												<div class="main-for__border">
													<p class="main-for__name txt-r">
														<span>K</span><span>o</span><span>c</span><span>k</span><i>!</i><span>K</span><span>o</span><span>c</span><span>k</span><i>!</i>
													</p>
													<div class="main-for__outer">
														<div class="main-for__inner">
															<h4 class="main-for__subject tit-s">
																풍부한<br>
																가을 혜택
															</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="main-for__body">
											<div class="main-for__scroll">
												<span class="main-for__category txt-s">콕콕<i>!</i></span>
												<h5 class="main-for__prod tit-s">모발이식 절개 3000모</h5>
												<p class="main-for__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
												<p class="main-for__price">
													<span class="main-for__before txt-r">3,300,000</span>
													<span class="main-for__after txt-l">3,000,000</span>
												</p>
												<button class="main-for__btn js-btn-v1 btn-v1">상담신청 하러가기</button>
											</div>
										</div>
									</li>
									<li class="main-for__item type-kock">
										<div class="main-for__header">
											<div class="main-for__box">
												<div class="main-for__border">
													<p class="main-for__name txt-r">
														<span>K</span><span>o</span><span>c</span><span>k</span><i>!</i><span>K</span><span>o</span><span>c</span><span>k</span><i>!</i>
													</p>
													<div class="main-for__outer">
														<div class="main-for__inner">
															<h4 class="main-for__subject tit-s">
																풍부한<br>
																가을 혜택
															</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="main-for__body">
											<div class="main-for__scroll">
												<span class="main-for__category txt-s">콕콕<i>!</i></span>
												<h5 class="main-for__prod tit-s">모발이식 절개 3000모</h5>
												<p class="main-for__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
												<p class="main-for__price">
													<span class="main-for__before txt-r">3,300,000</span>
													<span class="main-for__after txt-l">3,000,000</span>
												</p>
												<button class="main-for__btn js-btn-v1 btn-v1">상담신청 하러가기</button>
											</div>
										</div>
									</li>
									<li class="main-for__item type-special">
										<div class="main-for__header">
											<div class="main-for__box">
												<div class="main-for__border">
													<p class="main-for__name txt-r">
														<span>S</span><span>p</span><span>e</span><span>c</span><span>i</span><span>a</span><span>l</span>
													</p>
													<div class="main-for__outer">
														<div class="main-for__inner">
															<h4 class="main-for__subject tit-s">
																부모님께<br>
																효도 혜택
															</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="main-for__body">
											<div class="main-for__scroll">
												<span class="main-for__category txt-s">스페셜</span>
												<h5 class="main-for__prod tit-s">모발이식 절개 3000모</h5>
												<p class="main-for__txt txt-r">최대한 자연스럽게, 그리고 정교하게!</p>
												<p class="main-for__price">
													<span class="main-for__before txt-r">3,300,000</span>
													<span class="main-for__after txt-l">3,000,000</span>
												</p>
												<button class="main-for__btn js-btn-v1 btn-v1">상담신청 하러가기</button>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="main-for__page txt-s">
								<span class="main-for__current">1</span> / <span class="main-for__total">1</span>
							</div>
							<a href="" class="main-for__link more-v1 txt-s">더 많은 이벤트 확인하기</a>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section main-section3">
				<div class="main-woman">
					<div class="main-woman__wrap">
						<h3 class="main-section__tit txt-l font-pt">Hair Transplant</h3>
						<h4 class="main-section__subject tit-r">
							당당함을 넘어<br>
							<span class="color-point2">아름다움으로</span>
						</h4>
						<p class="main-section__txt txt-r">바노바기 여성헤어라인 모발이식</p>
						<a href="" class="main-woman__btn btn-v1 js-btn-v1"><span>자세히 보기</span></a>
					</div>
				</div>
			</div>

			<div class="horizontal-section main-section4">
				<div class="main_visual main-slide">
					<div class="main-slide__box main-txt swiper-container">
						<ul class="main-txt__list swiper-wrapper">
							<li class="main-txt__item swiper-slide">
								<h3 class="main-txt__tit tit-r">
									더 많은, 더 좋은<br>
									<span class="color-point2">세포를 확보</span>하는 기술력
								</h3>
								<p class="main-txt__txt txt-r">도포 된 위치에서 모낭으로 성장하고, 모발을 건강하게 합니다.</p>
								<a href="" class="main-txt__link more-v1 txt-s">줄기세포 탈모치료</a>
							</li>

							<li class="main-txt__item swiper-slide">
								<h3 class="main-txt__tit tit-r">
									같은 수의 모낭을 <br>
									<span class="color-point2">더 풍성하게 이식</span>하는 디테일
								</h3>
								<p class="main-txt__txt txt-r">진행되는 탈모에는 숙련된 의료진의 지속적 계획이 동반되어야 합니다.</p>
								<a href="" class="main-txt__link more-v1 txt-s">남성모발이식</a>
							</li>
							<li class="main-txt__item swiper-slide">
								<h3 class="main-txt__tit tit-r">
									<span class="color-point2">고생착, 대량이식</span>을 위한 모낭채취와<br> 채취부위 흉터걱정
								</h3>
								<p class="main-txt__txt txt-r">아타스 9X의 키닥터가 시술하는 비절개 로봇 모발이식이 적합합니다.</p>
								<a href="" class="main-txt__link more-v1 txt-s">로봇모발이식</a>
							</li>
							<li class="main-txt__item swiper-slide">
								<h3 class="main-txt__tit tit-r">
									탈모, <span class="color-point2">기본 관리</span>부터<br>
									수술 후 <span class="color-point2">생착 관리</span>까지
								</h3>
								<p class="main-txt__txt txt-r">어떻게 진행하느냐가 결과를 좌우합니다.</p>
								<a href="" class="main-txt__link more-v1 txt-s">탈모케어</a>
							</li>
						</ul>
						<div class="main-slide__area">
							<div class="slide-btn type-main">
								<button class="slide-btn__btn js-hover type-prev"><span>Next</span></button>
								<button class="slide-btn__btn js-hover type-next"><span>Previous</span></button>
							</div>
						</div>
					</div>
			        <div class="swiper-container main-slide__box main-bg">
						<ul class="main_visual_bg swiper-wrapper main-bg__list">
							<li class="main_visual_bg_item swiper-slide main-bg__item nth-1">
								<span class="main_visual_bg_img main-bg__img" data-swiper-parallax data-swiper-parallax-scale="1.5"></span>
							</li>
							<li class="main_visual_bg_item swiper-slide main-bg__item nth-2">
								<span class="main_visual_bg_img main-bg__img" data-swiper-parallax data-swiper-parallax-scale="1.5"></span>
							</li>
							<li class="main_visual_bg_item swiper-slide main-bg__item nth-3">
								<span class="main_visual_bg_img main-bg__img" data-swiper-parallax data-swiper-parallax-scale="1.5"></span>
							</li>
							<li class="main_visual_bg_item swiper-slide main-bg__item nth-4">
								<span class="main_visual_bg_img main-bg__img" data-swiper-parallax data-swiper-parallax-scale="1.5"></span>
							</li>
						</ul><!-- .main_visual_bg -->
						<div class="main-slide__indicator" dir="ltr">
							<div class="main-slide__timer">
								<span class="main-slide__timer-bar"></span>
							</div>
							<div class="main-slide__pagination txt-s">
								<span class="main-slide__pagination-current">1</span>
								<span class="main-slide__pagination-separator">/</span>
								<span class="main-slide__pagination-total">4</span>
							</div>
						</div>
			        </div>
			    </div>
			</div>
			<div class="horizontal-section main-section5">
				<div class="main-detail">
					<div class="detail-big">
						<ul class="detail-big__list">
							<li class="detail-big__item nth-1 is-active">
								<h4 class="main-section__subject tit-r">
									디테일리스트
								</h4>
								<p class="main-section__txt txt-r">
									1년 후의 결과를 위해 오늘 더<br class="hidden-tm">
									정교하게수술합니다
								</p>
								<div class="detail-big__bottom">
									<p class="detail-big__point txt-s"><span class="detail-big__border">모발이식클리닉 원장</span></p>
									<p class="detail-big__name tit-s">이경구</p>
									<a href="" class="detail-big__link btn-v1 js-btn-v1">상세 이력 확인하기</a>
								</div>
							</li>
							<li class="detail-big__item nth-2">
								<h4 class="main-section__subject tit-r">
									디테일리스트
								</h4>
								<p class="main-section__txt txt-r">
									모발에 대한 환자의 고민을 보다 잘<br class="hidden-tm">
									이해하기 위해서 항상 환자 입장에서<br class="hidden-tm">
									생각하고 치료방법을 고민합니다
								</p>
								<div class="detail-big__bottom">
									<p class="detail-big__point txt-s"><span class="detail-big__border">모발이식클리닉 원장</span></p>
									<p class="detail-big__name tit-s">이호종</p>
									<a href="" class="detail-big__link btn-v1 js-btn-v1">상세 이력 확인하기</a>
								</div>
							</li>
							<li class="detail-big__item nth-3">
								<h4 class="main-section__subject tit-r">
									디테일리스트
								</h4>
								<p class="main-section__txt txt-r">
									수술 후에 어떻게 관리하는지도<br class="hidden-tm">
									무척 중요합니다. 더 좋은 결과를 위해<br class="hidden-tm">
									항상 세심하게 주의합니다
								</p>
								<div class="detail-big__bottom">
									<p class="detail-big__point txt-s"><span class="detail-big__border">두피관리장</span></p>
									<p class="detail-big__name tit-s">윤혜원</p>
									<a href="" class="detail-big__link type-hidden btn-v1 js-btn-v1">상세 이력 확인하기</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="detail-thumbnail">
						<ul class="detail-thumbnail__list">
							<li class="detail-thumbnail__item nth-1 is-active" data-page="1">
								<div class="detail-thumbnail__outer">
									<div class="detail-thumbnail__inner">
										<h5 class="detail-thumbnail__tit txt-s">모발이식<span class="inline-block">클리닉원장</span></h5>
										<p class="detail-thumbnail__name tit-s">이경구</p>
									</div>
								</div>
							</li>
							<li class="detail-thumbnail__item nth-2" data-page="2">
								<div class="detail-thumbnail__outer">
									<div class="detail-thumbnail__inner">
										<h5 class="detail-thumbnail__tit txt-s">모발이식<span class="inline-block">클리닉원장</span></h5>
										<p class="detail-thumbnail__name tit-s">이호종</p>
									</div>
								</div>
							</li>
							<li class="detail-thumbnail__item nth-3" data-page="3">
								<div class="detail-thumbnail__outer">
									<div class="detail-thumbnail__inner">
										<h5 class="detail-thumbnail__tit txt-s">두피관리장</h5>
										<p class="detail-thumbnail__name tit-s">윤혜원</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="main-number">
					<div class="main-number__inner">
						<ul class="main-number__list">
							<li class="main-number__item">
								<p class="main-number__txt tit-l"><span class="main-number__number js-count1">0</span><span class="main-number__unit tit-s">년</span></p>
								<h4 class="main-number__tit txt-s">기술집약 고생착 프로젝트</h4>
							</li>
							<li class="main-number__item">
								<p class="main-number__txt tit-l"><span class="main-number__number js-count2">0</span><span class="main-number__unit tit-s">례</span></p>
								<h4 class="main-number__tit txt-s">이경구 원장님 수술 집도</h4>
							</li>
							<li class="main-number__item">
								<p class="main-number__txt tit-l"><span class="main-number__number js-count3">0</span><span class="main-number__unit tit-s">일</span></p>
								<h4 class="main-number__tit txt-s">1Year Care 수술 책임 보증</h4>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
