.content-section1{
    &.type-artas{background:url('../images/robot/artas/artas_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){background-image:none; background-color:#e4fbff;}
    }
}

.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-artas{background-image:none; background-color:$robot2;
            #{$this}__outer{background:url('../images/robot/artas/artas_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$robot1;}
            #{$this}__list{border-bottom:1px solid $robot1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $robot2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-artas{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $robot2;}
            }
        }
    }
}

.content-floor{
    &.type-artas{width:566px;
        .content-wrap{background:url('../images/robot/artas/artas_bg_1.jpg') no-repeat left bottom;}
    }
    &.type-artas2{width:1080px; background:url('../images/robot/artas/artas_bg_2.jpg') no-repeat left bottom;}
    @media only screen and (max-width:$tablet-size){
        &.type-artas{
            .content-wrap{background:none;}
        }
    }
}
.content-box{
    $this:&;
    &.type-artas{margin-left:-50px;
        @media only screen and (max-width:$tablet-size){margin-left:0; margin-top:60px;}
        @media only screen and (max-width:$mobile-size){margin-top:30px;}
    }
}
.content-key{
    &.type-artas{background:url('../images/robot/artas/artas_key_1.jpg') no-repeat right bottom;}
    @media only screen and (max-width:$tablet-size){
        &.type-artas{background:none;}
    }
}
.content-bottom{
    $this:&;
    &.type-artas{width:836px; background:url('../images/robot/artas/artas_bg_2.jpg') no-repeat center bottom;}
    @media only screen and (max-width:$tablet-size){
        &.type-artas{width:100%; padding-bottom:100%; background:url('../images/robot/artas/artas_bg_2_t.jpg') no-repeat center bottom / cover;}
    }
}
