.content-section1{
    &.type-atrichia{background:url('../images/special/atrichia/atrichia_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){background-image:none; background-color:$special2;}
    }
}

.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-atrichia{background-image:none; background-color:$special2;
            #{$this}__outer{background:url('../images/special/atrichia/atrichia_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$special1;}
            #{$this}__list{border-bottom:1px solid $special1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $special2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-atrichia{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $special2;}
            }
        }
    }
}

.content-box{
    $this:&;
    &.type-atrichia{position:relative; z-index:10;}
    &.type-atrichia2{
        @media only screen and (max-width:$tablet-size){margin-top:60px;}
        @media only screen and (max-width:$mobile-size){margin-top:40px;}
    }
}


.content-floor{width:936px;
    $this:&;
    &.type-atrichia{ margin-left:-150px; background:url('../images/special/atrichia/atrichia_bg_2.jpg') no-repeat left bottom;}
    @media only screen and (max-width:$tablet-size){
        &.type-atrichia{width:auto; margin-left:0; text-align:center;
            #{$this}__img{padding:0 1%; margin-bottom:-10px;}
        }
    }
}
// .content-floor{
//     $this:&;
//     &.type-atrichia{width: 852px; background: url('../images/special/atrichia/atrichia_bg_2.jpg') no-repeat left bottom;}
//     @media only screen and (max-width:$tablet-size){
//         &.type-head{width:auto; margin-left:0; text-align:center;
//             #{$this}__img{padding:0 10%; box-sizing:border-box;}
//         }
//     }
//     @media only screen and (max-width:$mobile-size){
//         &.type-head{
//             #{$this}__img{padding:0 2%; box-sizing:border-box;}
//         }
//     }
// }

.flex-bottom{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-atrichia{
            img{margin-bottom:60px;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-atrichia{
            img{margin-bottom:40px;}
        }
    }
}

.content-bottom{
    @media only screen and (max-width:$tablet-size){
        &.type-atrichia{margin-top:180px;}
    }
    @media only screen and (max-width:$mobile-size){
        &.type-atrichia{margin-top:90px;}
    }
}
