.content-section1{
    &.type-scar{background:url('../images/special/scar/scar_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){background-image:none; background-color:$special2;}
    }
}

.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-scar{background-image:none; background-color:$special2;
            #{$this}__outer{background:url('../images/special/scar/scar_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$special1;}
            #{$this}__list{border-bottom:1px solid $special1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $special2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-scar{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $special2;}
            }
        }
    }
}
.content-floor{
    &.type-scar{ background:url('../images/special/scar/scar_bg_1.jpg') no-repeat left bottom;}
}
.content-box{
    $this:&;
    &.type-scar{
        @media only screen and (max-width:$tablet-size){margin-left:0; margin-top:60px;}
        @media only screen and (max-width:$mobile-size){margin-top:30px;}
    }
}

.content-bottom{
    $this:&;
    &.type-scar{margin-left:-270px;}
    @media only screen and (max-width:$tablet-size){
        &.type-scar{margin-left:0; margin-bottom:80px;
            #{$this}__noti{position:static; bottom:auto; margin-top:10px;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-scar{margin-bottom:40px;
            #{$this}__noti{position:static; bottom:auto; margin-top:6px;}
        }
    }
}

.content-key{
    &.type-scar{position:relative; z-index:10;}
}

.content-floor{
    $this:&;
    &.type-scar{width: 946px; background: url('../images/special/scar/scar_bg_1.jpg') no-repeat left bottom;}
    @media only screen and (max-width:$tablet-size){
        &.type-head{width:auto; margin-left:0; text-align:center;
            #{$this}__img{padding:0 10%; box-sizing:border-box;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-head{
            #{$this}__img{padding:0 2%; box-sizing:border-box;}
        }
    }
}


.scar-style{
    $this:&;
    &__box{display:inline-block; width:420px;
        &.type-woman{
            #{$this}__item{
                &.nth-1:before{background-color:#f5edfb;}
                &.nth-2:before{background-color:#ddc6f1;}
                &.nth-3:before{background-color:#c294e9;}
            }
        }
        &.type-man{
            #{$this}__tit{background:$gray1; color:$black1;}
            #{$this}__item{
                &.nth-1:before{background-color:#ededed;}
                &.nth-2:before{background-color:#c6c6c6;}
                &.nth-3:before{background-color:#8f8f8f;}
            }
        }
        & + &{margin-left:40px;}
    }
    &__tit{height:70px; margin-bottom:56px; line-height:70px; color:$special1; background-color:$special2; font-weight:$medium; border-radius:35px;}
    &__list{display: flex; margin:56px 0 0 0; padding:0 26px; font-size:0; justify-content:space-between; box-sizing:border-box;}
    &__item{position:relative; display:inline-block; padding-left:34px; list-style:none; box-sizing:border-box;
        &:before{position:absolute; top:0; left:0; bottom:0; display:block; width:24px; height:24px; margin:auto 0; border-radius:50%; content:'';}
    }
    @media only screen and (max-width:$tablet-size){
        &__box{width:auto; padding:0 60px;
            & + &{margin:60px 0 0 0;}
        }
        &__tit{margin-bottom:30px;}
        &__list{margin-top:30px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__box{padding:0;
            & + &{margin:40px 0 0 0;}
        }
        &__tit{height:40px; line-height:40px; margin-bottom:20px;}
        &__list{margin-top:20px; padding:0;}
        &__item{padding-left:24px; font-size:1.1rem;
            &:before{width:20px; height:20px;}
        }
    }
}
