.content-section1{
    $this:&;
    &.type-haircare{background:url('../images/care/haircare/haircare_visual_1.jpg') no-repeat center center / cover;
        @media only screen and (max-width:$tablet-size){
            &.type-haircare{background-image:none; background-color:$care2;}
        }
    }
}
.visual{
    $this:&;
    @media only screen and (max-width:$tablet-size){
        &.type-haircare{background-image:none; background-color:$care2;
            #{$this}__outer{background:url('../images/care/haircare/haircare_visual_1_t.jpg') no-repeat center center / cover;}
            #{$this}__header{background-color:$care1;}
            #{$this}__list{border-bottom:1px solid $care1;}
            #{$this}__item{
                &:nth-child(2) ~ #{$this}__item{border-top:1px solid $care2;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-haircare{
            #{$this}__item{
                & + #{$this}__item{border-top:1px solid $care2;}
            }
        }
    }
}
.content-floor{
    &.type-haircare{ background:url('../images/care/haircare/haircare_bg_1.jpg') no-repeat left bottom;}
}
.content-box{
    $this:&;
    &.type-haircare{margin-left:-50px;
        @media only screen and (max-width:$tablet-size){margin-left:0; margin-top:60px;}
        @media only screen and (max-width:$mobile-size){margin-top:30px;}
    }
}
