<%
	type = "content"
	page = "robot"
	scroll = "horizontal"
	attach = "none"
%>
<% include ../_include/_header %>
<div class="content">
	<div class="breadcrumb">
		<p class="breadcrumb__depth1"><a href="" class="breadcrumb__link">로봇모발이식</a></p>
		<div class="breadcrumb__scroll">
			<ul class="breadcrumb__list">
				<li class="breadcrumb__item is-active txt-s"><a href="" class="breadcrumb__link">로봇모발이식 아타스 9X</a></li>
			</ul>
		</div>
	</div>
	<ul class="horizontal-nav"></ul>
	<div class="horizontal-scroll type-robot">
		<div class="horizontal-wrap">
			<div class="horizontal-section content-section1 type-visual type-artas" data-page="main">
				<div class="content__outer">
					<div class="content__inner">
						<div class="content-wrap">
							<div class="visual type-artas type-robot">
								<div class="visual__wrap">
									<div class="visual__outer">
										<div class="visual__inner">
											<div class="visual__box">
												<p class="visual__subtit txt-l">더 정교하게, 더 안전하게</p>
												<h3 class="visual__tit tit-l"><span class="color-robot1">로봇</span> 모발이식</h3>
												<p class="visual__hash color-robot1 txt-r"><span class="visual__span">#아타스9X</span> <span class="visual__span">#인공지능</span> <span class="visual__span">#비절개</span> <span class="visual__span">#대량이식</span></p>
											</div>
										</div>
									</div>
									<h4 class="visual__header txt-r">수술정보</h4>
									<ul class="visual__list">
										<li class="visual__item type-leadtime">
											<h5 class="visual__subject txt-s">수술시간</h5>
											<p class="visual__txt txt-r">약 3~4시간</p>
										</li>
										<li class="visual__item type-anesthesia">
											<h5 class="visual__subject txt-s">마취방법</h5>
											<p class="visual__txt txt-r">국소마취</p>
										</li>
										<li class="visual__item type-hospital">
											<h5 class="visual__subject txt-s">입원치료</h5>
											<p class="visual__txt txt-r">당일수술 후 퇴원</p>
										</li>
										<li class="visual__item type-recovery">
											<h5 class="visual__subject txt-s">회복기간</h5>
											<p class="visual__txt txt-r">당일수술 후 비교적 빠른 일상생활 가능</p>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="horizontal-section content-section2" data-page="intro">
				<div class="content__area type-wide">
					<div class="content-nowrap">
						<div class="content-box js-scroll-motion">
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<h4 class="content__tit tit-r type-padding-zero">
											<strong class="color-robot1">인공지능 로봇</strong>의<br>
											정교한 모낭채취
										</h4>
										<p class="content__txt txt-l">
											<strong class="color-robot1">아타스 9X 로봇</strong>은 모낭의 각도, 깊이, 모발의 간격
											등을 정밀히 측정한 후 여러 오차를 줄여
											<strong class="color-robot1">건강한 모낭만 자동으로 선별하여 채취가 가능</strong>한
											로봇 시스템입니다.
										</p>
										<p class="content__txt2 txt-r">
											비절개 모발이식 수술의 핵심 과정은 모낭채취입니다.
											<strong class="color-black1">비절개로 모낭을 채취할 때의 단점을 보완하는 첨단 로봇의
											알고리즘이 모낭을 정교하게 채취</strong>합니다.
											모낭 채취의 전 과정을 확대 영상으로 실시간 모니터링 할 수
											있으며, 수술 중 펀치의 삽입과 모낭 채취 직후를 이미지로 바로
											확인 할 수 있어 모낭 채취의 정밀성과 효율성을 높였습니다.
										</p>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
						<div class="content-floor section-left type-robot type-artas js-scroll-motion">
							<div class="content-floor__img type-bottom">
								<img src="../../images/robot/artas/artas_bg_1.jpg" class="img-normal hidden-tm" alt=""/>
								<img src="../../images/robot/artas/artas_bg_1_t.jpg" class="img-normal hidden-p" alt=""/>
							</div>
							<div class="content__outer">
								<div class="content__inner">
									<div class="content-wrap">
										<ul class="content-floor__list">
											<li class="content-floor__item txt-s">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-robot1">01</span><span class="content-floor__txt">모낭 각도</span>
												</div>
											</li>
											<li class="content-floor__item txt-s">
												<div class="content-floor__box">
													<span class="content-floor__num txt-l color-robot1">02</span><span class="content-floor__txt">모낭 분석</span>
												</div>
											</li>
										</ul>
									</div>
								</div><!--//content-wrap -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-section content-section3" data-page="style pick">
				<div class="pick-scroll js-scroll-motion">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content__area">
									<div class="pick-scroll__wrap">
										<p class="content__line type-robot">STYLE PICK</p>
										<h4 class="content__tit tit-r">
											<strong class="color-robot1">정교하고 디테일한 비절개 수술</strong>을 원하시는 분들께
										</h4>
										<p class="content__txt txt-l">
											M자나 정수리 탈모가 있거나, 후두부 모발이 적어서 모낭 손실을 최소화하고 싶은 경우, 대량 이식을 원하는<br class="hidden-tm">
											경우 등에는 <strong class="color-robot1">아타스 로봇을 통해 비절개로 안전하게 채취가 가능</strong>합니다.
										</p>
										<div class="pick-scroll__area">
											<ul class="pick-scroll__list">
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/robot/artas/artas_pick_1.jpg" class="img-w100" alt="01. 2차, 3차 모발이식이 필요한 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-robot1"><span class="pick-scroll__current">1</span><span class="pick-scroll__total txt-s">/4</span></span>
															2차, 3차 모발이식이 필요한 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/robot/artas/artas_pick_2.jpg" class="img-w100" alt="02. 고밀도 대량이식을 원하는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-robot1"><span class="pick-scroll__current">2</span><span class="pick-scroll__total txt-s">/4</span></span>
															고밀도 대량이식을 원하는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/robot/artas/artas_pick_3.jpg" class="img-w100" alt="03. 높은 생착률을 원하는 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-robot1"><span class="pick-scroll__current">3</span><span class="pick-scroll__total txt-s">/4</span></span>
															높은 생착률을 원하는 경우
														</p>
													</div>
												</li>
												<li class="pick-scroll__item">
													<div class="pick-scroll__box">
														<img src="../../images/robot/artas/artas_pick_4.jpg" class="img-w100" alt="04. 통증 및 흉터를 최소화하고 싶은 경우"/>
														<p class="pick-scroll__txt txt-r">
															<span class="pick-scroll__num color-robot1"><span class="pick-scroll__current">4</span><span class="pick-scroll__total txt-s">/4</span></span>
															통증 및 흉터를 최소화하고 싶은 경우
														</p>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section2-->
			<div class="horizontal-section content-section4" data-page="detail">
				<div class="content__area">
					<div class="content-box js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<p class="content__line type-robot">DETAIL</p>
									<h4 class="content__tit tit-r">
										바노바기에는<br class="hidden-tm">
										<strong class="color-robot1">로봇 모발이식 자문의, </strong><br class="hidden-tm">
										이경구 원장이 직접 수술합니다.
									</h4>
									<p class="content__txt2 txt-r">
										전 세계에서 14번째로 아타스 로봇 수술을 시작한<br class="hidden-tm">
										바노바기성형외과의 이경구 원장의 스킬이 더해져<br class="hidden-tm">
										<strong class="color-black1">같은 장비를 사용하더라도 만족도가 더 높습니다. </strong>
									</p>
									<p class="content__txt txt-l">
										<strong class="color-robot1">비절개 수술의 한계를 보완</strong>하는 이경구 원장의<br class="hidden-tm">
										로봇 모발이식, 바노바기라서 가능합니다.
									</p>
								</div>
							</div>
						</div><!--//content-wrap -->
					</div>
					<div class="content-floor section-left type-robot type-artas2">
						<div class="content-floor__img type-wide">
							<img src="../../images/robot/artas/artas_bg_2_t.jpg" class="img-w70-t" alt=""/>
						</div>
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<ul class="content-floor__list">
										<li class="content-floor__item txt-s js-scroll-motion">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-robot1">01</span><span class="content-floor__txt">대용량 비절개 수술</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-robot1">02</span><span class="content-floor__txt">높은 생착률, <span class="txt-up">수술 만족도</span></span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay2">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-robot1">03</span><span class="content-floor__txt">정교하고 일관된 비절개 모낭 채취</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay3">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-robot1">04</span><span class="content-floor__txt">모든 과정 이경구 원장님 직접 집도</span>
											</div>
										</li>
										<li class="content-floor__item txt-s js-scroll-motion type-delay4">
											<div class="content-floor__box">
												<span class="content-floor__num txt-l color-robot1">05</span><span class="content-floor__txt">빠른 수술시간 (<span class="txt-down">환자 피로도</span>, <span class="txt-down">모낭손상</span>)</span>
											</div>
											<p class="content-floor__noti txt-s">
												*바노바기성형외과 모발이식클리닉은<br class="hidden-tm">
												기존 로봇 모발이식의 업그레이드 버전인<br class="hidden-tm">
												아타스 9X를 보유하고 있습니다.
											</p>
										</li>
									</ul>

								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
				</div>
			</div><!-- //content-section3-->
			<div class="horizontal-section content-section5" data-page="key point">
				<div class="content__area">
					<div class="content-key type-robot type-artas js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-box type-wide type-inner">
										<h4 class="content__tit tit-r">
											생착률을 높이기 위한<br class="hidden-tm">
											<strong class="color-robot1">로봇 핵심 기술</strong>
										</h4>
										<p class="content__line type-robot">KEY POINT</p>
									</div>
								</div>
							</div><!--//content-wrap -->
						</div>
					</div>
					<div class="content-number section-left type-robot js-number-width">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<div class="content-number__area section-top">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/robot/artas/artas_key_2.jpg" class="img-responsive" alt="모낭 손상 방지">
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">모낭 손상 방지</h5>
													<p class="content-number__txt txt-s">
														두피를 팽창시켜 고정시킨
														상태에서 모낭을
														채취하기때문에 움직임에 따른
														모낭 손상 방지
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/robot/artas/artas_key_3.gif" class="img-responsive" alt="듀얼펀치, 빠르고 안전한 채취">
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">
														듀얼펀치,<br>
														빠르고 안전한 채취
													</h5>
													<p class="content-number__txt txt-s">
														20% 빨라진 속도로 뾰족한
														펀치가 두피 표면 절개 후
														뭉뚝한 펀치가 회전하면서
														모낭 채취
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/robot/artas/artas_key_4.jpg" class="img-responsive" alt="건강한 모낭과 주변 조직 채취">
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">
														건강한 모낭과
														주변 조직 채취
													</h5>
													<p class="content-number__txt txt-s">
														모낭의 생존에 필요한 에너지와
														영양분을 공급해 주는 모낭
														주변 조직까지 채취
													</p>
												</div>
											</li>
											<li class="content-number__item nth-4 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/robot/artas/artas_key_5.jpg" class="img-responsive" alt="대량 채취">
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">
														대량 채취
													</h5>
													<p class="content-number__txt txt-s">
														일관된 채취와 정확한 모낭수
														카운팅으로 모낭 채취 시간을
														단축시키면서 고밀도, 대량
														이식이 하루에 가능
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section4-->
			<div class="horizontal-section content-section6" data-page="how">
				<div class="content-popup">
					<div class="content-popup__wrap">
						<div class="content-popup__area">
							<h5 class="content-popup__tit tit-s">기존 비절개 VS 아타스 로봇 비절개</h5>
							<div class="content-popup__scroll">
								<table class="table-v1 type-robot">
									<tbody>
										<tr class="table-v1__tr">
											<th class="bg-white"></th>
											<th class="table-v1__th bg-gray1">기존 비절개 수술</th>
											<th class="table-v1__th">아타스 로봇 비절개 수술</th>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">모낭채취</th>
											<td class="table-v1__td">시간당 300~500모낭</td>
											<td class="table-v1__td">시간당  800~1,000모낭</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">펀치</th>
											<td class="table-v1__td">1개의 수동 펀치</td>
											<td class="table-v1__td">2개의 듀얼 펀치</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">모낭의 질</th>
											<td class="table-v1__td">채취자의 숙련도에 따라 달라짐</td>
											<td class="table-v1__td">모낭이 건강하고 주변 조직이 많음</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">모낭 분석</th>
											<td class="table-v1__td">없음</td>
											<td class="table-v1__td">건강한 모낭 일관되게 자동 선별 </td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">대량이식</th>
											<td class="table-v1__td">상대적으로 어려움</td>
											<td class="table-v1__td">대량이식 빠르게 가능</td>
										</tr>
										<tr class="table-v1__tr">
											<th class="table-v1__th bg-gray2">흉터</th>
											<td class="table-v1__td">거의 없음</td>
											<td class="table-v1__td">랜덤 패턴 채취로 거의 없으며, 더 자연스러움</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<button class="content-popup__close js-content-close">닫기</button>
					</div>
				</div>
				<div class="content__area">
					<div class="content-box type-wide js-scroll-motion">
						<div class="content__outer">
							<div class="content__inner">
								<div class="content-wrap">
									<p class="content__line type-robot">HOW</p>
									<h4 class="content__tit tit-r">
										대량이식이 가능한<br class="hidden-tm">
										<strong class="color-robot1">비절개 로봇 이식</strong>
									</h4>
									<p class="content__txt2 txt-r">
										모낭채취시 미세한 손 떨림으로 <strong class="color-black1">모낭이 절단 될 수 있고, </strong><br class="hidden-tm">
										장시간의 반복적인 작업으로 인한 피로도로 <strong class="color-black1">모낭의 상태가<br class="hidden-tm">
										달라질 수도 있습니다.</strong>
									</p>
									<p class="content__txt txt-l">
										로봇 모발이식은 이러한 오차를 줄이면서,<br class="hidden-tm">
										<strong class="color-robot1">선별된 모낭과 그 주변 조직까지 정확하게 채취하여<br class="hidden-tm">
										수술시간은 단축시키고 생착률은 높여줍니다.</strong>
									</p>
									<a href="" class="content__more more-btn type-robot js-hover js-content-open">
										<span class="more-btn__plus">plus</span><span class="more-btn__txt">more</span>
									</a>
									<p class="more-btn__show txt-s">기존 비절개 VS 아타스 로봇 비절개 비교 보기</p>
								</div>
							</div>
						</div>
					</div>

					<div class="content-img type-artas js-scroll-motion">
						<div class="flex-bottom type-slim-t">
							<img src="../../images/robot/artas/artas_how_1.jpg" class="img-w100-t hidden-tm" alt="아타스 로봇"/>
							<img src="../../images/robot/artas/artas_how_1_t.jpg" class="img-w100-t hidden-p" alt="아타스 로봇"/>
						</div>
					</div>
				</div>
			</div><!-- //content-section5-->
			<div class="horizontal-section content-section7" data-page="technic">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										<strong class="color-robot1">결과를 좌우하는</strong><br class="hidden-tm">
										바노바기의<br class="hidden-tm">
										로봇 모발이식 시스템
									</h4>
									<p class="content__txt txt-l">
										채취 단계부터 최대한 모낭과 그 주변을 손상 없이 그대로 채취
										및 분리하여 이식된 모낭이 건강하게 생착 될 수 있도록 하고,
										<strong class="color-robot1">숙련된 의료진의 전문적이고 정교한 이식을 통해
										만족스러운 결과를 기대</strong>할 수 있습니다.
									</p>
									<p class="content__line type-robot">TECHNIC</p>
								</div>
								<div class="content-number section-left section-top type-robot">
									<div class="content-number__area">
										<ul class="content-number__list">
											<li class="content-number__item nth-1 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/robot/artas/artas_technic_1.jpg" class="img-responsive" alt="건강한 모낭채취"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">건강한 모낭채취</h5>
													<p class="content-number__txt txt-s">
														로봇으로 손상을 최소화한
														모낭과 그 주변 조직을
														빠르고 일관적으로 채취
													</p>
												</div>
											</li>
											<li class="content-number__item nth-2 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/robot/artas/artas_technic_2.jpg" class="img-responsive" alt="전문적인 모낭분리"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">전문적인 모낭분리</h5>
													<p class="content-number__txt txt-s">
														최소 5년 이상 경력의
														모낭분리사가 정교하고
														안전하게 모낭분리
													</p>
												</div>
											</li>
										</ul>
										<ul class="content-number__list">
											<li class="content-number__item nth-3 js-scroll-motion">
												<div class="content-number__box">
													<div class="content-number__img">
														<img src="../../images/robot/artas/artas_technic_3.jpg" class="img-responsive" alt="숙련된 모발재배치"/>
													</div>
												</div>
												<div class="content-number__box type-txt">
													<h5 class="content-number__subject txt-l">숙련된 모발재배치</h5>
													<p class="content-number__txt txt-s">
														10년간 3,000건 이상 수술
														경험의 모발재배치 전문 의료진
													</p>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div><!-- //content-wrap-->
						</div>
					</div>
				</div>
			</div><!-- //content-section6-->
			<div class="horizontal-section content-section8" data-page="process">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-process type-robot js-scroll-motion">
									<p class="content__line type-robot">PROCESS</p>
									<h4 class="content__tit tit-r">
										바노바기 <strong class="color-robot1">로봇 모발이식 과정</strong>
									</h4>
									<p class="content__txt txt-l">
										사람마다 고유한 모발의 상태와 굵기, 밀도 등이 모두 다릅니다.<br class="hidden-tm">
										이러한 조건들을 고려하여 진단하고 채취한 모발을 <strong class="color-robot1">두피와 모발 상태에 가장 알맞은 최적의 방식으로
										최대한 자연스럽고 정교하게 재배치</strong> 해야 합니다.
									</p>
									<div class="content-process__wrap">
										<ul class="content-process__list js-process">
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 1</p>
															<h5 class="content-process__tit txt-l">진단 및 상담</h5>
															<p class="content-process__txt txt-r">
																탈모 및 두피 상태<br>
																확인, 수술 상담
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/robot/artas/artas_process_1.jpg" alt="step 1 진단 및 상담" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 2</p>
															<h5 class="content-process__tit txt-l">디테일한 디자인</h5>
															<p class="content-process__txt txt-r">
																얼굴 비율 및 얼굴형 등에 따른<br>
																맞춤 디자인, <br>
																3D 헤어 스튜디오
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/robot/artas/artas_process_2.jpg" alt="step 2 디테일한 디자인" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 3</p>
															<h5 class="content-process__tit txt-l">비절개 로봇 모낭 채취</h5>
															<p class="content-process__txt txt-r">
																채취 부위의 밀도,<br> 분포, 각도,<br> 방향 등을 고려하여 맞춤 채취
															</p>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/robot/artas/artas_process_3.jpg" alt="step 3 비절개 로봇 모낭 채취" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 4</p>
															<h5 class="content-process__tit txt-l">모낭 분리 및<br> 모낭 이식</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/robot/artas/artas_process_4.jpg" alt="step 4 모낭 분리 및 모낭 이식" class="img-w100"/>
												</div>
											</li>
											<li class="content-process__item">
												<div class="content-process__box type-txt">
													<div class="content__outer type-center">
														<div class="content__inner type-center">
															<p class="content-process__num txt-s">step 5</p>
															<h5 class="content-process__tit txt-l">수술 후 관리</h5>
														</div>
													</div>
												</div>
												<div class="content-process__box type-img">
													<img src="../../images/robot/artas/artas_process_5.jpg" alt="step 5 수술 후 관리" class="img-w100"/>
												</div>
											</li>
										</ul>

										<p class="content-process__noti txt-s">
											숫자를 클릭<i>!</i> 하시면 내용을 확인하실 수 있습니다.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section7-->
			<div class="horizontal-section content-section9" data-page="project">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										바노바기니까. <strong class="color-robot1">더 꼼꼼한
										유지관리 프로그램,</strong>
										고생착 프로젝트
									</h4>
									<p class="content__txt txt-l">
										수술 후 체계적인 두피케어를 통해 생착률을 높이고,
										한번 이식한 모발이 오래 유지될 수 있도록
										<strong class="color-robot1">전문적인 케어 프로그램을 제공</strong>합니다.
									</p>
									<p class="content__txt2 txt-r">
										줄기세포 성장인자, 멀티 비타민, 미네랄 등을 공급해주는
                                        메조테라피 시술부터 두피 스케일링, 영양 침투 케어 등
										<strong class="color-black1">건강한 두피와 모근을 위한 다양한 프로그램으로 차별화 된
										모발이식을 경험</strong>하세요.
									</p>
									<p class="content__line type-robot">PROJECT</p>
								</div>
								<div class="content-zigzag section-left js-scroll-motion type-zigzag">
									<ul class="content-zigzag__list type-top">
										<li class="content-zigzag__item type-delay">
											<img src="../../images/content/project_img_1_common.jpg" class="img-w100-t" alt=""/>
										</li>
										<li class="content-zigzag__item type-delay3">
											<img src="../../images/content/project_img_2_common.jpg" class="img-w100-t" alt=""/>
										</li>
									</ul>
									<ul class="content-zigzag__list">
										<li class="content-zigzag__item">
											<img src="../../images/content/project_img_3_common.jpg" class="img-w100-t" alt=""/>
										</li>
										<li class="content-zigzag__item type-delay2">
											<img src="../../images/content/project_img_4_common.jpg" class="img-w100-t" alt=""/>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section8-->
			<div class="horizontal-section content-section10 content-section-care" data-page="1year care">
				<div class="content__area">
					<div class="content__outer">
						<div class="content__inner">
							<div class="content-wrap">
								<div class="content-box js-scroll-motion">
									<h4 class="content__tit tit-r">
										수술만큼 중요한<br>
										<strong class="color-robot1">수술 후 관리</strong>
									</h4>
									<p class="content__txt2 txt-r">
										모발이식은 수술로 완성되는 것이 아닙니다.<br class="hidden-tm">
										<strong class="color-black1">최소 1년간은 환자와 의료진이 한 호흡으로 지속적인 관리와
										경과 관찰이 필요</strong>합니다.
									</p>
									<p class="content__txt txt-l">
										수술 후 빠른 회복과 이식된 모낭의 생착을
										높이기 위해 <strong class="color-robot1">체계적이고 철저하게 관리</strong>해 드립니다.
									</p>
									<p class="content__line type-robot">1YEAR CARE</p>
								</div>
								<div class="content-year section-left section-top type-robot js-scroll-motion">
									<div class="content-img type-year">
										<div class="flex-bottom">
											<ul class="hair-one">
												<li class="hair-one__item"><img src="../../images/content/hair_one_2.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_3.jpg" class="img-normal" alt=""></li>
												<li class="hair-one__item"><img src="../../images/content/hair_one_4.jpg" class="img-normal" alt=""></li>
											</ul>
										</div>
									</div>
									<div class="content-year__wrap section-left">
										<ul class="content-year__list">
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/robot/artas/artas_care_1.jpg" class="img-w100" alt="2일차 드레싱 & 샴푸"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">2일차</h5>
													<p class="content-year__txt txt-s">드레싱 & 샴푸</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/robot/artas/artas_care_2.jpg" class="img-w100" alt="4주 후 두피 스켈링 / 메조테라피 / 바이오라이트"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">4주 후</h5>
													<p class="content-year__txt txt-s">두피 스켈링 / 메조테라피 / 바이오라이트</p>
												</div>
											</li>
											<li class="content-year__item">
												<div class="content-year__img">
													<img src="../../images/robot/artas/artas_care_3.jpg" class="img-w100" alt="1Year check 지속케어 수술 후 1, 3, 6, 12개월 케어"/>
												</div>
												<div class="content-year__box">
													<h5 class="content-year__tit txt-l">1Year check 지속케어</h5>
													<p class="content-year__txt txt-s">수술 후 1, 3, 6, 12개월 케어</p>
												</div>
											</li>
										</ul>
										<p class="content-year__noti txt-s">메조테라피 및 추가적인 관리 방법에 따라 별도 비용이 발생할 수 있습니다.</p>
										<div class="content-bullet type-robot">
											<ul class="content-bullet__list">
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
												<li class="content-bullet__item">
													dot
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="horizontal-footer">line</div>
			<!-- <div class="horizontal-section horizontal-last">last</div> -->
		</div>
	</div>
</div>
<% include ../_include/_footer %>
