.content{
    &__area{
        &.type-hair{
            &:before{background-color:#f6f3f1;}
        }
        &.type-hair2{
            &:before{background-color:#f1edea;}
        }
        &.type-hair3{
            &:before{background-color:#f1f8fd;}
        }
        &.type-hair4{
            &:before{background-color:#fef9ea;}
        }
    }
}

.detail-video{width:100vw; padding-left:80px; box-sizing:border-box; background-color: transparent;
    &__wrap{padding-left:120px; opacity:0; transition:opacity 2s;
        &.is-active{opacity:1;}
    }
    &__subtit{margin-bottom:10px; color:#fff;}
    &__tit{font-weight:$light; color:#fff;}
    &__txt{margin-top:36px; color:$point2; font-weight:$regular;}
    &__scroll{display:block; margin-top:110px;   color:#fff; text-transform: uppercase;}
    &__arrow{position:relative; display:inline-block; padding-right:50px; box-sizing:border-box;
        &:after{position: absolute; top:1px; right:0; display:block; width:40px; height:19px;
            animation:arrow-ani 1.5s infinite;
            background:url('../images/common/scroll_arrow.png') no-repeat center center /contain; content:'';}
    }
    @media only screen and (max-width:$tablet-size){width:100%; height:0; padding-left:0; padding-bottom:149.73%; background:url('../images/introduce/detail/detail_video_t.jpg') no-repeat center center /contain;
        &__wrap{padding:150px 40px; box-sizing:border-box;}
        &__scroll{width:120px; height:120px; border-radius:50%; line-height:1;}
        &__arrow{display:none; padding-top:28px; padding-right:0; padding-bottom:52px;
            &:after{top:auto; left:26px; bottom:0; width:20px; height:40px; margin:0; background:url('../images/common/scroll_arrow_t.png') no-repeat center center /contain; animation:arrow-ani-m 1.5s infinite;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__wrap{padding:60px 20px;}
        &__txt{margin-top:20px;}
        &__scroll{width:80px; height:80px;}
        &__arrow{padding-top:22px; padding-right:0; padding-bottom:32px;
            &:after{left:26px; width:10px; height:25px; margin:0; background:url('../images/common/scroll_arrow_t.png') no-repeat center center /contain;}
        }
    }
}
.content-bottom{
    &.type-detail{position: relative; width:568px; background:url('../images/introduce/detail/detail_img_2.png') no-repeat center bottom / contain;
        &:before{position:absolute; left:0; bottom:0; width:100%; height:100%; background:url('../images/introduce/detail/detail_hover.png') no-repeat center bottom / contain; z-index:10; content:'';}
    }
}
.detail-cover{background-color:transparent;
    &.type-bg{width:1600px;}
    @media only screen and (max-width:$tablet-size){margin-top:120px !important; padding-bottom:52.08%;
        &.type-bg{width:100%;}
        &.type-hair{background:url('../images/introduce/detail/detail_fix_1_t.jpg') center center / cover; padding-bottom:133.33%;}
        &.type-hair2{background:url('../images/introduce/detail/detail_fix_2_t.jpg') center center / cover; padding-bottom:133.33%;}
        // @supports (-ms-ime-align:auto)
        // {
        //     &.type-hair{background:url('../images/introduce/detail/detail_fix_1_t.jpg') center center;}
        //     &.type-hair2{background:url('../images/introduce/detail/detail_fix_2_t.jpg') center center;}
        // }
        // @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
        //     &.type-hair{background:url('../images/introduce/detail/detail_fix_1_t.jpg') center center;}
        //     &.type-hair2{background:url('../images/introduce/detail/detail_fix_2_t.jpg') center center;}
        // }
    }
    @media only screen and (max-width:$mobile-size){margin-top:100px !important; padding-bottom:52.08%;
        &.type-hair{padding-bottom:133.33%;}
        &.type-hair2{padding-bottom:133.33%;}
    }
}
.detail-left{margin-left:100px;
    @media only screen and (max-width:$tablet-size){margin-left:0;}
}

.horizontal-fix{
    $this:&;
    &.is-hide{display:none;}
    &__item{overflow:hidden; display:none; text-indent:-9999px;
        &.type-bg{position:relative;
            &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.3); z-index:1; content:'';}
        }
        &.is-active{display:block;}
        &.type-video{background:url('../images/introduce/detail/detail_video.jpg') no-repeat center bottom / cover;}
        &.type-hair1{background:url('../images/introduce/detail/detail_fix_1.jpg') no-repeat center bottom / cover;}
        &.type-hair2{background:url('../images/introduce/detail/detail_fix_2.jpg') no-repeat center bottom / cover;}
        &.is-hide{display:none !important;}
    }
}

.content-img{ box-sizing:border-box;
    $this:&;
    &.type-hair{ width:568px;
        #{$this}__img{position:relative;
            &:before{position:absolute; left:0; top:0; width:100%; height:100%; background:url('../images/introduce/detail/detail_hover.png') no-repeat center bottom / contain; z-index:10; content:'';}
            &.is-active{
                &:before{ -webkit-animation-name: flashHair; animation-name: flashHair; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
                    -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
                }
            }
        }
    }
    &.type-hair2{width:556px;}
    &.type-style1{width:330px;
        #{$this}__right{padding-left:80px;}
        #{$this}__left{padding-right:170px; margin-top:20px;}
    }
    &.type-style2{width:540px;
        #{$this}__right{padding-left:200px; margin-top:-40px;}
        #{$this}__left{padding-right:240px; }
    }
    &.type-style3{width:540px;
        #{$this}__right{position: relative; padding-left:200px; z-index:10;}
        #{$this}__left{padding-right:240px; margin-top:-20px;}
    }
    @media only screen and (max-width:$tablet-size){
        &.type-hair{width:100%;}
        &.type-hair2{width:100%;}
        &.type-style1{width:100%; padding:0 130px;
            #{$this}__right{padding-left:42.18%;}
            #{$this}__left{padding-right:62.5%; margin-top:-80px;}
        }
        &.type-style2{width:100%; padding:0 74px;
            #{$this}__right{padding-left:26.56%; margin-top:-40px;}
            #{$this}__left{padding-right:34.37%; }
        }
        &.type-style3{width:100%; padding:0 64px;
            #{$this}__right{padding-left:25%;}
            #{$this}__left{padding-right:34.37%; margin-top:-60px;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &.type-style1{padding:0;
            #{$this}__left{margin-top:-60px;}
        }
        &.type-style2{padding:0;
            #{$this}__right{margin-top:-30px;}
        }
        &.type-style3{padding:0;
            #{$this}__left{margin-top:-30px;}
        }
    }
}

.doctor-section{background-color:$bano1;}


.content-doctor{display:inline-block; height:100%; margin-left:40px; vertical-align:top; box-sizing:border-box;
    &__subtit{margin-bottom:8px;}
    &__tit{color:$point2; font-weight:$medium;}
    &__area{position:relative; margin-top:70px;}
    &__list{margin:0; padding:0 0 0 180px; box-sizing:border-box;}
    &__item{display:none; width:560px; height:460px; padding:36px 50px; border-radius: 16px; border:1px solid $point2; background-color:#fff;list-style:none; box-sizing:border-box;
        &.is-active{display:block;}
    }
    @media only screen and (max-width:$tablet-size){display:block; height:auto; margin-left:0; padding:150px 0;
        &__area{margin-top:0;}
        &__list{padding-left:0;}
        &__item{width:100%; height:auto;}
    }
    @media only screen and (max-width:$mobile-size){padding:100px 0;
        &__item{width:100%; height:auto; padding:20px; border-radius: 10px;}
    }
}

.doctor-nav{position:absolute; top:0; left:0; margin:0; padding:0;
    $this:&;
    &__item{position:relative;
        &.is-active{
            &:after{position:absolute; top:0; bottom:0; right:-40px; display:block; width:40px; height:0; border-top:1px solid $point2; margin:auto 0;content:'';}
            #{$this}__btn{background-color:$point2; color:#fff;}
        }
        & + &{margin-top:20px;}
    }
    &__position{margin-right:10px; vertical-align:middle; font-weight:$regular;}
    &__name{vertical-align:middle; font-weight:$regular;}
    &__btn{width:152px; height:48px; line-height:48px; list-style:none; border:1px solid $point2; border-radius:24px; box-sizing:border-box; text-align:center; color:$point2; outline:0;
        background:#fff5f3; padding:0; cursor:pointer;
    }
    @media only screen and (max-width:$tablet-size){top:-220px; left:auto; right:94px;
        &__item{
            &.is-active{
                &:after{display:none;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){overflow:hidden; top:-68px; left:0; right:0; margin-left:-30px;
        &__item{display:inline-block; padding-left:30px; box-sizing:border-box;
            & + &{margin-top:0;}
        }
        &__position{}
    }
}

.doctor-photo{position:relative;  box-sizing:border-box;
    &__list{position:relative; margin:0; padding:0; width:420px; height:732px;}
    &__item{position:absolute; width:100%; opacity:0; transition: opacity 1s;
        &.is-active{opacity:1}
    }
    @media only screen and (max-width:$tablet-size){width:auto; height:auto; margin-top:80px; padding:0 276px 0 30px;
        &__list{width:100%; height:0; padding-bottom:127.74%;}
    }
    @media only screen and (max-width:$mobile-size){ margin-top:40px; padding:0 13.125% 0 17.18%;}
}

.doctor-career{margin:0; padding:0;
    &__item{list-style:none;
        & + &{margin-top:8px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__item{list-style:none;
            & + &{margin-top:4px;}
        }
    }
}





.js-info{cursor:pointer;}
.info-btn{position:relative; top:3px; display:inline-block; width:20px; height:20px; background:$point2; border-radius:50%; vertical-align:top; cursor:pointer; font-style:normal;
    $this:&;
    &.type-left{
        #{$this}__wrap{left:auto; right:10px; width:570px;}
        #{$this}__area{
            &:after{left:auto; right:0; border-left:none;}
        }
        &.type-list{
            #{$this}__wrap{width:730px;}
        }
    }
    &__list{display:block; margin:10px 0 0 -10px; font-size:0;}
    &__item{display:inline-block; width:25%; padding-left:10px; box-sizing:border-box;}
    &__plus{position:relative; display:block; width:inherit; height:inherit; overflow:hidden; text-indent:-9999px;
        &:before,&:after{position:absolute; top:0; right:0; left:0; bottom:0; display:block; margin:auto; background:#fff; content:'';}
        &:before{width:10px; height:2px;}
        &:after{width:2px; height:10px;}
    }
    &__wrap{position:absolute; display:none; width:420px;  left:10px; bottom:50px; background-color:#ffe3dd; border-radius:16px; box-sizing:border-box; box-shadow: 8px 13px 25px 0px rgba(0, 0, 0, 0.15);
        text-shadow: 8px 13px 25px rgba(0, 0, 0, 0.15); z-index:50;
    }
    &__area{position:relative; display:block;
        &:after{display:block; position:absolute; left:0; bottom:-18px; width: 0px;height: 0px;
            border-top:20px solid transparent;
            border-bottom:20px solid transparent;
            border-right: 20px solid none;
            border-left: 20px solid  #ffe3dd; content:'';
        }
    }
    &__bullet{position:relative; display:block; padding-left:10px;
        & + &{margin-top:6px;}
        &:before{position:absolute; top:-2px; left:0; content:'-';}
    }
    &__box{display:block; padding:30px; box-sizing:border-box;}
    &__tit{display:block; color:$black1; font-weight:$medium;}
    &__txt{display:block; margin-top:14px; color:$black4;}
    &__img{display:none;
        &.type-left{position:absolute; display:inline-block; width:216px;}
    }
    &__inner{display:inline-block; min-height:154px; padding-left:240px; box-sizing:border-box;}
    &__close{display:none;}
    &__subject{display:block; margin-top:10px; color:$black4;}
    @media only screen and (max-width:$tablet-size){
        &.type-left{
            &.type-list{
                #{$this}__area{width:420px;}
            }
        }
        &__wrap{position:fixed; top:0; left:0 !important; right:0 !important; bottom:0; width:auto !important; background-color:rgba(0,0,0,0.7) !important; z-index:100; border-radius:0;}
        &__img{display:block; margin-bottom:26px;
            &.type-left{width:280px; margin-bottom:0;}
        }
        &__area{position: absolute; top:50%; @include vendor('transform','translateY(-50%)'); left:0; right:0; width:calc(100% - 80px); margin:0 auto;  box-sizing:border-box; background:#fff; border-radius: 16px;
            &:after{display:none;}
        }
        &__box{padding:40px; box-sizing:border-box;}
        &__close{display:block; width:100%; height:50px; padding:0; line-height:50px; background-color:$black2; border:none; outline:0; color:#fff; border-radius:0 0 16px 16px;}
        &__inner{min-height:200px; padding-left:304px; box-sizing:border-box;}
        &__list{margin-top:16px; margin-left:-20px;}
        &__item{width:50%; padding-left:20px;
            &:nth-child(2) ~ &{margin-top:20px;}
        }
    }
    @media only screen and (max-width:$mobile-size){top:2px;
        &.type-left{
            &.type-list{
                #{$this}__area{width:calc(100% - 40px); }
            }
        }
        &__img{ margin-bottom:18px;
            &.type-left{position:static; width:auto; margin-bottom:18px;}
        }
        &__area{width:calc(100% - 40px); border-radius: 8px;}
        &__box{padding:20px; box-sizing:border-box;}
        &__inner{min-height:0; padding-left:0;}
        &__list{margin-top:16px; margin-left:-15px;}
        &__item{width:50%; padding-left:15px;
            &:nth-child(2) ~ &{margin-top:15px;}
        }
        &__close{height:45px; line-height:45px; border-radius:0 0 8px 8px;}
    }
    @media only screen and (max-width:$tablet-size) and (orientation: landscape){
        &__area{width:45%;}
    }
    @media only screen and (max-width:$mobile-size) and (orientation: landscape){
        &__area{width:80%;}
        &__img{display:none;}
    }
}



@-webkit-keyframes flashHair {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flashHair {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}


@keyframes arrow-ani {
    0%{transform:translateX(4px);}
    50%{transform:translateX(-3px);}
    100%{transform:translateX(4px);}
}
@keyframes arrow-ani-m {
    0%{transform:translateY(3px);}
    50%{transform:translateY(-2px);}
    100%{transform:translateY(3px);}
}
