@charset "utf-8";

$font-pt:'Myriad Pro',sans-serif;

$font-normal:"Noto Sans KR", "맑은 고딕", "Malgun Gothic", '돋음, Dotum', "Helvetica Neue", 'Helvetica, Arial', 'serif';

$font-square:'Nanum Square','Dotum','돋움', sans-serif;
//mixin
@mixin background-image-retina($file, $type, $width, $height:null ) {
	background-image: url($file + '.' + $type);
	@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx){
		& {
			background-image: url($file + '@2x.' + $type);
			-webkit-background-size: $width $height;
			-moz-background-size: $width $height;
			-o-background-size: $width $height;
			background-size: $width $height;
		}
	}
}

@mixin background($file, $backOption, $ver:190729 ) {
	background: url($file + '?ver=' + $ver)+" "+$backOption
}


@mixin hidden { overflow:hidden; position:absolute; width:0; height:0; }
@mixin block {
	&:before,
	&:after { clear:both; display:block; overflow:hidden; height:0; content:""; }
}
@mixin line-clamp($lines, $line-height) { display:block; display:-webkit-box; -webkit-box-orient:vertical; position:relative; text-overflow: ellipsis; -webkit-line-clamp:$lines; white-space:normal;
	&:after { position:absolute; right:0; bottom:0; width:77px; height:$line-height+em; background:url(../images/common/line-clamp.png) repeat-y right bottom; content:''; pointer-events:none; }
	@supports (-webkit-line-clamp: $lines) {
		height:auto;
		&:after { content:none}
	}
}

@mixin img-wrap {
	&__img-wrap { overflow:hidden; position:relative; }
	&__img { position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; max-width:100%; }
}

@mixin placeholder-color($place-color){
	&:-ms-input-placeholder { color: $place-color;}
	&::-webkit-input-placeholder { color: $place-color;}
	&::-moz-placeholder { color: $place-color;}
	&::-moz-placeholder { color: $place-color;}
}




$mobile-size:680px;
$mobile-size2:480px;
$tablet-size:1366px;
$minpc-size1:1600px;
$minpc-size2:1480px; //1280?
$minpc-size3:1180px;
$iphone-size:340px;
$minH-size:900px;

$thin:100;
$lightDown:200;
$light:300;
$regular :400;
$medium :500;
$bold:600;
$black:700;

$black1:#151515;
$black2:#333333;
$black3:#555555;
$black4:#777777;
$black5:#999999;

$gray1:#eeeeee;
$gray2:#aaaaaa;

$point1:#fff222;
$point2:#ff8560;

$woman1:#cf746d;
$woman2:#fef6f4;

$man1: #3569ae;
$man2: #f1f5fc;

$bano1: #fff5f3;

$robot1:#2e879b;
$robot2:#e8f7f9;

$special1:#a982c9;
$special2:#faf6fd;

$reoperation1:#9f7e54;
$reoperation2:#f8f2eb;

$svf1:#909858;
$svf2:#f5f6eb;

$care1:#6771a9;
$care2:#f6f7fd;

//i버튼
$infoBtn:info-btn;
$infoDesc:info-desc;

$ver:190603;

%box{
	@media only screen and (max-width: $tablet-size){margin-left:-40px !important; margin-right:-40px !important;}
	@media only screen and (max-width: $mobile-size){margin-left:-12px !important; margin-right:-12px !important;}
}
%box-padding{
	@media only screen and (max-width: $tablet-size){padding-left:40px !important; padding-right:40px !important; box-sizing:border-box;}
	@media only screen and (max-width: $mobile-size){padding-left:12px !important; padding-right:12px !important;}
}
