@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "care/haircare";



.horizontal-scroll{
    &.type-care{
		.horizontal-section{
			&:nth-child(2) ~ .horizontal-section{border-left:1px solid $care2;}
		}
	}
    @media only screen and (max-width:$tablet-size){
        &.type-care{
			.horizontal-section{
				&:nth-child(2) ~ .horizontal-section{border-left:none; border-top:1px solid $care2; }
			}
		}
    }
}

.visual{
    $this:&;
    &.type-care{
        #{$this}__item{
            &.type-leadtime{
                &:before{background:url('../images/care/care_leadtime.png') no-repeat center center / cover;}
            }
            &.type-anesthesia{
                &:before{background:url('../images/care/care_anesthesia.png') no-repeat center center / cover;}
            }
            &.type-hospital{
                &:before{background:url('../images/care/care_hospital.png') no-repeat center center / cover;}
            }
            &.type-recovery{
                &:before{background:url('../images/care/care_recovery.png') no-repeat center center / cover;}
            }
        }
        @media only screen and (max-width:$mobile-size){
            #{$this}__item{
                &.type-leadtime{
                    &:before{background:url('../images/care/care_leadtime_m.png') no-repeat center center / contain;}
                }
                &.type-anesthesia{
                    &:before{background:url('../images/care/care_anesthesia_m.png') no-repeat center center / contain;}
                }
                &.type-hospital{
                    &:before{background:url('../images/care/care_hospital_m.png') no-repeat center center / contain;}
                }
                &.type-recovery{
                    &:before{background:url('../images/care/care_recovery_m.png') no-repeat center center / contain;}
                }
            }
        }
    }
}

.content-floor{
    $this:&;
    &.type-care{
        #{$this}__box{background-color:$care2;}
    }
}

.content{
    $this:&;
    &__line{
        &.type-care{color:$care2;}
    }
}
.content-number{
    $this:&;
    &.type-care{
        #{$this}__img:before{background-color:$care1;}
        #{$this}__subject{color:$care1;}
    }
}

.content-key{
    $this:&;
    &.type-care{
        #{$this}__item{ background:$care2;}
    }
}

.content-process{
    $this:&;
    &.type-care{
        #{$this}__tit{color:$care1;}
        #{$this}__dot{
            li{
                &.is-bar:before{ background-color:$care1;}
                &.is-before{
                    button{background:$care1;}
                    &:before{background-color:$care1;}
                }
                &.slick-active{
                    button{background:$care1;}
                }
            }
        }
    }
}

.content-bullet{
    $this:&;
    &.type-care{
        #{$this}__item{
            &:first-child{background:$care1;}
            &.is-active{background:$care1;
                &:before{background-color:$care1;}
            }
        }
    }
}
.content-year{
    $this:&;
    &.type-care{
        #{$this}__tit{color:$care1;}
    }
}

.more-btn{
    $this:&;
    &.type-care{background:$care2; color:$care1;
        #{$this}__plus{
            &:before,&:after{background:$care1;}
        }
    }
}

.table-v1{
    $this:&;
    &.type-care{
        #{$this}__tr{
            &:first-of-type{
                #{$this}__th:last-of-type{background-color:$care1; color:#fff;}
            }
            &:nth-of-type(odd){
                #{$this}__td:last-of-type{background-color:$care2;}
            }
        }
    }
}


.pick-scroll{
    $this:&;
    &.type-care{
        #{$this}__btn{background-color: $care1 !important;}
    }
}

.content-box{
    $this:&;
    &.type-care{
        #{$this}__num{background-color:$care2;
            &:before{color:$care1;}
        }
    }
}
