@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "content_common/detail";
.content{width:100%; background-color:#fff;  box-sizing:border-box;
    $this:&;
    strong{font-weight:$medium;}
    &__line{margin:0 0 0 -100px; font-size:120px; line-height:1; font-weight:$thin; opacity:1; white-space:nowrap;
        & + #{$this}__txt2{margin-top:50px;}
        & + #{$this}__txt{margin-top:20px;}
        & + #{$this}__tit{padding-top:0;}
    }
    &__outer{display:inline-table; width:100%; height:100%;}
    &__inner{display:table-cell; width:100%; height:100%; vertical-align:middle;}
    &__tit{padding-top:80px; font-weight:$light; box-sizing:border-box;
        span{font-weight:$medium;}
        & + #{$this}__txt2{margin-top:50px;}
        & + #{$this}__txt{margin-top:50px;}
    }
    &__txt{color:$black1; font-style:italic;}
    &__txt2{margin-top:24px; color:$black4; font-weight:$light;
        & + #{$this}__txt{margin-top:40px;}
        &.type-first{margin-top:0; padding-top:80px; box-sizing:border-box;}
        strong{font-weight:$regular;}
    }
    &__area{padding:0 200px 0 100px; height:100%; white-space:nowrap; box-sizing:border-box;
        &.type-box{padding-left:0; padding-right:0;}
        &.type-wide{padding-left:200px;}
        &.type-bg{position:relative;
            &:before{position:absolute; top:0; left:0; bottom:0; display:block; width:500px;  content:'';}
        }
    }
    &__wrap{width:100%; max-width:1680px; padding:110px 80px; box-sizing:border-box;}
    &__more{margin-top:100px; text-transform: uppercase;}
    &__subject{margin-bottom:60px; font-weight:$medium;}
    @media only screen and (max-width:$tablet-size){padding:68px 0 120px;
        &.type-footer{padding-bottom:0;}
        &__line{position:absolute; top:0; margin-left:-40px;
            & + #{$this}__tit{padding-top:116px;}
        }
        &__outer{display:block; width:auto; height:auto;
            &.type-center{display:inline-table; width:100%; height:100%;}
        }
        &__inner{display:block; width:auto; height:auto;
            &.type-center{display:table-cell; width:100%; height:100%;}
        }
        &__tit{padding-top:116px;
            &.type-padding-zero{padding-top:0;}
            &.type-detail{padding-top:0;}
        }
        &__area{padding:0 40px 0; white-space:normal;
            &.type-wide{padding-left:40px;}
            &.type-bg{position:relative; padding-top:150px;
                &:before{position:absolute; top:0; left:0; bottom:0; display:block; width:100%; height:0; padding-bottom:74.21%;  content:'';}
            }
        }
        &__more{margin-top:80px;}
        &__wrap{max-width:none; padding:80px 40px 0; box-sizing:border-box;
            &.type-view{padding:0;}
        }
        &__subject{
            &.type-event{margin-bottom:0; padding:40px; border-bottom:1px solid $gray1; }
        }
        &__txt2{
            &.type-first{padding-top:0px;}
        }
    }
    @media only screen and (max-width:$mobile-size){padding:50px 0 100px;
        &__line{margin-left:-20px; font-size:60px;
            & + #{$this}__tit{padding-top:60px;}
            & + #{$this}__txt2{margin-top:28px;}
            & + #{$this}__txt{margin-top:28px;}
        }
        &__area{padding:0 20px 0;
            &.type-wide{padding-left:20px;}
            &.type-bg{position:relative; padding-top:100px;
                &:before{position:absolute; top:0; left:0; bottom:0; display:block; width:100%; height:0; padding-bottom:74.21%;  content:'';}
            }
        }
        &__tit{padding-top:60px;
            & + #{$this}__txt2{margin-top:30px;}
            & + #{$this}__txt{margin-top:28px;}
        }
        &__more{margin-top:40px;}
        &__subject{margin-bottom:50px;
            &.type-event{padding:40px 20px;}
        }
        &__txt2{
            & + #{$this}__txt{margin-top:20px;}
        }
        &__wrap{padding:40px 20px 0;}
    }
}

.content-popup{position:absolute; top:0; left:0; display:none; height:100%; width:100%; margin:auto; z-index:90; background-color:rgba(0,0,0,0.35); text-align:center; white-space: normal;
    &:before{display:inline-block; height:100%; vertical-align:middle; content:'';}
    &__tit{margin-bottom:36px; font-size:30px; font-weight:$regular;}
    &__wrap{position:relative; display:inline-block;  vertical-align:middle; margin:auto;}
    &__area{position:relative; padding:80px 60px;  background-color:#fff; box-sizing:border-box;}
    &__close{overflow:hidden; position:absolute; top:0; right:0; display:block; width:64px; height:64px; border:none; outline:0;
        background:url('../images/common/popup_close.jpg') no-repeat center center / contain; text-indent:-9999px; cursor:pointer;}
    &__list{max-width:880px; margin:40px 0 0 -10px; padding:0;}
    &__item{display:inline-block; width:25%; padding-left:10px; box-sizing:border-box; list-style:none; vertical-align:top;}
    &__caption{display:table-cell; width:1%; height:50px; padding:5px; background-color:$gray1; color:$black1; font-weight:$regular; box-sizing:border-box; vertical-align:middle;}
    &__noti{margin-top:14px; color:$gray2; text-align:left;}
    @media only screen and (max-width:$tablet-size){position:fixed;
        &__wrap{width:100%; padding:0 40px; box-sizing:border-box;}
        &__close{right:40px;}
        &__list{max-width:none;}
    }
    @media only screen and (max-width:$mobile-size){
        &__tit{font-size:1.8rem; margin-bottom:18px;}
        &__list{margin-top:20px;}
        &__item{width:50%;
            &:nth-child(2) ~ &{margin-top:10px;}
        }
        &__scroll{overflow: auto; max-height:320px;}
        &__area{padding:30px 20px;}
        &__wrap{padding:0 20px;}
        &__close{position:static; width:100%; height:40px; line-height:40px; text-indent:0; background:$black2; color:#fff; font-size:1.3rem;}
        &__noti{margin-top:12px;}
    }
}

.content-number{display:inline-block; height:100%;
    $this:&;
    &__area{display:inline-block; height:100%; box-sizing:border-box;}
    &__list{position:relative; display:inline-block; height:100%;  margin:0 0 0 190px; padding:0; white-space: nowrap;
        &:first-child{margin-left:0; }
    }
    &__item{list-style:none;
        @for $i from 1 through 9{
            &.nth-#{$i}{
                #{$this}__subject:before,#{$this}__img:before{content:'0'+$i+'';}
            }
        }
        &:nth-of-type(2){position:absolute; bottom:50px; left:0; margin-left:400px; }
    }
    &__box{display:inline-block; width:380px; box-sizing:border-box; vertical-align:top; white-space:normal;
        &.type-txt{width:230px; padding-left:40px;}
    }
    &__img{position:relative; width:100%; height:0; padding-bottom:57.89%;
        &:before{position:absolute; top:0; left:0; width:32px; height:32px; line-height:32px; color:#fff; z-index:10; text-align:center; font-size:14px; font-weight:$regular; content:'';}
    }
    &__subject{position:relative; margin-bottom:10px; font-weight:$medium;
        &:before{position:absolute; top:0; left:-20px; font-size:14px; font-weight:$medium;}
    }
    &__txt{line-height:1.8;}
    @media only screen and (max-width:$tablet-size){display:block;
        &__area{display:block; width:auto !important;}
        &__list{display:block; margin-left:0;
            &:first-child{margin-top:80px;
                #{$this}__item:first-child{margin-top:0;}
            }
        }
        &__item{position:relative; list-style:none; margin-top:40px;
            &:nth-of-type(2){position:relative; bottom:auto; left:auto; margin-left:0; }
        }
        &__box{display:block; width:auto; padding-right:300px; box-sizing:border-box;
            &.type-txt{position: absolute; top:0; right:0; width:300px; padding-right:0;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__list{
            &:first-child{margin-top:40px;
                #{$this}__item:first-child{margin-top:0;}
            }
        }
        &__item{margin-top:24px;}
        &__img{
            &:before{width:28px; height:28px; line-height:28px; font-size:1.4rem;}
        }
        &__subject{margin-bottom:5px;}
        &__box{padding-right:0;
            &.type-txt{position: static; width:auto; margin-top:10px; padding-left:20px;}
        }
    }
}
.content-img{display:inline-block; height:100%; vertical-align:top;
    $this:&;
    &.type-intro{position:absolute; left:0; right:0; bottom:19%; height:auto; margin:0 auto; padding:0 50px; box-sizing:border-box; white-space:normal;
        #{$this}__list{margin-top:0;}
    }
    &__img{padding-top:80px;
        &:after{display:block; clear:both; content:'';}
    }
    &__right{float:right; box-sizing:border-box;}
    &__left{float:left; box-sizing:border-box;}
    &.type-list{width:680px;}
    &__list{margin:30px 0 0 0; padding:0;
        &.type-one{margin-top:60px;
            #{$this}__item{width:100%; border-radius:16px; white-space:normal;}
            #{$this}__txt{position:relative; display:inline-block; padding-left:20px; box-sizing:border-box;
                &:nth-of-type(2){margin-left:5px;}
            }
        }
    }
    &__item{display:inline-block; width:50%; padding:16px; border-radius:0 16px 16px 0; text-align:center; list-style:none; background:$gray1; box-sizing:border-box; vertical-align:top;
        &.type-default{border-radius: 16px 0 0 16px;}
        &.type-sub{background-color:$woman2;
            #{$this}__subject{color:$woman1;}
        }
    }
    &__num{position:absolute; top:0; left:0;}
    &__subject{margin-bottom:6px; font-weight:$medium;}
    &__noti{margin-top:10px; color:$black4;}
    @media only screen and (max-width:$tablet-size){display:block; margin-top:80px; height:auto;
        &.type-list{width:100%;}
        &.type-intro{position:static; left:auto; right:auto; bottom:auto; width:100%; padding:0;
            #{$this}__list{margin-top:0;}
        }
        &__img{padding-top:0;
            &.type-slim-t{padding:0 15%;}
        }
        &.type-margin-zero{margin:0;}
        &.type-detail{margin-top:100px;}
        &.type-year{position: absolute; left:0; top:50%; height:auto; margin-top:0; @include vendor('transform','translateY(-50%)');}
    }
    @media only screen and (max-width:$mobile-size){margin-top:40px;
        &__img{padding-top:0;
            &.type-slim-t{padding:0;}
        }
        &.type-detail{margin-top:50px;}
        &.type-year{display:none;}
        &__list{margin-top:15px;
            &.type-one{
                #{$this}__item{border-radius:8px; }
                #{$this}__txt{display:block; padding-left:20px; text-align:left;
                    & + &{margin-top:5px;}
                    &:nth-of-type(2){margin-left:0;}
                }
            }
        }
        &__item{border-radius:0 12px 12px 0; padding:12px;
            &.type-default{border-radius: 12px 0 0 12px;}
        }
    }
}
.content-bottom{position:relative; display:inline-block; vertical-align:top; position:relative; height:100%;
    $this:&;
    &__noti{position:absolute; left:0; right:0; bottom:236px; color:#fff; text-align:center;
        &.type-low{bottom:140px;}
    }
    &__txt{margin-bottom:30px; text-align:center;}
    &__box{position:absolute; top:19%;
        &.type-man,&.type-list{
            #{$this}__item{left:0; background:$special2;
                &:before{color: $special1;}
                &.type-tit{padding:10px 20px; background-color:$special1; color:#fff; text-align:center;}
            }
            #{$this}__num{color:$special1;}
        }
        &.type-list{top:0; right:0;
            #{$this}__item{min-width:362px;}
        }
        &.type-woman{right:0;
            #{$this}__item{background:$woman2;
                &:before{color: $woman1;}
                &.type-tit{padding:10px 20px; background-color:$woman1; color:#fff; text-align:center;}
            }
            #{$this}__num{color:$woman1;}
        }
        &.type-bread{position:static; top:auto; display:inline-block;
            #{$this}__item{min-width:300px; background:$man2;
                &:before{color: $man1;}
                &.type-tit{padding:10px 20px; background-color:$man1; color:#fff; text-align:center;}
            }
            #{$this}__num{color:$man1;}
            & + #{$this}__box.type-bread{margin-left:30px;}
        }
    }
    &__list{margin:0; padding:0;}
    &__item{position:relative; padding:14px 20px 14px 50px; box-sizing:border-box; list-style:none; border-radius:24px;
        &:before{position: absolute;left: 20px;top: 10px;font-size: 20px;font-style: italic;font-weight: $light; content:'';}
        @for $i from 1 through 9{
            &.nth-#{$i}{
                &:before{content:'0'+$i+'';}
            }
        }
        & + &{margin-top:20px;}
    }
    @media only screen and (max-width:$tablet-size){ margin-top:80px; width:100%;
        &__noti{ bottom:120px;
            &.type-low{bottom:80px;}
        }
        &__box{position:static; top:auto;
            &.type-man{margin-bottom:60px;}
            &.type-woman{margin-top:60px;}
            &.type-list{
                #{$this}__item{min-width:0;}
            }
            &.type-bread{display:block; margin-top:40px;
                #{$this}__item{min-width:0; width:100%; }
                & + #{$this}__box.type-bread{margin-left:0px;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){margin-top:40px;
        &__txt{margin-bottom:15px;}
        &__noti{ bottom:80px;
            &.type-low{bottom:40px;}
        }
        &__box{
            &.type-man{margin-bottom:46px;
                #{$this}__item{
                    &.type-tit{padding:8px 10px; }
                }
            }
            &.type-woman{margin-top:46px;
                #{$this}__item{
                    &.type-tit{padding:8px 10px;}
                }
            }
        }
        &__item{padding:12px 15px 12px 42px; border-radius:10px;
            &:before{left: 15px;top: 9px;font-size: 1.6rem;}
            & + &{margin-top:15px;}
        }
    }
}

.content-top{display:inline-block; vertical-align:top; position:relative; height:100%;

}
.content-zigzag{padding-top:80px; display:inline-block;
    $this:&;
    &:after{display:block; clear:both; content:'';}
    &.type-half{
        #{$this}__item{display:block;
            &:first-child{margin:0 0 0 200px;}
            &:last-child{margin-top:20px;}
        }
    }
    &__list{position:relative; margin:0; padding:0; box-sizing:border-box; font-size:0;
        &.type-top{margin-left:200px;}
        & + &{margin-top:20px;}
    }
    &__item{display:inline-block;
        & + &{margin-left:20px;}
    }
    @media only screen and (max-width:$tablet-size){display:block; width:auto;
        &.type-half{
            #{$this}__item{display:inline-block;
                &:first-child,&:last-child{margin:0;}
            }
        }
        &__list{margin-left:-20px;
            &.type-top{margin-left:-20px;}
            & + &{margin-top:20px;}
        }
        &__item{display:inline-block; width:50%; padding-left:20px; box-sizing:border-box;
            & + &{margin-left:0px;}
        }
    }
    @media only screen and (max-width:$mobile-size){padding-top:40px;
        &__list{margin-left:-15px;
            &.type-top{margin-left:-15px;}
            & + &{margin-top:15px;}
        }
        &__item{ padding-left:15px; }
    }
}
.content-key{display:inline-block; height:100%; vertical-align: top;
    $this:&;
    &.type-woman{
        #{$this}__item{ background:$woman2;}
    }

    &__box{margin-top:60px;
        &.type-num{
            #{$this}__item{position: relative;padding-left: 50px;
                &:before{position: absolute;left: 20px;top: 10px;font-size: 20px;font-style: italic;font-weight: $light;color: $man1;}
                @for $i from 1 through 19{
                    @if $i < 10{
                        &.nth-#{$i}{
                            &:before{content:'0'+$i+'';}
                        }
                    } @else {
                        &.nth-#{$i}{
                            &:before{content:''+$i+'';}
                        }
                    }
                }
            }
        }
    }
    &__list{display:inline-block; margin:0; padding:0;vertical-align: top;
        &:after{display:block; clear:both; content:'';}
        & + &{margin-left:30px;}
    }
    &__item{float:left; width:100%;min-width: 360px;padding:14px 30px;list-style:none; border-radius:22px; box-sizing:border-box; font-weight:$regular;
        & + &{clear:both; margin-top:20px;}
    }

    @media only screen and (max-width:$tablet-size){display:block; height:auto;
        &__list{display:block;
            & + &{margin:20px 0 0 0;}
        }
        &__item{float:none; width:auto;}
    }
    @media only screen and (max-width:$mobile-size){
        &__box{margin-top:40px;
            &.type-num{
                #{$this}__item{padding-left: 48px;
                    &:before{left: 14px;top: 6px;font-size: 1.8rem;}
                }
            }
        }
        &__list{
            & + &{margin-top:10px;}
        }
        &__item{min-width: 0;padding:12px 14px; border-radius:10px;
            & + &{margin-top:10px;}
        }
    }
}
.content-wrap{position:relative; display:inline-block; width:100%; height:700px; margin-bottom:40px;
    &.type-center{margin-bottom:0;}
    @media only screen and (max-width:$tablet-size){display:block; width:auto; height:auto; margin-bottom:0;}
    // background-color:rgba(0,0,0,0.02);
}
.breadcrumb{position:fixed;; top:30px; left:120px; z-index:110; transition: all 1s;
    $this:&;
    &.type-1depth{
        #{$this}__depth1{color:$black1; font-weight:$light;}
    }
    &.type-vertical{top:0; left:0; right:0; padding:30px 120px; background-color:#fff;}
    &.is-hide,&.is-video{left:-500px;}
    &.is-hide-vertical{top:-100px;}
    &__home,&__depth1{display:inline-block; margin:0; color:$black4;}
    &__home{
        & + #{$this}__depth1{
            &:before{position: relative; top:-1px; display:inline-block; width:5px; height:9px; background:url('../images/common/breadcrumb_icon.png') no-repeat center center / contain; margin:0 5px; content:'';}
        }
    }
    &__scroll{display:inline-block;}
    &__list{display:inline-block; margin:0; padding:0; font-size:0;
        &:before{position: relative; top:-1px; display:inline-block; width:5px; height:9px; background:url('../images/common/breadcrumb_icon.png') no-repeat center center / contain; margin:0 5px; content:'';}
    }
    &__item{display:none; color:$black1; font-weight:$light;
        &.is-active{display:inline-block;}
    }
    &__link{display:inline; color:inherit; text-decoration:none;}
    @media only screen and (max-width:$tablet-size){position:static; top:auto; left:auto; background-color:#fff;
        &__home,&__depth1{display:none;}
        &__scroll{display:block; padding-bottom:0;overflow-x: auto;overflow-y: hidden;-webkit-overflow-scrolling: touch;  border-bottom:1px solid #ddd;}
        &__list{overflow:visible; white-space: nowrap;
            &:before{display:none;}
        }
        &__item{display:inline-block; color:$gray2;
            &:first-child{padding-left:40px;}
            &:last-child{padding-right:40px;}
            & + &{margin-left:24px;}
            &.is-active{color:$point2; font-weight:$medium;
                #{$this}__link{position:relative;
                    &:after{position:absolute; left:0; bottom:0; width:100%; height:0; border-bottom:3px solid $point2; content:'';}
                }
            }
        }
        &__link{display:block; padding:16px 0;}
        &.type-one{display:block !important}
        &.type-vertical{top:auto; left:auto; right:auto; padding:0;}
    }
    @media only screen and (max-width:$mobile-size){
        &__item{
            &:first-child{padding-left:20px;}
            &:last-child{padding-right:20px;}
            & + &{margin-left:18px;}
        }
        &__link{padding:12px 0;}
    }
    @media only screen and (max-height:800px){
        &.type-one{display:none;}
    }
}

.content-section1{width:1600px; margin-left:80px; box-sizing:border-box;
    @media only screen and (max-width:$tablet-size){width:100%; margin-left:0;}
}
.section-left{margin-left:80px;
    @media only screen and (max-width:$tablet-size){margin-left:0;}
}
.section-top{padding-top:160px; box-sizing:border-box;
    @media only screen and (max-width:$tablet-size){padding-top:0;}
}
.content-box{display:inline-block; width:420px; vertical-align: top; height:100%; white-space:normal; box-sizing:border-box;
    $this:&;
    &.type-inner{height:auto;}
    &.type-layer{position:absolute; top:0; right:80px;
        #{$this}__list{padding-top:80px; box-sizing:border-box;}
    }
    &.type-wide{width:520px;}
    &.type-slim{width:320px;}
    &.type-top{padding-top:200px;}
    &__list{margin:0; padding:0;}
    &__item{position:relative; padding:14px 0 0 170px; list-style:none; box-sizing:border-box;
        @for $i from 1 through 9{
            &.nth-#{$i}{
                #{$this}__num:before{content:'0'+$i+'';}
            }
        }
        & + &{margin-top:30px;}
    }
    &__box{position:absolute; left:0; top:0; }
    &__num{position:relative; display:inline-block; min-width:154px; padding:14px 20px 14px 50px; box-sizing:border-box; list-style:none; border-radius:24px;
        &:before{position: absolute;left: 20px;top: 10px;font-size: 20px;font-style: italic;font-weight: $light; content:'';}
    }
    &__txt{line-height:1.78; color:$black4;}
    @media only screen and (max-width:$tablet-size){display:block; width:auto; height:auto;
        &.type-detail{margin-top:100px;
            &.type-top{padding-top:0;}
        }
        &.type-wide{width:auto;}
        &.type-slim{width:auto;}
        &.type-layer{position:static; top:auto; right:auto;
            #{$this}__list{padding-top:40px; box-sizing:border-box;}
        }
        &__num{min-width:260px;}
        &__item{padding-left:280px;}
    }
    @media only screen and (max-width:$mobile-size){
        &.type-detail{margin-top:50px;}
        &__box{position:static; left:auto; top:auto; }
        &__num{min-width:0; width:100%; padding:12px 15px 12px 42px; border-radius:10px;
            &:before{left: 15px;top: 9px;font-size: 1.6rem;}
        }
        &__item{padding:0;}
        &__txt{margin-top:12px; padding-left:42px;}
    }
}
.visual{
    &__wrap{padding:80px 120px; box-sizing:border-box;}
    &__subtit{margin-bottom:12px; color:$black1;}
    &__hash{margin-top:30px; font-weight:$regular;}
    &__list{margin:80px 0 0 0; padding:0;}
    &__item{position:relative; padding-left:80px; list-style:none; box-sizing:border-box;
        &:before{position:absolute; top:0; bottom:0; left:0; display:block; width:60px; height:60px; margin:auto 0;  border-radius: 50%; content:'';}
        & + &{margin-top:38px;}
    }
    &__subject{color:$black4; font-weight:$medium;}
    &__txt{color:$black1; font-weight:$light;}
    &__img{display:none;}
    &__header{overflow:hidden; width:0; height:0; text-indent:-9999px;}
    @media only screen and (max-width:$tablet-size){
        &__wrap{padding:0;}
        &__outer{position:relative; width:100%; height:0; padding-bottom:113.54%;}
        &__inner{position:absolute; top:0; left:0; width:100%; height:100%; padding:100px 40px 0; box-sizing:border-box;}
        &__box{padding-right:50%; box-sizing:border-box; white-space:normal}
        &__header{width:auto; height:auto; padding:12px; color:#fff;  text-align:center; text-indent:0;}
        &__list{margin:0; padding:10px 40px; box-sizing:border-box; background-color:#fff;}
        &__img{display:block;}
        &__item{display:inline-block; width:50%; padding-top:20px; padding-bottom:20px; box-sizing:border-box; vertical-align:top;
            &:before{top:10px; bottom:auto;}
            & + &{margin-top:0px;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__inner{padding:50px 20px 0; box-sizing:border-box;}
        &__header{padding:8px;}
        &__subtit{margin-bottom:6px;}
        &__hash{margin-top:20px;}
        &__span{display:block;
            & + &{margin-top:2px;}
        }
        &__list{padding:4px 20px;}
        &__item{display:block; width:100%; padding:12px 0 12px 54px;
            &:before{top:0; bottom:0; left:5px; width:35px; height:35px; margin:auto 0;}
        }
    }
}

.content-secton1{padding:0 200px; background-color:#fff;}
.content-secton2{background-color:#fff;}

.content-floor{position:relative; display:inline-block; width:740px; height:100%;  vertical-align: top;
    &__list{position:absolute; top:80px; right:0; margin:0; padding:0;
        &:after{display:block; clear:both; content:'';}
    }
    &__item{position:relative; float:left; list-style:none; text-align:center;
        & + &{clear:both; margin-top:24px;}
        @for $i from 1 through 6{
            &:nth-child(#{$i+1}){margin-left:50px * $i}
        }
    }
    &__box{padding:14px 20px 14px 50px; box-sizing:border-box; border-radius:22px; white-space:normal; text-align:left;}
    &__num{position:absolute; top:10px; left:20px; font-style:italic;}
    &__txt{font-weight:$regular;}
    &__img{display:none;}
    &__noti{display:inline-block; width:240px; margin-top:36px; text-align:left; font-weight:$light; color:$black4;}

    @media only screen and (max-width:$tablet-size){display:block; width:auto !important; height:auto; background:none !important;
        &__list{position:static;
            &.type-mt{margin-top:70px;}
        }
        &__item{width:100%;
            & + &{margin-left:0 !important;}
        }
        &__box{width:100%;}
        &__img{display:block; margin-top:70px; padding:0 14%;  box-sizing:border-box; text-align:center;
            &.type-bottom{margin-bottom:80px;}
            &.type-wide{padding:0; margin-left:-40px; margin-right:-40px;}
            &.type-zero{padding: 0;}
        }
        &__noti{width:100%;}
    }
    @media only screen and (max-width:$mobile-size){
        &__box{padding:12px 15px 12px 42px; border-radius: 10px;}
        &__img{margin-top:36px; padding:0;
            &.type-bottom{margin-bottom:40px;}
            &.type-wide{margin-left:-20px; margin-right:-20px;}
        }
        &__num{top:9px; left:15px;}
        &__list{
            &.type-mt{margin-top:35px;}
        }
        &__item{width:100%;
            & + &{margin-top:10px;}
        }
        &__num{margin-right: 12px;}
    }
}

.pick-scroll{height:100%;
    $this:&;
    &.type-three{
        #{$this}__area{width:900px;}
        #{$this}__item{width:33.33%;}
    }
    &__wrap{position:relative;}
    &__list{overflow:hidden; margin:0 -15px; padding:0; box-sizing:border-box; white-space:nowrap;}
    &__item{display:inline-block; width:25%; margin:0; padding:0 15px; list-style:none; white-space:normal; outline:0; vertical-align:top; box-sizing:border-box;}
    &__txt{position:relative; margin-top:18px; padding-left:30px; font-weight:$light; color:$black1; box-sizing:border-box;}
    &__num{position:absolute; top:-1px; left:0; font-weight:$medium;}
    &__area{position:relative;  margin-top:120px; width:1200px;
        &.type-inner{margin-top:0;}
    }
    &__btn{position:absolute; top:0; bottom:0; width:40px; height:40px; margin:auto 0; opacity:0.6; border-radius:50%; background-color:$woman1 !important;
        &.type-prev{left:-60px; background:url('../images/content/bg_color_prev.png') no-repeat center center;}
        &.type-next{right:-60px; background:url('../images/content/bg_color_next.png') no-repeat center center;}
    }
    &__current{vertical-align:middle;}
    &__total{color:#cdcdcd; vertical-align:middle;}
    &__caption{margin-bottom:30px; font-style:italic;}
    &__noti{margin-top:70px; color:$black4;}
    @media only screen and (max-width:$tablet-size){
        &.type-three{
            #{$this}__area{width:auto;}
            #{$this}__item{width:50%;}
        }
        &__list{overflow:visible; width:auto; margin:0 0 0 -30px; white-space:normal; font-size:0;}
        &__item{width:50%; padding-left:30px; padding-right:0; margin:0; box-sizing:border-box; max-width: none;
            &:nth-child(2) ~ &{margin-top:40px}
        }
        &__area{width:auto; margin:80px 0 0 0; padding:0 48px; box-sizing:border-box;}
        &__btn{display:none;}
        &__caption{margin:0 -48px 36px;}
        &__noti{margin-top:56px;}
    }
    @media only screen and (max-width:$mobile-size){
        &.type-three{
            #{$this}__item{width:100%;}
        }
        &__area{margin:40px 0 0 0; padding:0 30px; box-sizing:border-box;}
        &__list{margin:0;}
        &__item{display:block; width:auto; padding-left:0;
            & + &{margin-top:24px;}
            &:nth-child(2) ~ &{margin-top:24px}
        }
        &__txt{margin-top:10px; padding-left:28px;
            &.type-total{padding-left:30px;}
        }
        &__current{vertical-align:top;}
        &__caption{margin:0 -30px 24px;}
        &__noti{margin-top:30px;}
    }
}


.content-process{width:820px; white-space:normal;
    $this:&;
    &.type-only-img{width: 520px;}
    &__list{position:relative; margin:90px 0 0 0; padding:0 0 0 20px;  font-size:0; box-sizing:border-box;}
    &__item{position:relative; display:inline-block; width:100%; border:1px solid $gray1; list-style:none; box-sizing:border-box; outline:0;}
    &__box{display:inline-block; height:100%; box-sizing:border-box;
        &.type-txt{position:absolute; top:0; bottom:0; left:0; padding:0 100px; width:50%; text-align:center;}
        &.type-img{padding-left:50%;}
        & + &{border-left:1px solid $gray1;}
    }
    &__tit{font-weight:$medium;}
    &__txt{margin-top:10px; font-weight:$light;}
    &__num{color:$black4;}
    &__dot{position: absolute; top:50%; left:0; margin:0; padding:0;  z-index:50; @include vendor('transform','translatey(-50%)');
        li{position:relative; display:block; width:40px; height:40px;
            &.is-bar{
                &:before{animation: processBar 3.5s;}
            }
            &:first-child{
                &:before,&:after{display:none;}
            }
            &:before,&:after{position:absolute; left:0; right:0; top:0px; display:block; height:16px; width:2px; margin:0 auto;  z-index:10; background:$gray1; content:'';}
            &:before{z-index:15;}
            & + li{padding-top:16px;}
        }
        button{width:inherit; height:inherit; padding:0; line-height:40px; border:none; outline:0; border-radius:50%; color:#fff; font-size:20px; cursor:pointer;
            background:$gray1;
            transition: background 0.3s; @include vendor('appearance','none');}
    }
    &__noti{position:relative; margin-top:14px;  padding-left:38px; box-sizing:border-box;
        &:before,&:after{position:absolute; top:0; left:15px; display:block; width:14px; height:20px; content:''; }
        &:before{background:url('../images/content/mouse_click.png') no-repeat center center / contain; z-index:10;
            -webkit-animation-name: flashMouse; animation-name: flashMouse; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-fill-mode: both; animation-fill-mode: both;
               -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite;
        }
        &:after{background:url('../images/content/mouse.png') no-repeat center center / contain; z-index:20;}
    }
    @media only screen and (max-width:$tablet-size){width:auto;
        &__wrap{overflow:hidden;}
        &.type-only-img{width: auto;}

        &__list{margin-top:80px;}
        &__dot{left:6px;
            li{width:30px; height:30px;}
            button{line-height:30px; font-size:18px;}
        }
        &__box{height:auto; width:100%;}
    }
    @media only screen and (max-width:$mobile-size){
        &__num{margin-bottom:5px;}
        &__list{margin-top:40px; padding-left:0;}
        &__box{display:block;
            &.type-txt{position:static; top:auto; bottom:auto; left:auto; padding:0; width:auto; height:200px;}
            &.type-img{padding-left:0;}
            & + &{border-top:1px solid $gray1; border-left:none;}
        }
        &__dot{position: absolute; top:-14px; left:0; display:block; width:100%; @include vendor('transform','translateY(0%)');  font-size:0; text-align:center;
            li{display:inline-block;
                &.is-bar{
                    &:before{animation: processBarM 3.3s;}
                }
                &:before,&:after{left:0; right:auto; bottom:0; height:2px; width:20px; margin:auto 0; }
                & + li{padding:0 0 0 20px;}
            }
            button{width:28px; height:28px; line-height:28px; font-size:1.8rem;}
        }
        &__noti{line-height:1.8;}
    }
}

.content-bullet{position:absolute; left:0; top:30px;
    $this:&;
    &__list{margin:0; padding:0;}
    &__item{position:relative; display:block; width:20px; height:20px; list-style:none; border-radius:50%; background-color:$gray1;
        &:last-child{
            &:before,&:after{display:none;}
        }
        & + &{margin-top:100px;}
        &:before,&:after{position:absolute; left:0; right:0; top:20px; display:block; height:100px; width:2px; margin:0 auto;  z-index:10; background:$gray1; content:'';}
        &:before{z-index:15;}
        &.is-active{
            &:before{animation: bulletBar 2.7s;}
        }
    }
    @media only screen and (max-width:$mobile-size){display:none;}
}
.content-year{display:inline-block; height:100%; margin-left: 140px;box-sizing:border-box; vertical-align:top;
    $this:&;
    &__wrap{position:relative; display:inline-block; padding-left:60px; box-sizing:border-box; vertical-align:top;}
    &__img{width:132px;}
    &__list{margin:0; padding:0;}
    &__tit{font-weight:$medium;}
    &__item{position:relative; top:-80px; opacity:0; width:420px; list-style:none; transition:all 0.8s;
        &:first-child{top:0; opacity:1;}
        &.is-active{top:0; opacity:1;}
        & + &{margin-top:20px;}
    }
    &__box{position:absolute; top:50%; right:0; width:100%; padding-left:152px; box-sizing:border-box; @include vendor('transform','translateY(-50%)'); box-sizing:border-box;}
    &__noti{position:relative; top:-80px; opacity:0; margin-top:20px; padding-left:16px; color:$gray2; transition:all 0.8s; box-sizing:border-box;
        &:before{position:absolute; top:0; left:0; content:'※'}
        &.is-active{top:0; opacity:1;}
    }
    @media only screen and (max-width:$tablet-size){position:relative; display:block; height:auto; margin-left: 0;padding-left:180px; margin-top:110px;}
    @media only screen and (max-width:$mobile-size){padding-left:0; margin-top:40px;
        &__wrap{display:block; padding-left:0px;}
        &__item{width:auto; top:0; opacity: 1;
            & + &{margin-top:15px;}
        }
        &__img{width:100px;}
        &__box{padding-left:120px;}
        &__noti{top:0; opacity:1; margin-top:10px; padding-left:14px; line-height:1.5;}
    }
}
.hair-one{position:relative; width:125px; height:518px; margin:0; padding:0;
    &__item{position:absolute; left:0; bottom:0; opacity:0; list-style:none; transition: all 1s;
        &:first-child,&.is-active{opacity: 1; bottom:0;}
        &:nth-child(1){z-index:1;}
        &:nth-child(2){z-index:2; }
        &:nth-child(3){z-index:3;}
        &:nth-child(4){z-index:4;}
    }
}
@keyframes processBar{
    0%{height:0;}
    100%{height:16px;}
}

@keyframes processBarM{
    0%{width:0;}
    100%{width:20px;}
}
@keyframes bulletBar{
    0%{height:0;}
    100%{height:100px;}
}


.content-vertical{padding-top:110px;}

.txt-down,.txt-up{position:relative; display:inline-block;
    &:after{display:inline-block; width:9px; height:12px; margin:0 3px; content:'';}
    @media only screen and (max-width:$tablet-size){
        &:after{display:inline-block; width:9px; height:11px; margin:0 2px; content:'';}
    }
}
.txt-down:after{background:url('../images/common/down_icon.png') no-repeat center center /contain;
    @media only screen and (max-width:$tablet-size){background:url('../images/common/down_icon_m.png') no-repeat center center /contain;}
}
.txt-up:after{background:url('../images/common/up_icon.png') no-repeat center center /contain;
    @media only screen and (max-width:$tablet-size){background:url('../images/common/up_icon_m.png') no-repeat center center /contain;}
}

.one-section{height:100%; margin-left:80px; padding:0 200px 0 80px; box-sizing:border-box;
    @media only screen and (max-width:$tablet-size){height:auto; margin:0; padding:40px 40px 0;}
    @media only screen and (max-width:$mobile-size){margin:0; padding:40px 20px 0;}
}


.content-table{display:inline-block; height:100%; vertical-align:top; font-size:0;
    $this:&;
    &__area{height:100%;}
    &__list{display:inline-block; margin:0; padding:0; width:350px; vertical-align:top;
        &.type-category{width:150px;
            #{$this}__item{ background-color:$gray1;
                &:first-child{border-left:none; background-color:transparent;}
                &:nth-child(even){background-color:#ffe3dd;}
                &:nth-child(2){border-radius:8px 0 0 0;}
            }
        }
        & + &{
            #{$this}__item.type-header{
                &:before{position:absolute; top:0; left:-1px; bottom:0; height:100%; width:0; border-left:1px solid #fff; content:'';}
            }
        }
    }
    &__item{width:100%; height:60px; list-style:none; text-align:center; border:1px solid #ddd; box-sizing:border-box; border-left:none;
        &.type-header{position:relative; height:50px; background:$point2; border-radius:8px 8px 0 0; border:none; color:#fff; font-weight:$medium;}
        &:nth-child(1) ~ &{border-top:none;}
        &.type-blank{overflow:hidden; text-indent:-9999px;}
        &.type-img{height:190px;}
        &:after{clear:both; display:block; content:'';}
    }
    &__header{display:none;}
    &__body{height:inherit;}
    &__num{position:relative; top:-6px;}
    &__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
    &__img{overflow:hidden; height:100%; background-color:#fff;}
    @media only screen and (max-width:$tablet-size){position:relative; width:100%; margin-top:100px; padding:0 90px; box-sizing:border-box;
        &__header{float:left; display:inline-block; width:150px; height:inherit;}
        &__body{padding-left:150px;  box-sizing:border-box;}
        &__slide{overflow:hidden;}
        &__list{width:auto;
            &.type-category{display:none;}
            & + &{
                #{$this}__item.type-header{
                    &:before{display:none;}
                }
            }
        }
        &__item{border-left:1px solid #ddd;
            #{$this}__header{background-color:$gray1;}
            &:nth-child(even){
                #{$this}__header{background-color:#ffe3dd;}
            }
            &.type-img{height:auto;}
        }
    }
    @media only screen and (max-width:$mobile-size){margin-top:50px; padding:0;
        &__header{width:80px;}
        &__body{padding-left:80px;}
        &__item{
            &.type-header{height:46px}
        }
    }
}

.table-control{display:none;
    @media only screen and (max-width:$tablet-size){display:block;
        &__btn{position:absolute; top:0; bottom:0; margin:auto 0; overflow:hidden; display:block; width:60px; height:60px; text-indent:-9999px; border:none; outline:0; cursor:pointer;
            &.type-prev{left:0; background:url('../images/common/table_prev.png') no-repeat center center / contain;}
            &.type-next{right:0; background:url('../images/common/table_next.png') no-repeat center center / contain;}
        }
    }
    @media only screen and (max-width:$mobile-size){position:absolute; top:0; left:0; width:100%;
        &__wrap{position:relative; width:100%; padding-bottom:68.75%; margin-top:50px;}
        &__btn{width:45px; height:45px;
            &.type-prev{left:10px;}
            &.type-next{right:10px;}
        }
    }
}

.circle-graph{position: absolute;top: 0;right: 0;text-align: center;
    &__wrap{position: relative;width: 240px;height: 240px;transform: rotateZ(0);
        &:before{content: '';position: absolute;bottom: 0;left: 0;width: 258px;height: 258px;z-index: -1;}
    }
    &__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}
    &__txt{display: block;margin-top: 10px;font-weight: $regular;}
    &__num{display: block;margin-top: 12px;}
    &__refer{margin-top: 18px;color: $black4;}

    @media only screen and (max-width:$tablet-size){

    }
    @media only screen and (max-width:$mobile-size){
        &__wrap{width: 146px;height: 146px;
            &:before{top: -8px;left: -4px;width: 156px;height: 156px;}
        }
        &__txt{margin-top: 4px;}
        &__refer{margin-top: 10px;}
    }
}

.box-style1{
    $this:&;
    &__box{position:relative; display:inline-block;  border:1px solid $black1; border-radius:8px; vertical-align: top;
        & + &{margin-left:100px;}
        &.type-after{border-color:$point2;
            #{$this}__tit{color:$point2;}
            #{$this}__icon:before{background-color:$point2;}
        }
    }
    &__vertical{height:600px; padding:60px; vertical-align:middle; box-sizing:border-box;}
    &__tit{position:absolute; top:-18px; left:18px; display:block; padding-right:25px; background-color:#fff; box-sizing:border-box;}
    &__icon{position:relative; display:block; padding-left:60px; box-sizing:border-box;
        &:before{position:absolute; top:0; left:0; bottom:0;  display:block; width:42px; height:42px; margin:auto 0; line-height:42px; background-color:$black1; border-radius:8px;  text-align:center; color:#fff; content:'!'}
        &.type-etc{
            &:before{background:url('../images/common/etc_icon.png') $black1 no-repeat 10px center / 26px 26px; content:'';}
        }
        &.type-etc2{
            &:before{background:url('../images/common/etc_icon2.png') $black1 no-repeat 10px center / 26px 26px; content:'';}
        }
        &.type-cookie{
            &:before{background:url('../images/common/cookie_icon.png') $black1 no-repeat center center / 26px 26px; content:'';}
        }
    }
    @media only screen and (max-width:$tablet-size){
        &__vertical{height:auto; padding:60px 40px;}
        &__box{
            & + &{margin:80px 0 0 0;}
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__tit{top:-16px; left:16px; padding-right:20px;
            &.type-cookie{top:-28px;}
        }
        &__vertical{padding:44px 20px;}
        &__box{
            & + &{margin-top:50px;}
        }
        &__icon{padding-left:42px;
            &:before{width:28px; height:28px; line-height:28px; border-radius:4px;}
            &.type-etc{
                &:before{background:url('../images/common/etc_icon.png') $black1 no-repeat 7px center / 17px 17px; content:'';}
            }
            &.type-etc2{
                &:before{background:url('../images/common/etc_icon2.png') $black1 no-repeat 7px center / 17px 17px; content:'';}
            }
            &.type-cookie{
                &:before{background:url('../images/common/cookie_icon.png') $black1 no-repeat center center / 17px 17px; content:'';}
            }
        }
    }
}


.js-scroll-motion{opacity: 0; transform: translateX(200px); transition: all 0.5s;
    &.is-active{opacity: 1;transform: translateX(0); }
    &.type-delay{transition-delay:0.3s;}
    &.type-delay2{transition-delay:0.5s;}
    &.type-delay3{transition-delay:0.7s;}
    &.type-delay4{transition-delay:0.9s;}
    &.type-zigzag{transform: translateX(0);
        li{opacity:0; transform: translateX(200px); transition: all 0.5s; }
        &.is-active{
            li{opacity: 1;transform: translateX(0);
                &.type-delay{transition-delay:0.3s;}
                &.type-delay2{transition-delay:0.5s;}
                &.type-delay3{transition-delay:0.7s;}
                &.type-delay4{transition-delay:0.9s;}
            }
        }
    }
    @media only screen and (max-width:$tablet-size){transform: translateX(0) translateY(100px);
        &.is-active{opacity: 1;transform: translateX(0) translateY(0); }
        &.type-delay{transition-delay:0s;}
        &.type-zigzag{transform: translateX(0);
            li{opacity:0; transform: translateX(0) translateY(100px); transition: all 0.5s; }
            &.is-active{
                li{opacity: 1;transform: translateX(0) translateY(0);
                    &.type-delay{transition-delay:0.3s;}
                    &.type-delay2{transition-delay:0.5s;}
                    &.type-delay3{transition-delay:0.7s;}
                    &.type-delay4{transition-delay:0.9s;}
                }
            }
        }
    }
}

@-webkit-keyframes flashMouse {
  from,
  50%,
  to {
    opacity: 0.6;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flashMouse {
  from,
  50%,
  to {
    opacity: 0.6;
  }

  25%,
  75% {
    opacity: 0;
  }
}
.horizontal-section{
    &.type-visual{
        &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:#fff; z-index:-1; content:'';}
    }
    @media only screen and (max-width:$tablet-size){
        &.type-visual{
            &:before{display:none;}
        }
    }
}
