@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
html,body{background-color:#fff !important;}
.init-info{text-align:center;
    $this:&;
    &__outer{display:inline-table; width:100%; height:100%;}
    &__inner{margin-top:100px; vertical-align:middle;}
    &__tit{position:relative; font-weight:$medium;
        &:before{display:block; width:144px; height:50px; margin:0 auto 50px; background:url('../images/common/logo_browser.svg') no-repeat center center / contain; content:'';}
    }
    &__subtit{margin-top:34px; font-weight:$medium;}
    &__txt{margin-top:30px; font-weight:$light; color:$black4; line-height:2;
        strong{font-weight:$regular;}
    }
    &__list{margin:50px 0 0 0; padding:0; font-size:0;
        & + #{$this}__txt{margin-top:50px;}
    }
    &__item{display:inline-block; list-style:none; vertical-align:top;
        & + &{margin-left:26px;}
        &.type-ie{
            #{$this}__link{
                &:before{background-position-y:-62px}
            }
        }
        &.type-chrome{
            #{$this}__link{
                &:before{background-position-y:-124px}
            }
        }
        &.type-safari{
            #{$this}__link{
                &:before{background-position-y:-186px}
            }
        }
        &.type-whale{
            #{$this}__link{
                &:before{background-position-y:0;}
            }
        }
        &.type-firefox{
            #{$this}__link{
                &:before{background-position-y:-248px}
            }
        }
    }
    &__link{position:relative; display:block; text-decoration:none;
        &:hover{
            #{$this}__after{display:block;}
        }
        &:before{display:block; width:68px; height:62px; margin:0 auto 26px; background:url('../images/common/browser_icon.png') no-repeat center center / 68px 310px; content:'';}
    }
    &__wrap{position:relative; display:block; width:140px; height:34px; border:1px solid $black1; line-height:32px; border-radius:17px; box-sizing:border-box;}
    &__before{color:$black1;}
    &__after{display:none; position:absolute; top:0; left:0; width:100%; height:100%; background-color:$black1; line-height:34px;  border-radius:17px; color:#fff;}
}
