@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
.slide-play{
    &__slide{display:inline-block; padding-top:1px; box-sizing:border-box;}
    &__bottom{position:absolute; bottom:80px; left:60px; padding:0;}
    &__btn{display:inline-block; width:10px; height:12px; margin-left:10px; margin-top:1px; background:url('../images/common/play_btn.png') no-repeat center center /contain; vertical-align:top; cursor:pointer; box-sizing:border-box;
        &.is-pause{background:url('../images/common/pause_btn.png') no-repeat center center /cover;}
    }
    @media only screen and (max-width:$minpc-size1){
        &__bottom{bottom:40px;}
    }
    @media only screen and (max-width:$tablet-size){
        &__bottom{bottom:80px; left:40px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__bottom{bottom:40px; left:20px;}
    }
}

.main{
    &__wrap{font-size:0;}
    &__box{position:absolute; top:50px; left:50px; width:200px; height:200px; font-size:20px; background:gray; font-weight:$bold; text-align:center; transition:all 1s;
        &.is-active{top:200px; left:500px;}
    }
}
.main-wrap{padding:80px 60px; box-sizing:border-box;
    &.type-small{padding:40px 60px;}
    @media only screen and (max-width:$minpc-size1){padding:40px 60px;}
    @media only screen and (max-width:$tablet-size){padding:80px 40px;
        &.type-small{padding:80px 40px;}
    }
    @media only screen and (max-width:$mobile-size){padding:40px 20px;
        &.type-small{padding:40px 20px;}
    }
}
.main-section{
    &__tit{margin-bottom:10px;}
    &__txt{margin-top:24px;}
    @media only screen and (max-width:$mobile-size){
        &__tit{margin-bottom:14px;}
        &__txt{margin-top:14px;}
    }
}
.main-video{overflow:hidden; position:relative; display:inline-block; width:calc(100% - 660px); height:100vh; background:url('../images/main/video_bg.jpg') no-repeat center center / cover;
    $this:&;
    &.type-ie{
        #{$this}__video{position:absolute; left:50%; width:auto; height:100%; margin-left:-590px;
            &.is-wide{top:50%; left:0;  width:100%; height:auto;}
        }
    }
    &__video{width:100%; height:100%; object-fit: cover;}
    &__outer{display:inline-table; width:100%; height:100%;}
    &__inner{display:table-cell; height:100%; vertical-align:middle; text-align:center;}
    &__wrap{position:absolute; top:0; left:0; width:100%; height:100%; z-index:10;}
    &__subject{color:#fff; opacity:0;}
    &__btn{margin-top:80px;}
    &__tit{position:relative; display:inline-block; width:480px; height:76px; margin-top:20px;}
    &__spelling{position:absolute; top:0; left:0; width:100%; vertical-align:middle; opacity:0;}
    @media only screen and (max-width:$tablet-size){width:100%;
        &.type-ie{height:auto; padding-bottom:79.36%;}
        // &__wrap{width:auto; height:auto; top:auto; left:40px; bottom:120px; padding:0;}

    }
    @media only screen and (max-width:$mobile-size){
        &.type-ie{padding-bottom:130%;}
        &__tit{width:203px; height:92px; margin-top:16px;}
        // &__wrap{left:20px; bottom:60px; padding:0;}
        &__btn{margin-top:40px;}
    }
}
.main-woman{display:block; width:100%; height:100vh; background:url('../images/main/banner_img_1.jpg') no-repeat center center / cover;
    &__subject{margin-top:10px;}
    &__txt{margin-top:24px;}
    &__wrap{padding:21% 60px;}
    &__btn{margin-top:80px;}
    @media only screen and (max-width:$tablet-size){width:100%; height:0; padding-bottom: 114.73%; background:url('../images/main/banner_img_1_t.jpg') no-repeat right bottom / cover;
        &__wrap{padding:80px 40px;}
    }
    @media only screen and (max-width:$mobile-size){padding-bottom: 134.72%; background:url('../images/main/banner_img_1_m.jpg') no-repeat right bottom / cover;
        &__wrap{padding:40px 20px;}
        &__btn{margin-top:40px;}
    }
}


.main-horizontal{
    &__box1{display:inline-block; width:660px; height:100vh; vertical-align:top;}
    @media only screen and (max-width:$tablet-size){
        &__box1{display:block; width:100%; height:auto;}
    }
}

.main-banner{overflow:hidden; position:relative; display:block; width:660px; height:calc(100% - 350px);
    &__list{display:block; width:100%; height:100%; margin:0; padding:0;}
    &__item{position:relative; display:inline-block; width:100%; height:100%; list-style:none; color:#fff; outline:0;}
    &__wrap{position:absolute; top:0; left:0; width:100%; height:100%; box-sizing:border-box;}
    &__subject{margin-top:10px;}
    &__txt{margin-top:24px;}
    &__link{margin-top:60px; color:$black1; font-weight:$bold;}
    &__img{height:100%;}
    @media only screen and (max-width:$tablet-size){width:100%; height:auto;
        &__wrap{}
        &__link{margin-top:30px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__wrap{}
    }
}

.main-location{display:block; height:350px; background:#fff;
    // &__wrap{padding:40px 60px; box-sizing:border-box;}
    &__tit{margin-bottom:6px; color:$black4;}
    &__dl{margin:0px 0 0 0; padding:0;
        & + &{margin-top:0px;}
    }
    &__dt{display:inline-block; min-width:46px; font-weight:$medium; vertical-align:middle;}
    &__dd{display:inline-block; margin-left:14px; font-weight:$medium; vertical-align:middle;}
    &__tel{color:$point2; font-weight:$medium;}
    &__box{position: relative;
        & + &{margin-top:12px;}
        &:last-child{margin-top:34px;}
    }
    &__noti{color:$gray2; font-weight:$light;}
    @media only screen and (max-width:$tablet-size){height:auto;
        &__wrap{padding:80px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__tit{margin-bottom:4px;}
        &__wrap{padding:40px;}
        &__box{
            &:last-child{margin-top:24px;}
        }
    }
}
.main-section2{width:1180px; background:$gray1;
    @media only screen and (max-width:$tablet-size){display:block; width:auto;}
}
.main-section3{width:1040px;
    @media only screen and (max-width:$tablet-size){display:block; width:auto;}
}
.main-section4{width:840px;
    @media only screen and (max-width:$tablet-size){display:block; width:auto;}
}
.main-section5{width:968px;
    @media only screen and (max-width:$tablet-size){display:block; width:auto;}
}
.main-content{position:relative; overflow:hidden; width:100%; height:48.6%;  color:#fff;
    &__list{margin:0; padding:0; height:100%;
        .slick-list, .slick-track{height:100% !important;}
    }
    &__item{display:inline-block; list-style:none; height:100%; box-sizing:border-box;
        &.nth-1{background:url('../images/main/main_content_bg1.jpg') no-repeat center center / cover;}
    }
    &__txt{margin-top:24px;}
    &__link{margin-top:60px;}
    @media only screen and (max-width:$tablet-size){height:0; padding-bottom:57.73%;
        &__list{position:absolute; top:0; left:0; width:100%;}
        &__item{background-size:cover !important;}
    }
    @media only screen and (max-width:$mobile-size){padding-bottom:72%;
        &__item{
            &.nth-1{background:url('../images/main/main_content_bg1_m.jpg') no-repeat center center;}
        }
        &__txt{margin-top:16px;}
        &__link{margin-top:30px;}
    }
}
.main-info{width:100%; height:51.4%; background-color:#837b6e; box-sizing:border-box;
    $this:&;
    &__unit{display:inline-block; font-style:normal; color:$gray1; opacity: 0.6;}
    &__dl{color:$gray1;
        & + &{margin-top:34px;}
        &:nth-child(1){
            #{$this}__dt:before{background:url('../images/common/project_icon.svg') no-repeat center center;}
        }
        &:nth-child(2){
            #{$this}__dt:before{background:url('../images/common/doctor_icon.svg') no-repeat center center;}
        }
        &:nth-child(3){
            #{$this}__dt:before{background:url('../images/common/guarantee_icon.svg') no-repeat center center;}
        }
    }
    &__dt{position:relative; display:inline-block; width:100%; max-width:350px; padding-left:76px; box-sizing:border-box; vertical-align:middle; opacity: 0.6;
        &:before{position:absolute; top:0; bottom:0; left:0; display:block; width:42px; height:42px; margin:auto 0; content:'';}
    }
    &__dd{display:inline-block;  font-style:italic; vertical-align:middle;}
    @media only screen and (max-width:$mobile-size){
        &__dl{position:relative; padding-left:60px;
            & + &{margin-top:24px;}
        }
        &__dt{position:static; max-width:100%; padding-left:0;
            &:before{width:32px; height:32px; }
        }
    }
}


.main-detail{position: relative; width:100%; height:calc(100% - 274px);
    @media only screen and (max-width:$tablet-size){height:auto;}
}
.detail-big{position: relative; overflow:hidden; height:100%; width:726px; background-color:#fff;
    &__list{position:relative; width:100%; height:100%; margin:0; padding:0;}
    &__item{position:absolute; opacity:0; width:100%; height:100%; padding:100px 50% 0 60px; list-style:none; box-sizing:border-box; z-index:10; transition:opacity 2.5s;
        &.nth-1{background:url('../images/main/main_detail_big1.jpg') no-repeat left top / cover;}
        &.nth-2{background:url('../images/main/main_detail_big2.jpg') no-repeat left top / cover;}
        &.nth-3{background:url('../images/main/main_detail_big3.jpg') no-repeat left top / cover;}
        &.is-active{opacity: 1; z-index:20;}
    }
    &__wrap{height:100%;}
    &__point{color:$point2;}
    &__border{position:relative; display:inline-block;
        &:after{display: block; width:100%; height:0; border-bottom:1px solid $point2; content:'';}
    }
    &__name{margin-top:10px;}
    &__link{margin-top:60px;
        &.type-hidden{opacity:0; pointer-events:none;}
    }
    &__bottom{position:absolute; bottom:20%;}
    @media only screen and (max-width:$tablet-size){position:relative; width:100%; height:0; padding-bottom:100%;
        &__list{position:absolute; top:0; left:0;}
        &__item{padding:80px 50% 80px 40px;}

    }
    @media only screen and (max-width:$mobile-size){
        &__item{padding:40px 50% 40px 20px;}
        &__bottom{bottom:40px;}
        &__link{margin-top:20px;}
    }
}

.detail-thumbnail{position: absolute; top:0; right:0; overflow:hidden; width:242px; height:100%;
    $this:&;
    &__list{margin:0; padding:0; width:100%; height:inherit; font-size:0; background:#dddddd;}
    &__item{overflow:hidden; position:relative; width:100%; height:33.33%; list-style:none; cursor:pointer;
        &.nth-1{background:url('../images/main/main_detail_small1.jpg') no-repeat center center / cover;}
        &.nth-2{background:url('../images/main/main_detail_small2.jpg') no-repeat center center / cover;}
        &.nth-3{background:url('../images/main/main_detail_small3.jpg') no-repeat center center / cover;}
        &.is-active{
            &:before{position:absolute; top:0; left:0;  width:100%; height:100%;  border:5px solid $point2;  box-sizing:border-box;opacity:0; transition:all 0.3s; content:'';  background-color:rgba(255,133,96,0.4); opacity:1;}
            #{$this}__tit,#{$this}__name{opacity: 1;}
        }
    }
    &__img{position: absolute; top:0; left:0; width:100%; height:100%; z-index:10; transition: transform 0.3s; }
    &__btn{position: absolute; z-index:15; overflow:hidden; display:block; width:100%; height:100%; background:transparent; border:none; outline:0; cursor:pointer; text-indent:-9999px;}
    &__tit{color:#fff; opacity: 0.5;}
    &__name{margin-top:8px; color:#fff; opacity: 0.5;}
    &__outer{display:inline-table; width:100%; height:100%;}
    &__inner{display:table-cell; width:100%; vertical-align:middle; text-align:center;}
    @media only screen and (max-width:$tablet-size){position:static; width:100%; height:auto; font-size:0;
        &__item{position:relative; display:inline-block; width:33.33%; height:auto;}
        &__outer{position:relative; display:block; height:0; padding-bottom:100%;}
        &__inner{position:absolute; top:50%; @include vendor('transform','translateY(-50%)');}
    }
    @media only screen and (max-width:$mobile-size){
        &__item{box-sizing:border-box;
            &.is-active{
                &:before{border-width:3px;}
            }
        }
        &__inner{padding:0 10px; box-sizing:border-box;}
    }
}


.main-slide{height:100%;
    &__box{position:relative; width:100%; height:50%;}
    &__area{position:absolute; right:60px; bottom:60px; background:#fff; z-index:10;}
    &__indicator{position: absolute; left:60px; bottom: 60px; color: #fff; font-family: 'Gill Sans MT', sans-serif; font-size: 11px;  width: 140px; z-index: 9;}
    &__pagination{display: block; margin-top:8px; text-align: left; font-weight:$regular;}
    &__timer{display: block; height: 1px; background: #ffffff; background: rgba(255, 255, 255, 0.5);}
    &__timer-bar{display: block; width: 100%; background: #fff; height: 100%; -webkit-transform:scaleX(0); -ms-transform:scaleX(0); transform:scaleX(0); -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left;}
    @media only screen and (max-width:$tablet-size){
        &__box{height:auto;}
        &__indicator{left:40px; bottom:50px;}
    }
    @media only screen and (max-width:$mobile-size){
        &__area{right:20px; bottom:50px;}
        &__indicator{left:20px; bottom:30px; width:110px;}
    }
}


.main-bg{height:50%;
    $this:&;
    &__list{margin:0; padding:0;}
    &__item{overflow:hidden; list-style:none;
        &.nth-1{
            #{$this}__img{background:url('../images/main/main_slide_1.jpg') no-repeat center center / cover;}
        }
        &.nth-2{
            #{$this}__img{background:url('../images/main/main_slide_2.jpg') no-repeat center center / cover;}
        }
        &.nth-3{
            #{$this}__img{background:url('../images/main/main_slide_3.jpg') no-repeat center center / cover;}
        }
        &.nth-4{
            #{$this}__img{background:url('../images/main/main_slide_4.jpg') no-repeat center center / cover;}
        }
    }
    &__img{display:block; width:100%; height:100%; background-size:cover; background:no-repeat center center;}
    @media only screen and (max-width:$tablet-size){height:500px;}
    @media only screen and (max-width:$mobile-size){height:250px;}
}

.main-txt{
    &__list{width:100%; height:100%; margin:0; padding:0;}
    &__item{position:relative; width:100%; height:100%; padding:100px 60px; list-style:none; box-sizing:border-box;}
    &__txt{margin-top:20px; color:$black4;}
    &__link{position:absolute; bottom:100px;}
    @media only screen and (max-width:$tablet-size){height:460px;
        &__item{padding:80px 40px;}
        &__link{bottom:90px;}
    }
    @media only screen and (max-width:$mobile-size){height:300px;
        &__item{padding:40px 20px;}
        &__txt{margin-top:12px;}
        &__link{bottom:60px;}
    }
}


.main-for{width:100%; height:100%; padding:0 100px; box-sizing:border-box;
    $this:&;
    &__outer{position:relative; display:inline-table; width:100%; height:100%;}
    &__inner{display:table-cell; width:100%; height:100%; vertical-align:middle;}
    &__area{margin-top:46px;}
    &__list{margin:0 0 0 -40px; padding:0; font-size:0;}
    &__item{display:inline-block; width:33.33%; padding-left:40px; box-sizing:border-box; list-style:none; text-align:center;
        &.type-kock{
            #{$this}__box{background-color:#ffde67;}
            #{$this}__category{border-color:#ffc015;}
        }
        &.type-special{
            #{$this}__box{background-color:$point2;}
            #{$this}__category{border-color:$point2; color:$point2;}
        }
    }
    &__box{position:relative; padding:16px 20px 26px; white-space:normal;
        &:after{position:absolute; left:0; right:0; bottom:0; display:block; height:10px; background:rgba(0,0,0,0.2); z-index:10; content:'';}
        #{$this}__inner{height:170px; width:auto; padding:5px 30px; box-sizing:border-box;}
    }
    &__border{border:3px solid #fff; border-bottom:none; box-sizing:border-box;}
    &__header{padding:0 10px; box-sizing:border-box;}
    &__wrap{display:table-cell; width:1%; height:170px; padding:0; vertical-align:middle; text-align:center; box-sizing:border-box;}
    &__name{display:flex; margin-top:8px; padding:0 14px; color:#fff; justify-content: space-between;
        span,i{display:inline-block;}
    }
    &__subject{color:#fff; box-sizing:border-box;}
    &__body{position:relative; overflow:hidden; height:320px;    white-space:normal; text-align:left;
        &:before,&:after{position:absolute; left:0; display:block; width:100%; background-color:#fff; z-index:10; content:'';}
        &:before{top:0; height:20px;}
        &:after{bottom:0; height:30px;}
    }
    &__scroll{padding:36px 30px; background-color:#fff; box-sizing:border-box; transition: margin-top 0.5s;}
    &__category{display:block; width:60px; height:26px; line-height:26px; border:1px solid transparent; font-size:14px; color:#ffc015; text-align:center;}
    &__prod{margin-top:20px; font-weight:$light;}
    &__txt{margin-top:10px; color:$black4;}
    &__price{margin:16px 0 0 0; vertical-align:middle;}
	&__before,&__after{font-weight:$regular;}
	&__before{margin-right:16px; color:$black4; text-decoration: line-through;}
	&__after{color:$point2;}
    &__btn{display:block; height:44px; margin:40px auto 0; min-width:200px; background-color:transparent; cursor:pointer; color:$point2;
        &.is-hover-end{color:$point2;}
    }
    &__link{margin-top:30px;}
    &__page{display:none;}
    @media only screen and (max-width:$tablet-size){overflow:hidden; padding:80px 40px;
        &:after{display:block; clear:both; content:'';}
        &__area{padding:0 25%; box-sizing:border-box;}
        &__outer{display:block;}
        &__inner{display:block;}
        &__list{margin-left:0;}
        &__item{width:auto; padding-left:0; margin:0 20px;
            &.slick-active{
                #{$this}__box{
                    &:before{display:none;}
                }
                #{$this}__body{
                    &:before{display:none;}
                }
            }
        }
        &__body{overflow: visible; height:auto;
            &:before,&:after{display:none;}
        }
        &__box{
            &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:rgba(0,0,0,0.4); content:'';  z-index:20;}
            #{$this}__outer{display:inline-table;}
            #{$this}__inner{display:table-cell;}
        }
        &__body{position:relative;
            &:before{position:absolute; top:0; left:0; display:block; width:100%; height:100%; background:rgba(0,0,0,0.4); content:'';  z-index:20;}
        }
        &__page{float:left; width:80px; height:30px; margin-top:30px;line-height:30px; color:$gray1; background-color:$gray2; text-align:center; border-radius:15px;}
        &__link{float:right;}
    }
    @media only screen and (max-width:$mobile-size){padding:40px 20px;
        &__area{margin-top:30px; padding:0 10%;}
        &__item{margin:0 12px;}
        &__box{padding:15px 15px 25px;
            #{$this}__inner{height:120px; padding:5px 15px;}
        }
        &__border{border-width:2px;}
        &__name{padding:0 10px;}
        &__prod{margin-top:24px;}
        &__wrap{height:120px; padding:5px 15px;}
        &__page{width:50px; height:24px; margin-top:20px;line-height:24px; border-radius:12px;}
        &__scroll{padding:20px;}
        &__link{margin-top:22px;}
        &__btn{margin-top:26px;}
    }
}


.main-number{width:100%; height:274px; background-color:$black2;
    &__inner{display:table-cell; width:1%; height:inherit; vertical-align:middle; text-align:center;}
    &__list{margin:0; padding:0;}
    &__item{position:relative; display:inline-block; color:$black5; list-style:none; box-sizing:border-box;
        & + &{margin-left:64px; padding-left:64px;
            &:before{position:absolute; top:0; left:0; bottom:0; display:block;  width:0; height:60px; margin:auto 0; border-left:1px solid $black5; content:'';}
        }
    }
    &__number{font-style:italic;}
    &__unit{margin-left:12px; font-style: normal;}
    &__tit{margin-top:12px;}
    @media only screen and (max-width:$tablet-size){height:auto; padding:80px 40px; box-sizing:border-box;
        &__inner{display:block; width:auto;}
        &__item{
            & + &{margin-left:5%; padding-left:5%;}
        }
    }
    @media only screen and (max-width:$mobile-size){padding:40px 20px;
        &__item{display:block;
            & + &{margin:24px 0 0 0; padding:24px 0 0 0;
                &:before{top:0; right:0; bottom:0; height:0; width:40px; margin:0 auto; border-left:none; border-top:1px solid $black5;}
            }
        }
    }
}
