@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";

@import "man/manalopecia";
@import "man/manline";
@import "man/head";
@import "man/beard";

.horizontal-scroll{
    &.type-man{
		.horizontal-section{
			&:nth-child(2) ~ .horizontal-section{border-left:1px solid $man2;}
		}
	}
    @media only screen and (max-width:$tablet-size){
        &.type-man{
			.horizontal-section{
				&:nth-child(2) ~ .horizontal-section{border-left:none; border-top:1px solid $man2; }
			}
		}
    }
}

.visual{
    $this:&;
    &.type-man{
        #{$this}__item{
            &.type-leadtime{
                &:before{background:url('../images/man/man_leadtime.png') no-repeat center center / cover;}
            }
            &.type-anesthesia{
                &:before{background:url('../images/man/man_anesthesia.png') no-repeat center center / cover;}
            }
            &.type-hospital{
                &:before{background:url('../images/man/man_hospital.png') no-repeat center center / cover;}
            }
            &.type-recovery{
                &:before{background:url('../images/man/man_recovery.png') no-repeat center center / cover;}
            }
        }
        @media only screen and (max-width:$mobile-size){
            #{$this}__item{
                &.type-leadtime{
                    &:before{background:url('../images/man/man_leadtime_m.png') no-repeat center center / contain;}
                }
                &.type-anesthesia{
                    &:before{background:url('../images/man/man_anesthesia_m.png') no-repeat center center / contain;}
                }
                &.type-hospital{
                    &:before{background:url('../images/man/man_hospital_m.png') no-repeat center center / contain;}
                }
                &.type-recovery{
                    &:before{background:url('../images/man/man_recovery_m.png') no-repeat center center / contain;}
                }
            }
        }
    }
}

.content-floor{
    $this:&;
    &.type-man{
        #{$this}__box{background-color:$man2;}
    }
}

.content{
    $this:&;

    &__line{
        &.type-man{color:$man2;}
    }
}

.content-number{
    $this:&;
    &.type-man{
        #{$this}__img:before{background-color:$man1;}
        #{$this}__subject{color:$man1;}
    }
}

.content-key{
    $this:&;

    &.type-man{
        #{$this}__item{background: $man2;}
        #{$this}__box{
            &.type-num{
                #{$this}__item{
                    &:before{color: $man1;}
                }
            }
        }
    }
}

.content-process{
    $this:&;
    &.type-man{
        #{$this}__tit{color:$man1;}
        #{$this}__dot{
            li{
                &.is-bar:before{ background-color:$man1;}
                &.is-before{
                    button{background:$man1;}
                    &:before{background-color:$man1;}
                }
                &.slick-active{
                    button{background:$man1;}
                }
            }
        }
    }
}

.content-bullet{
    $this:&;
    &.type-man{
        #{$this}__item{
            &:first-child{background:$man1;}
            &.is-active{background:$man1;
                &:before{background-color:$man1;}
            }
        }
    }
}
.content-year{
    $this:&;
    &.type-man{
        #{$this}__tit{color:$man1;}
    }
}

.more-btn{
    $this:&;
    &.type-man{background:$man2; color:$man1;
        #{$this}__plus{
            &:before,&:after{background:$man1;}
        }
    }
}

.content-img{
    $this:&;

    &__item{
        &.type-man{background-color:$man2;
            #{$this}__subject{color:$man1;}
        }
    }
}

.table-v1{
    $this:&;
    &.type-man{
        #{$this}__tr{
            &:first-of-type{
                #{$this}__th:last-of-type{background-color:$man1; color:#fff;}
            }
            &:nth-of-type(odd){
                #{$this}__td:last-of-type{background-color:$man2;}
            }
        }
    }
}
