@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "cookie/cookie";


.browser{display:inline-block; height:100%; margin-left:60px; padding:30px; border-radius:8px; background:$gray1; box-sizing:border-box;
    $this:&;
    &__bg{overflow:hidden; position:absolute; top:0; left:-100%; width:100%; height:100%; background-color:#fff; z-index:-1; border-radius:40px; text-indent:-9999px;}
    &__subject{margin:0 0 30px; font-size:16px; color:#000; font-weight:$regular;}
    &__list{margin:0; padding:0;}
    &__item{overflow:hidden; position:relative; display:inline-block; width:280px; list-style:none; text-align:center; vertical-align:top; transform: translateZ(0);
        &.type-ie{
            #{$this}__wrap{
                &:before{background-position-y:-124px}
            }
        }
        &.type-chrome{
            #{$this}__wrap{
                &:before{background-position-y:-248px}
            }
        }
        &.type-safari{
            #{$this}__wrap{
                &:before{background-position-y:-372px}
            }
        }
        &.type-whale{
            #{$this}__wrap{
                &:before{background-position-y:0;}
            }
        }
        &.type-firefox{
            #{$this}__wrap{
                &:before{background-position-y:-496px}
            }
        }
        &.is-hover{
            // #{$this}__box{background-color:#fff;}
            #{$this}__btn{background-color:$point2; color:#fff;}
            #{$this}__arrow{
                &:after{background:url('../images/common/browser_arrow_hover.png') no-repeat center center / contain;}
            }
        }
        & + &{
            &:before{position:absolute; top:0; bottom:0; left:0; display:block; height:246px; width:0; margin:auto 0; border-left:1px solid #fff; content:'';}
        }
    }
    &__box{display:table-cell; width:1%; height:320px; vertical-align:middle;  border-radius:40px; transition:all 0.3s;}
    &__wrap{
        &:before{display:block; width:136px; height:124px; margin:0 auto 40px; background:url('../images/common/browser_icon.png') no-repeat; content:'';}
    }
    &__btn{width:200px; height:48px; line-height:48px; margin:0 auto; padding:0; border:1px solid $point2; font-size:15px; color:$point2; font-weight:$medium; background:transparent; border-radius:4px; outline:0; transition:all 0.3s;}
    &__arrow{position:relative; display:inline-block; padding-right:20px; box-sizing:border-box;
        &:after{position:absolute; top:21px; right:0; display:block; width:12px; height:8px;  background:url('../images/common/browser_arrow.png') no-repeat center center / contain; content:''; transition:all 0.3s;}
    }
    &__link{overflow:hidden; position:absolute; top:0; left:0; display:block; width:100%; height:100%; z-index:10; text-indent:-9999px;}
    @media only screen and (max-width:$tablet-size){margin:80px 0 0 0;
        &__bg{display:none !important;}
        &__subject{margin:0;}
        &__item{width:auto;
            & + &{
                &:before{position:absolute; top:0; bottom:auto; left:0; right:0; display:block; height:0; width:calc(100% - 80px); margin:0 auto; border-left:none; border-top:1px solid #fff; content:'';}
            }
        }
        &__box{height:auto; padding:70px 90px;}
        &__wrap{position:relative; padding-left:166px; box-sizing:border-box;
            &:before{position:absolute; top:0; bottom:0; left:0; margin:auto 0;}
        }
        &__btn{position:relative; background-color:$point2; color:#fff;}
        &__arrow{
            &:after{background:url('../images/common/browser_arrow_hover.png') no-repeat center center / contain;}
        }
    }
    @media only screen and (max-width:$mobile-size){margin-top:60px; padding:20px; border-radius:6px;
        &__subject{font-size:1.3rem;}
        &__item{
            & + &{
                &:before{width:calc(100% - 40px);}
            }
            &.type-ie{
                #{$this}__wrap{
                    &:before{background-position-y:-62px}
                }
            }
            &.type-chrome{
                #{$this}__wrap{
                    &:before{background-position-y:-124px}
                }
            }
            &.type-safari{
                #{$this}__wrap{
                    &:before{background-position-y:-186px}
                }
            }
            &.type-whale{
                #{$this}__wrap{
                    &:before{background-position-y:0;}
                }
            }
            &.type-firefox{
                #{$this}__wrap{
                    &:before{background-position-y:-248px}
                }
            }
        }
        &__wrap{padding-left:80px;
            &:before{width:68px; height:62px; background:url('../images/common/browser_icon.png') no-repeat top left / 68px 310px; content:'';}
        }
        &__box{padding:30px 22px; border-radius:20px;}
        &__btn{width:126px; height:36px; line-height:36px; font-size:1.2rem; border-radius:6px;}
        &__arrow{padding-right:0;
            &:after{display:none;}
        }
    }
}

.etc{min-width:100vw; padding-left:480px; box-sizing:border-box;
    $this:&;
    &__wrap{height:100%; padding:0 80px; box-sizing:border-box;}
    &__tit{position:relative; display:block; margin:0; padding:8px 30px 8px 60px;  font-size:18px; background-color:#fafafa; font-weight:$regular;  box-sizing:border-box;
        i{position:absolute; left:30px;}
    }
    &__txt{margin:0; font-size:15px; line-height:2; color:$black4;
        & + #{$this}__list2{margin-top:44px;}
    }
    &__subject{margin:44px 0 16px; font-size:16px; color:#000; font-weight:$regular;
        &.type-margin-zero{margin-top:0;}
    }
    &__box{display:inline-block; width:420px; white-space:normal; vertical-align:top;
        & + &{margin-left:60px;}
    }
    &__list{margin:20px 0 0 0; padding:20px 26px; background:$gray1;}
    &__item{position:relative; padding-left:24px; font-size:15px; list-style:none; box-sizing:border-box;
        & + &{margin-top:16px;}
    }
    &__link{display:block; color:inherit; text-decoration:none;}
    &__list2{margin:0; padding:0;}
    &__item2{position:relative; padding-left:14px; font-size:15px; list-style:none; box-sizing:border-box; line-height:1.7; color:$black4;
        &:before{position:absolute; top:0; left:0; content:'·'}
        & + &{margin-top:10px;}
    }
    &__noti{position:relative; margin:40px 0 0 0; padding-left:14px; font-size:15px; list-style:none; box-sizing:border-box; line-height:1.7; color:#000;
        &:before{position:absolute; top:0; left:0; content:'※'}
    }
    &__num{position:absolute; top:0; left:0;}
    &__outer{display:inline-block; height:100%; margin-left:60px; border-left:1px solid #dddddd; vertical-align:top;
        &.type-margin-zero{margin:0;}
    }
    &__inner{padding:30px 0 0 60px; box-sizing:border-box;}
    &__cookie{display:inline-block; height:100%;vertical-align: top;
        #{$this}__inner{padding-top:0;}
        #{$this}__outer{
            &:first-of-type{margin:0; border:none;
                #{$this}__inner{padding-left:0;}
            }
        }
        #{$this}__item2{
            & + #{$this}__item2{margin-top:50px;}
        }
    }
    @media only screen and (max-width:$tablet-size){padding-left:0; min-width:0;
        &__tit{text-align:center; padding-left:30px;
            i{position:static; left:auto;}
        }
        &__wrap{padding:60px 40px 0;}
        &__box{display:block; width:auto;
            & + &{margin-left:0;}
            &.type-margin-t{margin-top:44px;}
        }
        &__outer{margin:80px 0 0 0; border-left:none; border-top:1px solid #ddd;}
        &__inner{padding-left:0;}
        &__cookie{
            #{$this}__outer{
                &:first-of-type{
                    #{$this}__inner{padding-left:0;}
                }
                & + #{$this}__outer{padding-top:80px;}
            }
        }
    }
    @media only screen and (max-width:$mobile-size){
        &__wrap{padding:30px 20px 0;}
        &__tit{padding:12px 10px; font-size:1.5rem;}
        &__subject{margin:36px 0 14px; font-size:1.3rem;}
        &__box{
            &.type-margin-t{margin-top:30px;}
        }
        &__outer{margin:60px 0 0 0;}
        &__list{padding:20px;}
        &__item{font-size:1.2rem;
            & + &{margin-top:10px;}
        }
        &__item2{font-size:1.2rem;}
        &__txt{font-size:1.2rem;
            & + #{$this}__list2{margin-top:36px;}
        }
        &__cookie{display:inline-block; height:100%;vertical-align: top;
            #{$this}__outer{
                & + #{$this}__outer{padding-top:60px;}
            }
        }
    }
}
