@charset "UTF-8";
@import "mixins";
@import "vendor";
/*new상담신청*/
.popup-c{display:none; position:fixed; top:0; left:0; right:0; bottom:0; z-index:150; text-align:center;
	$this:&;
	&.is-active{display:block;}
	&.type-event{
		#{$this}__wrap{width:760px;}
	}
	&:before{position:absolute; z-index:-1; display:block; width:100%; height:100%; background-color:rgba(0,0,0,0.7); content:'';}
	&:after{display:inline-block; height:100%; vertical-align:middle; content:'';}
	&__wrap{position:relative; display:inline-block; width:900px; vertical-align:middle; background-color:#fff;}
	&__box{position:relative;}
	&__footer{padding:0 50px;  text-align:left;
		&:after{display:block; clear:both; content:'';}
	}
	&__dl{position:relative; font-size:0;
		& + &{margin-top:6px;}
	}
	&__dt{display:inline-block; font-size:14px; font-weight:$light;; color:#777;
		span{
			&:first-child{float:left;}
			&:last-child{float:right;}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__dd{position:relative; display:inline-block; margin-left:6px; font-size:16px; font-weight:$medium;}
	&__number{font-family: 'Roboto', sans-serif;}
	&__terms{ position:absolute; bottom:0; opacity:0; width:100%; height:100%; background:#fff; z-index:-1; transition:all 0.3s;
		&.is-active{display:block; opacity:1; z-index:10;}
	}
	&__info{margin-top:40px; padding-top:20px; border-top:1px solid #ddd; box-sizing:border-box; text-align:left;
		&:after{display:block; clear:both; content:'';}
	}
	&__close{position:absolute; top:0px; right:-50px; overflow:hidden; display:block; width:38px; height:38px; background:url('../images/common/consultaion/popup_close.png'); text-indent:-9999px;}
	&__tit{font-size:32px; font-weight:$medium;}
	&__header{padding:50px 60px 0; box-sizing:border-box;}
	&__subject{position:relative; padding-left:60px; box-sizing:border-box; margin:0 0 36px; font-size:16px; font-weight:$light; text-align:left;
		&:before{position:absolute; top:0; left:-20px; display:block; width:66px; height:72px; background:url('../images/common/consultaion/event_counsel_icon.png') no-repeat center center / contain; content:'';}
	}
	&__point{display:block; font-size:40px; font-weight:$medium;}
	&__detail{margin-top:10px; padding-top:10px; border-top:1px solid #ddd;text-align: center;}
	&__area{position:relative;}
	&__noti{margin:8px 0 0 0; font-size:12px; color:$gray2;
		& + &{margin-top:2px;}
	}
	@media only screen and (max-width:$tablet-size){
		&.type-event{
			#{$this}__wrap{width:100%;}
			#{$this}__scroll{padding-top:0;}
			#{$this}__box{padding-top:0;}
			#{$this}__terms{top:122px;}
		}
		&__tit{font-size:2.4rem;}
		&__scroll{height:100%; padding:80px 0 0; box-sizing:border-box;}
		&__footer{padding:0;}
		&__wrap{width:100%; height:100%;}
		&__box{position:static; overflow:auto; padding:50px 30px 0; height:100%; box-sizing:border-box;}
		&__terms{position:fixed; top:80px; left:0; height:calc(100% - 80px;)}
		&__close{position:fixed; top:auto; right:0; bottom:0; z-index:110; width:100%; height:70px; line-height:70px; background-image:none; background-color:#151515; font-size:20px; color:#fff; text-indent:0; text-decoration:none;}
		&__dl{float:none; display:block;  position:relative;}
		&__info{margin-top:30px; padding-top:20px; }
		&__header{padding:50px 0 0;}
		&__subject{padding-left:84px;
			&:before{left:0;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-event{
			#{$this}__terms{top:100px;}
		}
		&__scroll{padding-top:50px;}
		&__box{ padding:30px 15px 0;
			&.no-scroll{position:fixed; left:0; right:0; overflow:hidden;}
		}
		&__dt{font-size:1.4rem;}
		&__dd{font-size:1.4rem;}
		&__terms{top:50px; height:calc(100% - 50px;)}
		&__close{height:50px; line-height:50px; font-size:1.8rem;}
		&__header{padding:30px 0 0;}
		&__subject{padding-left:84px; margin-bottom:20px; font-size:1.4rem; line-height:1.4;
			&:before{width:64px; height:71px; background:url("../images/common/consultaion/event_counsel_icon_m.png") no-repeat center center/contain}
		}
		&__noti{font-size:1.2rem;}
		&__point{display:block; font-size:2.3rem; font-weight:$medium;}
	}
}
.popup-radio{margin-top:20px; padding:0 15px; box-sizing:border-box;
    $this:&;
	&__wrap{ padding:0 0 0 110px; text-align:left;}
	&__tit{float:left; margin:0; box-sizing:border-box; font-size:14px;color: #666;}
	@media only screen and (max-width:$mobile-size){margin-top:10px; padding:0 12px;
        &.type-age{
            #{$this}__wrap{margin-left: -10px;}
            .apply-radio + label{margin-left: 10px;}
            .apply-radio + label + .apply-radio + label{margin-top: 5px;}
        }
		&__tit{ font-size:1.4rem;}
	}
}

.popup-content{display:none; padding:50px 60px 34px;
	$this:&;
	&.type-event{padding-top:0;
		#{$this}__box{
			& + #{$this}__box{margin-top:30px;}
		}
		#{$this}__check{margin-top:0;}
		#{$this}__info{margin-top:30px;}
		#{$this}__btn{height:60px; line-height:60px;}
	}
	&.is-active{display:block;}
	&__txt{margin:18px 0 0 0; font-size:16px; color:#404040;}
	&__tit{margin:15px 0 0 0;font-size:28px; color:#333; font-weight:$light;
		&.type-another{margin-top:20px;}
	}
	&__tit2{margin:0 0 26px; font-size:16px; font-weight:$light; text-align:left;
		strong{font-weight:$medium;}
	}
	&__icon{width:150px; height:150px;}
	&__time{display:inline-block; height:26px; margin:12px 0 0 0; padding:0 18px; line-height:26px; border-radius: 13px; font-size:15px; color:#fff; background:#474747;}
	&__btn{display:block; width:100%; height:86px; line-height:86px; color:#fff; font-size:20px; font-weight:$bold; background-color:#fff222; color:#151515;
		border:none; text-decoration:none; outline:0; border-radius:8px; cursor:pointer;
		&.type-disabled{background-color:#eee; color:#fff; cursor: auto;}
		&.type-tel{background-color:#333; color:#fff;}
	}
	&__btn2{margin-left:10px; color:#777; font-size:12px; vertical-align:middle;}
	&__info{margin:40px 0 0 0;font-size:15px; color:#666;}
	&__wrap{margin-left:-40px; box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
		& + &{margin-top:10px;}
	}
	&__box{float:left; width:50%; padding-left:40px; box-sizing:border-box; text-align:left; font-size:0;
		&.type-full{width:100%;}
	}
	&__hidden{ position: absolute; width: 1px; height: 1px;  padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); border: 0;}
	&__subtit{position:relative; display:inline-block; margin:0; font-size:20px; text-decoration:none; color:inherit;
		span{vertical-align:middle;}
	}
	&__arrow{overflow:hidden;display:inline-block; width:20px; height:20px; margin-left:5px; background:url('../images/program/popup_arrow.png') no-repeat center center/ contain; text-indent:-999px;
		transition: transform 0.3s;
		&.is-active{transform: rotate(180deg);}
	}
	&__list{margin:0 0 0 -10px;; padding:0;
		&:after{display:block; clear:both; content:''; }
	}
	&__item{float:left; width:50%; padding-left:10px; list-style:none; box-sizing:border-box;}
	&__hide{display:none;}
	&__noti{margin:10px 0 0 0; font-size:14px;}
	&__check{display:inline-block; margin-top:8px; text-align:left;}
	@media only screen and (max-width:$tablet-size){padding:0 0 120px; box-sizing:border-box;
		&.type-event{
			#{$this}__wrap{margin-left:-30px; }
			#{$this}__box{float:left; width:50%; padding-left:30px;
				&.type-full{width:100%;}
			}
		}
		&__wrap{margin-left:-10px;}
		&__box{float:none; width:100%; padding-left:10px;
			& + &{margin-top:10px;}
			&.type-check{float:left; margin-top:20px; width:50%;}
			&.type-btn{margin-top:30px;}
		}
		&__icon{margin-top:100px;}
		&__btn{height:60px; line-height:60px;}
	}
	@media only screen and (max-width:$mobile-size){padding-bottom:70px;
		&.type-event{
			#{$this}__wrap{margin-left:-20px; }
			#{$this}__box{float:none; width:100%; padding-left:20px;
				& + #{$this}__box{margin-top:15px;}
				&.type-btn{margin-top:30px; float:left; width:50%;}
			}
			#{$this}__btn{margin-top:0; height:45px; line-height:45px;}
		}
		&__box{
			& + &{margin-top:12px;}
			&.type-check{float:none; width:100%;
				& + #{$this}__box.type-check{margin-top:15px;}
			}
		}
		&__icon{margin-top:20px; width:100px; height:100px;}
		&__time{margin-top:16px; font-size:1.4rem; line-height:28px; border-radius:14px;}
		&__info{margin-bottom:15px; font-size:1.3rem;}
		&__txt{margin-top:15px; font-size:1.3rem;}
		&__tit{font-size:2.4rem;}
		&__tit2{margin-bottom:20px; font-size:1.4rem; line-height:1.4; text-align:center;}
		&__btn{height:45px; margin-top:20px; line-height:45px; font-size:1.8rem;}
		&__btn2{font-size:1.3rem;}
		&__subtit{font-size:1.6rem;}
		&__arrow{width:16px; height:16px; background:url('../images/program/popup_arrow_m.png') no-repeat center center/ contain;}
		&__noti{margin-top:5px; font-size:1.2rem;}
		&__check{margin-top:0;}
		label.error{ margin-top:3px; font-size:1.2rem;}
	}
}

.popup-live{
	&__tit{position:relative; margin:0; font-size:40px; font-weight:$light; line-height:1.25;
		&:before{display:block; width:56px; height:56px; margin-bottom:20px; background:url('../images/common/consultaion/live_icon_black.png') no-repeat center center; content:'';}
		&.type-active{
			&:before{background:url('../images/common/consultaion/live_icon_green.png') no-repeat center center;}
		}
	}
	&__info{display:inline-block; height:40px; line-height:40px; margin:30px 0 0 0; padding:0 30px; background:$point2; color:#fff; font-size:16px; border-radius:20px; box-sizing:border-box;}
	&__txt{margin:16px 0 0 0; font-size:16px; line-height:1.6;}
	&__txt2{margin:0 0 74px; font-size:16px; line-height:1.6;}
	@media only screen and (max-width:$tablet-size){ text-align:center;
		&__tit{
			&:before{display:block; width:120px; height:120px; margin:0 auto 20px; background:url('../images/common/consultaion/live_icon_black_m.png') no-repeat center center / contain;}
			&.type-active{
				&:before{background:url('../images/common/consultaion/live_icon_green_m.png') no-repeat center center / contain;}
			}
		}
		&__txt2{margin-bottom:50px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:2.3rem;
			&:before{width:100px; height:100px; margin:0 auto 20px;}
		}
		&__info{height:30px; line-height:30px; margin-top:15px; border-radius: 15px; font-size:1.3rem;}
		&__txt{margin-top:15px; font-size:1.4rem;}
		&__txt2{margin-bottom:24px; font-size:1.4rem;}
	}
}
.popup-tab{
	$this:&;
	&__list{margin:0; padding:0; height:80px;}
	&__item{display:table-cell; width:1%; height:inherit; vertical-align:middle; background-color:#282828;
		&.is-active{background-color:#fff;
			#{$this}__link{color:#333;}
			&.live{
				#{$this}__wrap{padding-left:30px;
					&:before{width:24px; height:24px; background:url('../images/common/consultaion/live_icon.png') no-repeat center center / contain;}
				}
			}
			&.katalk{
				#{$this}__wrap{padding-left:30px;
					&:before{width:24px; height:24px; background:url('../images/common/consultaion/katalk_icon.png') no-repeat center center / contain;}
				}
			}
			&.cost{
				#{$this}__wrap{padding-left:30px;
					&:before{width:20px; height:26px; background:url('../images/common/consultaion/cost_icon.png') no-repeat center center / contain;}
				}
			}
		}
	}
	&__link{display:block; line-height:80px; font-size:20px; font-weight:$light; color:#fff; text-align:center; text-decoration:none;}
	&__wrap{position:relative;
		&:before{position:absolute; top:0; bottom:0; left:0; display:block;  margin:auto 0; content:'';}
	}
	@media only screen and (max-width:$tablet-size){position:fixed; z-index:50;}
	@media only screen and (max-width:$mobile-size){
		&__list{height:50px;}
		&__item{display:table-cell; width:1%; height:inherit; vertical-align:middle; background-color:#333;
			&.is-active{background-color:#fff;
				#{$this}__link{color:#333;}
				&.live{
					#{$this}__wrap{padding-left:20px;
						&:before{width:18px; height:16px; background:url('../images/common/consultaion/live_icon.png') no-repeat center center / contain;}
					}
				}
				&.katalk{
					#{$this}__wrap{padding-left:20px;
						&:before{width:16px; height:16px; background:url('../images/common/consultaion/katalk_icon.png') no-repeat center center / contain;}
					}
				}
				&.cost{
					#{$this}__wrap{padding-left:20px;
						&:before{width:11px; height:17px; background:url('../images/common/consultaion/cost_icon.png') no-repeat center center / contain;}
					}
				}
			}
		}
		&__link{line-height:50px; font-size:1.3rem;}
	}
}

.popup-input1{width:100%; height:50px; border:1px solid #eeeeee; padding:0 15px; line-height:50px; background-color:#fcfcfc; font-size:16px; color:#aaa;  outline:none; box-sizing:border-box; font-weight:$light;
	font-family: $font-normal; @include placeholder-color(#aaa);
	&.is-required{ @include placeholder-color(#ff0000); border:1px solid #ff0000;}
	@media only screen and (max-width:$mobile-size){height:45px; line-height:45px; font-size:1.4rem;}
	&::-ms-clear{display:none;}
}
.input1{
	&__box{position:relative;  box-sizing:border-box;
		& + &{margin-top:10px;}
	}
	@media only screen and (max-width:$mobile-size){
		&__box{
			&:first-child{margin-top:0;}
			& + &{margin-top:12px;}
		}
	}
}
.popup-textarea{width:100%; height:114px; padding:12px 15px;  background-color:#fcfcfc; font-size:16px; color:#aaa; border:1px solid #eee;; text-align:left; box-sizing:border-box;
	font-family:$font-normal; font-weight:$light; outline:none; @include placeholder-color(#aaa);
	&.type-another{height:176px;}
	&.is-required{ @include placeholder-color(#ff0000); border:1px solid #ff0000;}
	@media only screen and (max-width:$mobile-size){font-size:1.4rem; padding:12px; height:120px;}
}
.popup-select {position:relative; margin-top:10px; background-color:#fcfcfc; font-size:16px; color:#aaa; text-align:left;
	$this:&;
	&.type-another{margin-top:0px;}
	&.is-active{border-bottom:none;
		#{$this}__list{border:1px solid #eee; border-top:none;}
	}
	&.is-required{
		#{$this}__tit{border-color:#ff0000; color:#ff0000;
			&:after{border-top-color:#ff0000;}
		}
	}
	&__tit{position:relative; display:block; overflow:hidden; height:50px; line-height:50px;  padding:0 15px; color:#aaa; font-size:16px; border:1px solid #eee; transition:none; text-overflow: ellipsis; white-space:nowrap; text-decoration:none; font-weight:$light; box-sizing:border-box;
		&:after {position:absolute; top:5px; bottom:0; right:18px; margin:auto 0 ; display:block; height:0; border-left:5px solid transparent; border-top:5px solid #666; border-right:5px solid transparent; border-bottom:5px solid transparent; content:'';}
	}
	&__box{position:absolute; width:100%;  top:0px; left:0;  background:#fcfcfc;  z-index:5;}
	&__list{overflow:auto; display:none; margin:0; padding:0; max-height:300px;
		&.is-active{display:block;}
	}
	&__item{overflow:hidden; height:50px; line-height:50px; text-overflow:ellipsis; cursor:pointer;  padding:0 15px; border-top:0; color:$black2; font-size:16px; white-space:nowrap;
		&.is-hover{background-color:#eee; color:#333;}
		&:first-child:after {display:block;}
		&.is-select{ color:$point2;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:12px;
		&__tit{height:45px; line-height:45px;  padding:0 12px; font-size:1.4rem;}
		&__item{font-size:1.4rem;}
		&__list{max-height:150px;}
	}
}
.popup-select2{
	&__list{padding:0;}
	&__tit,&__subject{cursor:default; padding:0 15px; border-top:0; color:#aaa; line-height:50px; font-size:16px; font-weight:$thin;}
	&__subject{position:relative; display:none; margin:0; border:1px solid #eeeeee; border-bottom:none; color:#aaa; font-weight:$regular; cursor:pointer;
		&:after {position:absolute; top:0px; bottom:0; right:18px; margin:auto 0 ; display:block; height:0px; border-left:5px solid transparent; border-top:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #666; content:'';}
		// &.type-multi{color:$point2;}
		&.is-active{display:block;}
	}
	&__tit{margin:0; background-color:#dadada; color:#333; font-weight:$regular;}
	@media only screen and (max-width:$mobile-size){line-height:40px;
		&__tit,&__subject{padding:0 12px;  font-size:1.4rem; line-height:40px;}
	}
}
.checkbox02{
	& + label { display: inline-block; margin-bottom: 0; line-height:18px;  }
	@media only screen { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
		& + label {position: relative; margin-left: 0; padding-left: 24px; cursor: pointer; font-size: 12px; color: #333; font-weight: 300; vertical-align:middle;
			&:before{position: absolute; top: -1px; bottom: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; width: 18px; height: 18px; margin: auto;
				background:#eee; border-radius:3px; content: '';  cursor: pointer;}
		}
		&:checked + label{
			&:before{border:none; background: url("../images/common/consultaion/check_on.png") #151515 no-repeat center center ;}
		}
		&.is-required{
			& + label{color:#ff0000;
				&:before{background:#ff0000;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		& + label{ font-size: 1.3rem;
			&:before{top:0px; width:16px; height:16px;}
		}
		&:checked + label{
			&:before{border:none; background: url("../images/common/consultaion/check_on_m.png") #151515 no-repeat center center / 11px 9px;}
		}
	}
}

.terms-c{position:relative; padding:50px 60px; text-align:left; box-sizing:border-box; font-size:0;
	$this:&;
	&.type-event{padding-top:0;
		#{$this}__box{width:50%;}
	}
	&__wrap{position:relative; margin-right:-30px;}
	&__box{overflow:auto; display:inline-block; width:33.33%;  padding-right:30px; box-sizing:border-box; vertical-align:top;}
	&__tit{margin:0; padding-bottom:15px; font-size:16px; color:#151515; font-weight:$medium;}
	&__area{overflow:auto; height:300px; padding:18px 20px; background-color:#fcfcfc; font-size:13px; color:#333; line-height:1.5; box-sizing:border-box; border:1px solid #eee;
		p{margin:0;}
	}
	&__btn{overflow:hidden; position:absolute; top:-22px; left:-26px; display:block; width:26px; height:22px; border:none; outline:0; padding:0;
		background:url('../images/common/consultaion/terms_close.jpg'); text-indent:-9999px; cursor:pointer;}
	@media only screen and (max-width:$tablet-size){padding:70px 40px;
		&.type-event{padding-top:70px;
			#{$this}__box{width:100%;}
		}
		&__area{height:190px !important;}
		&__box{display:block; width:100%;
			& + &{margin-top:26px;}
		}
		&__btn{top:-42px; left:0;}
	}
	@media only screen and (max-width:$mobile-size){padding:45px 20px;
		&__box{
			& + &{margin-top:14px;}
		}
		&__tit{padding-bottom:10px; font-size:1.4rem;}
		&__area{height:95px !important; padding:5px; font-size:1.2rem;}
		&__btn{top:-36px; width:25px; height:21px; background:url('../images/common/consultaion/terms_close_m.jpg') no-repeat center center/contain;}
	}
}

.popup-check{ margin:0; padding:0; text-align:left;
	&__item{margin-top:18px; font-size:14px; font-weight:$light; box-sizing:border-box; list-style:none;
		& + &{margin-top:10px;}
	}
	&__wrap{position:relative; overflow:hidden; display:block; width:100%; height:100%; padding:0 6px 0 30px; line-height:20px; color:$black4; text-overflow:ellipsis;  white-space:nowrap; box-sizing: border-box;}
	&__close{position:absolute; top:0; bottom:0; left:0px; width:20px; height:20px; margin:auto 0; background:url('../images/common/consultaion/check_clear.jpg'); text-indent:-9999px;}
	@media only screen and (max-width:$mobile-size){
		&__close{background:url('../images/common/consultaion/check_clear_m.jpg') no-repeat center center / contain;}
	}
}


.img-check{
	&__list{margin:0; padding:0; text-align: justify; margin-bottom:0px;
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__item{display:inline-block; vertical-align:top; text-align:center; list-style:none;
		@for $i from 0 through 6{
            &.nth-#{$i+1}{
				& label{background-position-y:-130px * $i}
            }
        }
	}
	@media only screen and (max-width:$tablet-size){
		&__list{margin:-10px 0 26px; padding:0 15%; text-align:center; box-sizing:border-box;}
		&__item{margin:10px 5px 0;}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{margin-bottom:20px; padding:0;}
		&__item{
			@for $i from 0 through 6{
	            &.nth-#{$i+1}{
					& label{background-position-y:-100px * $i}
	            }
	        }
		}
	}
}


.checkbox-img { overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
	& + label { position: relative; display:block; width:100px; height:130px; padding:82px 10px 0; cursor: pointer; font-size:13px; color:#777; font-weight:$light; background:url('../images/common/consultaion/consultaion_icon.jpg') no-repeat; box-sizing:border-box;}
	&:checked + label{background-position-x:-100px !important;  color:#fff;}
	&.is-required{
		& + label{background-position-x:-200px;}
	}
	@media only screen and (max-width:$mobile-size){
		& + label {width:70px; height:100px; padding:60px 5px 0; background:url('../images/common/consultaion/consultaion_icon_m.jpg') no-repeat left top / 210px 700px; font-size:1.2rem;}
		&:checked + label{background-position-x:-70px !important;}
		&.is-required{
			& + label{background-position-x:-140px;}
		}
	}
}

label.is-required{display:none !important;}
