@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "reoperation/clinic";


.horizontal-scroll{
    &.type-reoperation{
		.horizontal-section{
			&:nth-child(2) ~ .horizontal-section{border-left:1px solid rgba(255,226,224,0.4);}
		}
	}
    @media only screen and (max-width:$tablet-size){
        &.type-reoperation{
			.horizontal-section{
				&:nth-child(2) ~ .horizontal-section{border-left:none; border-top:1px solid rgba(255,226,224,0.4); }
			}
		}
    }
}



.visual{
    $this:&;
    &.type-reoperation{
        #{$this}__item{
            &.type-leadtime{
                &:before{background:url('../images/reoperation/reoperation_leadtime.png') no-repeat center center / cover;}
            }
            &.type-anesthesia{
                &:before{background:url('../images/reoperation/reoperation_anesthesia.png') no-repeat center center / cover;}
            }
            &.type-hospital{
                &:before{background:url('../images/reoperation/reoperation_hospital.png') no-repeat center center / cover;}
            }
            &.type-recovery{
                &:before{background:url('../images/reoperation/reoperation_recovery.png') no-repeat center center / cover;}
            }
        }
        @media only screen and (max-width:$mobile-size){
            #{$this}__item{
                &.type-leadtime{
                    &:before{background:url('../images/reoperation/reoperation_leadtime_m.png') no-repeat center center / contain;}
                }
                &.type-anesthesia{
                    &:before{background:url('../images/reoperation/reoperation_anesthesia_m.png') no-repeat center center / contain;}
                }
                &.type-hospital{
                    &:before{background:url('../images/reoperation/reoperation_hospital_m.png') no-repeat center center / contain;}
                }
                &.type-recovery{
                    &:before{background:url('../images/reoperation/reoperation_recovery_m.png') no-repeat center center / contain;}
                }
            }
        }
    }
}

.content-floor{
    $this:&;
    &.type-reoperation{
        #{$this}__box{background-color:$reoperation2;}
    }
}

.content{
    $this:&;
    &__line{
        &.type-reoperation{color:$reoperation2;}
    }
}
.content-number{
    $this:&;
    &.type-reoperation{
        #{$this}__img:before{background-color:$reoperation1;}
        #{$this}__subject{color:$reoperation1;}
    }
}

.content-key{
    $this:&;
    &.type-reoperation{
        #{$this}__item{ background:$reoperation2;}
    }
}

.content-process{
    $this:&;
    &.type-reoperation{
        #{$this}__tit{color:$reoperation1;}
        #{$this}__dot{
            li{
                &.is-bar:before{ background-color:$reoperation1;}
                &.is-before{
                    button{background:$reoperation1;}
                    &:before{background-color:$reoperation1;}
                }
                &.slick-active{
                    button{background:$reoperation1;}
                }
            }
        }
    }
}

.content-year{
    $this:&;
    &.type-reoperation{
        #{$this}__tit{color:$reoperation1;}
    }
}
.content-bullet{
    $this:&;
    &.type-reoperation{
        #{$this}__item{
            &:first-child{background:$reoperation1;}
            &.is-active{background:$reoperation1;
                &:before{background-color:$reoperation1;}
            }
        }
    }
}
.content-reoperation{
    $this:&;
    &.type-reoperation{
        #{$this}__tit{color:$reoperation1;}
    }
}

.more-btn{
    $this:&;
    &.type-reoperation{background:$reoperation2; color:$reoperation1;
        #{$this}__plus{
            &:before,&:after{background:$reoperation1;}
        }
    }
}

.content-img{
    $this:&;
    &__item{
        &.type-reoperation{background-color:$reoperation2;
            #{$this}__subject{color:$reoperation1;}
        }
    }
}

.table-v1{
    $this:&;
    &.type-reoperation{
        #{$this}__tr{
            &:first-of-type{
                #{$this}__th:last-of-type{background-color:$reoperation1; color:#fff;}
            }
            &:nth-of-type(odd){
                #{$this}__td:last-of-type{background-color:$reoperation2;}
            }
        }
    }
}

.pick-scroll{
    $this:&;
    &.type-reoperation{
        #{$this}__btn{background-color: $reoperation1 !important;}
    }
}
