@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "robot/artas";


.horizontal-scroll{
    &.type-robot{
		.horizontal-section{
			&:nth-child(2) ~ .horizontal-section{border-left:1px solid $robot2;}
		}
	}
    @media only screen and (max-width:$tablet-size){
        &.type-robot{
			.horizontal-section{
				&:nth-child(2) ~ .horizontal-section{border-left:none; border-top:1px solid $robot2; }
			}
		}
    }
}



.visual{
    $this:&;
    &.type-robot{
        #{$this}__item{
            &.type-leadtime{
                &:before{background:url('../images/robot/robot_leadtime.png') no-repeat center center / cover;}
            }
            &.type-anesthesia{
                &:before{background:url('../images/robot/robot_anesthesia.png') no-repeat center center / cover;}
            }
            &.type-hospital{
                &:before{background:url('../images/robot/robot_hospital.png') no-repeat center center / cover;}
            }
            &.type-recovery{
                &:before{background:url('../images/robot/robot_recovery.png') no-repeat center center / cover;}
            }
        }
        @media only screen and (max-width:$mobile-size){
            #{$this}__item{
                &.type-leadtime{
                    &:before{background:url('../images/robot/robot_leadtime_m.png') no-repeat center center / contain;}
                }
                &.type-anesthesia{
                    &:before{background:url('../images/robot/robot_anesthesia_m.png') no-repeat center center / contain;}
                }
                &.type-hospital{
                    &:before{background:url('../images/robot/robot_hospital_m.png') no-repeat center center / contain;}
                }
                &.type-recovery{
                    &:before{background:url('../images/robot/robot_recovery_m.png') no-repeat center center / contain;}
                }
            }
        }
    }
}

.content-floor{
    $this:&;
    &.type-robot{
        #{$this}__box{background-color:$robot2;}
    }
}

.content{
    $this:&;
    &__line{
        &.type-robot{color:$robot2;}
    }
}
.content-number{
    $this:&;
    &.type-robot{
        #{$this}__img:before{background-color:$robot1;}
        #{$this}__subject{color:$robot1;}
    }
}

.content-key{
    $this:&;
    &.type-robot{
        #{$this}__item{ background:$robot2;}
    }
}

.content-process{
    $this:&;
    &.type-robot{
        #{$this}__tit{color:$robot1;}
        #{$this}__dot{
            li{
                &.is-bar:before{ background-color:$robot1;}
                &.is-before{
                    button{background:$robot1;}
                    &:before{background-color:$robot1;}
                }
                &.slick-active{
                    button{background:$robot1;}
                }
            }
        }
    }
}

.content-bullet{
    $this:&;
    &.type-robot{
        #{$this}__item{
            &:first-child{background:$robot1;}
            &.is-active{background:$robot1;
                &:before{background-color:$robot1;}
            }
        }
    }
}
.content-year{
    $this:&;
    &.type-robot{
        #{$this}__tit{color:$robot1;}
    }
}


.more-btn{
    $this:&;
    &.type-robot{background:$robot2; color:$robot1;
        #{$this}__plus{
            &:before,&:after{background:$robot1;}
        }
    }
}

.table-v1{
    $this:&;
    &.type-robot{
        #{$this}__tr{
            &:first-of-type{
                #{$this}__th:last-of-type{background-color:$robot1; color:#fff;}
            }
            &:nth-of-type(odd){
                #{$this}__td:last-of-type{background-color:$robot2;}
            }
        }
    }
}
