@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
.sitemap{overflow:hidden;
    $this:&;
    &__list{position:relative; margin:0; padding:0; font-size:0;
        &:after{display:block; clear:both; content:'';}
        & + &{margin-top:40px; padding-top:40px; box-sizing:border-box;
            &:before{position:absolute; top:0; left:-100%; right:-100%; display:block; border-top:1px solid $gray1; content:'';}
        }
    }
    &__item{float:left; width:25%; min-height:240px; list-style:none; vertical-align:top;
        &:nth-child(5){clear:both;}
    }
    &__dt{margin:0 0 20px 0; padding:0;font-weight:$medium;}
    &__link{text-decoration:none; color:inherit;}
    &__dd{position:relative; margin:0; padding:0; font-weight:$light; transition: all 0.3s;
        &:before,&:after{position:absolute; top:0; left:0; display:block;  height:2px; background:$point2;  vertical-align:top; transition: all 0.3s; content:'';}
		&:before{top:13px; width:0px;}
		&:after{top:10px; left:0px; width:0px; background:$point2; transform: rotate(45deg);}
		& + &{margin-top:10px;}
		&:hover{padding-left:24px; color:$point2;
			&:before{width:16px;}
			&:after{left:8px; width:8px;}
		}
    }
    @media only screen and (max-width:$tablet-size){
        &__list{
            & + &{margin-top:0px; border-top:1px solid $gray1;
                &:before{display:none;}
            }
            &:last-of-type{
                #{$this}__item:last-of-type{padding-bottom:0;}
            }
        }
        &__item{position:relative; float:none; width:100%; max-width:none; min-height:0; padding:40px 0; box-sizing:border-box;
            &:first-of-type{padding-top:0;
                #{$this}__dt{top:0;}
            }
            & + &{border-top:1px solid $gray1;}
        }
        &__dl{min-height:30px; padding-left:240px; box-sizing:border-box;}
        &__dt{position:absolute; top:40px; left:0; width:240px; margin:0;}
    }
    @media only screen and (max-width:$mobile-size){
        &__list{
            & + &{padding-top:30px;}
        }
        &__item{ padding:30px 0;}
        &__dl{min-height:26px; padding-left:120px; }
        &__dt{top:30px; width:120px;}
    }
}
