@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "special/eyebrows";
@import "special/scar";
@import "special/atrichia";



.horizontal-scroll{
    &.type-special{
		.horizontal-section{
			&:nth-child(2) ~ .horizontal-section{border-left:1px solid $special2;}
		}
	}
    @media only screen and (max-width:$tablet-size){
        &.type-special{
			.horizontal-section{
				&:nth-child(2) ~ .horizontal-section{border-left:none; border-top:1px solid $special2; }
			}
		}
    }
}



.visual{
    $this:&;
    &.type-special{
        #{$this}__item{
            &.type-leadtime{
                &:before{background:url('../images/special/special_leadtime.png') no-repeat center center / cover;}
            }
            &.type-anesthesia{
                &:before{background:url('../images/special/special_anesthesia.png') no-repeat center center / cover;}
            }
            &.type-hospital{
                &:before{background:url('../images/special/special_hospital.png') no-repeat center center / cover;}
            }
            &.type-recovery{
                &:before{background:url('../images/special/special_recovery.png') no-repeat center center / cover;}
            }
        }
        @media only screen and (max-width:$mobile-size){
            #{$this}__item{
                &.type-leadtime{
                    &:before{background:url('../images/special/special_leadtime_m.png') no-repeat center center / contain;}
                }
                &.type-anesthesia{
                    &:before{background:url('../images/special/special_anesthesia_m.png') no-repeat center center / contain;}
                }
                &.type-hospital{
                    &:before{background:url('../images/special/special_hospital_m.png') no-repeat center center / contain;}
                }
                &.type-recovery{
                    &:before{background:url('../images/special/special_recovery_m.png') no-repeat center center / contain;}
                }
            }
        }
    }
}

.content-floor{
    $this:&;
    &.type-special{
        #{$this}__box{background-color:$special2;}
    }
}

.content{
    $this:&;
    &__line{
        &.type-special{color:$special2;}
    }
}
.content-number{
    $this:&;
    &.type-special{
        #{$this}__img:before{background-color:$special1;}
        #{$this}__subject{color:$special1;}
    }
}

.content-key{
    $this:&;
    &.type-special{
        #{$this}__item{ background:$special2;}
    }
}

.content-process{
    $this:&;
    &.type-special{
        #{$this}__tit{color:$special1;}
        #{$this}__dot{
            li{
                &.is-bar:before{ background-color:$special1;}
                &.is-before{
                    button{background:$special1;}
                    &:before{background-color:$special1;}
                }
                &.slick-active{
                    button{background:$special1;}
                }
            }
        }
    }
}

.content-bullet{
    $this:&;
    &.type-special{
        #{$this}__item{
            &:first-child{background:$special1;}
            &.is-active{background:$special1;
                &:before{background-color:$special1;}
            }
        }
    }
}
.content-year{
    $this:&;
    &.type-special{
        #{$this}__tit{color:$special1;}
    }
}

.more-btn{
    $this:&;
    &.type-special{background:$special2; color:$special1;
        #{$this}__plus{
            &:before,&:after{background:$special1;}
        }
    }
}

.content-img{
    $this:&;
    &__item{
        &.type-special{background-color:$special2;
            #{$this}__subject{color:$special1;}
        }
    }
    &__list{
        &.type-scar{margin-top:60px; padding:0 40px;}
    }
    @media only screen and (max-width:$tablet-size){
        &__list{
            &.type-scar{margin-bottom:80px;}
        }
    }
    @media only screen and (max-width:$mobile-size){margin-top:30px;
        &__list{
            &.type-scar{margin:24px 0 50px; padding:0;}
        }
    }
}

.pick-scroll{
    $this:&;
    &.type-special{
        #{$this}__btn{background-color: $special1 !important;}
    }
}


.table-v1{
    $this:&;
    &.type-special{
        #{$this}__tr{
            &:first-of-type{
                #{$this}__th:last-of-type{background-color:$special1; color:#fff;}
            }
            &:nth-of-type(odd){
                #{$this}__td:last-of-type{background-color:$special2;}
            }
        }
    }
}
