@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "svf/treatment";
@import "svf/svfdetail";



.horizontal-scroll{
    &.type-svf{
		.horizontal-section{
			&:nth-child(2) ~ .horizontal-section{border-left:1px solid $svf2;}
		}
	}
    @media only screen and (max-width:$tablet-size){
        &.type-svf{
			.horizontal-section{
				&:nth-child(2) ~ .horizontal-section{border-left:none; border-top:1px solid $svf2; }
			}
		}
    }
}

.visual{
    $this:&;
    &.type-svf{
        #{$this}__item{
            &.type-leadtime{
                &:before{background:url('../images/svf/svf_leadtime.png') no-repeat center center / cover;}
            }
            &.type-anesthesia{
                &:before{background:url('../images/svf/svf_anesthesia.png') no-repeat center center / cover;}
            }
            &.type-hospital{
                &:before{background:url('../images/svf/svf_hospital.png') no-repeat center center / cover;}
            }
            &.type-recovery{
                &:before{background:url('../images/svf/svf_recovery.png') no-repeat center center / cover;}
            }
        }
        @media only screen and (max-width:$mobile-size){
            #{$this}__item{
                &.type-leadtime{
                    &:before{background:url('../images/svf/svf_leadtime_m.png') no-repeat center center / contain;}
                }
                &.type-anesthesia{
                    &:before{background:url('../images/svf/svf_anesthesia_m.png') no-repeat center center / contain;}
                }
                &.type-hospital{
                    &:before{background:url('../images/svf/svf_hospital_m.png') no-repeat center center / contain;}
                }
                &.type-recovery{
                    &:before{background:url('../images/svf/svf_recovery_m.png') no-repeat center center / contain;}
                }
            }
        }
    }
}

.content-floor{
    $this:&;
    &.type-svf{
        #{$this}__box{background-color:$svf2;}
    }
}

.content{
    $this:&;
    &__line{
        &.type-svf{color:$svf2;}
    }
}
.content-number{
    $this:&;
    &.type-svf{
        #{$this}__img:before{background-color:$svf1;}
        #{$this}__subject{color:$svf1;}
    }
}

.content-key{
    $this:&;
    &.type-svf{
        #{$this}__box{
            &.type-num{
                #{$this}__item:before{color:$svf1;}
            }
        }
        #{$this}__item{ background:$svf2;}
    }
}

.content-process{
    $this:&;
    &.type-svf{
        #{$this}__tit{color:$svf1;}
        #{$this}__dot{
            li{
                &.is-bar:before{ background-color:$svf1;}
                &.is-before{
                    button{background:$svf1;}
                    &:before{background-color:$svf1;}
                }
                &.slick-active{
                    button{background:$svf1;}
                }
            }
        }
    }
}

.content-bullet{
    $this:&;
    &.type-svf{
        #{$this}__item{
            &:first-child{background:$svf1;}
            &.is-active{background:$svf1;
                &:before{background-color:$svf1;}
            }
        }
    }
}
.content-year{
    $this:&;
    &.type-svf{
        #{$this}__tit{color:$svf1;}
    }
}

.more-btn{
    $this:&;
    &.type-svf{background:$svf2; color:$svf1;
        #{$this}__plus{
            &:before,&:after{background:$svf1;}
        }
    }
}

.table-v1{
    $this:&;
    &.type-svf{
        #{$this}__tr{
            &:first-of-type{
                #{$this}__th:last-of-type{background-color:$svf1; color:#fff;}
            }
            &:nth-of-type(odd){
                #{$this}__td:last-of-type{background-color:$svf2;}
            }
        }
    }
}


.pick-scroll{
    $this:&;
    &.type-svf{
        #{$this}__btn{background-color: $svf1 !important;}
    }
}

.content-img{
    $this:&;
    &__item{
        &.type-svf{background-color:$svf2;
            #{$this}__subject{color:$svf1;}
        }
    }
}
