@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "woman/womanline";
@import "woman/reduction";
@import "woman/womanalopecia";
@import "woman/womancharm";



.horizontal-scroll{
    &.type-woman{
		.horizontal-section{
			&:nth-child(2) ~ .horizontal-section{border-left:1px solid $woman2;}
		}
	}
    @media only screen and (max-width:$tablet-size){
        &.type-woman{
			.horizontal-section{
				&:nth-child(2) ~ .horizontal-section{border-left:none; border-top:1px solid $woman2;}
			}
		}
    }
}



.visual{
    $this:&;
    &.type-woman{
        #{$this}__item{
            &.type-leadtime{
                &:before{background:url('../images/sub/sub_leadtime.png') no-repeat center center / cover;}
            }
            &.type-anesthesia{
                &:before{background:url('../images/sub/sub_anesthesia.png') no-repeat center center / cover;}
            }
            &.type-hospital{
                &:before{background:url('../images/sub/sub_hospital.png') no-repeat center center / cover;}
            }
            &.type-recovery{
                &:before{background:url('../images/sub/sub_recovery.png') no-repeat center center / cover;}
            }
        }
        @media only screen and (max-width:$mobile-size){
            #{$this}__item{
                &.type-leadtime{
                    &:before{background:url('../images/sub/sub_leadtime_m.png') no-repeat center center / contain;}
                }
                &.type-anesthesia{
                    &:before{background:url('../images/sub/sub_anesthesia_m.png') no-repeat center center / contain;}
                }
                &.type-hospital{
                    &:before{background:url('../images/sub/sub_hospital_m.png') no-repeat center center / contain;}
                }
                &.type-recovery{
                    &:before{background:url('../images/sub/sub_recovery_m.png') no-repeat center center / contain;}
                }
            }
        }
    }
}

.content-floor{
    $this:&;
    &.type-woman{
        #{$this}__box{background-color:$woman2;}
    }
}

.content{
    $this:&;
    &__line{
        &.type-woman{color:$woman2;}
    }
}
.content-number{
    $this:&;
    &.type-woman{
        #{$this}__img:before{background-color:$woman1;}
        #{$this}__subject{color:$woman1;}
    }
}

.content-key{
    $this:&;
    &.type-woman{
        #{$this}__item{ background:$woman2;}
        #{$this}__box{
            &.type-num{
                #{$this}__item{
                    &:before{color: $woman1;}
                }
            }
        }
    }
}

.content-process{
    $this:&;
    &.type-woman{
        #{$this}__tit{color:$woman1;}
        #{$this}__dot{
            li{
                &.is-bar:before{ background-color:$woman1;}
                &.is-before{
                    button{background:$woman1;}
                    &:before{background-color:$woman1;}
                }
                &.slick-active{
                    button{background:$woman1;}
                }
            }
        }
    }
}

.content-bullet{
    $this:&;
    &.type-woman{
        #{$this}__item{
            &:first-child{background:$woman1;}
            &.is-active{background:$woman1;
                &:before{background-color:$woman1;}
            }
        }
    }
}
.content-year{
    $this:&;
    &.type-woman{
        #{$this}__tit{color:$woman1;}
    }
}

.more-btn{
    $this:&;
    &.type-woman{background:$woman2; color:$woman1;
        #{$this}__plus{
            &:before,&:after{background:$woman1;}
        }
    }
}

.content-img{
    $this:&;

    &__item{
        &.type-woman{background-color:$woman2;
            #{$this}__subject{color:$woman1;}
        }
    }
}


.table-v1{
    $this:&;
    &.type-woman{
        #{$this}__tr{
            &:first-of-type{
                #{$this}__th:last-of-type{background-color:$woman1; color:#fff;}
            }
            &:nth-of-type(odd){
                #{$this}__td:last-of-type{background-color:$woman2;}
            }
        }
    }
}
